[2019-06-26 23:01] lounsbrough commented on #718
I see that this is indeed fixed in codesandbox by downgrading material ui. However we still see the issue in our app with the same version (3.5.1). We will try to reproduce in the sandbox tomorrow with the same versions.

Thanks!

[2019-06-27 02:39] MahmoudSoliman922 commented on #721
@gabrielliwerant It seems that the issue is on my side as I've created a sample on sandbox and it worked, I don't need the sorting feature but it didn't work with me maybe It's my mistake as well,
Anyway I'm leaving this url as a verification that it's working and also If you want to take a look at the sorting part.

@patorjk If you can check what's wrong with the sorting part in this sample it'll

[2019-06-27 02:50] patorjk commented on #721
For sorting to work with serverSide data you need to handle the sorting in the "onTableChange" function. Basically you'd add a case like this:

    case 'sort':
        console.log(action, tableState);
        // code to re-fetch data from server in sorted order using info in "tableState"
        break;

And then you'd fetch the data in sorted order from the server. It has to be done on the server

[2019-06-27 03:18] MahmoudSoliman922 commented on #721
@gabrielliwerant I fount that issue on my side while using version 2.5.1 (mui-datatables version), I've updated the version in the sample, version 2.2.0 don't have this issue

[2019-06-27 03:42] gabrielliwerant commented on #721
Hm, interesting, I can't find a version of sorting that works with `serverside: true` even as far back as the beta version of this library. @patorjk's answer should work, but I also think sorting should work with `serverside: true` by default, as pagination will still work with whatever the table has available. So I think the sorting problem deserves its own issue, if someone wants to create that.

[2019-06-27 05:51] ZeeshanSafdarZee commented on #547
@dandrei Thanks. I really need this.

[2019-06-27 05:53] gabrielliwerant commented on #719
You can keep an eye on this https://github.com/gregnb/mui-datatables/pull/708, as I believe it will fix your issue and provide you with a supported API to add custom rendered filers.

[2019-06-27 06:14] ZeeshanSafdarZee commented on #375
Thanks @diegochavez . But if we use this as it is then we lost the sort icon which is provided by default on datatable. We can customize it as follow
[code]
We can get this TableSortLabel component from
``` import TableSortLabel from '@material-ui/core/TableSortLabel';```

[2019-06-27 06:26] gabrielliwerant commented on #721
@MahmoudSoliman922 It seems I may have spoken a little too soon. I looked into it more deeply, and this isn't a bug, per say, though it is changed behavior in `2.5.1`.

What was happening before was that the table was making an assumption on update, that if column state existed, column state took precedence over column props. The change in `2.5.1` prevents that assumption from taking place, instea

[2019-06-27 06:38] gabrielliwerant commented on #375
If someone wants to open a PR for this behavior, I will take a look.

[2019-06-27 07:49] mhmmdakbr opened #723 "want to applied custom filter example (for date)"
So if i take a look to the custom filter example, it is built for string and int , what if i want to custom it to date format ?

## Expected Behavior
 so there's a column for date in my table, i want to filter the data based on before the date I choose. ( for example i have column created at, if i choose 22/06/2019 at my created at filter, it will show the data that created before or on 22/06/2019

[2019-06-27 08:06] mhmmdakbr commented on #632
here's the code , i try it and works
[code]

[2019-06-27 11:59] pellejacobs opened #724 "[Feature Request] Allow for controlled expandedRows"
Currently, expandedRows is uncontrolled, allowing rows only to be expanded using the built-in dropdown. This functionality is perfect is most scenarios but some use cases require a bit more customisation. Eg. by having the first row expanded by default, or by having triggers outside the table expand and collapse rows.

## Expected Behavior
It'd be great to have an additional, optional prop `expand

[2019-06-27 13:14] Intelliflex commented on #679
Do you have an expected timeframe? Most things I’ve tried so far still work in conjunction with muiv4 so if I ignore ref errors on console that may still be ok if I know the problems are getting fixed. Congrats on this product by the way - it is excellent ... your worth more money ;)

[2019-06-27 14:51] patorjk commented on #724
This would also be useful for me too.

[2019-06-27 16:03] ShaggyKris commented on #305
@gabrielliwerant

I think I found the issue. If using functions in either "options" or "columns" when assigned in the "render()" function, it seems to cause a loss of table state on each re-render. Assigning "options" or "columns" to state, or to define them as static consts outside of the class seems to solve the problem.

[2019-06-27 17:16] lounsbrough commented on #718
We changed the codesandbox demo to use Redux like our application does and are still unable to recreate the issue. We will do some further investigation and then most likely close this issue.

https://codesandbox.io/s/gifted-brattain-ty0j6

[2019-06-27 18:25] gabrielliwerant commented on #724
Seems like a duplicate of this issue: https://github.com/gregnb/mui-datatables/issues/549. If you follow up there with a proposal for the behavior, we can come up with a PR plan.

[2019-06-27 18:40] lounsbrough commented on #718
Ok, we have it broken in codesandbox. We changed our code to remove data more randomly, and now you can see the issue. Let me know what else you need from me to reproduce this issue.

https://codesandbox.io/s/gifted-brattain-ty0j6

Thanks!

[2019-06-27 21:11] gabrielliwerant commented on #718
Phew! Finally, I can reproduce, with your help, thank you. I've created a minimal example forked from your example: https://codesandbox.io/s/stoic-bassi-e2ncs?fontsize=14. You'll notice if you switch between 9 and 10 rows of data, the bug will appear. It's an edge case around remaining data results sets that are larger than the page count. I will work on a fix, but in the mean time, you should be

[2019-06-27 23:59] MahmoudSoliman922 commented on #721
@gabrielliwerant yes now it works perfectly, and I'm not sure why but sorting also works as well.
I suggest adding this to the documentation, it'll be super helpful.
Thank you for your time and effort.

[2019-06-28 04:40] gabrielliwerant commented on #723
You can definitely use `logic` without names to supply your own filter logic. The way it works is as follows:

The `logic` function is called for every row of the table. For each row, it will supply the value of the column the option is in, and any existing filters. You return `true | false` to tell the table whether or not you want the value filtered in (true) or out (false).

You may also want t

[2019-06-28 07:15] mhmmdakbr commented on #723
so in custom filter example , the filter name is custom
[code]
in the const show = filters.indexOf("young") because you know there's a 'young' in the filter list,
So if i want to custom only the logic, how can i get the value in the filter list ? is it filters.indexOf(filters.value) maybe?

sorry for my bad english

[2019-06-28 08:55] mhmmdakbr opened #728 "Error at onTableChange passing to state"
So i want to set the tableState to my state,
and then it shows me an error =
![erorr1](https://user-images.githubusercontent.com/50288046/60330632-11528480-99bd-11e9-9f00-2b40d0d09850.PNG)

if you want to try this is my codesandbox
https://codesandbox.io/s/zealous-water-brusy?fontsize=14

| Tech         | Version |
|--------------|---------|
| Material-UI  |         |
| MUI-datatables  |         |

[2019-06-28 09:00] gabrielliwerant commented on #723
It's difficult to help because I don't know what your code looks like or what exactly you are trying to do, and the need for precision at this point is higher than can be explained in just words. You don't have to do anything with `indexOf` if you don't want. You need to decide what values you want to filter and then true or false based on those. Sorry, I don't think I can help more.

[2019-06-28 15:15] ShaggyKris opened #729 "Reactive data causing table state to be lost"
Currently using Meteor to generate reactive data, and if I change any table settings (filter, sort, etc), they are lost if any of the data is updated. Previously, I thought it was because there were functions in `options` and `columns` that were updating the props, but it seems even the data prop, if updated, causes the state to be lost (for me). A sample of my code:
[code]

## Expected Behavior

[2019-06-28 19:29] gabrielliwerant commented on #679
@Intelliflex Unfortunately, I don't have a specific timeframe I can give at the moment. Trying to keep up with some smaller changes first, to help people in the mean time. But I definitely plan to keep the roadmap up to date as I work through it.

Thank you so much for the compliment, however, I'm afraid I can only take a small portion of the credit! This library was mostly written by another fell

[2019-06-29 06:15] joaquin3684 commented on #698
i have the same issue. i had @material-ui/core 3.9.3. i downgrade to 3.5.1 but nothing change

[2019-06-29 07:19] gabrielliwerant commented on #698
The issue is not reproducible via the link and the codesandbox provided:

![capture](https://user-images.githubusercontent.com/1779564/60381053-acc71200-9a1c-11e9-8edb-5bfb7f2f7e44.gif)

@joaoaguiam You may have this issue https://github.com/gregnb/mui-datatables/issues/718.

[2019-06-29 07:25] gabrielliwerant commented on #728
This is due to the way that react works. You are changing state inside the render function in such a way that it is causing a re-render, which then fires the state change again, and so on...

To fix this, you have to pull your data out of the render function and check the previous state against the new state when you update to make sure you are only updating when there is a change.

Your issue is

[2019-06-29 07:29] gabrielliwerant commented on #729
As this is a react library, use with other frameworks like Meteor is out of scope for bug fixes. Can you generate an example failure case without using Meteor? If so, I will look into it.

[2019-06-29 11:55] mhmmdakbr commented on #728
can you help me to fix this in my codesandbox ? cause i'm very stuck

[2019-06-30 13:57] Teslima02 commented on #475
@dandrei please more on how i can use this solution, have been trying to implement it but am not getting it. Thanks

[2019-07-01 10:23] rafalneves opened #731 "Table is wrongly adding checkbox padding header on re-rendering"
On a table with column selection disable, the first render works as expected, but when the state is updated and the table is force to re-render, checkbox padding header appears when it shouldn't:

![image](https://user-images.githubusercontent.com/4136503/60428971-f3ba3080-9bf1-11e9-9a4c-d1765cc73043.png)

## Steps to Reproduce
1. Render a table with:
[code]
2. Trigger state update
3. Checkbox pad

[2019-07-01 13:38] hassant4 opened #732 "Table not acting Responsively - Extends Grid size"
## Expected Behavior

When using MUI Grids (or even without), the table should restrict its width to the size of the window/browser if using `responsive: 'scroll'`

## Current Behaviour
The table flows off screen when I add enough columns, Typography used for benchmark, if I used xs={8} the scroll behaviour works (but the remaining xs={4} still extends beyond the window size) but I need to use xs=

[2019-07-01 13:45] Nasseratic commented on #719
Thanks a lot @gabrielliwerant

[2019-07-01 14:11] #719 closed

[2019-07-01 14:49] ideoclickVanessa commented on #580
The above type file didn't work for me. I needed to use this:
[code]
which then allowed me to define the overrides in the createMuiTheme like so:
[code]

[2019-07-01 16:21] alexeykush commented on #718
So, when it will be fixed?

[2019-07-01 16:26] rafalneves commented on #731
Adding **fixedHeader: true** to the table options seems to fix the issue. But I don't think that this is to be the expected behavior, nevertheless because fixedHeader default value is true.

[2019-07-01 16:32] rafalneves commented on #731
Ok, my fault, selectableRows: **false** instead of selectableRows: **'none'**.

[2019-07-01 16:32] #731 closed

[2019-07-01 17:06] leducsang97 commented on #395
I would like to ask if it is possible now to render more than just 1 expandable row?

[2019-07-01 17:33] ideoclickVanessa opened #733 "Table Loses Sort and Filter When Cell Value Is Changed"
If you sort or filter the table before updating the contents of one of its rows, the table loses the sort and/or filter. This should not happen.

## Expected Behavior
When I click on the switch to update its value, the table's current sort order and filters should not disappear.

## Current Behavior
Currently when changing a switch, the table's current sort order and filters are lost making it qui

[2019-07-01 18:51] gabrielliwerant commented on #732
I can't find anything wrong with the table display using your markup (though I don't know what you have in `classes.root`). This looks like a problem on your end with the way you're using the `Grid`. Maybe in a codesandbox you'd be able to demonstrate something wrong with the table?

[2019-07-01 19:05] gabrielliwerant commented on #733
I'm pretty sure that this is a manifestation of the issue described here https://github.com/gregnb/mui-datatables/issues/679.

So this is a wontfix, because fixing it means breaking all the customization people want to write to update their table state directly. The library is moving in a more do-it-yourself direction, though eventually there will be functions to make it easier. But for now, you h

[2019-07-01 19:15] ideoclickVanessa commented on #733
I'm not sure I understand your wontfix reasoning. The bug currently does not exist in v2.5.0 It only seems to be in v.2.5.1 Are you saying that this bug is intentional in v2.5.1 ?

[2019-07-01 19:38] dbansch commented on #334
@gabrielliwerant I tried to create an onDownload function, but I can't get it to work.  The on download example in mui-datatables/examples/on-download/index.js does not work either.  The csv output is the same with and without the onDownload function.  Do you have an example of an onDownload function that works?

[2019-07-01 21:07] gabrielliwerant commented on #733
It can't be fixed without breaking other things. It's fundamentally impossible. Read the issue linked for more information.

[2019-07-01 21:14] gabrielliwerant commented on #334
@dbansch I'm not sure what you mean, the example works fine; the output is different, as specified in the function (it adds a footer and it changes a column name as compared to without the function).

`onDownload` is a callback that provides the functions necessary to let you create whatever download you wish. You have to decide what you want it to do and then input the data you want. See the docu

[2019-07-02 03:28] mazenelorbany opened #734 "Hide some columns in the table and show them in the view columns"
## Expected Behavior
some columns are set to be unchecked from the view columns dropbox

## Current Behavior

## Code Snippet

`const emptabledisplay = props => {
  const { columns } = props.data;

  const { data } = props.data;

  const options = {
    filterType: "dropdown",
    responsive: "scroll"
  };

  return (
    <MUIDataTable
      title={"Employee list"}
      data={data}
      columns=

[2019-07-02 04:20] leducsang97 opened #735 "Expand Rows"
I would like to add a feature of expanding more than just one child row. Currently I used a trick to create a table inside a Tablerow but it will shift the parent row content to the right. I would like to ask if there is any official way of supporting this feature. Thank you very much.

| Tech         | Version |
|--------------|---------|
| Material-UI  |     ^3.9.2    |
| MUI-datatables  |   ^2.

[2019-07-02 04:24] gabrielliwerant commented on #734
Are you looking for these options?

![image](https://user-images.githubusercontent.com/1779564/60482491-c4420d00-9c5f-11e9-9f01-a403fb91fef3.png)

[2019-07-02 04:38] #718 closed

[2019-07-02 04:53] mazenelorbany commented on #734
yes I think so  but how can i use it properly into my code
columns data looks like this
![image](https://user-images.githubusercontent.com/52053790/60483504-b2626900-9c63-11e9-8c3b-f60ec8ca262f.png)
up to like 100

[2019-07-02 05:38] gabrielliwerant commented on #734
Take a look at the `customize-columns` example. You will need to use a structure like that.

[2019-07-02 05:41] gabrielliwerant commented on #688
Closing, as this feature should now be available in `2.6.0` via `filterOptions: { display: Component }` and `fitlerType: 'custom'`, thanks to @Avd6977!

[2019-07-02 05:41] #688 closed

[2019-07-02 05:43] gabrielliwerant commented on #680
Closing, as this issue has been open for over 3 weeks without the ability to reproduce. If the issue returns, please open a new issue with a specific example, ideally in codesandbox or someplace where it can be interacted with and verified.

[2019-07-02 05:43] #680 closed

[2019-07-02 05:44] gabrielliwerant commented on #672
Closing, as this should be fixed in later versions via the PR mentioned here.

[2019-07-02 05:44] #672 closed

[2019-07-02 05:46] gabrielliwerant commented on #500
Closing, as this option exists as of `2.6.1`.

[2019-07-02 05:46] #500 closed

[2019-07-02 05:48] gabrielliwerant commented on #489
@erencay This functionality might exist now. As of `2.6.0`, there is a `filterOptions` object that accepts `names: Array`, `login: Function`, and `display: Component`. Let me know if this satisfies your use case.

[2019-07-02 05:49] gabrielliwerant commented on #433
I don't believe so, but if you'd like to work on this as an option, I will review the PR.

[2019-07-02 05:50] gabrielliwerant commented on #430
It is now possible, as of `2.6.0`, to add custom rendering for filters, thanks to @Avd6977!

Use `filterOptions: { display: Component }` and `filterType: 'custom'` in the column options.

[2019-07-02 05:50] #430 closed

[2019-07-02 05:53] gabrielliwerant commented on #18
You can now add custom rendered filters as of `2.6.0`.

Use `filterOptions: { display: Component }` and `filterType: 'custom'` in column options. There is also an option for custom filter logic via `filterOptions: { logic: Function }`.

[2019-07-02 05:53] #18 closed

[2019-07-02 05:54] gabrielliwerant commented on #407
`customFilterListRender` is now available, as is custom rendering of filters in general in `2.6.0`. See documentation and examples for more information.

[2019-07-02 05:54] #407 closed

[2019-07-02 06:08] MiKaminskas commented on #544
I tried to do evrything like it was described by @matteo1976 , but it's not working. If I'm perfoming delete then table deletes rows. But on the second call the table is again full with deleted rows.

[2019-07-02 06:36] tsuz commented on #735
Try this @leducsang97

[code]

[2019-07-02 06:46] tsuz commented on #735
Something like this should do
[code]

[2019-07-02 07:12] leducsang97 commented on #735
This is exactly what I did. But the issue is it only works with 1 row. I dont know how to do it with more than 1 <TableRow>

[2019-07-02 07:16] tsuz commented on #735
Have you tried
[code]
or build your own table within specific cell like this:
[code]

[2019-07-02 07:26] leducsang97 commented on #735
This works like a charm. Thank you very much.
Do you know how to default open the expandable rows?

[2019-07-02 07:29] tsuz commented on #735
Not that I know of... It doesn't seem like you can do.. according to [this](https://github.com/gregnb/mui-datatables/issues/433)

[2019-07-02 17:11] Avd6977 opened #737 "Custom Filter doesn't accept filterList (needed for serverside)"
## Expected Behavior
Passing in filterList with the column will default the filter to a value. For server-side, this is how to keep the filter between loads.

## Current Behavior
deepClone clears out the array when it has string keys

## Steps to Reproduce (for bugs)
const customFilterList = [];
customFilterList["min"] = "20"
Pass customFilterList in as the column's filterList and see that it isn'

[2019-07-02 18:04] mazenelorbany commented on #734
I saw your response to a similar issue here #511
I managed to do it like this.
`onst emptabledisplay = props => {
  const { columns } = props.data;

  const { data } = props.data;

  const options = {
    filterType: "dropdown",
    responsive: "stacked",
    rowsPerPage: 30
  };
  const headers = columns.map((value, key) => {
    if (key <= 12) {
      return {
        name: value,
        option

[2019-07-02 19:16] pellejacobs commented on #724
Hi Gabriel,
Thanks for you reply. There's a little difference with the issue you linked: it seems there the main idea is to make the expandability optional. However, the rows would still be controlled by the MUIDataTable component.
On the other hand, if you would allow for expandable rows to be controlled with props, you should be able to implement the behaviour mentioned in the issue. Is that wha

[2019-07-02 21:00] dclorena11 opened #739 "Non-serverSide filtering/searching re-renders whole MUIDatable"
## Expected Behavior

When we upgraded our version from `2.0.0-beta.58` to `2.5.1` we found that changing any in the component re-rendered the whole table, but in the previous version it only seemed to re-render the `TableBody`. When we filter with `serverSide: false` we would like for only the TableBody to re-render and include filtered changes.

Note: We also have are using `onTableChange` and a

[2019-07-02 21:28] #320 closed

[2019-07-03 00:33] gabrielliwerant commented on #724
You're right, they're not identical issues. I'm open to a PR that allows this functionality. Just be aware that the library is transitioning to be entirely controller via props, so the more of that type of functionality the library accepts, the more burden there will be on the developer to keep the state up-to-date. This can be made easier, but not without a major refactor, so there's a long term/

[2019-07-03 00:36] gabrielliwerant commented on #735
Correct, default open expandable rows is not yet an option. Feel free to work on that PR if you want, although the UX person in me thinks it's not a good idea to default to having all the information available at once, and this somewhat defeats the purpose of being able to hide it.

In fact, if you get really clever, you can already implement this yourself by adding a column that has its own butto

[2019-07-03 02:47] patorjk opened #740 "Expand all rows Expandable Row Header?"
I was looking for this option but didn't see it - is there a way to have the header column for the expandable rows have an icon that will Expand/Close all of the rows?

[2019-07-03 03:13] gabrielliwerant commented on #740
That option does not yet exist. Marking this as a duplicate as it has come up a number of times. You can follow the threads here for more information: https://github.com/gregnb/mui-datatables/issues/549, https://github.com/gregnb/mui-datatables/issues/518.

[2019-07-03 03:25] gabrielliwerant commented on #737
Hm, I'm a little confused by this one. Maybe a more fleshed out example would help. This doesn't look like supported behavior. If you want to keep the `filterList` between loads, you should be able to update it as part of state change on your end. I don't see the need to pass in an object.

[2019-07-03 03:47] patorjk commented on #740
It’s similar, though slightly different in that I’m looking to control via the column header. However, marking as a dup is fine, I’ll keep an eye on those other issues.

[2019-07-03 05:44] gabrielliwerant commented on #740
You can already make custom column headers, so the only part that is missing is a way to programmaticly interact with the expand functionality. So if you had that, you would be able to do what you wanted.

[2019-07-03 09:33] temporaryGit2018 commented on #400
I am also looking for a solution to this!

[2019-07-03 11:58] Avd6977 commented on #737
I think saying it was needed for just serverside is confusing. If you take the change to the custom-filter example I made and revert the Object.assign, then it doesn't use the default filter because deepClone doesn't clone it to the new array.

[2019-07-03 15:32] patorjk commented on #740
You can only create custom headers for columns in the Columns array. The expandable row options are set on the main options object and there isn’t a way to set its header (at least from what I can tell).

[2019-07-03 17:55] gabrielliwerant commented on #740
It won't matter which object it's in, you could theoretically track any of it in your state and make any changes you wanted from the header, to the header, whatever, as long as you had the ability to trigger expandability at will.

[2019-07-03 17:56] gabrielliwerant commented on #400
`customBodyRender` lets you use any code you want to display the cells of a given column. You can add any styling you want that way.

[2019-07-03 18:00] gabrielliwerant commented on #737
I think what I'm saying is that if your problem is maintaining filter state between serverside updates, I don't believe you need to this the way you're doing it. I'm pretty sure there's a way to do this with existing functionality.

In general, the direction the table is moving is for you to manage more of the state yourself rather than rely on the internal derived state of the table, so I'm reluc

[2019-07-03 18:15] gabrielliwerant commented on #739
There's a lot going on here. Can you pare this down to a single specific issue? Also, I could not load the codesandbox example, as it appears to error-out immediately.

There's a lot that has changed between the beta and the most recent version. It's likely that you will need to modify your code if you want to take advantage of the latest versions.

I'm fairly certain `onTableChange` will still wo

[2019-07-03 18:20] patorjk commented on #740
There’s no customHeadRender for the expandable row column though, you can’t change header for that column.

[2019-07-03 18:26] Avd6977 commented on #737
From what I'm seeing happen though, the chip is disappearing despite maintaining the state on our end. Have you looked at the PR? The main issue is that deepClone has known issues (especially with stringed-key arrays) so the fix is just cloning with the Object.assign method.

Unless I'm missing what you're meaning by being able to do this already. I'm passing in the filterList prop with the column

[2019-07-03 18:34] gabrielliwerant commented on #737
I'd like to verify that the issue is blocking people from being able to manage filter state, and I don't yet have that verification because I don't think it's being done in the recommended way.

[code]

This treats an array (`customFilterList`) like an object, presumably because `filterList` is an array, but you're looking for object-like behavior. That's not something I plan to support. If necess

[2019-07-03 18:37] gabrielliwerant commented on #740
Now I think that maybe I don't understand your issue. Not sure what you mean by "expandable row column." Expandable rows are rows, so not sure what columns have to do with it. If you want a column header that allows you toggle expandable rows, then that I understand. Maybe I need screenshots or something that demonstrate what you're trying to accomplish.

[2019-07-03 20:15] alexanderwhatley opened #742 "Sorting columns shifts header"
The fixedHeader option does not appear to work when you sort the columns of a table, even if you set the width. Shown here is an example: https://codesandbox.io/s/muidatatables-sorting-header-1tkh7. If you sort by the "Name" column, you'll see that the headers all shift, which is not good user experience.

Is there any way to fix the columns even if you are sorting, and truncate the parts of the s

[2019-07-03 20:46] Avd6977 commented on #737
I mean....I don't think it's against the ruuuules for a string named array.... :) but fine. I just fixed the example to show how it would work.

[2019-07-03 22:17] patorjk commented on #740
Sorry if I’m not clear - I’m looking for something akin to the Select All/Unselect All checkbox header that the selectable rows have. So for the expandable rows column (by this I mean the column representing the arrow buttons that are pressed to open a row), I’m looking for an arrow I could push in the column header that would expand all of the rows or collapse all of the rows.

Part of this would

[2019-07-03 22:29] gabrielliwerant commented on #740
Ok, I understand now. This is referred to as the select column since that's what it's used for now. You're right that there's no way currently to change the functionality in it. So you'd need a custom select header, but this is difficult because you'd need a way to maintain select functionality. I have to think about it, but I think it's going to be low priority to be able to customize the select

[2019-07-04 13:51] patorjk commented on #740
Sounds good. I definitely would want to keep the select functionality., I didn't realize it was the same column (though I did notice it and the checkboxes stuck to the left part of the table when the table got too wide - which is useful), so that makes sense.

[2019-07-04 20:32] Roberto4091 opened #743 "Invalid prop childreen - ForwardRef(TableCell)"
Hi! Help!
I'm using the example of a table they give on their website, but with the latest versions.
I have an error with the TableCell component, the error can be seen [here](https://codesandbox.io/embed/young-violet-2bl1q), could you help me?

| Tech         | Version |
|--------------|---------|
| Material-UI  |    ^4.1.1     |
| MUI-datatables  |    ^2.6.1     |
| React        |    ^16.8.6

[2019-07-04 21:33] djheroez commented on #743
Interesting... if you get rid of the **sort: false** the error message does not longer appear.

[2019-07-04 22:20] gabrielliwerant commented on #743
Yep, figured that out and am already on it.

[2019-07-05 19:18] 17gcolestock opened #745 "Drag to Select"
User can enable flag "selectableRowsOnDrag" to allow selection using click and drag.

[2019-07-05 21:59] skalma opened #747 "No applyfilter/applysearch event available on tableChange option (next to the filterChange and search event)"
I'm using:
- mui-datatables 2.4.0
- material-ui/core 3.9.2
- react 16.8.1
- typescript 3.3.3
- vs2017 CE 15.9.12
- chrome 75.0.3770.100

I handle pagination myself (serverSide = true) and use tableChange option to catch events and handle searching and filtering (for searchresults and filterresults i switch to serverside = false so mui-datatables handles pagination of those results). However: there

[2019-07-05 22:24] skalma commented on #713
Thx for the links, i will look into it when i find the time

[2019-07-05 22:24] #713 closed

[2019-07-06 00:16] gabrielliwerant commented on #747
For search, there is an `onSearchOpen` callback.

Via custom filter logic and display, you should be able to change how filters work enough for you to get the control you want. See the `customize-filters` example. You are given access to the `onChange` method and can therefore decide when you want to fire it (like on a button click that "sets" the filter, if you so choose).

[2019-07-06 09:03] gabrielliwerant commented on #742
Actually, the material-ui table exhibits the same behavior. When there are cells with content that is much greater than the other cells, it will also flip back and forth in widths during sorting and other behaviors that change the content.

You cannot solve this problem without enabling your content to be broken up, otherwise the width will always change to accommodate the content.

You can use:

[2019-07-06 23:13] futuredevgirl opened #748 "Customise row hover and rowSelect in React"
The mui-datatable is amazing. However, I am having issues with some of the customisation.
Is it possible to change the hover and rowSelect color for ReactJs?

I can see that the hover selector is at .MultiTableRow-root.MultiTableRow-hover: hover but can not seems to override the backgroundColor using createMuiTheme. I need to be able to change the color for both the hover and rowSelect selectors.

[2019-07-07 01:48] gabrielliwerant commented on #748
This comment should help you get started with overriding the theme: https://github.com/gregnb/mui-datatables/issues/448#issuecomment-469430049.

You cannot currently default the search box to open unless you provide a default search via `searchText`.

[2019-07-07 02:38] futuredevgirl commented on #748
Thank you so much @gabrielliwerant

[2019-07-07 07:57] shubhamk54 opened #749 "download, print, search options are getting hide when rows are selected."
## Expected Behavior

I have a requirement when we need to display action items( download, print, search, view columns) should be displayed even when rows fro the table are selected, maybe not all but Search, as a user should search and select the rows.

## Current Behavior
When the user selects the rows, the action items(download, print, search, view columns) are getting replaced with a number of

[2019-07-07 19:06] gabrielliwerant commented on #749
This is necessary UX to ensure that users know what actions are applicable to selections. See https://github.com/gregnb/mui-datatables/issues/712 and https://github.com/gregnb/mui-datatables/issues/451 for discussion about this issue.

[2019-07-08 05:02] rofiuddin15 opened #750 "Function components cannot be given refs."
I have warning when I try to use mui-datatable in my project. like this:
[code]

[2019-07-08 05:59] alexanderwhatley commented on #742
@gabrielliwerant thanks for your reply. I'm in the process of switching from Material UI v0 into v1 right now, and the basic behavior of sorting and column width appears different. I made an example of string truncation in v0 to illustrate the difference I am describing: https://codesandbox.io/s/mui-v0-sorting-header-yzysn. You can see that here, the longer strings are truncated with an ellipsis.

[2019-07-08 06:57] gabrielliwerant commented on #750
Try reducing your material-ui version to `3.5.1`. The latest is not yet supported by this library.

[2019-07-08 07:09] gabrielliwerant commented on #742
It may look ugly, but with truncation via ellipsis, the user will not even be able to read the content, so both methods have advantages and disadvantages. Personally, my preference is to allow content to dictate the size of html elements, and to handle extreme cases on a case-by-case basis.

As far as your specific issue, I'm afraid I can't offer much help on versions of the library that are as lo

[2019-07-08 07:50] sswapnil2 commented on #750
## Tried removing tooltip from Toolbar component
I tried removing Tooltip component from Toolbar Component inside **mui-datatables** library. I found that **react-to-print** props trigger takes function component as input and we cannot forward ref there. </br>
When i removed Tooltip everything was working fine. I didn't run test tough to check if anything else was breaking.

[2019-07-08 11:08] talhatahir opened #751 "Limit checkbox based selection for more than 'n' rows"
Would like to see this feature:
Currently i cant limit how many rows i can select, i would want that there should be a limiter 'n' where if number of rows selected is equal to 'n' then any further row selection is not allowed.

For example if i have table with 10 selectable checkbox based normal rows, i would want a limiter of 3 lets say. If i try selecting more than 3 rows, there should be some m

[2019-07-08 14:11] chenasraf opened #752 "Generating dynamic column definitions fails with too many columns (maximum call stack size exceeded)"
## Expected Behavior

The ability to change the column definitions in runtime is important, because I often need to pass props to the `options.customBodyRender` function in columns.
I expect this to work by using the columns I pass in the props, and when updating them it should reflect the changes without error.

## Current Behavior

Currently if there are too many columns and the array is rebuilt

[2019-07-08 15:36] lounsbrough opened #753 "Documentation is wrong"
The documentation shows that the default page length options are `[10, 15, 20]`.
https://github.com/gregnb/mui-datatables#options

However the code does not agree:
https://github.com/gregnb/mui-datatables/blob/330026f7053c9f92b61ef8bc89504fc883f30408/src/MUIDataTable.js#L259

[2019-07-08 16:34] alexanderwhatley commented on #742
I solved the problem using the folloing CSS:

[code]

[2019-07-08 19:50] m-preiner opened #754 "Column header row not resizing as expected"
## Expected Behavior
When there are long column names, the header row height is expected to adjust to fit the entire wrapped column name.

## Current Behavior
The column header cells are not resizing their height when the text begins to wrap.  This causes the column headers to overlap with the first row.

## Steps to Reproduce (for bugs)
I've posted a codesandbox example at :
https://codesandbox.i

[2019-07-08 20:13] m-preiner commented on #754
Update: It looks this issue does not occur with previous releases. For example, mui-datatables@2.0.0 does not have this problem.

[2019-07-09 07:49] magda-tatarynowicz opened #755 "Expandable rows not working correctly while working with server data"
## Expected Behavior
When using option serverSide:true, when data in table changes, expanded rows should collapse or it should be possible to manage their state through options.

## Current Behavior
Currently rows stay expanded after getting new data (for example by changing page, sorting or filtering).

## Steps to Reproduce (for bugs)

Example on codesandbox: https://codesandbox.io/s/awesome-flo

[2019-07-09 12:56] meneman commented on #228
It seems as if there is no way to let MUIDatatable attach the selected attribute to its rows, without the checkboxes. Is this intentionell?
I would like to implement my own selection visiuals, using this handy styling method:
[code]
But it selectableRows: 'none' does not only get rid of the checkboxes but of all selection behaviours.

[2019-07-09 18:55] gabrielliwerant commented on #228
@meneman That's correct, it eliminates all selection behaviors. If you want to keep selection on click but not with select boxes, you need to use

[code]

and then hide the checkboxes via style overrides.

[2019-07-09 21:12] NoMercy235 opened #756 "Cannot update page property from the outside"
## Expected Behavior

Dynamically setting the `page` property of the options should update the table and trigger the `onChangePage` event.

## Current Behavior

Nothing happens. The table does not react to any change in its options
## Steps to Reproduce (for bugs)

1. Go here https://codesandbox.io/s/focused-lichterman-k8170
2. Notice that there's a set timeout which calls `setPage(1)` after one s

[2019-07-10 00:25] mazenelorbany opened #757 "Delete Rows"
I am using this library to display data from Mysql database, in order to delete I am going to need any value from the row , the function onRowsDelete returns the index of the row but i need to access the row data itself,
the only function that i saw that returns the rowdata was onRowClick

## Expected Behavior
 what I need whenever I select a row and click on delete it returns the row data so i ca

[2019-07-10 01:45] gabrielliwerant commented on #757
`onRowsDelete` will also return the `dataIndex` which is the initial position of the data in the array you passed into the table. That should be enough for you to find that value and do whatever you want with it, as in the following pseudo code:

[code]

[2019-07-10 01:59] gabrielliwerant commented on #756
Couple of things. Your table version is lower than the latest. Additionally, you are using hooks from newer versions of react than are officially supported by this library.

If you can construct your example without using react hooks and with the latest version of the library, and still demonstrate that there is a problem, I will be happy to take a look.

[2019-07-10 02:08] gabrielliwerant commented on #754
Thank you for pointing this out. I know what the issue is and will have a fix shortly.

[2019-07-10 03:25] #743 closed

[2019-07-10 03:25] #754 closed

[2019-07-10 03:29] gabrielliwerant commented on #754
Should be resolved in `2.6.2`.

[2019-07-10 03:29] gabrielliwerant commented on #743
Should be resolved in `2.6.2`.

[2019-07-10 03:55] mazenelorbany commented on #757
Thanks a lot for your time, I understand what your concept and i will try to apply it into my code
however the value of dataRows in the code is undefined

[2019-07-10 07:51] gabrielliwerant commented on #757
Ah, sorry about that, should be

[code]

[2019-07-10 08:19] chenasraf commented on #756
@gabrielliwerant here is the same example using regular state, still doesn't work - I can say I'm using recompose with `withState` and the same bug applies.

https://codesandbox.io/s/recursing-cdn-ywbcp

[2019-07-10 08:50] khalilmarzouk opened #758 "would like to have a custom id for all the clickable ui elements to be automaticly tested ?"
Hello
Im using mui datatable 2.6.1 and i would like to have some custom ids for all the clickable elements to be tested with Katalon. it requires unique identifier to select each element. So is there any  way to add ids ?

[2019-07-10 09:02] meneman commented on #228
@gabrielliwerant Thanks, i wasn't familiar with style overrides in mui.
For future reference, here is what i did to have a.) colored selected rows, b.) no checkboxes at the start of each row c.) no "1 row(s) selected" showing:
[code]

[2019-07-10 09:32] JReinhold commented on #614
That happens because when setting `responsive` to `scroll`, the table gets a `max-height` of, `499px`, which will make it "not print all the records", as they will be hidden.

See the following comment for a fix:
https://github.com/gregnb/mui-datatables/issues/378#issuecomment-458112410

[2019-07-10 09:33] JReinhold opened #759 "Why does the table have a max height when responsive is set to scroll?"
When setting the option `responsive` to `scroll`, the table automatically gets a `max-height` of `499px`, why is that?

The reason I'm asking, is because I want to disable it, but it seems very intentional (see highlight below), so I'm afraid there's some side-effect to disabling it that I'm missing.

https://github.com/gregnb/mui-datatables/blob/330026f7053c9f92b61ef8bc89504fc883f30408/src/MUIDat

[2019-07-10 09:36] NoMercy235 commented on #756
Hello! Sorry for the messy initial example. It was midnight and I was in a hurry. 😅 The example provided by @chenasraf is exactly my case. After the table is rendered, altering the options won't change the internal state of the table. One workaround I've thought of would be to change the `key` property of the table based on the conditions that I change in the options object, but that is a bit ugly

[2019-07-10 10:14] gnik2036 opened #760 "customToolbarSelect i can't change position of button to left"
this my code
on sandbox
https://codesandbox.io/s/pedantic-minsky-ylrdu

and this what i want actually
![image](https://user-images.githubusercontent.com/37883542/60961374-4a1f2180-a30c-11e9-933e-b43d9f900197.png)

[2019-07-10 13:52] m-preiner commented on #754
Awesome, thanks!

On Wed, Jul 10, 2019 at 5:29 AM Gabriel Liwerant <notifications@github.com>
wrote:

[2019-07-10 18:24] Teslima02 opened #761 "custom Toolbar when trigger onClick for action to popup modal data in the table disappear"
custom Toolbar  when trigger onClick for action to popup modal, datas in the table disappear please help. Thanks

[code]

This's the table component
[code]

This's the action
`
export function openNewBondsDialog() {
    return {
        type: OPEN_NEW_BONDS_DIALOG
    }
}
`

This's the reducer
[code]
``
The moment this action triggered this openNewBondsDialog() will disappear the current data in t

[2019-07-10 18:49] gabrielliwerant commented on #760
I can't tell how your codesandbox example maps to the screenshot in terms of what you want to happen, so I can't give specific advice (which button in your example is supposed to go where exactly).

However, I can say that you might need to change the display away from `flex`, as it can be difficult to customize the individual positioning of elements in flexbox. You might need to remove `flex` fro

[2019-07-10 18:52] gabrielliwerant commented on #761
Unfortunately, there is not enough information given here to reproduce the issue. Can you please provide a full working example, preferably in something like codesandbox? If you can do that, I will be happy to take a look.

[2019-07-10 19:01] gabrielliwerant commented on #758
This looks like a duplicate of https://github.com/gregnb/mui-datatables/issues/618, so you can follow the conversation over there.

[2019-07-10 19:12] NoMercy235 commented on #756
Update: I've found a workaround for now by using React's reference and then calling the `changePage` method from the `MUIDataTable` component. However, I cannot replicate the same behavior in codesandbox. You can see here https://codesandbox.io/s/heuristic-swanson-krp9v the same way I've used in my project to modify the page from outside the table, but, for some reason, it doesn't work in the sand

[2019-07-10 19:19] Teslima02 commented on #761
Thank you @gabrielliwerant  have updated the code

[2019-07-10 19:34] Avd6977 opened #762 "Paging resets when serverside search and change page"
## Expected Behavior
Page passed in as prop should be taken

## Current Behavior
Page prop is ignored when search is not null. This disables paging when search exists and done serverside with table reload

## Steps to Reproduce (for bugs)

1. Set serverside true and maintain state
2. Search for a value
3. Select Next Page
4. Page stays at 0

## Your Environment

| Tech         | Version |
|-------

[2019-07-10 20:10] gabrielliwerant commented on #762
Thanks for finding this, there is a bug here, but it's a bit more subtle than it appears. We definitely need to override the page value the first time a search is entered. However, in subsequent page updates, we should allow the page to change. I put some notes in the PR. It's possible there won't be a fix without a state refactor overhaul for the whole table. :(

[2019-07-10 20:14] ericpyle commented on #495
@gabrielliwerant which version or commit was this fixed in? I'm still seeing it in v2.5.1. Notice how the checkbox column disappears when the window width is reduced:

![mui-datatables-issue-495](https://user-images.githubusercontent.com/1125565/61001504-5d8ab680-a325-11e9-863d-26f4ba381579.gif)

[2019-07-10 21:22] gabrielliwerant commented on #495
@ericpyle It was fixed before that. It's not in `2.5.1` in clean examples from the codebase. The issue must be something particular to your situation. If you open a codesandbox, I will take a look.

[2019-07-10 21:25] gabrielliwerant commented on #756
Yes, it might need to be hacked. I looked into it a little, and it appears to be a manifestation of the issue discussed here: https://github.com/gregnb/mui-datatables/issues/679. The table is managing page state internally for pagination. In a situation like that, it's fundamentally impossible for react to both respect changes coming from props AND internal state derived from those props.

[2019-07-10 21:29] gabrielliwerant commented on #761
Thanks for the attempt, but I actually need something more stripped down, and far simpler, that will demonstrate the issue. The minimal case, essentially. You are using a lot of code I'd have to copy and paste into a local testing environment, and it's using redux, which I would then need to install and set up. This is part of why I asked for codesandbox, because the example would then be running

[2019-07-10 21:30] NoMercy235 commented on #756
Yup, I also did my share of investigation. It looks like this can't possibly be done without changing a big chunk of the current logic, and I suppose that's not in the plan for any near future. 😄 Should we close this issue and just be content with the fact that you can use React's reference to get around this kind of problems?

[2019-07-10 21:38] chenasraf commented on #756
Ref sounds like a reasonable solution, provide it actually works - I will try it out myself soon, but if the codesandbox example doesn't work, there might need to be some modifications anyway.

Also, references are not currently covered in the readme, and knowing React refs being finnicky, I think this is something that should be documented, as I had no idea it was possible before this discussion.

[2019-07-10 21:41] NoMercy235 commented on #756
@chenasraf You can check the sandbox from my last comment. I modified it and it works properly now. The references are not often used, indeed, and it's better that way because you can abuse them a lot and do things that you're not supposed to. 😛 In edge cases like this one, however, there is no other way. Perhaps the documentation should be updated to specify this kind of possibility in the eventu

[2019-07-10 23:00] gabrielliwerant commented on #756
I think it's worth keeping this issue open in case others run into the same issue and are looking for a workaround. Thanks for looking into this and for helping to provide one!

[2019-07-11 10:36] Teslima02 commented on #761
Thanks @gabrielliwerant am able to resolved the issue now the mistake was from me. I was not sending the initialsState in reducer moment after the action get triggered.
Thanks appreciate you for the support.
[code]

[2019-07-11 12:19] pbatleyGH opened #764 "selectableRowsOnClick overrides isRowSelectable"
## Expected Behavior

selectableRowsOnClick seems to override isRowSelectable. A row with isRowSelectable that returns false can still be selected by clicking it. The checkbox appears greyed out suggesting that the isRowSelectable styling is being applied.

I would expect the behaviour to be that a row with isRowSelectable false should not be selectable at all. If isRowSelectable returns true, the

[2019-07-11 23:59] hibc commented on #754
@gabrielliwerant
Hello I just updated to v2.6.2, but I'm still having the resizing issue.
I have about 20 columns.

[2019-07-12 00:41] gabrielliwerant commented on #754
@hibc Hello. That sounds like a different issue. The one mentioned here initially has been resolved as far as I can tell.

If you like, you can open up a new ticket for it with steps to reproduce, and we can discuss it there. My feeling though is that you're running into limitations due to lack of remaining screen width. I don't know if that situation has been addressed as far as resizable columns

[2019-07-12 03:22] gabrielliwerant commented on #764
Nice find, I can confirm this is a bug. Thank you!

[2019-07-12 03:25] gabrielliwerant commented on #761
No problem, and I'm glad it worked out for you!

I assume it's ok to close the issue?

[2019-07-12 04:05] sebarck opened #765 "[QUESTION] onRowClick custom action seems to override default action of selectableRowsOnClick"
When you use the option "onRowClick" to provide a custom action (or function), seems to override the default function of "selectableRowsOnClick" when its true.
## Expected Behavior
When calling a custom function in the "onRowClick" option, it doesnt override, the default function of "selectableRowsOnClick" (when its true). It triggers the check of the checkbox, renders the select toolbar, and then

[2019-07-12 05:11] gabrielliwerant commented on #765
I wasn't able to verify this one.

![capture](https://user-images.githubusercontent.com/1779564/61103862-dbdc7b00-a441-11e9-9436-
75982088b78b.gif)

Can you provide a broken example on codesandbox?

[2019-07-12 09:43] jkeruzec commented on #679
Maybe we can link : #105

[2019-07-12 18:37] Teslima02 commented on #761
Yes

[2019-07-12 20:54] #761 closed

[2019-07-13 19:32] b1rt opened #767 "Row select malfunction with initial selecting of rows and column sorting"
After initial row selection (by option "rowsSelected") and initial sorting (by "options: {sortDirection: 'asc'}"), when you try to select or unselect row, changes are made to entirely different row.
After clearing selection, selecting of rows works fine.

My guess is that initial selection happens before sorting, thus indexes in selectedRowsData are not the same as in the displayed data.

## Expec

[2019-07-13 20:01] sebarck commented on #765
Hi Gabriel!
Thank you for the reply. Here is the codesandbox: https://cm0gf.codesandbox.io/
As you can see, if you click on a row, it will trigger the function (that changes the name below, with the name of the row), but it wont trigger the check of checkbox.

Could you share your example? It seems to work as i expected.

Thank you very much!

[2019-07-13 20:23] gabrielliwerant commented on #767
Thank you for reporting this, I should have a fix soon.

[2019-07-14 08:11] gabrielliwerant commented on #765
Thank you for that example, I was able to confirm the bug, though the answer here might be a bit different than you were expecting.

So, the first problem is the `onRowClick` is not supposed to fire for selection events. It is disabled when you select via checkbox, but this was overlooked when row selection via click was added. The callback you want to use here is `onRowsSelect`, and that will be

[2019-07-14 08:34] #764 closed

[2019-07-14 08:35] #767 closed

[2019-07-14 08:38] gabrielliwerant commented on #765
`onRowClick` no longer fires on selection via click as of `2.6.3`.

[2019-07-14 08:40] gabrielliwerant commented on #764
Should be fixed in `2.6.3`.

[2019-07-14 08:41] gabrielliwerant commented on #767
Should be fixed in `2.6.3`.

[2019-07-14 08:46] gabrielliwerant commented on #759
The principle reason to do this, in my view, is that it helps to make it clear that there is additional off-screen data when it overflows the page. This is a particularly bad UX issue when horizontal scrolling is needed also for a large numbers of columns, as it is very difficult to see that there is missing data, since the scrollbar will appear only at the bottom if there is no max-height, and ma

[2019-07-14 08:50] gabrielliwerant commented on #752
Is everything in your example the minimum code needed to trigger the bug? Do I need all the onChange handlers, or just the sort change? If you can pare this down to the bare essentials, it would help me to reproduce it.

[2019-07-14 17:15] JReinhold commented on #759
Okay, that makes sense.

Can you elaborate on this, I'm not quite sure I follow? Are you suggesting another value to the `responsive` option, (like `scroll-full`), that works the same way as `scroll`, but without setting the `max-height`?

[2019-07-14 19:34] gabrielliwerant commented on #759
Yes, exactly, I was thinking an additional option to the `responsive` option. Options would be like this:

- `stacked`: Unchanged from the original
- `scrollMaxHeight`: Would be the option matching the original `scroll`, but changed in name for clarity
- `scrollFullHeight`: Would do out of the box what you and many others are looking for, where there is no max height set
- `scroll`: The default `s

[2019-07-15 04:13] sebarck commented on #765
Hi Gabriel!
Thank you very much, now i managed to select the row on click, and fire the custom function with the trigger "onRowsSelect".

Here is the sandbox: https://codesandbox.io/s/smoosh-leaf-4rgmd

Thank you very much!!

[2019-07-15 19:06] patorjk opened #770 "Update rows without changing sort?"
Consider this scenario: There is a column called "Status" that can be set to true/false. A user is able to select a row, push a button, and toggle the value of "Status" for that row. If the table is currently set to sort by the column "Status", the table will re-sort after the data change and the row the user was working on will no longer be in the same place. This can be disorienting.

Is there a

[2019-07-15 20:17] JReinhold commented on #759
Yeah that makes sense. I'll see if I get time to create a PR some times, otherwise anyone else is free to pick this up. (good candidate for a first time issue)

[2019-07-15 21:41] gabrielliwerant commented on #770
Forgive me; trying to get a handle on the use case. It sounds like you want to both sort and not sort at the same time? If a column is set to sort, I would find it confusing if changing the data did not re-sort it. If I wanted it to then sort it after that, I'd have to sort twice to get back to that state, and it would be further confusing to me that the sort icon arrow is showing, indicating that

[2019-07-15 21:45] gabrielliwerant commented on #770
Another way you can go is the full custom route, by creating `customHeadRender` with a new sort icon that will trigger as you want and/or the `customSort` function in the main options to determine when a column sorts.

[2019-07-15 22:21] patorjk commented on #770
Sorry, it's is a little confusing. For context, I'm rewriting a jQuery/AngularJS app in React and in the existing app, there's a datatable where a user can sort and then perform operations on rows. Some users were getting upset that the rows would disappear after an operation was performed. In the jQuery Datatable component, you can update table entries without a resort, which is how we got around

[2019-07-15 22:21] #770 closed

[2019-07-16 07:12] gabrielliwerant commented on #770
No problem, we've all been there. Ah, these kinds of UX issues are interesting. Good luck!

[2019-07-16 13:10] hassant4 commented on #732
I managed to get past this by checking other parts of the code, I was wrapping the return above in another div (w/o any custom classes btw) but removing that fixed everything. It was hard to spot without rebuilding the code in codesandbox.

Also what would be cool is if we can have the option to `responsive: 'scroll'` in the horizontal direction only and not the vertical

[2019-07-16 13:10] #732 closed

[2019-07-17 04:50] enlznep commented on #312
Any updates on this?

[2019-07-17 08:25] gabrielliwerant commented on #312
PR up here https://github.com/gregnb/mui-datatables/pull/772. Will be in the next release,

[2019-07-17 09:32] alexeykush opened #773 "Sort arrows disappeared, in filters: no text is displayed(2.6.3)"
## Expected Behavior
Before 2.6.3 it was possible to see sort arrows and written text in filters.

## Current Behavior
Sort arrows disappeared, in filters: no text is displayed and it rememebers only the first letter. It happens only when serverSide is enabled + passing onTableChange, but i need both these options. I've noticed that after updating to 2.6.3 from 2.4.0.
Also, if selectableRowsOnClic

[2019-07-17 09:43] mikenlanggio opened #774 "onDownload return false do not cancel download"
I want to cancel download button.
I `return false` according to the docs. But it's not working.
It's still download.
Help me, please.
Thank you

[2019-07-17 13:23] NullP0interEx commented on #471
No :/

[2019-07-17 13:25] hassant4 opened #775 "does /examples/customize-filter/ Age form work?"
Seems like it isn't rendering the form as a custom filter display:
Literally copied and pasted the code into ProjectExperimentTable.js:

https://codesandbox.io/embed/mui-datatablesissue-usdoj

infact, getting rid of the Form imports doesn't even throw an error

[2019-07-17 13:44] coch110149 commented on #627
this would be a cool feature/option to have

[2019-07-17 14:24] #773 closed

[2019-07-17 14:25] alexeykush commented on #773
Found out that there are many changes between these two versions, found solution

[2019-07-17 16:36] tottivega opened #776 "OnRowClick associated function can not detect changes in props"
I have declared the following options which I pass into my datatable as the options prop

let options = {
    responsive: "scroll",
    selectableRows: false,
    viewColumns: false,
    print: false,
    onRowClick: rowClicked
  };

The function rowClicked recieves the following parameters according to the documentation: rowData: string[], rowMeta: { dataIndex: number, rowIndex: number }.

My row

[2019-07-17 17:02] tottivega commented on #776
Let me be a little more specific. Imagin I have a table with columns name and age, my first entry is Bob 44.
Lets assume then that we have onRowClick set up to just console.log the rowData array.

Then we change Bob's age to be 45, so then our table re-renders properly to show Bob 45, however when we click on that row, the rowData array would show ['Bob','44']. Without registering the changes that

[2019-07-17 18:41] gabrielliwerant commented on #774
I'll need you to post a minimal example that demonstrates the issue in order to see what's happening. It works on my end and it passes the appropriate tests, so it is likely that there is something on your end that is causing the issue.

[2019-07-17 18:49] gabrielliwerant commented on #775
In your example, the library version is too low. The feature was added to this release: https://github.com/gregnb/mui-datatables/releases/tag/2.6.0. If you update the library, it will work.

[2019-07-17 19:05] gabrielliwerant commented on #776
A couple of things could be happening here. Firstly, props are read only, so I would not expect you to be able to change props directly in any circumstance.

You will need to change the data at the source. If you've passed it down a bunch of layers, and this is difficult, then you may need a different state management system such as redux. In any case, you need to change either the props you put i

[2019-07-17 19:08] gabrielliwerant commented on #773
Interesting, I was not aware it was ever possible to have sort arrows in filters. As far as I know, such a thing only recently became possible via custom filters in `2.6.0`.

[2019-07-17 19:13] tottivega commented on #776
I don't change the props directly in my example.

Let me try to be a little bit clearer.

MUIDataTable recieves data={props.data.centres}. Whenever I update those props, the table correctly re renders with the new data.

rowClick performs const centre = props.data.centres.find(x=>x.id===id). However whenever I update those props, the function doesn't update with the new props, both the table and t

[2019-07-17 19:19] gabrielliwerant commented on #776
It does look like you are directly trying to set props, e.g. `props.data.centres = 'hello'`. So, as I was trying to explain, that's just not possible in react. You cannot change props directly, ever. You'll need to use state. It's a lot to explain here, so it might be better for you to look through some tutorials. The main react website is also a good source of information.

[2019-07-17 20:18] tottivega commented on #776
Listen, you are clearly not understanding my example so let me make this crystal clear.

function Example(){
 [test,setTest] = useState(['hello'])
 return <TestComponent data={test} setData={setTest} />
}

function TestComponent(props){
let options = {
  onRowClick: rowClicked
};
function rowClicked(){
console.log(props.data)
}

return (
<MUIDataTable data={props.data} options={options} />
<button

[2019-07-17 20:29] hassant4 commented on #775
awesome, working, thanks!

[2019-07-17 20:29] #775 closed

[2019-07-17 20:35] tony-molumby opened #777 "Can Selected Rows Be Cleared From Another Component?"
I would like to be able to call the setSelectedRows() method available to customToolBarSelect from another component.  The user flow would look like this:

1) User selects a row and a dialog appears.
2) User closes the dialog and setSelectedRows is called which clears the row.

Is this possible in the current version?  Thank you.

Versions:
react: 16.8.6
mui-datatables: 2.6.3

[2019-07-17 20:37] buddies2705 commented on #729
I can validate this Bug, A propsUpdate event is triggering and resetting table state.

[2019-07-17 20:52] #777 closed

[2019-07-17 20:54] tony-molumby commented on #777
Solved this out by using handleRowClick instead and changing selectableRows to 'none'

[2019-07-17 21:12] hibc commented on #448
@NYannick

I was sort of able to change the color of a row using a onRowClick and getElementById(`MUIDataTableBodyRow-${rowIndex}`).

But this will remove other style effect for the row. (ex, hover over a row, etc)

`
// Table options
options= {
    onRowClick: (rowData, rowIndex) => {
        changeRowColor(rowIndex.rowIndex);
    }

changeRowColor(index){
    let row = document.getElementById(`M

[2019-07-17 22:19] gabrielliwerant commented on #777
If you are looking to dynamically determine what rows are selected based on some condition, you do not need any internal row handling functions, as you can manage this via `rowsSelected` in the main table options.

[2019-07-18 01:14] dhamaniasad commented on #513
One way to do it is using `display: flex;` on the container, setting `order: 1;` on the footer, and `order: 2;` on the body. There's a `customToolbar` option, but it doesn't receive any arguments related to pagination, so this is the easiest way to do it.

[2019-07-18 01:48] mikenlanggio commented on #774
Here is my code sandbox.
https://codesandbox.io/s/muidatatables-custom-toolbar-mfut5
It's event don't go into function

[2019-07-18 03:46] gabrielliwerant commented on #774
Ok, so it looks like your issue is that your version of this library is too low, at least according to the example you created. The feature that lets you skip download was added to this release https://github.com/gregnb/mui-datatables/releases/tag/2.6.0, so you need that version or higher.

[2019-07-18 04:01] briceamk commented on #750
How to remove Tooltip please

[2019-07-18 05:11] gabrielliwerant commented on #471
I'm not sure this is a bug. Does this issue occur using the default options only, or only when overriding styles? If you are seeing this when overriding styles, then you are outside of supported print functionality, since print is dependent on styles.

For example, if you've overridden the max-height, you also need to set the overflows to "visible". But that's on you to provide, since the library

[2019-07-18 05:42] gabrielliwerant commented on #755
I think the best resolution here is to provide a `rowsExpanded` option that works similarly to the `rowsSelected` option, so that the state of expandable rows is customizable.

This should also help resolve https://github.com/gregnb/mui-datatables/issues/549, https://github.com/gregnb/mui-datatables/issues/724, https://github.com/gregnb/mui-datatables/issues/518, https://github.com/gregnb/mui-data

[2019-07-18 06:08] LionOnTheChase opened #778 "how to switch between demo of examples without restarting npm"
How can I switch between the demo of examples like expandable-rows, serverside-options, etc without having to change webpack.config.js and restart?

I have checked out mui-datatables code and want to see different examples live and possibly change them and see the changes.

I figured out that by changing webpack.config.js:

module.exports = {
  entry: {
    app: "./examples/customize-filter/index.

[2019-07-18 06:10] sswapnil2 commented on #750
If you don't need print functionality, just add `print: false` to options. You won't get that warning again

[2019-07-18 06:38] #312 closed

[2019-07-18 06:43] gabrielliwerant commented on #778
There is no way to do this at the moment. I agree it would be nice to have something like this, especially a whole documentation/examples website, but it's not something I'm focused on in the short term.

[2019-07-18 06:46] gabrielliwerant commented on #312
Should be fixed in `2.6.4`.

[2019-07-18 08:27] FearlessHyena commented on #652
This seems to work fine

[code]

Can't this be closed?

[2019-07-18 09:18] alexeykush commented on #773
Sorry, incorrectly expressed my thoughts. Sort arrows disappeared not in filters.They disappeared in the table heading. Previously i used version 2.4.0. in my project and i've had server side pagination, custom filtering and sorting. And before updating, table remembered filter text and which columns were sorted. After updating its disappeared. So, now every new request table forgets everything. L

[2019-07-18 09:58] LionOnTheChase commented on #778
Thank you for the prompt reply. I can understand your prioritization.

Something you may want to consider while adding this enhancement :
See react-bootstrap-table2 storybook. https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html

[2019-07-18 13:49] tony-molumby opened #780 "Props Not Updating from Parent State After onRowClick Function"
I am having difficulty getting props to update on a child mui-datatables component from a parent when I click a row on the child component.  Here is the code:

Parent:

    class ParentPage extends Component {
      constructor(props) {
        super(props);
        this.state = {
           columns: columns,
           data: [ ... data ]
           selectedRowIndex: null,

    handleRowClick = (r

[2019-07-18 14:00] tottivega commented on #780
I have encountered this same exact bug, this is very strange!

[2019-07-18 18:40] gabrielliwerant commented on #773
Have you verified the select issue on `2.6.4`? I just fixed a bug there that may have been causing the selection problem.

[2019-07-18 18:44] alexeykush commented on #773
not yet, I'll try

[2019-07-18 18:54] gabrielliwerant commented on #780
`onRowClick` is intentionally prevented from interacting with row selection because this leads to a number of bugs and confusing situations. The proper callback for hooking into row selections is `onRowsSelect`. Additionally, there was a bug here that was fixed in `2.6.4`, so see if upgrading to that also helps.

If you want to select rows on click, there is an options for it: `selectableRowsOnCli

[2019-07-18 19:13] gabrielliwerant commented on #780
Another thing is that you're going to run into problems sending in your columns as state. This will cause the table to refresh, so it's not recommended unless you are prepared to track the state of your table at every change. Unfortunately, things are not as simple as sending in whatever props you want and then just having everything change as you would expect. The table currently manages internal

[2019-07-18 21:10] miladehghani commented on #729
I can validate this Bug too, propsUpdate event reset table states.

[2019-07-19 05:52] krsandesh opened #781 "OnRowClick navigate to details page and on returning back its not landing on same paginated page"
Hi Team,

I have enabled pagination and i am on page 2 (each page shows 5 rows).
OnRowClick i am navigating to different page and showing more details on that specific row, when i navigate back its landing on page 1.

I am using this.props.history.goBack(); to navigate back.

How can i achieve to navigate back to the same paginated page ?

Tech	Version
Material-UI	4.0.1
MUI-datatables	2.5.1
React

[2019-07-19 07:46] alexeykush commented on #773
Yes, it fixed.Thank you

[2019-07-19 08:09] gabrielliwerant commented on #781
If `this.props.history.goBack()` triggers a re-render of the component, then you should be able to re-initialize the value in a lifecycle function like `componentDidMount` or `constructor`. If not, then I would look to see if there's a way to determine that page navigation took place, and reset the value on that condition instead.

[2019-07-19 10:12] zbubric commented on #553
I can confirm this issue:
Version: 2.6.4
Codebase: own code based on seletable-rows example

Expected behavior:
click on checbox should fire onRowsSelected
click on row (anywhere beside checkbox) should fire onRowClick

Actual behavior:
if selectableRowsOnClick: true: click on checkbox or any other part of row fires onRowsSelected, onRowClick not fired
if selectableRowsOnClick: false: click on che

[2019-07-19 10:16] krsandesh commented on #781
If i use lifecycle methods that will reset my state and hence that is out of option, using OnTableChange i am getting the table details but the problem is when i navigate back to this page after onrowclick i will lose all the information. Can we some one add the page details to history ?

[2019-07-19 11:23] tony-molumby commented on #780
@gabrielliwerant Thanks for the information on columns as state.  I changed my implementation to your suggestions above and I guess it will be workable for now.  I guess I wish there was an option to allow row selection with styling without displaying a checkbox.  It takes up horizontal screen space which can be crucial with larger tables / smaller screens.  Am I missing that option?

[2019-07-19 13:14] ShaggyKris commented on #729
@gabrielliwerant sent me this email not long ago when I asked him about the issue:
<blockquote>
Ok, so there's a lot going on with this issue behind the scenes. I have a description with more information here if you're interested: /issues/679.

The short story is react can't both manage internal derived state and changes passed in via props. It's a one or the other type of situation, so there are

[2019-07-19 14:29] yvettexiao opened #782 "mui-datatables customizing number format"
Hi, I am trying to customize number format in mui-datatable by adding '%' to percentages and adding commas in numbers (e.g. 1000000 -> 1,000,000).

Is there any built-in options we can use when defining columns? Something like <Format type='percent' precision={2}/>

Thanks for helping!

[2019-07-19 17:40] gabrielliwerant commented on #553
@zbubric What you are describing is intentional behavior. A row selection is treated differently than a row click, even when the row selection is triggered by a click.

[2019-07-19 17:42] gabrielliwerant commented on #781
I think I need more information about this to be more helpful. Can you provide a codesandbox example?

[2019-07-19 17:44] gabrielliwerant commented on #780
@tony-molumby What you are describing isn't available as a default option, however, you can customize styling to create that experience if you wish. What you would need is to set `selectableRowsOnClick` and then override styles to hide the checkbox column.

[2019-07-19 17:48] gabrielliwerant commented on #782
The way to do this currently would be to use the `customBodyRender` columns option. It allows you to mutate the data to display however you wish, e.g.:

[code]

[2019-07-19 17:58] yvettexiao commented on #782
What about adding commas in numbers? (e.g. 1000000 -> 1,000,000)

[2019-07-19 19:30] gabrielliwerant commented on #782
Go ahead! You'll have to write a function that performs the transformation, but I'm sure there are a ton of examples about how to do this online.

[2019-07-20 18:06] suiteappdev opened #783 "remove toolbar with trash button when user select any row"
How to remove toolbar with trash icon when user has selected checkbox row? i dont want show this toolbar.

can any help me please?

[2019-07-21 16:22] anthomaxcool opened #784 "Update columns without refreshing data?"
I'm using the datatable in a translatable page (using react-i18next - not needed to reproduce) and I want the columns to be translated as well so I'm setting the column's label like this : `label: t('path.to.text');`. It works well, however, the columns won't re-render unless the data is empty.

I get around the problem by doing the following, but it's ugly (won't work without setTimeout) :

[code

[2019-07-21 18:18] NoMercy235 opened #785 "[Enhancement] Loading state when changing pagination"
I am facing an issue where I have to show some sort of loading state in the table while the data is requested from the server when the pagination changes (either page or items per page).

I know this is possible by controlling each row separately and showing a different UI when the request happens, but I was wondering whether or not it would be possible to expose a property on the table which coul

[2019-07-22 02:00] giancarlobianchi12 commented on #256
Thts ok ! But, if this values, as color and more, came from backend, how can I access to these values ? I can set only the value of the cell but not more data like color or other

[2019-07-22 07:38] nuprakash opened #786 "Download the data based on filtered value"
## Expected Behavior

    After the filter is done, by downloading the data only filtered value must download as CSV

## Current Behavior

   By downloading, all the data are download as CSV

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Your Environment

| Tech         | Version |
|--------------|---------|
| Material-UI  |    0.19.4     |
| MUI-datatables  |   2.4.0      |
| React        |

[2019-07-22 07:44] ruthzalo opened #787 "expand specific"
## Expected Behavior

## Current Behavior

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Your Environment

| Tech         | Version |
|--------------|---------|
| Material-UI  |         |
| MUI-datatables  |         |
| React        |         |
| browser      |         |
| etc          |         |

[2019-07-22 07:44] #787 closed

[2019-07-22 08:24] krsandesh commented on #781
@gabrielliwerant i tried to resolve my case by using Dialog react material ui component :) ..

[2019-07-22 18:35] patorjk commented on #783
You can use the "customToolbarSelect" method to provide a custom toolbar without the trash icon. I don't think you can override the "X row(s) selected" title or prevent the selected toolbar from appearing though.

[2019-07-22 19:24] gabrielliwerant commented on #784
The issue comes from maintaining all the column data/options in state. The way the table works at the moment, changes in the columns object causes a refresh of the table state, which can erase the state you're interested in preserving.

The fix is to take columns out of state and maintain only the values you wish to change in state. I've created a working example based on the example you created h

[2019-07-22 19:34] gabrielliwerant commented on #785
Hello, and thank you for your interest!

To me, it's less a question of feasibility, and more, is this something the table should be doing, or the implementer should be doing? I think the problem with adding specific implementations for a feature with something that often has a wide variety of tastes among different UI/UX people is that it will be difficult to accommodate everyone, but the feature

[2019-07-22 19:54] gabrielliwerant commented on #256
@giancarlobianchi12 You could create a separate metaData object that maps to each cell via the data index of the row:

[code]

[2019-07-22 19:59] gabrielliwerant commented on #786
Marking as duplicate as this issue has been covered in a few places and there are PRs up to address it (though they need some work before they can merged/released). You can follow along in these places:

https://github.com/gregnb/mui-datatables/issues/568, https://github.com/gregnb/mui-datatables/pull/440, https://github.com/gregnb/mui-datatables/pull/725

[2019-07-22 20:01] gabrielliwerant commented on #781
Oh great, so you got it working? If so, maybe copying an example here would help others if they run into a similar issue.

[2019-07-22 20:07] gabrielliwerant commented on #783
Yes, `customToolbarSelect` will help you with what options show in this toolbar. At this point there isn't a built-in option to remove the toolbar entirely. I'm interested in hearing the use case for not having any toolbar (e.g. how would users then take an action based on their selections?).

In any event, you can forcibly remove the select toolbar by overriding css and setting to display: none o

[2019-07-22 22:43] anthomaxcool commented on #784
Thank you this is exactly what I was look for!

[2019-07-22 22:43] #784 closed

[2019-07-23 07:46] NoMercy235 commented on #785
Hello @gabrielliwerant ! You are right. The loading workflow may see hundreds of variations between various applications, so it might not be a good idea to implement it here. I'll try to do it your way and see how the results look. 👍

Feel free to close this issue. 😁

[2019-07-23 15:02] #780 closed

[2019-07-23 15:02] tony-molumby commented on #780
Excellent, I will try that out.  Thank you!

[2019-07-23 16:47] #785 closed

[2019-07-24 04:28] aramkoukia commented on #614
Thanks, that worked for me

[2019-07-24 05:42] buddies2705 opened #788 "Row on-hover looks clickable"
For now, there is an option `rowHover` which is by default true, but that still doesn't help a new user to identify that row is clickable. How to make a row looks clickable?

[2019-07-24 07:52] gabrielliwerant commented on #788
What do you mean by "make a row looks clickable?" Are you using the `selectableRowsOnClick` or `expandableRowsOnClick` options? Nothing is clickable by default.

[2019-07-24 15:17] patorjk opened #789 "Reusable TablePagination for customFooter"
I'm looking to do a custom footer, though all I really want to do is add a "jump to page" option (maybe a dropdown or buttom that brings up a dialog, haven't decided yet). I was poking around to see if I could reuse the existing footer and just stick another component next to it, but I noticed two things:

* The footer options aren't passed to the customFooter callback. These options are needed fo

[2019-07-24 16:22] #765 closed

[2019-07-24 17:54] buddies2705 commented on #788
Sorry for not providing clarity.. I will try to explain with my requirement.

Checkout CoinCodeCap.com ..  I am using Mui-data table and rows are clickable and when you click on the row, it will take you another page.. But when you hover on the row. It won't make a "hand pointer", so row looks clickable

[2019-07-24 19:23] gabrielliwerant commented on #788
Ah, I understand now, thanks for clarifying.

So, the reason the hand pointer does not show by default is because, by default, there is nothing to click. The default hover effect is more so a user can better track which row they are looking at.

If you want to add a custom click action, as you have, then you'll also need to customize the styles to change to the pointer. If you look at the `customi

[2019-07-24 19:24] gabrielliwerant commented on #788
Just fyi, the cursor does change automatically to the pointer when using the options that make the row clickable, but the table won't know if you intend that if you are using a custom click feature.

[2019-07-24 20:17] pkmnct opened #790 "Width on custom filter component"
## Expected Behavior
FormControl should allow components to fill width
![image](https://user-images.githubusercontent.com/8972556/61825467-0a852900-ae26-11e9-8268-ab142a2c299c.png)

## Current Behavior
FormControl limits the width of components
![image](https://user-images.githubusercontent.com/8972556/61825406-f17c7800-ae25-11e9-82df-a05fe53b4e46.png)

We are using React-Select within our project

[2019-07-26 10:58] buddies2705 commented on #788
Awesome, thank you so much..

[2019-07-26 18:16] patorjk opened #792 "MuiCheckbox-colorSecondary class mistakenly applied to selectable row checkboxes"
This issue is most apparent if you use a later verison of Material UI (I know the lib currently only supports v3, but having the incorrect class may have other side effects). If you use MUI v4 and you hover over a checkbox, you see the secondary color, but when you click the checkbox, you see the primary color:

https://codesandbox.io/s/muidatatables-custom-toolbar-yv860

This mismatch is due to h

[2019-07-27 09:36] rossknudsen commented on #109
Hey all.

I really like this library and am keen to convert to Typescript.  I've already started on a [branch](https://github.com/rossknudsen/mui-datatables/tree/feature/typescript), so if you would like to review/contribute, that would be great.

[2019-07-28 14:46] devdanco opened #796 "Spanning Table: How to add attribute colSpan"
I would like to add colSpan for each column with different number. Is there a possibility in the current version ? Or I am missing something ?
Thank you very much.

[2019-07-29 04:16] buddies2705 commented on #788
Hey @gabrielliwerant, Pointer worked but How I can enable "Open link in new tab" for every row... For now, if you right-click on the pointer, It doesn't show "open link in new tab" option.

[2019-07-29 07:57] gabrielliwerant commented on #788
The "Open link in new tab" functionality is a feature of anchor links. If you want that kind of behavior for rows, you'll have to use `customBodyRender` or `customRowRender` to create a custom component for rows. You can find examples in `customize-action-columns` and `customize-rows`.

[2019-07-29 09:28] stefanspita opened #797 "Make filter data inputs be more similar to that of a form field"
Hi, I've tried looking through the open issues for filters but couldn't find anything related.

Would it not make sense for filters to accept an array of objects in the form of {value, label} where label are only used for display purposes and value would be used everywhere else (e.g. the list of filters returned in onFilterChange would have the selected values, rather than labels)

I am aware it i

[2019-07-29 20:06] sankho commented on #783
I'm on a project rn working with a design team that doesn't want this feature and is not using any filters beyond basic checkbox selection so there's no worries UX wise -- it would be useful to have a direct approach to hiding things as the ultimate UX can be beyond the ideal definition of the codebase as is IMO.

[2019-07-30 07:00] gabrielliwerant commented on #797
I think that option makes sense for the textfield version of the filter, where text is entered freely, but I'm not sure it would make sense for the others (dropdown, multiselect, checkbox) where I would expect no deviation for the name and what gets filtered.

What do you think about adding something just for the textfield option?

[2019-07-30 07:02] gabrielliwerant commented on #783
@sankho Hello, can you explain a bit more about your use case and user flow?

[2019-07-30 07:03] gabrielliwerant commented on #796
Where exactly in the DOM are you looking to add this? It's possible that `customBodyRender` will let you do what you want, as this feature allows you to send an entirely custom component in to be displayed for each cell in a given column.

[2019-07-30 07:52] saskaB opened #798 "Question: How to style expanded row?"
Hi, i'm new to React and Datatables and have trouble styling expandable rows (the text in expandable row is brekaing with every word and has no left padding: http://prntscr.com/olv159). I styled everything else in table with the help of CSS classes, but expandable rows are not assigned any CSS class.

I tried with vairations of following CSS but its not working:
td.Mui-expanded {
    background-co

[2019-07-30 10:18] phanshiwen commented on #111
This should work. Looking at the source helped me find the right identifiers
https://github.com/gregnb/mui-datatables/blob/6da45d04da214f40172fdf33b5d32e99ac75c56a/src/components/TableSelectCell.js#L35

`
    MUIDataTableSelectCell: {
      checkboxRoot: {
        '&$checked': {
          color: 'rgba(0, 0, 0, 0.54)',
        },
      },
    },
`

[2019-07-30 13:21] gnik2036 opened #799 "custom cell in table"
Hello,

I added my action buttons using customBodyRender:

[code]
And in table options, I use onRowClick to get the data (included an object of the component <ActionButtons/>) from the row clicked:

[code]
As I have 3 buttons in one cell (view, edit and delete) for each row, I need to know which button was clicked in order to perform an action to the data (call a function).

I tried using event.cu

[2019-07-30 13:58] pashpashpash commented on #315
Looks like it's still not working

[2019-07-30 14:47] patorjk commented on #799
customBodyRender takes a "tableMeta" argument as it's second parameter. This argument contains the rowData as well as a bunch of other information. Here's the description from the docs:

    function(value: any, tableMeta: {
      rowIndex: number,
      columnIndex: number,
      columnData: array, // Columns Options object
      rowData: array, // Full row data
      tableData: array, Full table

[2019-07-30 15:03] patorjk commented on #798
It looks like you may be having a colSpan issue (your data is being scrunched into 1 table cell), though without code I'm not 100% sure. I would look at the example they have:

https://github.com/gregnb/mui-datatables/blob/master/examples/expandable-rows/index.js

For styling, just add a style property to the cell. Ex:

    var myStyle = {
        padding: "10px",
        backgroundColor: "blue",

[2019-07-30 15:31] lnaia commented on #755
@gabrielliwerant I'm trying to tackle that option on #800 any feedback would be most appreciated.

[2019-07-30 15:50] devdanco commented on #796
I would like to do something like this: [Spanning table](https://material-ui.com/components/tables/#spanning-table) where you can see they are using colSpan for TableCell.

[2019-07-30 17:46] pcrane-zag commented on #375
I would find this useful as well; for a tooltip I can use `hint` but I'd like to just override the basic `Sort` tooltip and skip the icon without re-implementing the rest of the header.

[2019-07-30 18:56] gabrielliwerant commented on #798
Hello @saskaB. @patorjk may be right, but it's difficult to tell without looking at your code. We can be more helpful if you show your code for the expanded row. Or check out the example and build from that, as suggested.

[2019-07-30 19:05] gabrielliwerant commented on #315
@pashpashpash If there is an issue with the `fixedHeader` option, please open a new issue with steps to reproduce and ideally a minimal example in codesandbox for demonstration purposes.

[2019-07-30 19:08] gabrielliwerant commented on #799
Check out the `custom-action-columns` example, as it seems like your use case. `customBodyRender` contains all the information you should need to operate on your data including the `value` of the data for that cell.

[2019-07-30 19:10] gabrielliwerant commented on #755
No need @Inaia, I've already assigned myself to this issue and am working on it. It will be in the next release.

[2019-07-30 19:12] gabrielliwerant commented on #796
Have you tried the custom render features?

[2019-07-31 01:55] gnik2036 commented on #799
thank you for helping me but i'm new in react js can you provide your words with code or link for example and i'll edit on it , thank you so much

[2019-07-31 03:22] buddies2705 commented on #788
Thanks,

[2019-07-31 03:51] patorjk commented on #799
This is the example Gabriel mentioned: https://github.com/gregnb/mui-datatables/blob/master/examples/custom-action-columns/index.js

In your case, you'd want to change your code to be more like this:

       {
            name: "Action",
                options: {
                    filter: true,
                    sort: false,
                    empty: true,
                    customBodyRende

[2019-08-01 07:37] gabrielliwerant commented on #737
Should be fixed now in `2.7.0`.

[2019-08-01 07:37] #737 closed

[2019-08-01 07:38] gabrielliwerant commented on #792
Should be fixed in `2.7.0`.

[2019-08-01 07:38] #792 closed

[2019-08-01 07:39] gabrielliwerant commented on #618
Test ids added in `2.7.0`.

[2019-08-01 07:39] #618 closed

[2019-08-01 07:44] gabrielliwerant commented on #786
This functionality is now available in `2.7.0`.

[2019-08-01 07:44] #786 closed

[2019-08-01 07:44] gabrielliwerant commented on #568
This functionality is now available in `2.7.0` (See release notes for more information).

[2019-08-01 07:44] #568 closed

[2019-08-01 07:45] #774 closed

[2019-08-01 07:46] gabrielliwerant commented on #774
Closing as resolved.

[2019-08-01 07:48] gabrielliwerant commented on #758
@khalilmarzouk Test ids have been added to `2.7.0`. If there are any missing that you would like, please let me know.

[2019-08-01 07:49] gabrielliwerant commented on #755
Feature added in `2.7.0`. Let me know if this satisfies your issue. @Inaia

[2019-08-01 07:51] gabrielliwerant commented on #433
As of `2.7.0`, you can now set the expanded state of all rows in the options. See the release notes for more information.

[2019-08-01 07:51] #433 closed

[2019-08-01 07:51] gabrielliwerant commented on #518
This is now possible as of `2.7.0`. See the release notes for more information.

[2019-08-01 07:51] #518 closed

[2019-08-01 07:53] gabrielliwerant commented on #724
@pellejacobs New option was added to allow setting the expanded state of expandable rows in `2.7.0`. Let me know if this solves your use case.

[2019-08-01 07:56] gabrielliwerant commented on #349
Closing as resolved (by new feature).

[2019-08-01 07:56] #349 closed

[2019-08-01 07:57] gabrielliwerant commented on #334
Additional options now exist to determine downloaded output as of `2.7.0`. See release notes for more information.

[2019-08-01 07:57] #334 closed

[2019-08-01 08:12] yokeshwar93 opened #803 "Custom parameters/Row data in custom filter logic function"
I wanted to know if there is an option to either pass custom parameters to the custom filter logic function or get the row data inside the function.

## Expected Behavior
Pass custom parameters, to custom filter logic
Pass the rowData to the custom filter logic function
## Current Behavior
Accepts only the column data and filter value

[2019-08-01 09:42] Fabbok1x opened #804 "CustomRowRenderer using TableBodyRow"
Trying to render rows as usual, but extending TableBodyRow at the same time.
Is there any example available utilizing TableBodyRow?
TableRow furthermore has options such as options.selectableRowsOnClick,
which don't seem to be passed via customRowRender(data, dataIndex, rowIndex) => React Component.

Is there any way to achieve regular rendering using TableBodyRow via customRowRender?

[2019-08-01 09:52] nuprakash commented on #786
Ya, It's working @gabrielliwerant

[2019-08-01 10:23] Fabbok1x commented on #804
Neverminded got it going.

[2019-08-01 10:23] #804 closed

[2019-08-01 11:49] saskaB commented on #798
Thank you for your help, it worked 👍

[2019-08-01 19:32] Fabbok1x commented on #305
Problem persists in ^2.6.4.
@ShaggyKris : Could you let me know which version you are using, would be very helpful.

[2019-08-01 19:42] gabrielliwerant commented on #803
The logic function passes `(value, filters)` where the `value` is the value of the cell data being evaluated by the column and the `filters` are all of your filter options (array). That ought to be enough to create most custom filters. Is there something in particular you're looking to do?

[2019-08-01 19:58] gabrielliwerant commented on #109
@rossknudsen Thanks for taking the initiative, however, rather than convert the library to ts, I think we should actually just allow it as an opt-in feature, so non-ts people (like myself!) can continue to use it according to their preference, much the same way that material-ui handles it: https://github.com/mui-org/material-ui/tree/master/packages/material-ui/src/AppBar.

[2019-08-01 20:26] Fabbok1x commented on #729
@gabrielliwerant : Since there is tableState, is there a way to pass in tableState aswell via options for example? As this doesn't seem documented.

[2019-08-01 20:57] gabrielliwerant commented on #305
Hello @Fabbok1x. Can you please open a new issue with details about what difficulties you are encountering and a minimal code example to reproduce the issue?

[2019-08-01 20:58] gabrielliwerant commented on #729
@Fabbok1x Most of the table state can be passed in. You can find out what is available in the options in the documentation. Is there something specific you are looking to pass in but can't find an option for?

[2019-08-01 21:03] mdobroggg commented on #729
Seeing this as well. Seems to happen when I enter search text. The text immediately gets deleted.
<img width="930" alt="Screen Shot 2019-08-01 at 5 02 59 PM" src="https://user-images.githubusercontent.com/49248129/62327296-3b94d780-b47e-11e9-9b69-3d1b7d1c8fae.png">

[2019-08-01 21:48] gabrielliwerant commented on #729
Hello @mdobroggg. In order to debug this, I need to see a minimal example of your code. There are too many possibilities to determine what is causing your issue from the screenshot provided, and even whether or not it is caused by the same thing as anyone else here.

In fact, this issue was opened due to something specific occurring with meteor. I'm going to close this issue as it doesn't appear r

[2019-08-01 22:05] Fabbok1x commented on #729
It'd be great if there was a way to serialize the whole state and pass it as modified object. A example on saving the whole state and passing it would be greatly appreciated.

[2019-08-02 05:35] yokeshwar93 commented on #803
Hey,
Thanks for the reply.
I'm trying to write a custom logic for a specific column based on the value of a different column. Ex : Lets say we have three columns A, B and C and when I want to filter C I want to have two different logic based on the value of A. So If I could the tableData or the rowData that would be great.
Thanks

[2019-08-02 06:11] gabrielliwerant commented on #803
You have access to the table and row data that you pass into the table, so you could try to manage it yourself and then call up those values in the custom filters.

Adding those options to custom filters for such a specific use case is unlikely to happen any time soon, as keeping state managed within the library is complex and a source of bugs at the moment, so I don't want to expand that out just

[2019-08-02 06:35] yokeshwar93 commented on #803
I understand, I do have the table data as a whole but not sure how to get the row specific data during filtering, It would be really helpful if there any way to get that in the logic function. Sorry for the trouble

[2019-08-02 09:14] yokeshwar93 opened #806 "Filtering does not apply to expandableRows"
I'm having expandable Rows which opens on click of the Row, the columns of the expandable row is the same the main/parent row, when I apply filter its not considering the contents of the expandable rows

## Expected Behavior
Filter should take into consideration the content of expandable row also

## Current Behavior
Filter only applies to the main/parent rows

   |         |

[2019-08-02 10:43] Fabbok1x opened #807 "TableState lost during re-render."
The table state is lost during a re-render. All filters, page-rows, and other related information are reset.

Example to re-produce the issue:
[code]

Tested here:
https://codesandbox.io/embed/0ylq1lqwp0?autoresize=1&hidenavigation=1

Steps to reproduce:
Select a filter. Wait 5 seconds. -> Everything will be reset

Expected behavior:
All table state information are kept after re-render.

Note:
Thi

[2019-08-02 10:44] Fabbok1x commented on #305
@gabrielliwerant :
Yes. Submitted: https://github.com/gregnb/mui-datatables/issues/807

[2019-08-02 11:15] Fabbok1x commented on #807
After further digging into the issue getting closer to the core issue:

Adding:
[code]

while saving the state outside the component, and passing via outerState()
will lead to searchText persisting/not getting reset during a re-render.

Now the only thing I'm seeing missing is the filters.

Passing filterList/filterData/columns from outerState into options does not achieve the desired result (leav

[2019-08-02 11:35] forssellm commented on #807
Also having issues.  How can I set the tablestate?
Would like to do this:
[code]
I have a stepper with different tables and I want to keep the filtering if the user go back.

[2019-08-02 14:26] Fabbok1x commented on #807
In the source code of MUIDataTable there is interestingly an implementation of the prevState
[code]

It'd be great to have an option like "persisState" to keep the state after re-rendering.

[2019-08-02 14:37] patorjk commented on #807
I believe this is by design. The project is moving towards having the table state managed outside of the table, that way props are reflected in the table whenever the table is re-rendered (see https://github.com/gregnb/mui-datatables/issues/679). As for saving the filters, here's one possible way:

https://codesandbox.io/s/muidatatables-custom-toolbar-cxrdn

Not sure if this is the best way, I don

[2019-08-02 14:59] Fabbok1x commented on #807
@patorjk : Thanks. Now the only problem with this is if the columns are passed as props. That will automatically reset to the props on render.

[2019-08-02 15:09] Fabbok1x commented on #807
The same fix suggested by @patorjk works for the columns (code slightly adjusted to class):

[code]

[2019-08-02 18:09] Fabbok1x opened #809 "Big Memory Leak / Retained Memory"
When unmounting, and mounting the MUIDataTable, using
https://codesandbox.io/embed/q8w3230qpj?autoresize=1&hidenavigation=1
**about 1.3 mb of memory is not free'd**. This is problematic despite one-page apps and multiple mounts and unmounts.

This image illustrates the issue:
https://i.imgur.com/zLAdUbi.png

Each peak is one mount (with a previous unmount).

tableRef seems to play a role in the me

[2019-08-02 18:50] scresawn opened #810 "How to detect focused row when changed with the keyboard"
When a row is clicked using a mouse/trackpad, this can be detected using the onRowClick event. However, I don't see a similar event to detect when a user changes the focused row by using the up or down arrow keys, even though the highlighted row in the table does change. Is there a way to do this?

## Your Environment

| Tech         | Version |
|--------------|---------|
| Material-UI  |   4.2.1

[2019-08-02 18:50] Fabbok1x commented on #809
Could render it to the core of the issue.
The core of this happening is inside the render return function of MUIDataTable,
to be precise this snippet causes the memory to not get freed.

[code]

Looking further into it.

[2019-08-02 19:06] gabrielliwerant commented on #806
Not taking expandable content into account when filtering is intentional UX, as expandable content is considered ancillary content that is collapsed by default. However, there are options to add custom filter logic, so see if that helps you with your use case.

[2019-08-02 19:13] gabrielliwerant commented on #810
I don't think rows can be focused at all using up or down keys right now, so firstly, I'm not sure how you've achieved that behavior! :) But secondly, the answer right now is certainly no, since it's even possible to focus at all, as far as I can tell (except for the checkboxes under default settings).

There may be a good case for a new feature here to add such a thing, but first I'd to be sure a

[2019-08-02 19:15] gabrielliwerant commented on #810
Also, make sure you're on the latest release, as there were issues with row selection which were patched, so what you're describing as existing now might have actually been unintended behavior as the result of a bug.

[2019-08-02 19:27] gabrielliwerant commented on #807
Thank you @Fabbok1x and @patorjk for helping me to reproduce.

This is a known issue, and it is partly related to some tension in the design of the table (internal derived state vs. props, as @patorjk alluded to).

The workaround for now is to manage your own state whenever you notice an issue like this. In the case of the filters, you can manage it via `filterList` in the column options (so whene

[2019-08-02 19:32] gabrielliwerant commented on #809
Hello @Fabbok1x, thank you for looking into this.

What action are you taking to cause the table to unmount and remount? Your example just looks like a static version of the default table, so I'm unclear on the exact steps you're using.

[2019-08-02 19:38] Fabbok1x commented on #809
I'm loading some components dynamically like this:
`let { default: Test } = await import(`../../components/${loadComponentName}`);`
then rendering
<Test />

I may write a small codesandbox to illustrate the issue. I'm not yet exactly sure what causes this but the above snippet certainly has something to do with this, possibly also this line

`ref={this.tableContent}`

in the same render function,

[2019-08-02 21:07] Fabbok1x commented on #809
Came to verify the issue to some extend.

So one thing that is safe to say is that something within styled.js is causing the RAM leak.

Modding TableToolbar to not use the styled HOC will definetly resolve the leak.

Didn't have enough time to dig into what's exactly causing this within styled, however disabling the HOC and removing the classes does seem to do a sufficent job for me at the moment.

[2019-08-04 04:28] rossknudsen commented on #109
@gabrielliwerant sure fair enough.  I feel like I'm the opposite way around, a TS person, not JS!

I'm not sure if your comment that 'non-ts people can continue to use it' implies that TS libraries cannot be used in JS projects or not.  But if you are implying that, then I just wanted to make the comment that TS projects can be consumed by JS only projects - since they are compiled down to JS in t

[2019-08-05 06:40] Ainnop commented on #126
Does not work with remote data, the column checkbox disappears but the checkboxes on the rows still appear
![image](https://user-images.githubusercontent.com/8756573/62444011-0c73b400-b765-11e9-89ec-83f9744fd492.png)

[2019-08-05 09:49] stefanspita commented on #797
Hi Gabriel,

Thanks for your reply. I'm sorry if I've not explained my ideas properly before. There are 2 changes I'd be interested in making and I think I mangled them into one. So I'm only gonna tackle one of them here and later open up a new ticket for the second one.

Rather than just expanding the API of the TextField filter, I'd rather keep the the filters API consistent across all of them.

[2019-08-05 12:25] AlexFenoul commented on #126
selectableRows: 'none' seems to works

[2019-08-05 12:39] Ainnop commented on #126
@AlexFenoul , selectableRows: 'none'  works perfectly. Thanks.
Do you have and idea on how fix the issue of when columns are many and the table looks distorted, I have tried using responsive: 'stacked' but does not work. look at the table below:

![image](https://user-images.githubusercontent.com/8756573/62465253-20380e00-b797-11e9-9251-c06e4ecda715.png)

[2019-08-05 12:54] AlexFenoul commented on #126
I don't really know, did you try to use responsive: 'scroll', i never had this problem 🤐

[2019-08-05 13:07] Ainnop commented on #126
Yes I tried that too but failed, I wonder if there is a way to fix this issue, it seems the table has a fixed width

[2019-08-05 14:14] scresawn commented on #810
That's interesting. And for what it's worth, I can't reproduce the behavior myself. I'll go ahead and close this now.

[2019-08-05 14:14] #810 closed

[2019-08-05 15:40] farodrig opened #811 "disable escape key behaviour"
Is there a way to avoid closing the search input when I press escape key?

I can't figure out a workaround to disable this behaviour.

[2019-08-05 18:28] gabrielliwerant commented on #126
@Ainnop It looks like you are overriding things in a way that is getting you into trouble. If you look at the `custom-action-columns` example, you'll see how the table looks with many columns, some of which are used for buttons.

[2019-08-05 18:31] gabrielliwerant commented on #811
There isn't a way to disable this at the moment. Is there a good reason to disable this behavior? Seems like appropriate UX to me, but maybe I'm missing something.

[2019-08-05 18:44] farodrig commented on #811
I'm customizing the search behaviour for my app and the escape key breaks it.

So I wanted to know if there is a way (workaround) to disable it.

I think it may be a appropriate UX in the general case but not necessarily in a customized scenario.

Anyway, thanks for your answer :)

[2019-08-05 18:51] gabrielliwerant commented on #811
Sure, no problem. It's possible that such an option can be incorporated here https://github.com/gregnb/mui-datatables/pull/771. I will think on it.

[2019-08-05 18:57] farodrig commented on #811
Thanks :)

[2019-08-05 18:57] #811 closed

[2019-08-05 19:07] gabrielliwerant commented on #797
Hello, thank you for attempting to clarify.

I think as far as this issue goes, I'm still trying to wrap my head around the use case a bit. The way that `filterOptions: { names }` works now, is that the values underneath do not change, and remain the data passed into the table, but it provides the ability to change the names that display in the filter.

If you are looking to change the values, tha

[2019-08-05 19:10] gabrielliwerant commented on #797
It also occurred to me just now, that another point of confusion might be the actual fields that the table renders. It's using material-ui's "dropdown" which behaves differently from the "select" element, though they can be used the same way. If you want to use "select" elements instead, you can do this with the `filterOptions: { display: Component, logic: Function }` options.

[2019-08-05 19:11] bennidi opened #812 "Column rendering layout broken with small screen size"
When I reduce the screen size such that breakpoint `xs` is hit, then the table rendering seems broken. The column header renders into each row (see attached screenshot). This may be due to some CSS issue in my project (I have forked the project from an existing template and don't yet know my way around yet).
Still, I believe it is all fairly standard and such a behavior should not be caused by out

[2019-08-05 19:20] gabrielliwerant commented on #812
Hello @bennidi. It's hard to say at this point where the issue is, as I'd need to know more about your table options and code. Are you able to reproduce this issue from one of the examples in the project? You could take a simple example, add it to a codesandbox, and then progressively add features from your own project until it breaks. If you can do that, I would be happy to take a look.

[2019-08-05 19:33] bennidi commented on #812
Yes, the code is taken from the example in main README.md. I just render it within the layout of my app.

[code]

[2019-08-05 19:36] bennidi commented on #812
The same happens when exporting to pdf. Even with wide screen size and correct rendering in the browser, the generated pdf shows the same issue of column headers leaking into each row

[2019-08-05 19:38] bennidi commented on #812
I don't think that I can isolate parts of my project setup and build a trace of when the app breaks the table. I wouldnt know where to start and it seems quite a bit of work. Have you ever seen this behavior before?

[2019-08-05 19:47] phillipDarby opened #813 "^2.4.0 when reinstalled pulls 2.7.0 which has breaking api changes"
## Expected Behavior
the api should remain the same on a minor version increase otherwise change to a major version if the api is different

## Current Behavior
with select rows disabled it enables when updated to 2.7.0 and the way i have it coded works perfect on 2.4.0, there are other bugs too like now on some pages i get filter undefined but works fine in 2.4.0

## Steps to Reproduce (for bugs)

[2019-08-05 20:18] gabrielliwerant commented on #812
Unfortunately, I can't be of much help without seeing and interacting with your code. There are too many possibilities. Unless you can show a simple example that breaks, there is a good chance that the issue is not specifically in the library, but in the way it is being utilized in your project.

[2019-08-05 20:29] gabrielliwerant commented on #813
Hello @phillipDarby. In order to address your issues, I would need specific tickets with steps to reproduce and/or code examples I can run. If you can provide that, I will look into the issues.

New features are allowable in minor version updates, as long as they are backwards compatible, which I do my best to ensure. It's always possible that I made a mistake, which is why I would like to learn m

[2019-08-05 20:34] phillipDarby commented on #813
here is an example of one of the components
`import React, { Component } from "react";
import withAuth from "../../auth/withAuth";
import { withRouter } from "react-router-dom";
import { connect } from "react-redux";
import IconButton from "@material-ui/core/IconButton";
import Button from "@material-ui/core/Button";
import MuiThemeProvider from "@material-ui/core/styles/MuiThemeProvider";
import

[2019-08-05 20:37] phillipDarby commented on #813
here is an example code:
[code]

[2019-08-05 20:40] phillipDarby commented on #813
so selectable rows should be `'none'` instead of `false`

[2019-08-05 20:53] gabrielliwerant commented on #813
Yes, that is correct regarding `selectableRows` (`'none'` is correct). Does it fix your issue if you make that adjustment?

Perhaps I should have been more clear in the release notes that I was plugging that particular hole. Or, since I knew people were using it, perhaps it would have been even better to add console warnings/errors for the incorrect option. I will consider adding that to help peop

[2019-08-05 21:02] phillipDarby commented on #813
yes that fixes that issue the other one about filter being undefined i suspect has to do with this area
[code]

or this area

[code]

[2019-08-05 21:05] phillipDarby commented on #813
or this area on my fetch
[code]

[2019-08-06 05:55] Ainnop commented on #126
@gabrielliwerant I used the same example to come up that, but when i add just 2 or more columns to the **custom-action-columns** example, the table still looks distorted, I tried using **responsive: 'scroll'** but it only scrolls vertically, I thought maybe it would scroll the table horizontally and auto resize the columns, none of what i expected worked.
![image](https://user-images.githubusercon

[2019-08-06 06:34] gabrielliwerant commented on #126
@Ainnop So, first order of business, can you create a new issue for us to track the discussion? I think it's misplaced here.

Secondly, can you add your example to https://codesandbox.io, so I can tell we're looking at the same thing, including version of libraries being used? I'm unable to verify the issue based on your code, so it could be a version issue, but I have no way to tell at present.

[2019-08-06 06:59] svendeckers commented on #126
@Ainnop Try lowering the padding on the columncells:
[code]

[2019-08-06 09:47] bennidi commented on #812
Understood. Was just giving it a try since it might have been a known issue.

[2019-08-06 09:47] #812 closed

[2019-08-06 16:48] patorjk commented on #679
@gabrielliwerant Any updates on the status of the refactor? I'm curious what the new API will be like. I find myself in the boat of wanting to externally control certain information, yet I like the idea of the table keeping internal state on things I don't want to manage. I had an idea for one possible API that could allow for the best of both worlds. It would take a cue from Hooks. Options could

[2019-08-06 19:16] terraswat opened #816 "on custom filters, chip always displays"
When there are custom filters the chip always displays. When the X on the chip is clicked the filter does reset, but the chip remains.

Thank you for the awesome component! ❤️

## Expected Behavior
I expect the chip to disappear when its X is clicked with custom filters.

## Current Behavior
The chip does not disappear when its X is clicked with custom filters.

## Steps to Reproduce (for bugs)
Us

[2019-08-06 20:08] gabrielliwerant commented on #816
Hello @terraswat. Unfortunately, I can't verify the issue because your code contains a number of variables that I don't have. Can you provide a more complete example, ideally in https://codesandbox.io, so I can be sure we're looking at the same thing?

[2019-08-06 20:34] gabrielliwerant commented on #816
Ok, so I messed around with the code, and I think I know the issue, although I'm not sure it's a bug.

The `customFilterListRender` is doing exactly what you are telling it, which is to always return the string `'Filter On'`. This means it will always display that, no matter if you have a filter value or not. What you'd need to do is add something like

[code]

That way the custom filter will not

[2019-08-06 20:46] gabrielliwerant commented on #809
It will be difficult for me to isolate without an example I can continually use to check the problem. If it's specific to dynamically loaded components, that seems far enough away from traditional use cases, that it might be hard to pin the problem entirely on this library. So I'd need either a reproducible example or something where it's an issue without the dynamic loading.

[2019-08-06 21:12] terraswat commented on #816
Thank you Gabriel. I tried this but it only effects the visibility of label and not the visibility of the chip. With the filter off the chip displays as:
<img width="55" alt="Screen Shot 2019-08-06 at 2 10 57 PM" src="https://user-images.githubusercontent.com/1297931/62577574-158f7e80-b854-11e9-8137-260934513c92.png">

[2019-08-07 02:43] gabrielliwerant commented on #816
Glad that worked for you!

As to your other question, yes there is, but it involves managing the state of the filterList, like in this pseudo code:

[code]

[2019-08-07 05:38] PovilasSlekys opened #817 "rowsSelected does not work in version 2.7.0"
Updated from version 2.6.2 to 2.7.0 to find rowsSelected does not work as before.

## Expected Behavior
In 2.6.2 providing rowsSelected would select the provided rows when rendering the datatable.

## Current Behavior
In 2.7.0 the provided rowsSelected option is ignored and no rows are selected.

Minimal code example for reference:

https://codesandbox.io/s/muidatatables-example-1p637

[2019-08-07 07:23] gabrielliwerant commented on #817
Yes, there is a regression here, thanks for point that out! I will work on a fix.

[2019-08-07 07:50] gabrielliwerant commented on #817
The issue should be fixed here https://github.com/gregnb/mui-datatables/pull/818 and will be in the next release. Until then, if you want to upgrade to the latest version immediately but have working behavior with this feature, then you can supply the `selectableRows` option in your options object. The bug only exists when none is specified.

[2019-08-07 10:08] mamislimen commented on #788
@gabrielliwerant please can you help me
 i need to run a function on hover for each row , how i do this ?
i don't have onhover function

[2019-08-07 10:33] hutsalo-ol-ma opened #819 "Static `if` statement. Perhaps compare to `status` was intended"
https://github.com/gregnb/mui-datatables/blob/6740f71c14fcbda2e20ef0a358aca3e81d19e1b3/src/MUIDataTable.js#L499

[2019-08-07 12:56] kumargugloth opened #820 "Unable to Scroll Smoothly"
i have  one month data. for every day i was creating a New Table For that But  Iam unable to scroll smoothly
Any idea is why is it happening like that?

[2019-08-07 15:11] laurexas opened #821 "mui-datatable doesnt rerender when component renders"
## Expected Behavior
Table should rerender and set it's "data" prop to its component state after rerendering component.

## Current Behavior
i have mui datatable component which renders a table with data from remote api. First component fetches data from api in componentDidMount lifecycle method and then set's that data to components state and renders table with all the columns and data which it g

[2019-08-07 18:29] mib00038 commented on #595
Just wrap the ToolTip in a div.

[2019-08-07 19:30] EduVencovsky commented on #449
How did you solved this? What do you mean by `I needed to embed customBodyRender in options object` ?

[2019-08-07 20:54] gabrielliwerant commented on #788
@mamislimen You can provide this functionality in a similar manner, by using custom components with `customBodyRender` and/or `customRowRender` and then providing components with `onMouseEnter` and `onMouseLeave` event handlers.

[2019-08-07 20:55] gabrielliwerant commented on #819
I see your point. Thanks for bringing that to me attention, I will take a look at it more closely.

[2019-08-07 20:56] gabrielliwerant commented on #820
Hm, I haven't experienced that on my end, so in order to debug your situation, I'd need to see your code or a reproducible example, ideally in a codesandbox so I can be sure we're looking at the same thing.

[2019-08-07 21:00] gabrielliwerant commented on #821
There are some known issues with handling all your column data in state. What I would do is try instead  have a column object in your render function, and only updating via state that parts of the column object that need to be updated/changed. Give that a try and see if it works for you.

[2019-08-08 07:25] laurexas commented on #821
@gabrielliwerant thank you so much  it works perfectly now :), but is there any other solution? because i made my own functionality which requires cellClicking and updating column state on click..

[2019-08-08 09:08] mamislimen commented on #788
ok thanks

[2019-08-08 09:31] gabrielliwerant commented on #821
Not at the moment. You should still be able to add a cell click function which changes column state, as long as it's managed separately and bound to the column.

[2019-08-08 10:06] laurexas commented on #821
seems that i can't reach column.options.filterList property in that way :/

[2019-08-08 10:27] gabrielliwerant commented on #821
Sure you can. There's nothing preventing you from doing so in the library that I can see. I recently built this out myself to experiment with something. In pseudocode:

[code]

If that doesn't work, feel free to load up a minimal example in codesandbox, and I'll take a look.

[2019-08-08 11:23] GeeWee commented on #261
This seems to have been fixed.

[2019-08-08 11:23] GeeWee commented on #246
This has been fixed in the alter versions.

[2019-08-08 13:25] laurexas commented on #821
@gabrielliwerant thank you for you help, i made it working just like how i needed altho i feel my code can mess up if something goes wrong, because i made my table  more dynamic by iterating through large data set and returned columns instead on staticaly setting it in state and all that, and i think it would be much easier if onCellClick could return column name. I will attach example of my code

[2019-08-08 14:29] ydjyos opened #822 "How to prevent re-render after click on custom column buttons"
Hello,

This is an awesome package that have been very helpful for me and a true time saver (so thanks ! )  but I have an issue with the table re-rendering on click on buttons.

I have a column with customBodyRender containing a button for downloading a file.  On click on this button the state value  "isLoading"  is set to true  in order to display a loading spinner.
The table data  is not at all

[2019-08-08 17:42] kumargugloth commented on #820
i have 30days data for that iam looping it so it is basically 30 tables  will it cause an issue ??

[2019-08-08 19:01] gabrielliwerant commented on #822
Hello @ydjyos. It's difficult to tell without seeing your code, but you be having the same issue described here https://github.com/gregnb/mui-datatables/issues/807. I will mark as duplicate for now, but if you can demonstrate it's different, I'll reevaluate. Assuming it's the same problem, I give the solution at the bottom of the linked issue.

[2019-08-08 19:05] gabrielliwerant commented on #820
It is 30 separate tables on the same page? If so, I've never attempted such a scenario, so it's difficult for me to say what might be happening. It may be that you have so many elements on the page (also depending on how much data each table has) that you're simply running into performance/memory constraints.

As a way to test this, I would try rendering only a few tables and see if the issue pers

[2019-08-08 19:56] gabrielliwerant commented on #821
The issue with returning specific column data is that it would then need to include all column data, as you may be looking for name, but someone else might want label, etc. And then it would have to remain up to date whenever new options are added and that all the relevant data can be accessed by the internal table state, which is not a given, and is a source of bugs.

Given all of that, my strong

[2019-08-08 23:27] OrionLayton commented on #43
Is there any way to include a column in the table, but set it to 'unchecked' by default in View Columns? I'm trying to conserve space on initial display but give the user the option to see more.

[2019-08-09 03:37] ntt2k commented on #804
@Fabbok1x Hey, how do you figure out this problem?
I'm trying to achieve regular rendering using TableBodyRow via customRowRender because only certain data requires custom render? Please advise?

[2019-08-09 05:31] #790 closed

[2019-08-09 05:31] #817 closed

[2019-08-09 05:51] gabrielliwerant commented on #762
Should be resolved in `2.8.0`.

[2019-08-09 05:51] #762 closed

[2019-08-09 05:51] gabrielliwerant commented on #605
Should be resolved in `2.8.0`.

[2019-08-09 05:51] #605 closed

[2019-08-09 05:54] gabrielliwerant commented on #350
This behavior should be possible in later versions (`2.8.0` as of writing this). Closing this as resolved!

[2019-08-09 05:54] #350 closed

[2019-08-09 05:55] gabrielliwerant commented on #608
The ability to add a custom search bar is now available in `2.8.0`. See documentation or release notes for more information.

[2019-08-09 05:55] #608 closed

[2019-08-09 05:56] gabrielliwerant commented on #510
I believe this issue was resolved, so closing this unless there is an example which demonstrates otherwise.

[2019-08-09 05:56] #510 closed

[2019-08-09 05:56] gabrielliwerant commented on #91
The ability to add a custom search bar is now available in `2.8.0`. See documentation or release notes for more information.

[2019-08-09 05:56] #91 closed

[2019-08-09 06:38] georgezee commented on #43
@OrionLayton - yes, setting the column property `display: false` will hide the column from the table initially, but still allow it to be selected from the View columns list.

[2019-08-09 06:43] laurexas commented on #821
I get your point, but hey thank you again for helping me out,  problem was solved so there is no reason to keep this topic open. :)

[2019-08-09 06:43] #821 closed

[2019-08-09 07:11] suren1525 commented on #759
Is there any news?

[2019-08-09 07:13] JReinhold commented on #759
@suren1525

I'm not working on this currently, and I don't believe anyone else is.

[2019-08-09 08:22] suren1525 commented on #759
@JReinhold

Thank you for your prompt reply.

[2019-08-09 09:10] ydjyos commented on #822
Hi,
Actually, for me it is not the issue of saving the sorting options and the filters , it's more about preventing unnecessary renders of the table if the data is not updated.

So this is my code for the dashboard component containign the MUIDataTable (I tried to remove irrelevant code )
[code]
I've implemented a new version of this code where I encapsulate the MUIDataTable in another component w

[2019-08-09 09:21] Fabbok1x commented on #804
using customRowRenderer in the options will work (basically), then you will need to extract the relevant parts (render) from TableBody and do some modifications to have the passed objects suit the class. What I didn't get working is however some bound functions as isRowSelected because the props in there won't be available in the class that you're gonna define it in.
There is for sure a fix possib

[2019-08-09 09:34] buddies2705 commented on #788
I am trying CustomRowRender but having problem with CSS... Is there any full example which I can follow?

[2019-08-09 11:46] buddies2705 opened #823 "Link not working in customRowRender"
Problem - Link is not clickable (See CoinRow component)

<Removed unnecessary code>

[2019-08-09 15:18] OrionLayton commented on #43
Columns with `display: 'false'` are indeed initially hidden and 'unchecked' in the View Columns list, but their checkboxes do not respond to clicks, and the columns do not display upon clicking the checkbox. Columns that are initially visible do respond to checking/unchecking in View Columns.

I am running @material-ui/core and icons 4.2.x, newer than the 3.x required by mui-datatables, so I wonde

[2019-08-09 17:09] pellejacobs commented on #724
@gabrielliwerant , I just tested in in a codesandbox, use the [expandable rows example code ](https://github.com/gregnb/mui-datatables/blob/939fb00edd510675bf9693826bad8332a20df9d0/examples/expandable-rows/index.js), works like a charm.

Really impressive, thanks!

[2019-08-09 17:09] #724 closed

[2019-08-09 18:32] gabrielliwerant commented on #759
I'll take this on for the next release.

[2019-08-09 18:47] gabrielliwerant commented on #823
There is a lot going on here, can you strip this down to a minimal example that demonstrates something incorrect with that table, and then post it to codesandbox so that we're on the same page with dependencies and everything else?

If I take an existing example from the examples section of the codebase, say `customize-filter`, and I add `customBodyRender: value => <td><a href="http://google.com">

[2019-08-09 18:53] gabrielliwerant commented on #43
It should work @OrionLayton. It could be your version. If you can post a simple example to a codesandbox, it would make it easier to see what is going on.

[2019-08-10 05:28] xXJayDoeXx opened #826 "Can I have 2 or more mui datatables on the same page?"
Basically, I am working on a dashboard in which users can manage products listings and variations. I want to have to use mui-datatables for both of them and they can sometimes be on the same page.
I noticed that each row on the table has in id format of "MUIDataTableBodyRow-{rowIndex}" so I was wondering, if I have 2 tables, will the ids conflict because some of my operations involves getting the

[2019-08-10 06:18] buddies2705 commented on #823
Hey @gabrielliwerant sorry for being inconsiderate.

I stipped everything but seems customRowRender not working.

https://codesandbox.io/embed/muidatatables-custom-toolbar-zfbsi

[2019-08-11 21:43] gabrielliwerant commented on #826
You should not have a problem pulling the specific rows from each table as you perform functions within each of those tables. I've used this library to construct pages that had more than one table and did not have any issues.

[2019-08-11 22:07] gabrielliwerant commented on #823
Thank you for posting the example. In your example, your version of mui-datatables is too low. `customRowRender` was not available as a feature until `3.2.0`.

[2019-08-12 02:46] buddies2705 commented on #823
I am using 2.8.0 (This is the latest version correct?).. I think I narrow down the problem, Somehow <Link> is not working but <a> is working.

https://codesandbox.io/s/muidatatables-custom-toolbar-lh444

[2019-08-12 03:10] patorjk commented on #809
I decided to take a look into this and I noticed a few things:

* styled.js is only used in one file: TableToolbar.js
* It is not needed in that file. The check that occurs (checking if props.options.responsive is true) should always be true per the valid values of "responsive" in the documentation ("stacked" and "scroll").

I've put in a PR that refactors TableToolbar to use withStyles instead of

[2019-08-12 05:17] gabrielliwerant commented on #823
Oops, I should have said `2.2.0` above. Yes, now you have the correct version of mui-datatables, but your version of material-ui is too low. You need a version of material-ui that supports the `Link` component. You can either upgrade material-ui until it works, or you can use anchor tags instead and it will work on a lower version.

[2019-08-12 10:07] laurexas opened #830 "doesn't delete row onRowDelete cb function"
## Expected Behavior

when calling onRowDelete selected row should be deleted in UI.

## Current Behavior

Hello, didn't see anyone else had the same problem besides me so i noticed a problem when calling onRowDelete callaback function..When row is selected and deleted call back function onRowDelete is called which calls redux action in store/actions folder in my code to delete specific index from

[2019-08-12 15:29] emil-alexandrescu commented on #790
@pkmnct How did you solve overflow issue?

[2019-08-12 16:39] gabrielliwerant commented on #830
If the problem doesn't exist prior to adding redux, then it's likely that the issue lies in the redux implementation somewhere. In testing this locally, I can't find an issue function itself (though that doesn't mean it isn't there).

What I would do is create the simplest table example that works and then slowly add code until it breaks. At that point, if you post it to a codesandbox, I can take

[2019-08-12 17:31] patorjk commented on #809
I can confirm this memory leak.

I was able to re-produce this in my work environment and have created a sandbox the simulates the problem:

https://codesandbox.io/s/muidatatables-custom-toolbar-5o1hr

Here's how to re-produce the issue:

* The table in the sandbox does NOT have a toolbar. It appears or disappears every 5 seconds.
* Open Chrome Dev tools
    * Select the Memory tab.
    * Select t

[2019-08-12 21:31] patorjk commented on #822
@ydjyos Looking at your code, it looks like toggling the value of isLoading would cause the datatable to be unmounted from the DOM. It's not clear how your workaround works. I built a small codesandbox that mimics the idea:

https://codesandbox.io/s/muidatatables-custom-toolbar-dv8xb

But as you can see, the filters are still reset.

To avoid the re-rendering issue, you could keep the datatable mo

[2019-08-13 03:19] pkmnct commented on #790
@emil-alexandrescu https://github.com/gregnb/mui-datatables/pull/791#issuecomment-515504268

[2019-08-13 07:19] laurexas commented on #830
got it, ill try to reproduce my code  example in sandbox and will look for errors.

[2019-08-13 08:25] forssellm commented on #734
@gabrielliwerant  is it possible to group the columns by a "theme" lets say
**Cars**
- Basic info
- Technical specification
- Gadgets

And then have a "show/hide all" button next to different headers? Lets say I only want to see the columns about gadgets?

[2019-08-13 10:57] twawszczak commented on #679
@gabrielliwerant I also would like to ask about status of changes. ;-) One more thing - is typescript support a part of refactor? Currently typings are handled by independent repository, so these are outdated in many cases. :(

[2019-08-13 13:01] mikroware commented on #400
I am using `setCellProps` on the column options for this as Material-UI `TableCell` already provides a prop `align="right"`. However this does not set any cell props for the header.

I would like to align the header cell also on the right without customizing its content. Because Material-UI already provides the align option, it seems weird to have to implement it myself.

Maybe it is a good idea t

[2019-08-13 14:50] patorjk commented on #809
Sorry for posting on this so much. I've updated the example in my previous comment to be more clear (ie, you need to select a particular VM or you won't see the memory leak). The example in my PR is a little more straight forward, but confusingly it requires the selection of a different VM - I'm guessing codesandbox sets up the VMs differently when you create a sandbox from a repo.

You'll know yo

[2019-08-13 16:16] gabrielliwerant commented on #822
Good call @patorjk.

@ydjyos I would use one return statement for your component in the render function, only, and use if clauses to determine what displays instead.

[2019-08-13 16:41] gabrielliwerant commented on #679
@patorjk Having developers pass in their own update functions is exactly the idea I had in mind for solving many of the issues.

Unfortunately, it's been difficult to find a lot of time for a major refactor while keeping up with other things. What I may begin to do, is instead of a single refactor with a lot of breaking changes, I may slowly add the functions and deprecate older APIs as an ongoing

[2019-08-13 17:14] gabrielliwerant commented on #400
@mikroware `setCellProps` works, the problem is that you are looking at a version of material-ui that is higher than is used by the project, and the API is different. You need the old `numeric: true | false` option.

[2019-08-13 17:51] mikroware commented on #400
Hmm maybe I was not clear. `setCellProps` actually works, but there is no way to do the same for the header cell of that column.

[2019-08-13 19:08] gabrielliwerant commented on #400
Have you tried `customHeadRender` in the column options?

[2019-08-13 19:47] serenamorena opened #831 "Can't filter objects"
Thanks very much for creating this library.
In my code, one of the columns receives an array of objects. I use customBodyRender to render the data as desired, problem is neither filtering nor searching works on this column because it parses the data as [Object object]. I tried converting the object property I want to display into an array of strings and I can't still filter nor search that column.

[2019-08-13 19:53] mikroware commented on #400
Using `customHeadRender` seems to mean I have to re-do the whole cell component myself in order to keep the layout the same as the rest. This looks like a lot of unneeded work when I only want to add one prop to the underlying Material-UI `TableCell` just as with regular columns (`cetCellProps`).

[2019-08-14 02:43] juddey commented on #298
Closing this as I've installed the latest version (2.8.0) and this behavior has disappeared.

[2019-08-14 02:43] #298 closed

[2019-08-14 03:27] gabrielliwerant commented on #831
I might be missing something, but it doesn't look like you have any values to map over in your custom render function, if the data you're passing in is `schools`. I might need to see the whole running example in a codesandbox.

Also, are you saying that the example doesn't work for you when you run it locally? If so, that sounds like you're version is incorrect, as I do not experience this issue.

[2019-08-14 13:47] ydjyos commented on #822
Thanks for your suggestions.  I'm not sure that this issue is about isLoading or isExecuting  toggIing. I will try with only one return statement  and update the post.

[2019-08-14 15:56] pkmnct commented on #665
@gabrielliwerant We were also interested in adding a confirmation dialog to the onRowsDelete function, but ran into similar issues. One possible solution would be to allow onRowsDelete to be an async function. This would allow us to do logic regarding the delete, and return true or false from onRowsDelete when we actually know if the row has been deleted or not.

[2019-08-14 16:10] SiriLivtar commented on #9
hi @gregnb.
First of all, thank you very much for the component. I am trying to change the search icon. I am trying to load my own SVG.
Is there any functionality to do this?

regards
luis

[2019-08-14 16:47] GusRodriguezM opened #834 "Problems with the csv file downloaded on Windows."
The option to download the csv file doesn't work well in Windows 10 with the default browsers.

## Current Behavior

The option to download the csv file is working fine in Debian 9 but when i test the same function on Windows 10 the downloaded file doesn't recognize special characters (accent marks) and also when i do it in Microsoft Edge the file is downloaded without an extension.

So, i have so

[2019-08-14 16:50] pkmnct commented on #665
@gabrielliwerant I've made a PR that allows an async onRowsDelete. This shouldn't affect functionality if onRowsDelete isn't async. https://github.com/gregnb/mui-datatables/pull/835

[2019-08-14 17:32] gabrielliwerant commented on #665
@pkmnct Hm, I hadn't considered this in terms of async, as that seems like a good solution. It's a little bit of a blurry line in that, if you really need a lot of custom functionality with delete, it's probably better to supply the entire delete functionality yourself via `customToolbarSelect`. But I understand that's much more work, so this may be a good solution. Will take a look.

[2019-08-14 18:19] frahman5 commented on #755
@gabrielliwerant I am trying to use `rowsExpanded` but it does not work on my machine. Using version `2.8.0`. One thing to note is that the type definition for options in the accompanying `index.d.t.s` file doesn't have a `rowsExpanded` in the interface for `Options`. Is this perhaps a bug?

[2019-08-14 18:49] snsheth55 commented on #170
Hello,

I am having a similar issue where I have many columns in the table and when I make the screen smaller the table does not shrink unless I remove columns.  On the other hand when I extend the screen to xl and up its keeps growing with the screen size. I'm trying to get the table rows to always remain in one line and when the window shrinks the table shrinks along with it and the horizontal s

[2019-08-14 20:20] gabrielliwerant commented on #400
@mikroware That's correct, it's more effort, but at least for the time being there is a way for you to proceed. It sounds like you have a request for something like `setCellHeaderProps`, which I think is reasonable. If you would like, you can open up a new issue as a feature request so we can discuss and track it.

[2019-08-14 20:38] gabrielliwerant commented on #755
@frahman5 This project does not officially support ts, so any ts support is supplied by users via the definitely typed project (so, not a bug,technically). I'm going to close this particular issue as resolved, but feel free to open a new issue if you have a bug to report, ideally with a minimal example written in js and added to a codesandbox so I can interact with it and we can be sure we're look

[2019-08-14 20:38] #755 closed

[2019-08-14 20:41] gabrielliwerant commented on #170
Hello @snsheth55. I think I need more information about this, as I'm not sure what you mean by "get the table rows to always remain in one line." Feel free to open a new issue with a minimal codesandbox example and perhaps a screenshot showing what you are trying to achieve.

[2019-08-15 15:31] skalma commented on #713
searchText has been added to MUIDataTableOptions and the value custom has been added to FilterType variable in the types definition for mui-datatables, see version 2.1.5 in [https://www.npmjs.com/package/@types/mui-datatables]

[2019-08-15 18:05] maitedev opened #839 "how to take rowData and pass it to dispatch function"
I want to store the selected item using Redux.
I am using the onRowClick property, to move to the next component that should show me the information of the item selected, but I don't know how to use the dispatch function and how to capture rowData and pass it as payload. Thanks in advance and thank you for this excellent compoennt.!
..
render() {
    const columns = [
      { name: "name", label:

[2019-08-15 19:51] patorjk commented on #834
It may be an Excel thing. If you open the CSV in notepad, are the characters there? I just tried with Chrome and Firefox on Windows 10 and it works (both also correctly save with a CSV extension), though the characters in question do show up weird in Excel. However, they appear correct in Notepad. Can't test with Edge unfortunely.

[2019-08-15 20:20] GusRodriguezM commented on #834
Thanks for testing the issue. The characters shows correctly if the file (without extension) is opened in notepad or sublime but in excel are still there. I think excel doesn't recognize the encoding of the component.

[2019-08-15 20:36] patorjk commented on #834
I decided to do some digging and it looks like Excel will won't open the file with a UTF-8 encoding unless a BOM character is found at the beginning. I made a modified version of the repo and adding the BOM character fixes the issue for me:

https://codesandbox.io/s/mui-datatables-jckqv

However, I don't know if this character negatively impacts how other spreadsheet programs interpret the CSV fil

[2019-08-15 21:26] patorjk commented on #834
I think I figured it out. Add an onDownload method to your options object that looks like this:

      onDownload: (buildHead, buildBody, columns, data) => {
        return "\uFEFF" + buildHead(columns) + buildBody(data);
      }

That'll add the BOM. It can't be added by default because it messes up other spreadsheet programs.

[2019-08-16 07:04] gabrielliwerant commented on #839
The short answer is that you need to fire `onStoreSelectedUser` from `onRowClick` and pass it whatever you want.

Redux can be quite complicated, and this seems like a redux issue, so I'm not sure that this is the best forum for your question. It's probably going to be more helpful for you to seek help from redux-specific forums or stack overflow questions. As such, I have to mark this as invalid

[2019-08-16 09:28] MellowoO opened #840 "[QUESTION]: Is there any way to set initial sort/page/filter?"
I didn't find any way,  to set initial config in the table, except for the use of custom renderer.
Is there more easy and clear solution ?

| Tech         | Version |
|--------------|---------|
| Material-UI  |      2.8.1    |
| React        |      16.9   |

[2019-08-16 12:04] maitedev commented on #839
Thanks for answering Gabriel !! 
let's forget Redux
How can I pass the data of the selected row to the other component?
onRowClick: (rowData) => this.props.history.push ('/ user / create', rowData)

Is this the right way?

[2019-08-16 13:08] maitedev commented on #839
Another question, I need to move on to the next component and also fire my redux function if I do this ..
      onRowClick: () => this.props.history.push ('/ user / create'),
     onRowClick: (rowData) => this.props.onStoreSelectedUser (rowData)
He gives me the following warnings:
Line 51: Duplicate key 'onRowClick' no-dupe-keys

[2019-08-16 15:07] janakprajapati opened #841 "One expanded row at a time"
Hi,

I looked into the doc and existing issues but, I haven't found a way to implement the Expanded Rows where only one row will be in expanded state. If we select any other row, the previous row collapse automatically.

I checked the rowsExpanded option but, I do not see any event callback like onRowExpand OR a way to change the state of the other row's expanded state.

If this is possible with c

[2019-08-16 15:34] maitedev commented on #839
Thank you very much Grabriel for answering!
It works for me correctly, I just had to do this:
const options = {
  onRowClick: (rowData) => {
      this.props.onStoreSelectedUser (rowData);
     this.props.history.push ('/ user / create');
 },
};
I didn't know how I could combine the two functions within onRowClick. I must have elaborated the question badly,  for what you thought it had to do with

[2019-08-16 16:37] patorjk commented on #841
There's an onTableChange function that will recieve an "expandRow" action when a row is opened or closed.

    var options = {
        rowsExpanded: [0, 2],
        expandableRows: true,
        renderExpandableRow: () => {
          return <div>hi</div>;
        },
        onTableChange: (action, tableState) => {
            switch (action) {
                case 'expandRow':

[2019-08-16 17:37] #839 closed

[2019-08-16 17:38] patorjk commented on #840
Look in the "Usage" second of the docs. It shows a column array you can use that has some of those parameters set (specificaly the "customize columns" part).

[2019-08-16 18:07] snsheth55 opened #842 "Prevent table row from becoming more than one line no matter how much data, instead the overflow x just gets longer."
I am making a table where I need all the rows to remain in one line no matter how much data is in the cells. Right now if I extend my table across two screens ( the table has 12 columns with 30 characters per col) the row becomes one line, however when I have the window to only one screen the columns shrink and the data overflows causing the row to be 2 or more lines. I want to prevent this from h

[2019-08-16 18:12] gabrielliwerant commented on #840
@MellowoO I think you are looking for table options like these, correct?

![Capture_foo1](https://user-images.githubusercontent.com/1779564/63188608-d02b3800-c02f-11e9-8a04-165355d0efcc.PNG)
![Capture_foo](https://user-images.githubusercontent.com/1779564/63188612-d3262880-c02f-11e9-9307-b4234f0b73d4.PNG)

If so, have a look through the docs and see if it's missing something you need.

[2019-08-16 18:16] patorjk commented on #842
I have this issue with one of my tables (I have 1 table that's 16 columns). I solved it by setting the styling for the cell in the customBodyRender method of each column's option object:

    customBodyRender: (value) => (<div style={{whiteSpace:'pre'}}>{value}</div>)

[2019-08-16 18:44] snsheth55 commented on #842
Thank you works perfect!

[2019-08-16 18:44] #842 closed

[2019-08-16 20:32] MellowoO commented on #840
@gabrielliwerant hi!
Yes, you are right
But for example, if i need to specify initial sort column
[code]
I want to display "sort arrow" icon on `name` column by default
Can i do this?

[2019-08-16 20:33] MellowoO commented on #840
@gabrielliwerant or set any selected by default filters

[2019-08-16 20:40] gabrielliwerant commented on #734
@forssellm The functionality to group related columns does not exist at the moment, but you can create your own column headers with `customHeadRender` in the column options, and you can add buttons and functionality there if you wish. It should be possible for you to add what you're talking about with that, albeit it might be a bit of effort.

[2019-08-16 22:10] gabrielliwerant commented on #840
In that case, I think what you're looking for is this:

![image](https://user-images.githubusercontent.com/1779564/63200947-2ceb1a80-c051-11e9-9f09-4594cf5570f9.png)

[2019-08-17 07:42] MellowoO commented on #840
Thank you)

[2019-08-17 07:42] #840 closed

[2019-08-17 12:42] janakprajapati commented on #841
@patorjk Thanks a lot.

[2019-08-18 13:23] #820 closed

[2019-08-19 14:11] snsheth55 opened #843 "Custom Header Component"
I want to add one tiny adjustment to the header where, the label will not wrap around itself if its squeezed for space.  I want to keep all the other styles/features exactly the same (font size/color, sort etc...) .
## Expected Behavior

## Current Behavior

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Your Environment

| Tech         | Version |
|--------------|---------|
| Material-UI  |

[2019-08-19 17:55] gabrielliwerant commented on #843
Hello @snsheth55. Is this a request for a fix or about how to create a custom header? Also, I'm not sure which label wrapping you're referring to. Can you provide an example/screenshot?

[2019-08-19 18:28] GusRodriguezM commented on #834
Thank you @patorjk. Using the BOM solved the problem to show the special characters on Windows and now it downloads the file with the correct extension in Edge.

[2019-08-20 01:10] taylon opened #844 "Deprecated lifecycle method warnings with React 16.9"
Hi,

The following warning is shown upon upgrading to React 16.9:

[code]

I guess a quick temporary fix would be to use the codemod to rename everything but I'm not sure if that has any other impact.

[2019-08-20 07:40] laurexas commented on #830
coudn't find the error in my redux code, so i used  a workaround after delete request i updated my data props and that initialized table to rerender.

[2019-08-20 07:40] #830 closed

[2019-08-20 07:55] laurexas opened #845 "Failed prop type: Invalid prop `children` supplied to `TableCell`, expected a ReactNode."
## Expected Behavior

boolean type values converted to string type values should appear in table without error message
## Current Behavior

Hey, i get this problem whenever my table data prop loads data  from remote  API which contains boolean type values , i know that MUI datatable accepts only strings and numbers, so after i get data from API i convert all my boolean type values to string values

[2019-08-20 09:31] jacklimwenjie opened #846 "Enhance filter to have custom filter options render"
## Current Behavior

Sometimes developers need to deal with normalised data (referencing another data through ID), take for example the following table data:
[code]

And the companies data obtained through another means:
[code]

The requirement is to show "Google Inc. " for the table column "Company" for example, instead of the ID i.e. "a1-b2-c3-d4".

There is a props to handle this when rendering

[2019-08-20 16:09] snsheth55 commented on #843
Hello,

This is a question about how to create a custom header, I know I can use the custom header option but I'm having difficulty setting up the header component  which will be an exact copy of how it is in MUI-datatable except the headers are not wrapped.

![Header Component](https://user-images.githubusercontent.com/37764769/63364164-07a52780-c343-11e9-81bb-843cf10b6a9e.PNG)

[2019-08-20 18:30] gabrielliwerant commented on #844
Yes, I've been aware of this issue for a while, but might as well switch to the unsafe API now. I'd like to handle the actual removal in a different release to help isolate any breakage, but this will get us started: https://github.com/gregnb/mui-datatables/compare/enhancement/issue-844-deprecated-lifecycle?expand=1.

[2019-08-20 18:31] gabrielliwerant commented on #830
Were you able to find a breaking example without redux?

[2019-08-20 18:37] gabrielliwerant commented on #845
It sounds like it might be a timing issue with the data fetching. I would prevent rendering of the table until the data is finished fetching and being converted (so not just when the data loads, but after the transformation of the data).

I'm not sure if it's possible or desirable for you, but if you could change the values returned by the API to `0` and `1` for `false` and `true`, that should als

[2019-08-20 18:49] gabrielliwerant commented on #846
Have you tried `filterOptions: { names: [] }`? Or is the request that you want `names` to accept a function in addition to an array? I am hesitant to complicate the API for this use case, as you can already choose to transform your data however you wish in your API resolutions. If you can do that, I'm not sure it makes sense to bundle generic functions in with this or most other table APIs that ar

[2019-08-20 19:04] gabrielliwerant commented on #843
It's a bit complicated, but here is where the display code is internally for the table headers: https://github.com/gregnb/mui-datatables/blob/master/src/components/TableHeadCell.js#L101.

Do you want the headers to be wrapped or unwrapped? And which wrapping are you referring to?

[2019-08-20 19:20] snsheth55 commented on #843
I want them to be unwrapped, like how I set it up in custombodyrender

[code]

[2019-08-20 23:02] codealchemy commented on #844
I noticed these warnings when using this library as well and am looking forward to the patch - might the version of `React` need to be bumped as a part of this (ie. in `peerDependencies`)?  It seems that these aliases [were introduced in React `16.3`](https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html).

[2019-08-21 02:39] mwubgadeashish opened #849 "Replace delete icon with other bulk operation icon"
Can we replace delete icon with some custom icon (like bulk operations)

## Expected Behavior

## Current Behavior
In my current project we don't need delete option but we want to do few bulk operation. So is there is any example to do this?

[2019-08-21 02:54] gabrielliwerant commented on #844
`peerDependencies` could probably use a bump at some point, but the version in the lockfile is high enough, and new installations of the library will install what's specified in the lockfile, so we're good there.

[2019-08-21 02:55] gabrielliwerant commented on #849
You can customize the whole toolbar to display whatever you wish. Check out the `customToolbarSelect` option in the main options, and the `customize-toolbarselect` in the examples.

[2019-08-21 06:49] tomgazit commented on #468
That's because you're using 2.0.0-beta-51, and the issue occurs only post 2.6.0

[2019-08-21 08:43] gabrielliwerant commented on #843
Unwrapped by what, the `span` that handles the sort?

[2019-08-21 09:49] DalyIng opened #850 "Function components cannot be given refs."
## Expected Behavior

## Current Behavior

| Tech         | Version |
|--------------|---------|
| Material-UI  |  4.3.2       |
| MUI-datatables  |   2.8.1      |
| React        |     16.9.0    |
| browser      |   16.9.0      |
![Capture d’écran de 2019-08-21 11-46-30](https://user-images.githubusercontent.com/41191515/63421897-ad22ce80-c409-11e9-9032-f18af43f1fdd.png)

[2019-08-21 10:43] richard-szegh opened #851 "Failed prop type: The page prop of TablePagination is out of range."
I am using mui-datatables to display data, and I have a button that filters the data (using JS filter method), removing some elements. When I am on a page that shouldn't exist after the data has been filtered due to decreased quantity of data, mui-datatables will not reset the page to the first page or to the last page where there is still data to be displayed, rather it will stay on the page I wa

[2019-08-21 12:15] laurexas commented on #845
its because of timing i have tested with timeouts just to make sure, although i can't find the right way to fix this issue without timeout,because i'm using redux and when value is converted to string i dispatch and action to store to load  data to table but for some reason it it's not enough and most of the times i still get the error.. i have very complex type coercion with  lots of mapping and

[2019-08-21 14:19] laurexas commented on #845
@gabrielliwerant i made some mistakes in my coercion function, but with some help i managed to fix it, so basically boolean to string coercion function is working fine and i dont get any more warnings, thank you for your time

[2019-08-21 14:20] #845 closed

[2019-08-21 14:42] snsheth55 commented on #843
I am not sure where the best place would be to unwrap it.

[2019-08-21 16:31] alielkhateeb commented on #698
@joaquin3684 If you're still facing this, please reopen and post a demo, my demo doesn't reproduce the problem anymore, so I'll close this.

[2019-08-21 16:31] #698 closed

[2019-08-21 16:36] mwubgadeashish commented on #849
@gabrielliwerant Thanks for help... it worked.

[2019-08-21 16:36] #849 closed

[2019-08-21 16:48] maitedev opened #853 "Question regarding the use of onRowsDelete."
Hi, I have a question regarding the use of onRowsDelete.
I want to use the following function to remove items from the table, but I don't know if I am using it correctly combined with the option onRowsDelete Thanks in advance.

handleDeleteUser = (idToDelete) => {
    axios.delete(`https://jsonplaceholder.typicode.com/users/${idToDelete}`)
      .then(response => {
        console.log(response);

[2019-08-21 16:54] alielkhateeb commented on #778
My suggestion:
1. Having `examples/index.js` as the entry point in `webpack.config.js`
2. `examples/index.js` should have a router to all the examples by folder name
    - Accessing `localhost:5050` should take you to `examples/simple`
    - Accessing `localhost:5050/specific-example` should take you to `examples/specific-example`

@gabrielliwerant if you agree on this solution I can start working

[2019-08-21 17:56] gabrielliwerant commented on #850
Hey @DalyIng. I'm going to need more information. Can you outline the steps you took to produce the error? Even better, can you recreate a minimal example that creates the error in a codesandbox so we can be sure we're both looking at the same thing?

[2019-08-21 18:09] gabrielliwerant commented on #851
Thank you for creating this issue and helping me to verify what is going on.

So, in this case, you are providing your own filtering functionality. The issue described previously was fixed because it involves filtering/searching that occurs within the table functionality. Since you are providing your own mechanism, the table has no way of knowing that you are filtering the data, and so it does not

[2019-08-21 18:13] gabrielliwerant commented on #843
Unfortunately, I'm still not sure what you mean by "wrapping." :/ I may not be able to help unless you can be more specific. For now, I would take a look at the file I linked above and try to recreate the styles and structure on your end as best as possible.

[2019-08-21 18:21] gabrielliwerant commented on #778
@alielkhateeb That's a great start, I would accept that PR! Even better would be to have a simple list of links at `examples/index.js` or whatever the default page is, but either way is a big improvement.

[2019-08-21 18:30] snsheth55 commented on #843
By wrapping I mean  the column header titles will remain in one line, not be split into multiple lines.

[2019-08-21 18:46] gabrielliwerant commented on #843
Oh, you do not need to recreate the entire header to do that. Just customize the styling. Look into how to override theme styles with the `customize-styling` example. You'd need to add something like

[code]

[2019-08-21 20:17] gabrielliwerant commented on #853
The way `onRowsDelete` works currently with async requests is a bit awkward. Internally, `onRowsDelete`  and the delete method are synchronous. This means that it won't be able to wait for a successful response from a promise before it executes. You would need to use it the other way around, by deleting first and then syncing it with your API. Essentially, it is, at the moment, only intended for U

[2019-08-21 20:30] richard-szegh commented on #851
@gabrielliwerant I understand, your help is much appreciated! One last question: how am I able to set the option you are talking about explicitly after doing my filtering?

[2019-08-21 21:11] gabrielliwerant commented on #851
Something like this should work (in psuedocode):

[code]

[2019-08-21 23:39] richard-szegh commented on #851
@gabrielliwerant I have implemented your suggestion in the previous codesandbox demo (available on the same link), but still no luck. This approach doesn't seem to reflect the change of the local state onto the table. Any other ideas?

[2019-08-22 00:42] gabrielliwerant commented on #851
Looks like there are some material-ui errors that are getting in the way. Your version is too high for the library. If I reduce it to `3.6.2`, it works. I didn't experiment with how high it can go before an error, but you can start with that one.

[2019-08-22 01:11] richard-szegh commented on #851
@gabrielliwerant Reducing the version to `3.6.2` solved the issue. Thank you for your help & time!

[2019-08-22 01:11] #851 closed

[2019-08-22 01:37] alielkhateeb commented on #778
@gabrielliwerant Cool, I'll start working on that tonight

[2019-08-22 03:52] patorjk commented on #850
Same as https://github.com/gregnb/mui-datatables/issues/595

If you use Material UI v4 and have the Print icon visible this message is printed in the console. It can be fixed by wrapping the Tooltip in the ReactToPrint component in a span tag - https://github.com/gregnb/mui-datatables/pull/836

[2019-08-22 04:46] alielkhateeb commented on #447
@susmita-vps I wonder if I understood correctly, you are requesting to customize the search TextField placeholder, right?

[2019-08-22 13:03] snsheth55 commented on #843
Works perfect, thank you!

[2019-08-22 13:03] #843 closed

[2019-08-22 16:34] maitedev commented on #853
Okay Gabriel, I keep track of the onRowsDelete function progress.
You told me I should use it backwards, removing it first and then synchronizing it with its API.
translated that to my code what change should I make? or it is simply knowing that I should not expect a successful response from a promise before it is executed.
  
onRowsDelete: (rowsDeleted) => {
  const idsToDelete = rowsDeleted.data

[2019-08-22 18:13] vishalc10 commented on #63
@ivaqmo123 Having same issue, lemme know if you find a solution to it. Thanks

[2019-08-22 18:17] gabrielliwerant commented on #853
If you're not concerned with making the request first and making the table deletions dependent on that, then the code you have should work as is. So that is correct, you should bear in mind that even if your request is unsuccessful, the rows will still show as deleted from the table, so you will have to re-render the table to show the correct data in that case.

The other option is to create your

[2019-08-22 18:20] gabrielliwerant commented on #447
That was also my interpretation @alielkhateeb.

[2019-08-22 18:21] #753 closed

[2019-08-22 18:21] #751 closed

[2019-08-22 18:24] #844 closed

[2019-08-22 18:54] gabrielliwerant commented on #846
Marking as "wontfix" for now, as it sounds to me like the functionality required is available if you also transform your data pre-render, which is recommended.

[2019-08-22 18:57] gabrielliwerant commented on #823
Considering this resolved and closing. If there's a demonstrable bug here, we can re-open,

[2019-08-22 18:57] #823 closed

[2019-08-22 19:00] gabrielliwerant commented on #809
Thanks for your diligence on this @patorjk and for opening the issue @Fabbok1x!

@patorjk's fix is in `2.9.0`, so see if that helps you @Fabbok1x.

[2019-08-22 19:05] gabrielliwerant commented on #789
Should be resolved via your PR for `customFooter` options in `2.9.0`.

[2019-08-22 19:05] #789 closed

[2019-08-22 19:08] gabrielliwerant commented on #745
There is now a PR up for shift + click, which I think will be a bit more in line with selection UX in other platforms, so stayed tuned for that: https://github.com/gregnb/mui-datatables/pull/827.

[2019-08-22 19:13] gabrielliwerant commented on #740
@patorjk The expand functionality has been upgraded a few times, so I'm open to this contribution now, if you're still interested!

[2019-08-22 19:57] GusRodriguezM opened #854 "How to handle the checked state when using selectable rows with the "multiple" option"
## Expected Behavior
If i choose a specific row or all the rows i want to see how it changes the status from selected to no selected.

## Current Behavior
1. In the example provided of selectable-rows if all rows are selected and then deselected by the user the array is printed empty  but the rows still appears selected on the table.
2. Sometimes when some rows are selected and i want to select an

[2019-08-22 20:34] GusRodriguezM commented on #854
First behavior:
![first-behavior](https://user-images.githubusercontent.com/35277967/63547374-a53e5980-c4f1-11e9-9042-79a63d399e42.gif)

Second behavior:
![second-behavior](https://user-images.githubusercontent.com/35277967/63547372-a53e5980-c4f1-11e9-8ae5-142b2587cba7.gif)

I hope the quality isn't too awful and allows to see how it works actually.

[2019-08-22 20:45] gabrielliwerant commented on #468
@tomgazit Thanks for pointing out the version. That does help me find an potential issue, though I'm not sure if it's the one first posted here.

What I find is that the sort direction is not preserved after the state is updated with the new data. However, that is expected when using `serverside: true`, as that means that the dev takes responsibility for keeping the state up to date. If the sort d

[2019-08-22 21:00] gabrielliwerant commented on #854
This looks like an issue that was resolved in `2.8.1`. Upgrade your table version to that or the latest and see if it still occurs.

[2019-08-22 21:30] gabrielliwerant commented on #841
I think there's a good use case here to add some of the same functionality to expanded rows that we have for selected rows, so I'll re-open this and work on that as a feature.

[2019-08-23 00:42] patorjk commented on #740
It’s been in the back of my mind, I’ll take a look this coming week and report back.

[2019-08-23 01:50] hungbang opened #855 "Overrides onFilterUpdate"
As a developer, I have a filter which have `Type` and `Id`, the `Id` will belong to specific `Type`.
When removes the `Type` from `filterList`, I wanted to `Id` will be removed as well.
I've checked component `https://github.com/gregnb/mui-datatables/blob/master/src/components/TableFilterList.js`, I saw that it used `filterUpdate` to remove a specific filter from filterList.
My question: is there

[2019-08-23 09:19] futuredevgirl commented on #359
Hi @gabrielliwerant I am having the same issue whereby I need to show the search bar by default. I am passing setting the searchText value of  ' ' (space) via React state. Is there a way to remove it when the search bar renders or when the user clicks on the search bar to start typing. Because the space is there, it seems (to the user) that the search does not work as they don't delete the space.

[2019-08-23 09:30] futuredevgirl commented on #748
I solved the 'hover' issue as follows:

[code]

[2019-08-23 11:09] ydjyos opened #856 "Question about toolbar actions and filters"
Hello,
I have a couple of questions about the toolbar:
1- Is it possible to change the order of the actions icons (I would like to display the view columns button after the filter one )
2- Is it possible to simply override the style of the checkbox without creating a custom filter with filterOptions and display ?
I would like to replace the filled square checkbox when checked to a simple check ico

[2019-08-23 12:54] lookfirst commented on #109
@gabrielliwerant The way MUI does it leads to [endless runtime bugs](https://github.com/mui-org/material-ui/issues/16969) for them because they don't take advantage of the fact that Typescript has a compiler and they have this whole silly middle of the road stance.

Every time they (and you) make a change to something, you either have to have a test that does the same thing a compiler does and/or

[2019-08-23 14:28] hungbang opened #857 "Using onBlur to activate the filter instead of using onFilterChange"
I am using server-side filtering, I overrode onFilterChange to activate filter every time the filter list is changed, but the problem is every time the filter list is changed, the backend API will be called to update the table's data. It makes the layout quite lag and the backend is called too much. I want to filter every time the user leaves the field or maybe we will add the button in TableList

[2019-08-23 14:34] #855 closed

[2019-08-23 16:22] GusRodriguezM commented on #854
Thanks for check the issue. The problem is gone after i updated the version.

[2019-08-23 16:29] segore opened #858 "Trigger sorting via keyboard doesnt't seem to work"
## Expected Behavior
When tabbing to a rowheader (the tooltip of the header appears) and pressing enter column-sorting should get triggered.

## Current Behavior
Nothing happens or the tablebody just scrolls up/down (when pressing up/down cursor).

## Steps to Reproduce (for bugs)
1. Tab through the table until you reach a header column
2. Press enter or arrow up/down
-> Sorting doesnt get trigger

[2019-08-23 17:46] gabrielliwerant commented on #359
Hello @futuredevgirl. Actually, there is a way. If you manage the search text via state and default it to a space, then you can use the `onTableInit` callback to change it once the table loads:

[code]

[2019-08-23 18:04] gabrielliwerant commented on #857
Right now, the way filtering and the callback work, it does not support server-side filtering. In my experience, filtering data is the exclusive domain of the UI, and I would expect it to operate only on what I'm looking at, at the moment, rather than change the data state first. Doing otherwise would tend to be very confusing from a user perspective. Maybe if I understood more about the specific

[2019-08-23 18:06] gabrielliwerant commented on #854
Closing this as resolved for now. We can consider re-opening if the issue returns.

[2019-08-23 18:06] #854 closed

[2019-08-23 18:23] gabrielliwerant commented on #858
Haha, that looks like a bug to me! Excellent catch. It's up for grabs if you want it.

[2019-08-23 18:24] gabrielliwerant commented on #740
Sounds good @patorjk. That also gives me time to get in some improvements to expand rows which may or may not impact that work.

[2019-08-23 19:04] gabrielliwerant commented on #856
Those are good questions, I'll do my best to answer:

1. At present, there is no way to simply rearrange the toolbar options that are internal to the table. I do think this would be a good feature to add at some point, so if you'd like, you can open an issue for that feature specifically, and either take it yourself, or I can open it to the rest of the community. You do also have the option of usi

[2019-08-23 19:39] segore commented on #858
Thank you. Well, fixing the obvious bug should be easy. I created a commit on my fork. But i got some problem in responsive mode. When pressing arrowup or arrowdown the table body scrolls - even with e.preventDefault() within the handler.
As far as I know this call should stop the scrolling behaviour, but maybe I got a knowledge lack here.

Any idea how to handle that?

[2019-08-23 21:18] gabrielliwerant commented on #858
Oh, I don't think scrolling the table when pressing up or down is a bug. I thought the bug here was the inability to press "enter" and fire the sorting. Up and down should scroll the table as this is the default html behavior, and the tables in material-ui exhibit this as well.

[2019-08-23 21:50] segore commented on #858
Ok, then only enter should trigger the sort I guess.

[2019-08-23 22:25] gabrielliwerant commented on #858
FYI, you can provide your own custom headers via `customHeadRender` in the column options, at which point you could allow sorting via whatever means you wish. But I'd like to keep the default functionality closer to standard.

Thank you taking on that fix! I will review it shortly.

[2019-08-23 23:45] gabrielliwerant commented on #841
Related to https://github.com/gregnb/mui-datatables/pull/861 and https://github.com/gregnb/mui-datatables/pull/862.

[2019-08-24 11:33] hungbang commented on #857
@gabrielliwerant thank you for your answer, I agree with you that we should have at least one event like `onFilterChangeFinished` or more simple solution is we will have one event called `onCloseTableFilterList`, as soon as the `TableFilterList` is closed we will call the API to reload data.

[2019-08-24 15:27] venkateshzifo commented on #569
Hi,
 Any update on this one ? I am looking for an infinite scroll example. Can someone help me ?

[2019-08-24 22:46] rossknudsen commented on #109
For anyone interested, I have a [work-in-progress](https://github.com/rossknudsen/useDataTables) to implement a React hook for managing the state for datatables generally - as per my original comment.  Its really just mapping out an ideal API until I get a chance to actually implement.  Feel free to critique.

[2019-08-25 04:09] lookfirst commented on #109
@rossknudsen I just took a look at your branch for typescript and you've done a really great first pass. It cleans up the code significantly. It should really get finished up and merged into this project. If I was the author of this project, I'd be really happy to have that contribution. Since that isn't the case, let me put this out there:

I'd be happy to work with you on a fork that goes 100% l

[2019-08-25 04:34] mbniebergall commented on #857
I'm also looking for a solution to the same problem @hungbang . Having one or more new events to be able to call my search API once the user has completed typing in the search field would be very helpful. Either a new event is needed, or the option to have a 'Search' button to trigger the search would help solve the problem.

[2019-08-25 06:36] hungbang commented on #857
@gabrielliwerant @mbniebergall
Regarding the user experience, I think we should open to the user decides when is the search or filter performed. of course, the real-time update will be really helpful, but in some specific situation, we should have an option such as :
`disableAutoSearch`: true or `disableAutoFilter: true`, when this flag is enabled, the button `Search` or `Filter` will be displayed

[2019-08-25 06:55] tomgazit commented on #468
@gabrielliwerant, thanks for the quick reply.
With your reply I understood how to fix the sorting issue I had.

Yes, it is missing from the documentation, so I've added a pull request:
https://github.com/gregnb/mui-datatables/pull/864

[2019-08-25 08:57] futuredevgirl commented on #359
Hi @gabrielliwerant thanks again for the reply.
I wanted to implement your suggestion before responding.
I am using react hooks where I have the MuiDatatable in its own component so had to approach it slightly different but I got it working. The things that I noticed was, I had to pass the options, and state from the Parent component to the Child (MuiDatatable) component and also update the state

[2019-08-25 19:38] gabrielliwerant commented on #468
Thank you @tomgazit, that's very thoughtful, but it's not quite what I had in mind. I self-assigned this ticket so I could work on it, but it looks like it's past time I set up some contribution guidelines so that people don't get confused! :)

[2019-08-26 05:36] aditidave17 commented on #201
Hi,
Can this be written in typescript? Do you export the theme component so that it can be overridden?
Something like
const getMuiTheme = () => createMuiTheme<**MuiTheme**>({
    overrides: {
      MUIDataTable: {
        root: {
        },
        paper: {
          boxShadow: "none",
        }
      },
      MUIDataTableBodyRow: {
        root: {
          '&:nth-child(odd)': {
            backg

[2019-08-27 05:27] patorjk opened #868 "Clicking header cell bypasses checks inside of isRowSelectable"
Say I wanted to limit the number of checked rows to 5. I could do that using isRowSelectable, and it works - until I check the checkbox header. Example:

https://codesandbox.io/s/muidatatables-custom-toolbar-qg0i9

## Expected Behavior
Selecting the header would not bypass checks made inside of isRowSelectable.

## Current Behavior
When the checkbox header is selected, it runs isRowSelectable for

[2019-08-27 08:52] Vanilor opened #869 "Closing the search bar doesn't trigger onSearchChange."
When something is typed in the search bar and then the bar is closed it does not trigger a onSearchChange.

Example of the issue: https://codesandbox.io/embed/muidatatables-onsearchchange-bug-qfxsq

## Expected Behavior

Clicking the close icon on the search bar and by that clearing the search and closing the bar should trigger onSearchChange.

## Current Behavior

onSearchChange is not called but

[2019-08-27 09:42] pellejacobs opened #870 "Upgrade lodash.merge to 4.6.2"
The current dependency of lodash.merge has a known vulnerability for version 4.6.0, fixed in 4.6.2: https://www.npmjs.com/advisories/1066.

Would it be possible to upgrade to lodash.merge 4.6.2?

[2019-08-27 09:55] ronaiza-cardoso commented on #542
How can I download external CVS files?

[2019-08-27 10:11] ronaiza-cardoso commented on #774
Hi, the version that I'm using is higher than `2.6.0` and the download button is not been disabled when returning false. Here is my sample: https://codesandbox.io/s/mui-datatables--snr7y

And I have one question about download external CSV, how could I do that?

[2019-08-27 11:02] Imballinst commented on #698
@alielkhateeb I think your demo doesn't reproduce the problem because in the demo, you used `"@material-ui/core": "3.5.1"`, while in your first post, you said you are using `Material-UI | 4.0.1` (?)

I faced this problem just now -- my use case is:

1. There are 2 tabs, let's say that they are TabA and TabB
2. Inside the tab, there is this table component. TabA has 3 pages, while TabB only has 1 p

[2019-08-27 11:09] mikroware opened #871 "Add `setCellHeaderProps`"
Add `setCellHeaderProps` just like how `setCellProps` is there already.

## Expected Behavior
`setCellHeaderProps` should work the same as `setCellProps`. It should be passing those props to the underlying `TableCell`. With this feature one can style the header cell just like the rest of the cells.

## Current Behavior
Does not exist for header cells (only for normal cells through `setCellProps`).

[2019-08-27 12:57] vladimirvorobiev opened #872 "using intl for column lable localization"
Hi Is it possible to use intl lib for column label localization?

| Tech         | Version |
|--------------|---------|
| Material-UI  |     4.3.3    |
| MUI-datatables  |      2.9.0   |
| React        |     16.8.6    |
| browser      |      Chrome   |
thanks

[2019-08-27 20:51] clintdoriot opened #873 "White screen error when sorting by column with undefined data in any rows"
Sorting a column with undefined data for some rows causes white screen.
Console error: `Uncaught TypeError: Cannot read property 'localeCompare' of undefined`

This occurs when some of the rows do not have the datafield defined. For example:

[code]

The error occurs when attempting to sort on the "bar" column.

## Expected Behavior
The table should still sort on that column, grouping columns with

[2019-08-27 23:40] supakitk opened #875 "The column should be announced as “sortable” when screen reader is running, e.g., “Amount button – sortable”"
Please include suffix "sortable" for screen reader only user (don't need to be visible) when column is set to sortable.

[2019-08-28 07:14] Imballinst commented on #698
@gabrielliwerant All good! I just wanted to propose a solution for those who do not want to downgrade their Material UI version (in case there is someone who faces the same problem in the future).

[2019-08-28 13:14] #872 closed, assigned to nobody

[2019-08-28 19:33] Avd6977 opened #878 "Text Label props"
## Expected Behavior
Passing in text label props to use defaults if not overridden

## Current Behavior
Passing custom text label props that don't include the default breaks loading
e.g.
[code]

## Steps to Reproduce (for bugs)
Pass in the prop above

## Your Environment

| Tech         | Version |
|--------------|---------|
| MUI-datatables  |    2.9.0     |

[2019-08-28 19:57] at-mrts opened #879 "Can I use mui-datatables with material-ui/core@next"
If I use `mui-datatables` with the updated version of `material-ui core` I will have issues? Or is it safe?

Thank you.

[2019-08-28 21:16] at-mrts commented on #879
Ok, thank you for the advice.

[2019-08-28 21:16] #879 closed

[2019-08-28 23:27] supakitk commented on #875
Thanks for the quick respond. Our accessibility team suggested an example at https://assets.cms.gov/resources/framework/2.0/Pages/datatables.html

When we have voice over on it will announce for example. “First name, sortable column. Activate to sort column ascending link”.

The way they implement this is simply adding the alt text to the image. You can see from the code below.

`<th scope="col" c

[2019-08-29 16:14] patorjk opened #880 "Empty strings don't work in Dropdown filters"
In my data there can be fields with empty strings. I noticed that the dropdown filtering doesn't work for them - it treats them the same as the "All" keyword, which leads to odd results when selecting them. You can see it in action here:

https://codesandbox.io/s/muidatatables-custom-toolbar-sisef

The problem stems from the handleDropdownChange method in TableFilter.js:

[code]

It treats an empt

[2019-08-29 19:51] #447 closed

[2019-08-29 19:59] #468 closed

[2019-08-29 20:00] #759 closed

[2019-08-29 20:29] djarrin opened #884 "onRowSelect disrupted by dispatch or setState event"
When I try to dispatch a redux event (or simply setState) within the onRowsSelect callback my events get dispatched but the box that was supposed to be selected never actually selects. If I take the dispatch or setState method out the box updates as expected.

## Expected Behavior
I expect my redux store to be updated and for the checkbox to be selected.

## Current Behavior
My redux store does ge

[2019-08-29 21:02] patorjk commented on #884
I'm using Redux for my app and am doing something similar and it works for me. I think I see 2 issues:

* You should be using `item.dataIndex` instead of `item.index`.
* If you update the state, the table gets re-rendered using the props you pass into the table. If your options aren't current with what you've been doing, then the table won't reflect what you've done. For reference, here's what my

[2019-08-29 21:33] djarrin commented on #884
You're the man @patorjk, that was precisely what it was. I took a slightly different method and just assigned a state for rowsSelected and updated when I dispatched the store.... might have some single source concerns there but I'll address that in refactor.

p.s. Hell yea Baltimore Devs (there are literally dozens of us)! (this will probably be deleted)

[2019-08-29 22:14] gabrielliwerant commented on #884
https://i.imgur.com/R1fdEt3.gif?noredirect

[2019-08-29 22:15] gabrielliwerant commented on #875
![R1fdEt3](https://user-images.githubusercontent.com/1779564/63980239-fa95e000-ca88-11e9-88fa-68f4da54b6ac.gif)

[2019-08-29 22:16] gabrielliwerant commented on #884
![R1fdEt3](https://user-images.githubusercontent.com/1779564/63980264-0d101980-ca89-11e9-8d3e-d92c3c0e9b37.gif)

[2019-08-30 04:39] patorjk commented on #714
This looks like it could be done via a setTableProps option, similar to https://github.com/gregnb/mui-datatables/issues/871, if I have time, I'll see put a PR together tomorrow.

[2019-08-30 05:02] patorjk commented on #663
Added in v2.10.0

[2019-08-30 05:02] #663 closed

[2019-08-30 11:52] skalma commented on #747
Checking in after holiday: i got the search part working using customSearchRender callback. For filters i still rely on having to update filter results on every filter change. I checked the examples but could not get it working. Is ok for now, search update on every char typed was my main concern. Closing this issue.

[2019-08-30 11:52] #747 closed

[2019-08-30 12:01] skalma opened #886 "Support for material-ui v4.x"
I updated to material-ui v4.3.3:

"@material-ui/core": "^4.3.3",
"@material-ui/icons": "^4.2.1",
"mui-datatables": "^2.9.0",
"react": "^16.9.0",

npm reports mui-datatables 2.9 to be dependent on material-ui v3.2

Also i get the following warning in the console when starting my site:
[code]

[2019-08-30 13:54] Avd6977 opened #887 "Column header "hint" should have a fallback for ADA compliance"
## Expected Behavior
Title to have a fallback

## Current Behavior
Empty column hint/title. Not ADA compliant.

## Steps to Reproduce (for bugs)
Don't pass in a column hint

## Your Environment

| Tech         | Version |
|--------------|---------|
| MUI-datatables  |   2.10      |

[2019-08-30 15:08] patorjk commented on #886
Try the latest release, 2.10.0, it contains fixes for the console output issue (https://github.com/gregnb/mui-datatables/releases/tag/2.10.0). I think 2.10.0 still lists 3.2 as a dev dependeny, though it works fine for me (I'm currently using it with Material UI 4.3.0).

[2019-08-30 16:34] nbrustein commented on #138
I don't see in either of those an example of server-side filtering.  I'm trying to use a textField filter, but in order to do that with server side filtering, I would at least have to debounce the request.  Seems like it would be even better if, in that case, there were a submit button on the filter form, so I could finish selecting my filters before the request went out.

Are there built-in featu

[2019-08-30 17:59] skalma commented on #886
Just, tried it, warning dissapeared. Thx! Closing this issue.

[2019-08-30 17:59] #886 closed

[2019-08-30 21:15] gabrielliwerant commented on #747
I don't have a handle on precisely what you want to do, but I'm pretty sure it is possible with a bit of work, as there are many options for customizing behavior. A more recent example, `column-options-update` might be more helpful to you as it gives a way to change filters via button press.

[2019-08-30 21:21] gabrielliwerant commented on #887
I think I need more information about this. Sort and hint are two separate things as far as column options are concerned. When sorting is possible, there is a `aria-sort` attr on the header. It's possible this is a dupe of https://github.com/gregnb/mui-datatables/issues/875, but even with that one, I'm still trying to figure out what the exact compliance issue is and what would be sufficient to so

[2019-08-30 21:45] gabrielliwerant commented on #875
Still trying to get a handle on the exact issue. Since we do have `aria-sort` once the sort for a header has been engaged, I'm guessing that the issue is when no sorting has yet been engaged, there is no signal that the header is sortable. In the example you show, there are always-present icons for sorting which allow you to use alt tags to present the information to a screen reader.

This table i

[2019-08-30 21:49] supakitk commented on #875
Yes, that is not being read by the screen reader. You can try to use VoiceOver that comes with macOS (CMD+F5) and use keyboard to navigate to the column header. It is currently only announce the Header text.

[2019-08-30 21:52] gabrielliwerant commented on #878
I wasn't able to reproduce the issue with the information here. I loaded the `customize-search` example from `v2.10.0` and then modified the options:

[code]

Nothing breaks for me when I do that.

[2019-08-30 23:31] rossknudsen commented on #109
@lookfirst, sounds like a great idea.  I haven't heard of the 'relay cursor spec' but I'm happy to learn - graphql is on my todo list.

The other suggestions (typescript, MUI latest, and React Hooks) are definitely my preference.  As mentioned above, I have limited time commitment until the end of Oct, as I'm completing my final paper at University/College (I work full-time and study part-time).

[2019-08-31 01:12] patorjk commented on #857
I also second either an onFilterClose event or an optional button to apply the filters (the latter is probably better but I'm open to either). I started integrating filters into my tables this past week and I have a few that are server side. I wound up just wrapping the call that does the AJAX in a debounce method (from within the onFilterChange method). It's slightly awkward because the loading l

[2019-08-31 06:12] gabrielliwerant commented on #875
I use Chrome on a PC, and I just went looking for good accessibility tools, but it seems Chrome is not widely used by vision impaired folks.

In the mean time, do you think it would be sufficient to add `aria-sort="none"` on a sortable header prior to having a sort direction chosen? After choosing, it sets "descending" or "ascending" accordingly.

[2019-08-31 16:00] YoungCC2 commented on #595
Warning: Function components cannot be given refs. Attempts to access this ref will fail. Did you mean to use React.forwardRef()?

`<Form.Item label="Dragger">
                        <div className="dropbox">
                            {getFieldDecorator('dragger', {
                                rules: [{ required: true, message: 'Please select your country!' }],
                            }

[2019-08-31 19:29] patorjk commented on #875
@supakitk @gabrielliwerant I may be able to help as I use a Mac. I just tried VoiceOver (I've never used it before but it's pretty cool that it exists). In the current MUI setup, this is what VoiceOver reads to me when I tab over to the first column header in the "customize-search" example:

The second part occurs because the tooltip pops up automatically because the field has focus. So for me, it

[2019-08-31 19:49] patorjk commented on #138
@nbrustein there's been some discussion here: https://github.com/gregnb/mui-datatables/issues/857

I'm in a similar boat, I wouldn't mind taking on this issue if @gabrielliwerant decides it'd be a good addition.

[2019-08-31 19:58] patorjk commented on #857
Thinking about this a little more, there might not need to be an API change. Instead, if serverSide was set to true, the Filter dialog could appear with an additional button (maybe called "Apply"), and it wouldn't add the filters unless it was pressed.

[2019-08-31 20:08] gabrielliwerant commented on #595
@YoungCC2 Can you give the versions of react, material, and this library that cause you to experience that error?

[2019-08-31 21:04] gabrielliwerant commented on #875
@patorjk The `title` is apparently non-standard for a lot of tags, so it's reasonable that certain browsers/screen readers would skip it.

The table is mostly material-ui underneath, so we handle sortable headers the way they do, and they do not have any sortable indication when there is no active sort. As far as I can tell, there is no accessibility requirement to announce that a table header is

[2019-09-01 05:31] YoungCC2 commented on #595
`"react": "^16.3.2",
    "react-dom": "^16.3.2",
"antd": "^3.22.2",`

`<Form.Item label="上传logo">
                        <div className="dropbox">
                            {getFieldDecorator('dragger', {
                                rules: [{ required: true, message: 'Please select your country!' }],
                            })(
                                <Dragger {...props}>

[2019-09-01 10:22] JReinhold commented on #614
As of [V2.10.0](https://github.com/gregnb/mui-datatables/tree/2.10.0) it is now possible to use the prop `responsive="scrollFullHeight"` to make the table full height and a scroll behavior at the same time. That should fix the issue.

See https://github.com/gregnb/mui-datatables/pull/867

[2019-09-01 10:23] JReinhold commented on #580
As of [V2.10.0](https://github.com/gregnb/mui-datatables/tree/2.10.0) it is now possible to use the prop `responsive="scrollFullHeight"` to make the table full height and a scroll behavior at the same time. That should fix the issue.

See https://github.com/gregnb/mui-datatables/pull/867

[2019-09-01 10:23] JReinhold commented on #630
As of [V2.10.0](https://github.com/gregnb/mui-datatables/tree/2.10.0) it is now possible to use the prop `responsive="scrollFullHeight"` to make the table full height and a scroll behavior at the same time. That should fix the issue.

See https://github.com/gregnb/mui-datatables/pull/867

[2019-09-01 10:23] JReinhold commented on #234
As of [V2.10.0](https://github.com/gregnb/mui-datatables/tree/2.10.0) it is now possible to use the prop `responsive="scrollFullHeight"` to make the table full height and a scroll behavior at the same time. That should fix the issue.

See https://github.com/gregnb/mui-datatables/pull/867

[2019-09-01 10:24] JReinhold commented on #409
As of [V2.10.0](https://github.com/gregnb/mui-datatables/tree/2.10.0) it is now possible to use the prop `responsive="scrollFullHeight"` to make the table full height and a scroll behavior at the same time. That should fix the issue.

See https://github.com/gregnb/mui-datatables/pull/867

[2019-09-01 10:25] JReinhold commented on #378
As of [V2.10.0](https://github.com/gregnb/mui-datatables/tree/2.10.0) it is now possible to use the prop `responsive="scrollFullHeight"` to make the table full height and a scroll behavior at the same time. That should fix the issue.

See https://github.com/gregnb/mui-datatables/pull/867

[2019-09-01 10:25] JReinhold commented on #310
As of [V2.10.0](https://github.com/gregnb/mui-datatables/tree/2.10.0) it is now possible to use the prop `responsive="scrollFullHeight"` to make the table full height and a scroll behavior at the same time. That should fix the issue.

See https://github.com/gregnb/mui-datatables/pull/867

[2019-09-01 18:42] gabrielliwerant commented on #595
@YoungCC2 Thanks, but I still need your '@material-ui/core' and 'mui-datatables' versions.

[2019-09-01 18:43] #614 closed

[2019-09-01 18:44] #580 closed

[2019-09-01 18:45] #234 closed

[2019-09-01 20:01] nhattextiq commented on #878
I had this problem today as well. When I removed the `textLabels` part in my options, everything would work.
[code]
Stack trace is as follow:
[code]
I tried with just `noMatch: 'empty message'` and it still throws that error.
This is with version `2.10.0`

[2019-09-01 20:51] patorjk commented on #878
Yep, this is a bug - it's a tricky one though. Check out this CodeSandbox:

https://codesandbox.io/s/muidatatables-custom-toolbar-5gwgy

To see the bug, hit the "loading" toggle. It looks like it's possibly related to more than textLabels, but if you comment "textLabels" out of the options, it doesn't appear (which is probably why I don't see it in my app - I don't use that option).

Checking the

[2019-09-01 22:46] patorjk commented on #878
So this bug has subtle affects elsewhere. If you set selectableRows to "false" in your options. The table will initially change it to "none" for you and print a warning in the console. However, once the state updates and the table re-renders with new props, this value gets reset back to "false" and the table will print an error in the console and the checkboxes will become visible.

This issue loo

[2019-09-02 00:01] gabrielliwerant commented on #878
This is kind of a big bug, so thanks for the detective work @patorjk. I needed to see the exact situation that leads to the issue, which is when the table updates.

We can't use `merge` because that results in a different bug. It basically breaks any customization of selectable rows, and probably other things, because in that situation, when the table updates, we need the table to overwrite the ne

[2019-09-02 00:08] patorjk commented on #878
Sounds good - you may want to try out mergeWith like in my example above. It’s like merge, but it allows you to override how merge works. Above I have it act like assign unless the property type is object or undefined.

I think it gives the desired behavior but am not 100% sure.

[2019-09-02 03:57] gabrielliwerant commented on #878
@patorjk I think I was able to get there with `assignWith`, but it's a similar idea, so thanks for the tip. The PR is up if you want to take a look and let me know what you think! I'll merge it later tomorrow (Monday) if you can't get to it by then, so we don't go too long without a getting a fix in.

[2019-09-02 04:13] patorjk commented on #878
@gabrielliwerant Sure, I'll check it out here in a few minutes. If I have any comments I'll post them on the PR.

[2019-09-02 10:16] laurexas opened #891 "TypeError: Cannot read property 'noMatch' of undefined when in production"
## Expected Behavior
Table component should render correctly when i production mode

## Current Behavior
Hello, when i locally run my code everything works fine, but when i deploy in production mode when page loads with table component i suddenly get type error in console :
1) TypeError: Cannot read property 'noMatch' of undefined when in production
  at t.value (VM150 0.81ac1b64.chunk.js:1)
2) Ty

[2019-09-02 14:23] patorjk commented on #891
This looks like it may be related to https://github.com/gregnb/mui-datatables/issues/878, but that problem only appears as of 2.8.1 (there will be a fix for it later today: https://github.com/gregnb/mui-datatables/pull/890).

You may want to see if you can create a CodeSandbox to re-create the issue, ex: https://codesandbox.io/s/muidatatables-custom-toolbar-82ds7 (if you switch the MUI-Datatables

[2019-09-02 15:32] Avd6977 commented on #878
Thanks @patorjk and @gabrielliwerant. Been away all weekend so haven't had the chance to do the demo/explain.

[2019-09-02 15:34] Avd6977 commented on #875
I'm not positive of the requirement, but it turns out it's partly linked to the #878 issue with using merge. For me, the titles were all blank because textLabels["body"]["toolTIp"] was undefined. However, just having it be sort does get flagged by our customers who run ADA checks because all of the titles are the same. Like I said, not sure of a requirement, but making them different/more clear I

[2019-09-02 15:55] patorjk commented on #875
Doing a "grep -R toolTip src/*", it looks like that tooltip is only used in 1 place in the code (the column headers). One solution may be to create a textLabels.body.columnHeaderTooltip property which is a function. Ex:

[code]

Then change:

[code]

To:

[code]

That would be backward compatible (though the label passing functionality from PR https://github.com/gregnb/mui-datatables/pull/888/ wou

[2019-09-02 19:18] gabrielliwerant commented on #891
It does sound like it's related, but I'm unsure of why it would work locally and not in production, unless your production is using a different version of this library, which is possible.