[2018-01-25 19:39] jaydreyer opened #1 "A valid React element (or null) must be returned."
## Config
[code]

## Issue
I've got a bare bones example running and I keep getting an error saying `t.render(): A valid React element (or null) must be returned. You may have returned undefined, an array or some other invalid object.`

I've just got the data set up as an array of arrays, and options are basically nothing. Some of the table control appears for a few seconds before switching to a b

[2018-01-25 19:56] gregnb commented on #1
Would you mind putting up a sandbox? For example:
https://codesandbox.io/s/wy2rl1nyzl

[2018-01-25 20:50] jaydreyer commented on #1
That's going to be tough to do because it's part of a larger app. I can paste the page code in there if it would help. Basically, when I have
[code]
in the code, I get the error. If I comment it out, things work fine (other than I have no data table).

[2018-01-25 21:06] jaydreyer commented on #1
What I really don't get is the rest of the table component seems to show up. You can see the title, and if you click the download icon, it will download a csv with the dummy data I used. It also says '1-2 of 2', which is correct, as well.

<img width="1019" alt="screen shot 2018-01-25 at thursday january 25 2018 3 04 18 pm" src="https://user-images.githubusercontent.com/1815281/35412221-1a79b5d0-0

[2018-01-25 21:24] jaydreyer commented on #1
Last thing I can think of, we are using material-ui 1.0.0-beta.27. I don't know if that would cause an issue.

[2018-01-25 22:17] gregnb commented on #1
Could you paste the data you use to populate the table ?  Feel free to remove any sensitive data

[2018-01-25 22:27] jaydreyer commented on #1
[code]

[2018-01-25 22:45] gregnb commented on #1
Ok great,  thanks! I'll look into this tonight

[2018-01-26 01:21] gregnb commented on #1
So I played around with this a bit tonight and I am able to replicate your error. A quick fix around this is to upgrade to react and react-dom 16 and above. Is that something you can change in your current project?

I'll still look into what causes issues for 15.6 but will need time

[2018-01-26 01:40] jaydreyer commented on #1
Thanks for checking. I'm not sure about being able to upgrade. I'll have to investigate and see if that causes any other issues for us. Thanks!

[2018-01-26 17:49] gregnb commented on #1
I tried working this out some more but it will not go. As a result I set the peerDependencies to be minimum 16 and above for React. Just does not work well otherwise. Sorry for the inconvenience

[2018-01-26 17:49] #1 closed

[2018-01-26 18:49] jaydreyer commented on #1
OK. Bummer. We'll look into migrating to react 16 or I'll keep looking for a datagrid controller. Yours is good! Thanks for investigating.

[2018-01-29 04:17] pratih opened #2 "Make search function case insensitive"
Can you make the search function case insensitive?

[2018-01-29 15:00] gregnb commented on #2
Sure I'll add in an option where it's turned on by default. I'll look into it tonight

[2018-01-30 01:41] gregnb commented on #2
Ok, version 1.0.7 has a 'caseSensitive' option which is off by default

[2018-01-30 01:41] #2 closed

[2018-02-02 13:07] jungrafael opened #3 "Set columns width"
## Issue
Would it be possible to have per column the option to set its width?
That could be an option passed together with the columns array.

## Your Environment

| Tech         | Version |
|--------------|---------|
| mui-datatables  | 1.0.7 |
| node        | 8.7.0 |
| OS      | Ubuntu 17.10 |

[2018-02-02 13:14] jungrafael opened #4 "Components inside table"
## Issue
Could we have a way of adding our own components to the table? We could just add it to the data variable. With the same API, we would be able to add text or a component.

## Your Environment

| Tech         | Version |
|--------------|---------|
| mui-datatables  | 1.0.7 |
| node        | 8.7.0 |
| OS      | Ubuntu 17.10 |

[2018-02-02 13:23] jungrafael commented on #4
okay, this is already possible!
![image](https://user-images.githubusercontent.com/5156163/35735313-8be4a196-0824-11e8-83b0-7b0f96979546.png)

Should we update the README, to tell about this awesome possibility?

[2018-02-02 13:34] gregnb commented on #4
Hah, I never tested it for that purpose. Well that is interesting! Let me look into more test cases to make sure that this works like you would intend it to before putting it in the README

[2018-02-02 13:38] gregnb commented on #3
Changing the columns data to be an array of objects is something I've been thinking about.  I started this project to make it as easy as possible to get going.  One idea I have is this package could accept two forms of columns.

#1
[code]

#2 (if you need more flexibility)
[code]

[2018-02-15 15:21] codyjroberts opened #5 "Feature Request: Selectable Rows"
As far as I can tell there isn't an interface to access rows or bind actions to them.  Any plans on implementing this?

Thanks for your work on this!

[2018-02-16 01:28] gregnb commented on #5
@codyjroberts Thanks for the feedback! No plans as of it but I can throw this request on the feature board

[2018-02-19 14:03] demoreno opened #6 "Show/Hide Options Filter, Print, Download"
Hi, I just implemented the library in my project and it's amazing! but I have a question with the props options, filter, print etc since I put the false boolean to hide them but in the same way render the icons

[2018-02-19 14:16] gregnb commented on #6
Hey @demoreno thanks for the feedback! As for your question, if I'm understanding correctly you would like a way to disable the icons but still render them?

[2018-02-19 14:20] demoreno commented on #6
Thanks for your answer, not the problem is that setting the props false to print, filter etc so that they do not show since in my logic they are not necessary but the same icons are shown in the same way

<MUIDataTable
      data={data}
      columns={columns}
      download={false}
      print={false}
      filter={false}
/>

[2018-02-19 15:38] gregnb commented on #6
Could you paste what you are using for a config? In my example below

[code]

I do not see the filter, download, print icons anymore so it is working as expected. Example here:
https://codesandbox.io/s/lrl0361qpm

<img width="1225" alt="screen shot 2018-02-19 at 10 38 07 am" src="https://user-images.githubusercontent.com/19170080/36385641-0cd95e24-1561-11e8-9400-fb3a9c0e8b84.png">

[2018-02-22 14:15] jungrafael commented on #4
Hey, I've just found a drawback with this approach: we're unable to search items which are a JSX component, since it calls toString() on the component and this returns [object Object].
Should I reopen this issue to change the way the search/filtering is made?

[2018-02-22 14:15] jungrafael commented on #4
Hello @gregnb, I've just found a drawback with this approach: we're unable to search items which are a JSX component, since it calls toString() on the component and this returns [object Object].
Should I reopen this issue to change the way the search/filtering is made?

[2018-02-22 19:43] jungrafael commented on #4
Since I needed to solve this quite quickly, I've created a quick fix here: https://github.com/jungrafael/mui-datatables/tree/text-search-on-components
This could be of help for fixing this issue :)

[2018-02-22 19:47] gregnb commented on #4
Would you want to add some unit tests and send me this as a PR? Nice work @jungrafael

[2018-02-23 11:56] gregnb commented on #4
Hey @jungrafael so I took your function out and imported it into another project just to test. Take for example the following component

[code]

All I'm going to see for a return from your function is:
[code]

To be honest I'm not sure how you're going to extract or return the text of a component without rendering it first

[2018-02-23 15:47] jungrafael commented on #4
Hey @gregnb, this use case would not actually supported. This function I implemented just extracts the text inside nested elements, through navigating to its children. So you would need to use this function this way:
[code]
This is exactly my use case for it on this library, since it's being used on an array of arrays of React Elements.
Would this be already enough for this library? I think render

[2018-02-23 15:53] gregnb commented on #4
@jungrafael Yep you're right that's why I just wanted to clarify. It would just be a big waste of time to render.

Yeah, I would gladly accept the PR but we need unit tests :)

[2018-02-27 06:29] syedabuthahirm opened #7 "How can i pass object instead of array? Is there any option available?"
## Config
[code]

## Issue
I would like to populate a table via an object, but it doesn't work. I got the following error.
![mui-datatable-array-insteadof-object](https://user-images.githubusercontent.com/22408257/36713802-56619a3e-1bb5-11e8-91d0-13002b64ef39.png)

## Your Environment
| Tech         | Version |
|--------------|---------|
| mui-datatables  |    1.0.7    |
| node        |     9.5.0

[2018-02-27 12:13] gregnb commented on #7
@syedabuthahirm It is expecting an array. Just match it up to your columns so your config should look like this:

[code]

[2018-02-27 12:14] gregnb commented on #6
Hey @demoreno did you get a chance to see my reply?

[2018-02-27 16:55] syedabuthahirm commented on #7
Thanks, @gregnb.
I think we need to provide an option for the object as well.

[2018-02-27 17:05] syedabuthahirm opened #8 "Toolbar style property has different object mapping compare to docs"
I want to add a bottom border to the toolbar. if I follow the documentation it's not working. the following one is worked for me.
## Config
This is my workaround for toolbar style issue.
[code]

[2018-02-27 17:16] gregnb commented on #7
No problem @syedabuthahirm. As far as the objects for data It is not something I am looking to support at this time

[2018-02-27 17:16] #7 closed

[2018-02-27 17:17] gregnb commented on #8
I will look into this thank you

[2018-03-10 00:17] krishnaUIDev opened #9 "Filter Icon"
How can I change that Filter Icon on the right-hand side? And I want to remove some Items in the last filter. Is it possible in MUI Datatable??

| Tech         | Version |
|--------------|---------|
| mui-datatables  |         |
| node        |     8    |
| OS      |   Mac      |

[2018-03-11 00:23] gregnb commented on #9
There's no option as of today to change the icons. That would be a feature request. Let me look into that.

Second issue, removing some items in the last filter. Can you show me a screenshot of what you're talking about ?

[2018-03-11 00:24] gregnb commented on #4
Hey @jungrafael did you happen to get those tests done?

[2018-03-11 01:41] krishnaUIDev commented on #9
Please see the screenshot. I want to remove salary from the filter. But I need that salary on the table. Not in the filters. Is there any chance???
![screenshot 19 _li](https://user-images.githubusercontent.com/24648588/37248559-54ff1602-24a3-11e8-81ec-281e5a35e8a0.jpg)

[2018-03-11 01:51] gregnb commented on #9
Ok I think this is a great idea. It goes along with some other changes users have requested. Currently I'm on vacation so I will not be able to get to this rigjt away but I will look to add this feature for more customization.

[2018-03-12 04:28] gregnb commented on #8
@syedabuthahirm so I'm trying to look for where I specify and example of changing the borderbottom color and I don't see it? can you point this out? Otherwise you're doing it correctly you need to target `root`

[2018-03-12 04:33] gregnb commented on #9
So I have some initial work done that will allow for customization of columns. It'll also address #3 when it's complete. As it stands now you'll be able to define which columns you want filtering for or not.  But, as far as the icon replacement here's what I'm proposing: You'll be able to swap in custom icons but they must be React Components that return SVG much like how material-ui-icons works c

[2018-03-14 14:35] jungrafael commented on #4
Hey @gregnb, I really haven't had much time lately. I plan on doing this next week, finishing up the implementation and creating the tests.

[2018-03-14 14:52] gregnb commented on #4
@jungrafael no worries man. I say we hold off for now if the PR sent in performs well when I get some time to test it we should use that since it'll extract any text

[2018-03-16 03:56] gregnb commented on #9
@krishnaUIDev In version 1.0.8 I've added the ability to customize columns. You can turn the filter on/off per column basis

[2018-03-16 12:25] #8 closed

[2018-03-16 13:01] krishnaUIDev commented on #9
Thanks @gregnb. And if you have time can you look at removing columns from filters.

[2018-03-16 13:04] gregnb commented on #9
@krishnaUIDev yea that's what I just posted lol. You can remove them now in version 1.0.8. Take a look at the new examples folder

[2018-03-17 00:47] krishnaUIDev commented on #9
When click on Filter Icon or view column icon its getting error @gregnb
![screenshot 21](https://user-images.githubusercontent.com/24648588/37549878-2f2005b0-295b-11e8-9fef-b64f9e2da99c.png)

[2018-03-17 01:31] gregnb commented on #9
@krishnaUIDev looks like a warning. I think the current PR fixes it when we merge it in. But nothing is broken, correct ?

[2018-03-17 03:35] krishnaUIDev commented on #9
Ya Nothing is broken and can you try to add functions to the rows (onClick events). Is there any chance to add onclick events to that rows? ?

[2018-03-17 03:38] gregnb commented on #9
Ok, but I want to learn more about why. What's the use case first to binding an onClick event to the rows? Are you tracking something? Just curious

[2018-03-17 03:47] krishnaUIDev commented on #9
I am trying to create a data table site. At that place, i need to click handlers for rows to show that row data.

[2018-03-17 03:49] gregnb commented on #9
@krishnaUIDev Ok, I will try to work on expanding more options into this package. I'm still on vacation so nothing will get done right away so bare with me. If it makes sense after I look into it some more I'll put it on the feature board.  Some people have also asked for ability for selectable rows which sounds close to what you're asking for

[2018-03-18 03:16] JordanKadish opened #11 "Filter concatinate same values"
## Issue

Hey, I'm having an issue with the filter.

I am filtering ~6000 items, and when I click the upside down triangle that shows filter options, the page halts. I have many items with the same value in some fields (eg, location USA), and I'm wondering if there's a way to concatinate/reduce all the duplicate locations in the filter option (possibly before a render even occurs to save time like

[2018-03-18 03:31] gregnb commented on #11
Could you share the data set and options you used? I'll try to recreate this when I get some down time. Maybe post your repo on github if the information is not sensitive ?

[2018-03-18 03:50] JordanKadish commented on #11
The info is sensitive but essentially I'm loading a json file into the program and then looping through each item adding it to the rows, and the columns are also being defined by what's in the json file. It all works, except the filter triangle. When I limit the number of entries from 6k to 15, it works perfectly. An example entry would be:
{
    "A": "1",
    "B": "9999999999999999",
    "SHAPE":

[2018-03-18 03:53] gregnb commented on #11
Ok no problem. I think I can take it from here. I'll follow your structure and beef the data set up to 10,000 rows and look where the issues are. BTW does this happen in any browser you test? Which one are you using to round out this big report

[2018-03-18 04:11] JordanKadish commented on #11
Idk if I should make a new issue for this, but I'd also like to suggest that in your docs example, you make it as generic as possible. So instead of hard coding in stuff like a user database and column headings, perhaps write a mapping function that takes in a json file with a headings obj list and user db obj list, and then maps the user's data correctly to the heading fields of each created row.

[2018-03-18 04:23] JordanKadish commented on #11
##Related to this issue
Alright I've made it so every column appears in the filter section, and that correctly maps the uniques, and gets the correct data under each column (when using dropdown filtering). But if I choose to turn filtering off for certain headings, this misaligns which values go under the remaining headings in the filter. IE, if I leave Amount and Location on as filterable, their

[2018-03-18 04:24] gregnb commented on #11
Ok, I would open another issue and title it maybe "improve examples documentation + JSON loader function" maybe? I still want to keep the first example a user sees very simple and brief but expanding the examples to show how to load in a JSON file or even creating a standard function to load that in are good suggestions

[2018-03-18 04:27] gregnb commented on #11
@JordanKadish ok, I'll roll that into this. As of today there's no sorting in the filter list but it's easy to add so I'll make it an option that is on by default but if a user doesn't want a filter list to be sorted alphabetically then it'll be shown as is.

[2018-03-18 04:32] JordanKadish opened #12 "JSON loader method"
## Config

## Issue

If possible, creating a JSON loader method where people can submit a headings object and rows object would be nice. This loader would autoload and map the rows under the given headings based on the keys of each object.

Example:
[code]
## Your Environment

| Tech         | Version |
|--------------|---------|
| mui-datatables  |     1.0.8    |
| node        |     9.2.1    |
|

[2018-03-18 04:33] gregnb commented on #11
Anyway, my plane is landing soon I'll look into this next couple of days

![Uploading IMG_7946.JPG…]()

[2018-03-18 04:35] JordanKadish commented on #11
Cool, so just to summarise this (I went a bit of track sorry)
Sorting the filter list
Bug (possibly my side only) where hiding a column from the filter section shifts the listed values of all the other columns so heading X now has heading Y's row values

[2018-03-18 13:10] gregnb commented on #11
Ok, I just published version 1.0.9. This will sort by default the filter list generated for each column.  Also, there was a bug when the filter was turned off and did indeed shift the results. I took care of that bug so thanks for spotting it!

Let me know how it goes

[2018-03-18 15:31] JordanKadish commented on #11
Thanks, I'll get back to you by tomorrow with results

[2018-03-20 13:11] gregnb commented on #11
Hey @JordanKadish did you get a chance to try? I've tested again and it seems fine on my end

[2018-03-20 20:56] JordanKadish commented on #11
Yeah thanks, tested and working. Great job! I'm going to be super busy for a while but when I can, I'll try pop up some generic json loader code for you to slot in somewhere

[2018-03-20 21:10] gregnb commented on #11
@JordanKadish Thanks for reporting the bug! I'm still going to think about the JSON loader as a main feature. For sure I will include it as an examples/ but as for main feature I still need some time to decide

[2018-03-20 21:14] JordanKadish commented on #11
@gregnb no worries, I just think most people won't be working with this framework on hardcoded data, that's all. I am sure there are multiple ways to load in data, json just seems to be the most common in my experience. Thanks for fixing the bug :)

[2018-03-20 21:14] #11 closed

[2018-03-21 03:16] proverbface opened #13 "Uncaught Error: t.render(): A valid React element (or null) must be returned."
## Config

[code]

## Issue

[code]

## Your Environment

| Tech         | Version |
|--------------|---------|
| mui-datatables  |    1.0.9     |
| node        |    5.5.1     |
| OS      |        Windows 10 |

Package dependecies
[code]

[2018-03-21 05:34] gregnb commented on #13
Unfortunately I believe this error is due to the fact that this package requires you to run at minimum React 16. Is there any chance you can upgrade?

[2018-03-23 00:18] #13 closed

[2018-03-23 13:06] gregnb commented on #5
Hey @codyjroberts so I'm going to start working on this feature next. Just some product based questions first, though.  So, after exploring around I'm wondering what is the use case on selectable rows? So far, I'm just seeing datatable examples out there that allow you to select rows and then delete them.  I was wondering what would you do if given the feature?

Are there any cool things I could b

[2018-03-23 19:02] dmtrKovalenko opened #14 "[Feature Request] Controlled components"
Feature request of controlled component state. Let users a way to manage the data.
It should be really helpful because a lot of where its really helpful to manage the sorting/filtering via react state.
BTW in a lot of projects are using persisting state of tables to save sortings/column width and selection of users.
I`m happy to open a PR if you will accept. :)

[2018-03-23 19:04] dmtrKovalenko opened #15 "[Feature request] Typescript support"
Somebody should open this issue :)
If you will inject support on the project start - it would be easily to support it during development.

[2018-03-23 19:09] dmtrKovalenko opened #16 "[Feature Request] Server side pagination"
Requesting a feature for server side pagination support. 👍

[2018-03-23 19:11] gregnb commented on #14
Sorry, I'm trying to understand a little bit more of what you mean.  Are you suggesting moving the local state data source that is inside of DataTable.js to an outside component so a user could do whatever they wish to that data set?

Sounds interesting just want to understand a little bit more

[2018-03-23 19:12] gregnb commented on #15
Hey man, sorry about this one. I'm going to have to say no for now I'm not interested in having typescript in this project

[2018-03-23 19:12] #15 closed

[2018-03-23 19:12] gregnb commented on #16
Would love some help on this one. Would you want to take this up?

[2018-03-23 19:14] dmtrKovalenko opened #17 "Using TableSortLabel as sort indication"
Material-ui has an awesome control for sorting displaying - [TableSortLabel](https://material-ui-next.com/api/table-sort-label/), I cannot see any reason to not use it for sorting.

[2018-03-23 19:15] dmtrKovalenko commented on #14
[Example](https://react-table.js.org/#/story/controlled-component) from react-table

[2018-03-23 19:16] gregnb commented on #17
Thank you for the suggestion, but I prefer what is there right now.

[2018-03-23 19:16] #17 closed

[2018-03-23 19:17] dmtrKovalenko commented on #16
Yep I can try :)

[2018-03-23 19:27] gregnb commented on #14
Ok, I'm looking at that example now.  So obviously we're already providing pass in columns/data but you're asking about this other functionality. Soon as anything changes you can be notified (in this example, say, onFilteredChange triggers) and react to those changes and then pass in the newly changed state. Do I have that right?

[code]

[2018-03-23 19:32] gregnb commented on #16
Sweet thank you!

[2018-03-23 19:35] dmtrKovalenko commented on #14
@gregnb exactly

[2018-03-23 19:37] gregnb commented on #14
Sounds good to me, but before we start lets put together a list of which actions we're looking to have for props and finalize that list.  BTW thanks for suggesting and even wanting to take this up! Pretty nice of you

[2018-03-23 19:39] dmtrKovalenko commented on #14
@gregnb BTW why you are not using react `defaultProps` - it would be much more efficient from the rendering side. At all I have a lot of small refactoring suggestions. Where it would more convenient to place?

[2018-03-23 19:45] gregnb commented on #14
Ok, let's try to separate the concerns. I've had some refactoring thoughts of my own as well. I would rank things in this order

1) Server side pagination
2) Refactoring
3) Controlled component

As for the refactoring, if you knock out the server side pagination lets open up an issue and discuss what items you think are work redoing.  How about that?

[2018-03-23 22:24] JordanKadish opened #18 "Feature Request: sliders in dropdown"
## Config

## Issue

I'd like to know if you could include sliders for the filtering, so if a column contains numbers it would be possible to slide the two endpoints of the slider up or down

Example:
column contains number 1-10
in dropdown, slide left point up to 2, slide right point down to 7
result: only rows with that column value being between 2 and 7 now show
## Your Environment

| Tech

[2018-03-23 22:33] JordanKadish opened #19 "Feature Request: more fine grained pagination options"
## Issue

My db has tons of entries, and I'd like to be able to skip pages similar to how sites like Amazon have numbers between their next/previous page options
Example:
at the bottom of the page have:
< 1,a,b...c,d,96 >
where
     a and b are 10 and 5 pages back from current page respectively (or disappear when <15 pages in)
     c and d are 5 and 10 pages ahead of current page respectively (or

[2018-03-23 22:34] JordanKadish commented on #19
Forgot to add for clarity: in the example, < and > are the current icons

[2018-03-24 01:22] gregnb commented on #18
I'll have to think about this some more because as it stands right now the filtering type is provided in the options and applies to all the columns. It's not hard to implement this, but think about the following:

If we bring in something like a slider it would start to make more sense to move the filterType (ie: dropbox, select, slider) to the individual columns.  But, what about people who don't

[2018-03-24 01:32] gregnb commented on #19
Ok, just to be clear here is what Amazon currently looks like:

<img width="1278" alt="screen shot 2018-03-23 at 9 23 20 pm" src="https://user-images.githubusercontent.com/19170080/37858805-c19f5078-2ee0-11e8-8cfd-2beb048141f1.png">

What mui-datatables currently presents:

<img width="1003" alt="screen shot 2018-03-23 at 9 26 04 pm" src="https://user-images.githubusercontent.com/19170080/37858813

[2018-03-24 07:51] dmtrKovalenko commented on #17
@gregnb I'm sorry but current sorting control is really weird (from the material design prospective). As it is public package and it depends peerly to material-ui maybe it needs to add an ability to use all material-design sorting controls, or let users choose?

[2018-03-24 10:56] gregnb commented on #17
@dmtrKovalenko As you can probably see from the import at the top I was using TableSortLabel at one point. My biggest beef with it using it was no initial state to let a user know that it is a sortable column.  I'm not trying to take liberties with the spec, but it really feel odd every time I looked at it.  But, you're right.  If i'm going to claim this is a material-ui package then as much as it

[2018-03-24 17:07] JordanKadish commented on #18
I think you could pass a granularity flag with something like "table" and "column" to signify what level of customisation you'd want (considering, as you've said, not everyone needs specific things for each column). I think this may help with selectability too, since some people have said they need row selections and this would suit any future devs who need column selections I suppose

[2018-03-24 17:09] JordanKadish commented on #19
I think rowes per page (along with the relevant count) should go on the far left, with the arrows/numbers in the center. Then you'd have space for a company logo or something in the bottom right ;)

[2018-03-25 17:08] gregnb commented on #19
Ok I'm thinking along those lines as well. I'll add this to the todo items list

[2018-03-25 17:10] gregnb commented on #18
Ok, I will look into this after I get through the other features in queue. The one with the most priority at the moment is selectable rows + actions to events on the table. Few requests for that already

[2018-03-28 02:18] gregnb commented on #5
So PR #21 is close to being finished. So far, I've added the following callbacks: onRowsSelect and onRowsDelete.

Wish I had some more ideas for useful options in the toolbar above. For now, just a delete function.

<img width="1335" alt="screen shot 2018-03-27 at 10 14 55 pm" src="https://user-images.githubusercontent.com/19170080/38004943-94c4cb9e-320c-11e8-989a-5564f2f60853.png">

<img width="1

[2018-03-28 18:11] gregnb commented on #5
Version 1.1.2 now has this feature added

[2018-03-29 02:18] gregnb commented on #9
Selectable rows have been added in the latest version. It has two event callbacks that should help with this ticket.

[2018-03-29 04:18] JordanKadish opened #22 "More control over MUIDataTableToolbarSelect popping up..."
## Issue

I'd like to be able to change the top bar that renders when a row is selected (containing a trashbin icon and "x rows selected"), so instead of showing a delete icon, it will show a custom button I've made to do my own function. In other words, the onRowsSelect function should allow developers more control over what shows up when a checkbox is ticked.
 My reason for this:
  If I have use

[2018-03-29 09:26] gregnb commented on #22
Hey @JordanKadish thanks the feedback. Your request aligns with another ticket #14 to allows developers controlled components. I'm first going to start by providing the callbacks so developers can at least build controlled components.

After that, I want combine tickets like these to see which customization of UI can be done in a way that makes sense to give even greater control.

[2018-03-29 09:38] gregnb commented on #18
I'm going to take this ticket on next along with something I hand in mind which is providing formatting display (i.e. currency). This all fits into the customization of columns

[2018-03-29 09:44] gregnb commented on #3
Hey @jungrafael so I've refactored this package to correctly use mui themes and no longer take in options with my own styling system. That was done so it could align properly with material-ui and not having me roll my own solutions. Because of that, I'm not going to provide per component basis styling.  You'll only be able to provide a theme which will affect all or none

[2018-03-29 09:44] #3 closed

[2018-03-29 22:15] krishnaUIDev commented on #9
Is there any new features??

[2018-03-29 22:17] gregnb commented on #9
Yes, in the latest version there are selectable rows and two callbacks you can read the README for more information

[2018-03-29 23:07] krishnaUIDev commented on #9
Thanks. And is there any chance to change font icons??

[2018-03-30 02:11] gregnb commented on #9
@krishnaUIDev I could do something on the column options. A property called 'icon' so the options available would look like:
[code]

But again, I would only allow icons from material-ui-icons

[2018-03-30 02:12] gregnb commented on #9
Nevermind that, I wrote about the wrong section this is related to toolbar.  Let me think about this some more

[2018-03-30 02:20] gregnb commented on #9
So I'm trying to find a good reason to do this but I'm struggling. The only icons I would allow are ones to be loaded from material-ui-icons package.  Take for example print, if you search https://material.io/icons/ there are only two available.  Were you going to try to load in your own SVG's?

[2018-03-30 21:10] tolyan28 opened #23 "Error loading array of objects - Bug or New Feature needed?"
## Config
import React from 'react';
import ReactDOM from "react-dom";
import MUIDataTable from "mui-datatables";

class App extends React.Component {

  render() {

    const columns = ["Name", "Title", "Location", "Age", "Salary"];

    const data = [
      {name: "Gabby George", title: "Business Analyst", location: "Minneapolis", age: 30, salary: "$100,000"}
    ];

    const options = {

[2018-03-30 21:38] gregnb commented on #23
hey @tolyan28 thanks for the feedback. What you should do is the following:

[code]

The data prop can only take in an array of arrays

[2018-03-30 22:08] #23 closed

[2018-03-30 23:08] tolyan28 commented on #23
@gregnb - thanks for reply! I know that and it works great that way. I have modified it to feed the structure similar to what I have. It's too bad - I would think it would be a very viable feature. But at least now I know I don't miss anything.

[2018-03-31 01:01] gregnb commented on #18
@JordanKadish Could use some feedback. So first, I'm thinking what I would do about the following case where a user wants to mix/match checkboxes. If one had a large data set the slider would get buried underneath

<img width="896" alt="screen shot 2018-03-30 at 8 54 12 pm" src="https://user-images.githubusercontent.com/19170080/38158110-a26c97ac-345c-11e8-8197-14d3d80cbfa1.png">

One potential so

[2018-03-31 07:50] JordanKadish commented on #18
I didn't understand the part about the slider being burried underneath? I was thinking instead of having the tick boxes, that would be filtered as just numbers on a slider http://www.material-ui.com/#/components/slider this case (having a slider option) can only work on numbers, so it would make sense to just collapse all number tickbox options into a slider if the slider option was chosen for a c

[2018-03-31 07:53] JordanKadish commented on #18
Sliders can be set up in a way where you have a textbox or two under the slider stating what the top/bottom values are. This would be more useful than chips I think? Chips to me don't make sense for this situation (seems like excess rendering idk)

[2018-03-31 10:54] gregnb commented on #18
Sorry, maybe I wasn't clear and what I was trying to say.

What I meant was imagine the following column filterTypes: checkbox, checkbox, checkbox, slider. Now, looking at the screenshot above where the dataset is HUGE if the slider came last it would be tough to see because the list of checkboxes is SO long.  So, I was thinking maybe the checkboxes need to be revisted and do in a way that doesn't

[2018-03-31 15:54] JordanKadish commented on #18
Ah I see. Hm, I think in that case, the chip should contain two numbers: one starting number and one ending number. Example: I have numbers 1-10 but want to view 2-9. The chip shown could be [2-9]

[2018-03-31 21:04] gregnb commented on #18
I think at best this is going to only allow one sliding dot. And we still need to wait for this PR to merge

https://github.com/mui-org/material-ui/pull/10665

[2018-04-04 00:45] JordanKadish opened #27 "More details on how onRowsSelected relates to data in grid"
## Issue

I understand that the  onRowsSelected callback returns the index of which checkbox was last ticked/unticked, as well as the indices of all currently selected items. When I tick a checkbox and then sort the rows in a different way, the index of the row changes.
Example:
Row 1: bob, smith
Row 2: john, apple

If I click the box for row 1, it will console log: [0], [0]
If I then say sort by

[2018-04-04 00:50] JordanKadish commented on #27
More clarity (since I feel some is needed):

I bound my callback function this {this} in constructor
Then in the method, I tried to use the array index args being sent relate to the state data. This doesn't work, so I'm just not sure how to use the data being displayed on the screen to get a row's data that way. I have tried relating the indices to this.state.data, but when I sort the on screen gr

[2018-04-04 00:59] gregnb commented on #27
Hey @JordanKadish, you're like the biggest package supporter! Not sure where I would be without all your feedback :).

Ok, I'm seeing your issue now. While it's nice to get the index of what is currently selected what is really required is the index of where it is in relation to the provided datastore.  What if we modified onRowsSelected to return the following (imagine if we checked off both rows

[2018-04-04 01:06] gregnb commented on #27
Also, if that is something that will help would you want to take this work up?

[2018-04-04 01:12] JordanKadish commented on #14
@gregnb I realise this is where the idea for the callbacks onRowsSelected and oneRowsDelete come from. I was thinking instead of onRowsDelete, the function should be more generic and take in an svg. So something like onButtonClicked, and then when rows have been selected the button that pops up in the "x rows selected" div could be whatever material-ui icon the dev puts in along with the function

[2018-04-04 01:26] JordanKadish commented on #18
I think with the sliding dot issue, it would be possible to apply two filters to one Slider option so the Slider option in itself could be an object with something like {verbose:true/false} where verbose determines if the filter applied needs one sliding dot or two. If two, then there could be two separate sliders affecting the same column, one being the reverse of the other? Not sure how doable i

[2018-04-04 01:44] gregnb commented on #27
Ok, the way i'm seeing it if data looks like this:

[code]

Steps:
1) Click on row #1
   -> onRowsSelect returns [{ index: 0, dataIndex: 0} ], [ {index: 0, dataIndex: 1}]
2) Click on row #2
   -> onRowsSelect returns [{ index: 1, dataIndex: 1} ], [ {index: 0, dataIndex: 1}, {index: 1, dataIndex: 1}]
2) Sort by surname, ascending
3) Untick row 1 (which should be "john apple")
    -> onRowsSelect re

[2018-04-04 01:50] JordanKadish opened #28 "Buttons in columns"
## Issue

Not sure how possible this would be, but I am trying to have a column containing a "preview" button for each row, such that when the button is clicked, I open a preview frame displaying a picture and other details related to a row item.

Example: row contains {preview: `<material ui preview button>`, name: "John", occupation: "miner"}
On preview click, the data in the current row is sent

[2018-04-04 01:56] gregnb commented on #28
so @tgBryanBailes sent over a PR just tonight about being able to embed components.  We're still fleshing out some last minute details but what you'll be able todo is something like this:

[code]

[2018-04-04 02:06] JordanKadish commented on #27
Okay so you're saying row.index will be the INITIAL index when the table was first created? With the dataIndex variable in the example you provided, I'm not sure what it's doing: you select the first row and dataIndex becomes 1, but then when you select the second row, its dataIndex is already 1? And then in the final example, the initial row 1's dataIndex has now become 0??

[2018-04-04 02:10] JordanKadish commented on #28
Ok so are you saying each row would have an object like this pushed under the cell index of the "preview button" column (in the example) where `<SomeCustomComponent rowData={rowData} />` would be a subcomponent rendered within the table cell?

[2018-04-04 02:14] gregnb commented on #27
Yes

-> onRowsSelect returns [{ index: 0, dataIndex: 0} ], [ {index: 0, dataIndex: 1}]
Click on row #2
-> onRowsSelect returns [{ index: 1, dataIndex: 1} ], [ {index: 0, dataIndex: 1}, {index: 1, dataIndex: 1}]

Sorry, a mistake (getting late for me here and I'm going to bed at this point). This is what I meant:

Click on row #1
-> onRowsSelect returns [{ index: 0, dataIndex: 0} ], [ {index: 0, da

[2018-04-04 02:16] gregnb commented on #28
Yes, once we settle everything on this PR each column will have the ability to override it's cell display. In your case, where you want this preview button to appear you will be able to render a custom component there.

[2018-04-04 02:26] JordanKadish opened #29 "Table no longer works"
## Issue

I've just updated to material-ui beta 40 and react 16.3.1, and now none of the buttons (filter table dropdown, columns dropdown) work, and the trashcan icon on rows selected is not correctly aligned
## Your Environment

| Tech         | Version |
|--------------|---------|
| mui-datatables  |     1.1.3    |
| node        |    latest     |
| OS      |    Arch Linux     |

[2018-04-04 02:43] JordanKadish commented on #27
Ah I see. Sure, I think this could work assuming devs keep track of clicked items relative to the current page being sent client side. IE if user requests 5 items to render to screen and clicks some, those clicked items will need some reference point that can be sent back to server. I would imagine that on grid render/re-render, the page being sent can be contained in the data variable and a row e

[2018-04-04 03:04] gregnb commented on #29
Doesn't seem to be an issue for me locally and here's a forked code sandbox with 1.1.3 and 16.3

https://codesandbox.io/s/xvqkyn6kw4

[2018-04-04 03:04] #29 closed

[2018-04-04 03:06] gregnb commented on #27
Yeah, I think it could work. overall one thing that stuck out from this whole conversation was what about saving the check/unchecked states. I'm going to add in a prop to load those in incase someone from server side wants to hydrate that state.

So overall, from this ticket the two things to take:
1) Add additional info to the onSelectRows to return { index, dataIndex}
2) Add additional prop so a

[2018-04-12 00:05] gregnb commented on #28
I've published 1.1.5 which now has a property for customized columns called 'customRender' and I think this will fit your needs.  An example of how you would use it can be found [here](https://github.com/gregnb/mui-datatables/tree/master/examples/component)

[2018-04-12 00:05] #28 closed

[2018-04-12 00:10] gregnb commented on #4
hey @jungrafael  so a PR that @tgBryanBailes had worked on is finally merged in.  You can render React components or custom strings in cells using a property called `customRender`.  An example of how todo this can be found at [here](https://github.com/gregnb/mui-datatables/tree/master/examples/component)

[2018-04-12 00:10] #4 closed

[2018-04-16 07:00] tjaskula opened #32 "onRowsSelect doesn't fire"
## Config

https://codesandbox.io/s/lplo7l6q09

## Issue

Checking checkboxes doesn't fire `onRowsSelect` event.

## Your Environment

| Tech         | Version |
|--------------|---------|
| mui-datatables  |    1.1.5     |
| node        |         |
| OS      |         |

[2018-04-16 10:00] gregnb commented on #32
@tjaskula the callbacks are a part of the options.

try looking at this example https://github.com/gregnb/mui-datatables/blob/master/examples/selectable-rows/index.js

[2018-04-16 12:03] tjaskula commented on #32
Thanks. No issue

[2018-04-16 12:03] #32 closed

[2018-04-16 12:10] gregnb commented on #32
No problem!

[2018-04-16 15:12] EmanMohammad opened #33 "How to add actions in grid data table in last column like edit and delete and so on"

[2018-04-16 15:36] EmanMohammad commented on #33
Please i need quick answer if possible

[2018-04-16 20:55] tgBryanBailes commented on #33
Use the new `customRender` property. The `component` example gives a good example of how to do this.

[2018-04-18 08:48] tjaskula opened #35 "Question: How can we localize all texts ?"
Is there an easy way to localize texts in any language ?

[2018-04-18 09:31] gregnb commented on #35
Hey @tjaskula, there is not any localization support as it stands today. It is a feature that is definitely in the future roadmap

[2018-04-18 13:33] EmanMohammad opened #36 "I added Edit and delete actions in grid. How to delete row depend on its id"

[2018-04-18 13:53] #36 closed

[2018-04-28 16:27] #6 closed

[2018-04-30 05:03] JackZong opened #38 "so,Is this only a local datatable manage?It don't support server side data filter and some other operations ?"
It don't support server side data filter and some other operations.And  It must provide all the data at the first time.Dont support data load dynamic.Am i right ? Thank you very much.In the future,If it will add feature to load data dynamic.

[2018-04-30 10:44] gregnb commented on #38
Hey @JackZong you’re right as it stands today server side support is not finished. I’m cureently working on it and it should be ready soon. This will provide the ability to load in saved data

[2018-05-01 18:20] RaySheikh opened #40 "Question Material-ui-icons module not found"
Hi,
I'm getting an error "material-ui-icons/clear" not found. After some research i found the material-ui-icons no longer exists. it has been changed to @material-ui/icons. Could this be related?

Thanks,

Ray

[2018-05-01 19:27] gregnb commented on #40
@RaySheikh I am not seeing that issue. look below

[code]

[2018-05-01 19:39] RaySheikh commented on #40
Thanks for getting back so fast. Perhaps its something else. Below is the error:
./node_modules/mui-datatables/dist/index.js
Module not found: Can't resolve 'material-ui/Checkbox' in 'C:\New folder\TrainingApps\Mui-datatables\ClientApp\node_modules\mui-datatables\dist'

look try to troubleshoot further.

[2018-05-03 20:00] victorbueno commented on #40
@RaySheikh  Install exact version of the peer dependency

`yarn add material-ui-icons@^1.0.0-beta.36`

[2018-05-03 20:08] victorbueno commented on #35
Could we use https://github.com/stefalda/localized-strings ?

[2018-05-03 21:46] RaySheikh commented on #40
Thanks Victor that did it. I was using beta.42

[2018-05-04 07:36] #40 closed

[2018-05-04 07:47] gregnb commented on #35
@victorbueno I think to start I will provide something in the options that will allow you to start overriding the default language as opposed to storing different language sets

[code]

[2018-05-04 07:52] #16 closed

[2018-05-04 08:03] gregnb commented on #38
hey @JackZong in the latest released i've added two SSR options: page and filterList

[2018-05-04 08:03] #38 closed

[2018-05-04 20:59] victorbueno commented on #35
@gregnb that's even better!

[2018-05-05 20:46] RaySheikh opened #42 "Help convert Json into simple Array"
Hey Everyone,

I'm using the function below to convert json data from my API into simple array. Helps this helps someone.
maybe we can incorporate this function as an enhancement.

Json is the variable i created to receive Json array from my API call

var array = Json.map(({ Name, Title, Location, Age, Salary}) => ([Name, Title, Location, Age, Salary]))

Thanks

[2018-05-05 20:54] RaySheikh opened #43 "Hide a column completely"
Hi,

first of all I want to thank you for putting this project together.

Is there a way to hide a column completely from the view columns filter?
Currently If i use a column to store a key, the filter false option will hide it but it will still show up under view columns filter as unchecked.
Or if i use blank column to add a button, it still shows up under the view column as a checked column. Is

[2018-05-05 21:58] gregnb commented on #43
hey @RaySheikh thanks for the feedback. Yes there is a way to hide it using the `display` property. An example of that usage:

[code]

[2018-05-05 21:58] #42 closed

[2018-05-06 08:23] EmanMohammad opened #44 "How to delete one row depend on its 'id'"
## Config

## Issue

## Your Environment

| Tech         | Version |
|--------------|---------|
| mui-datatables  |         |
| node        |         |
| OS      |         |

[2018-05-06 08:39] EmanMohammad commented on #44
Please i need quick answer if possible

[2018-05-06 16:44] #33 closed

[2018-05-07 13:55] shubham81407 opened #45 "“View Columns” and "Filter Table" icons not show with HMR (react-hot-loader)"
## Config

[code]

## Issue

In last five days it's display filter and view column icon but now I have installed it and run with npm start it doesn't show. Why it's may happening .

## Your Environment

| Tech         | Version |
|--------------|---------|
| mui-datatables  |    1.1.7     |
| node        |     9.0    |
| OS      |   Ubuntu 16.04 LTS      |

[2018-05-07 13:57] vikaskr0697 commented on #45
I am also facing the same issue.

[2018-05-07 14:29] shubham81407 commented on #45
@gregnb "material-ui-icons": "^1.0.0-beta.36"

[2018-05-07 14:41] vikaskr0697 commented on #45
@gregnb i am using the same version as well.

[2018-05-07 19:04] RaySheikh commented on #43
Hey @gregnb  thanks for replying. I am using the `display: false` property but when filtering the columns using the column filter button they still show up.  Please see the screenshot below.

![image](https://user-images.githubusercontent.com/35114618/39719677-c6d07d48-51ee-11e8-82f5-2abc0c5c4cdf.png)

Thanks,

Ray

[2018-05-07 19:05] gregnb commented on #43
Ok, I'll take a look into this bug tonight. That is in the 'view columns' but how about the filtering? is it hiding there properly?

[2018-05-07 19:07] RaySheikh commented on #43
Yes, the Filter Table works perfectly fine.

[2018-05-07 19:08] gregnb commented on #43
Ok thanks @RaySheikh  I'll reopen this ticket and fix the view columns issue

[2018-05-07 23:05] gregnb commented on #45
Please upgrade to 2.0.0-beta-2 and let me know if you have any issues. Since material-ui-icons is no longer being used and it has now moved into the material-ui name space the peer dependencies now look like:

[code]

so you would need to switch to @material-ui/icons

[2018-05-08 04:15] shubham81407 commented on #45
Did that but its still not working.
![issue](https://user-images.githubusercontent.com/32332087/39737712-84175c0e-52a4-11e8-8c40-61b46b947fcb.png)

[2018-05-08 14:01] shubham81407 commented on #45
Still not working this is my package.json file.
[code]

[2018-05-08 14:25] shubham81407 commented on #45
When i remove hot module replacement in my app it's working fine. While working with hot module it doesn't work.
May be this is issue please try it with HMR and you will get this issue.

[2018-05-08 15:51] RaySheikh opened #47 "Question add/remove or modify Icons on selected rows"
Good morning,

Is there a way to add new Icons when selecting a row. Currently there is a delete Icon. I'd like to add an edit or more info icon somewhere and pop a Modal to extract row information. It seems only way to extract row info is by selecting the row and using an `onRowsSelect` function. Is there another way to extract the row information and display it in a popup Modal? if so I can nest

[2018-05-08 16:55] gregnb commented on #45
I still don't have an issue. Try the following:

[code]

open `package.json` and add the following line to scripts:

[code]

and then npm run start

and you will see the icons.

[2018-05-09 00:37] gregnb commented on #47
Thanks for your suggestion. Let me think about this some more and get back to you

[2018-05-09 03:59] shubham81407 commented on #45
@gregnb Try it with redux + react-hot-loader.

[2018-05-09 10:42] gregnb commented on #45
@shubham81407 I installed those two packages and it still works. I'm not really sure what issue you are having at this point. If you can provide me access to a repo so I can download it I would love to give you a hand

[2018-05-10 00:05] tgBryanBailes commented on #43
I'm not sure I understand the issue here. The way to hide a column completely is to not include it in the data you give to `mui-datatables`. Using the `display` option hides it on load, but allows the user to choose to see it if they would like. This seems to work exactly as I would expect.

[2018-05-10 05:49] shubham81407 commented on #45
https://github.com/shubham81407/reactjs-starter-kit

[2018-05-11 00:12] rafinha90 opened #48 "Page is greater than the total available"
Hi, I'm having some problems using this library.

When I'm on the second page, or ahead and I make a search that should return less pages than the one I'm on, I get the following error:

`Provided options.page of `1` is greater than the total available page length of `0``

And here is my code:

`export default class test extends React.Component {

    constructor(props) {
        super(props);

[2018-05-11 05:29] shubham81407 commented on #45
@gregnb did you checked my repo.

[2018-05-11 08:19] gregnb commented on #48
It looks like there's a bug. I will look into this today

[2018-05-11 08:19] gregnb commented on #45
Just pulled it down. I'm seeing your issue now very weird. I'll try to find the root cause

[2018-05-11 08:43] gregnb commented on #45
So the options are there when the Toolbar component renders. I think the next step will be to isolate the MUIPopover component and see if that just does not work with react-hot-loader.

<img width="1154" alt="screen shot 2018-05-11 at 4 37 35 am" src="https://user-images.githubusercontent.com/19170080/39915391-d8df5ba0-54d5-11e8-91ff-9a2e3f3cece2.png">

[2018-05-12 17:17] gregnb commented on #45
So after digging around the issue is coming from `react-hot-loader` because every component is wrapped in a ProxyComponent. Because of this MUIPopover would fail because the child.type would never display MUIPopoverContent or MUIPopoverTarget.

A simple work around to this:

[code]

and

[code]

I'll do a release this weekend and that should solve the issue

[2018-05-13 02:00] gregnb commented on #43
@RaySheikh After looking into this issue @tgBryanBailes is right. If I were to change ViewColumns to show a checkbox based off display being true/false then users will not be able to toggle on/off after load. I don't want to add another property because simply not providing the data is how you should solve this

[2018-05-13 02:00] #43 closed

[2018-05-13 02:10] gregnb commented on #48
This issue should be resolved. Upgrade to version 2.0.0-beta-3

[2018-05-13 02:10] #48 closed

[2018-05-13 02:10] gregnb commented on #45
This issue should be resolved. Upgrade to version 2.0.0-beta-3

[2018-05-13 02:10] #45 closed

[2018-05-13 02:12] gregnb commented on #12
Determined this is out of scope for the project and something that an individual developer should handle on their own

[2018-05-13 02:12] #12 closed

[2018-05-13 15:43] gregnb commented on #35
I'm going to finish this feature today and here's what I have so far for options:

Pass in a property named `textLabels` via options prop

[code]

[2018-05-14 00:03] #35 closed

[2018-05-14 01:43] gregnb commented on #35
This issue is resolved in 2.0.0-beta-6 which will also require upgrade to the latest material-ui

[2018-05-14 23:13] gregnb commented on #47
So what I'm thinking is providing a property on options called `customToolbarSelect` which will look like so:

[code]

And an example could look like this:

[code]

[2018-05-14 23:18] gregnb commented on #22
Closing this ticket because this is being looked at in #47 so follow there

[2018-05-14 23:18] #22 closed

[2018-05-15 21:42] teadams opened #51 "Question: Why does MUIDataTableBodyCell return 2 table cells"
Hi, thank you for this wonderful project.

I'm wondering why the rendor of MUIDataTableBodyCell returns 2 table cells?  I see that you give them eys... but I can't find references to using these keys anywhere.  Thank you
`
class MUIDataTableBodyCell extends React.Component {
  render() {
    const { children, classes, columnHeader, options, ...otherProps } = this.props;
    return [
      <TableCe

[2018-05-16 02:06] teadams opened #52 "Compatablity Issue?"
I'm wondering if I have a compatibility issue.

Theses are the versions I have
    "material-ui": "^1.0.0-beta.47",
    "mui-datatables": "^2.0.0-beta-6",

I get the following error when I try to follow your example:
./node_modules/mui-datatables/dist/index.js
Module not found: Can't resolve '@material-ui/core/Checkbox' in 'C:\Users\tracy\resrent-interface-tracking-ui\node_modules\mui-datatables\d

[2018-05-16 02:14] gregnb commented on #52
You will need to upgrade to the latest version of material-ui which comes under @material-ui/core

[2018-05-16 02:14] teadams commented on #52
I am also able to import Material UI checkbox into my project directly, so it's there.

It's weird it  failing on Checkbox and not on Paper, which is the first listed in the dist.

[2018-05-16 02:18] gregnb commented on #52
Upgrade to the latest version of material-ui

[code]

mui-datatables no longer depends on the beta and is now using the stable version release

[2018-05-16 02:18] gregnb commented on #51
One is used for the responsive view and one is for the plain view

[2018-05-16 02:18] #51 closed

[2018-05-16 02:25] teadams commented on #52
Thanks you,  I did that. Now I get
./node_modules/mui-datatables/dist/index.js
Module not found: Can't resolve '@material-ui/icons/Clear' in 'C:\Users\tracy\resrent-interface-tracking-ui\node_modules\mui-datatables\dist'

Things move fast!

[2018-05-16 02:27] gregnb commented on #52
also

[code]

[2018-05-16 02:33] teadams commented on #52
that did the trick, thank you very much

[2018-05-16 02:35] #52 closed

[2018-05-16 02:58] teadams opened #53 "Browser Issues"
Are there browser considerations?  In Edge, it is absolutely beautiful.  In chrome, the table is on it's side. (attached)
![chrome](https://user-images.githubusercontent.com/9733826/40094161-67f478fa-5893-11e8-9c8e-e621977903b5.JPG)

[2018-05-16 02:59] gregnb commented on #53
The screenshot looks fine to me I'm not sure what you mean by 'on its side' ?

[2018-05-16 03:07] teadams commented on #53
Attached is the Edge screenshot.. the column names are across the top and each line of data is in a row.

In Chrome, the column names are on the left repeated over and over. (looks like a mobile view perhaps except I am on a browser).
![edge](https://user-images.githubusercontent.com/9733826/40094381-abf0c6d4-5894-11e8-89f6-cf94e5905e1c.JPG)

[2018-05-16 03:11] gregnb commented on #53
Looks fine to me

https://wy2rl1nyzl.codesandbox.io/

![screen shot 2018-05-15 at 11 11 00 pm](https://user-images.githubusercontent.com/19170080/40094478-504097c8-5895-11e8-8576-b6887b365471.jpg)

[2018-05-16 03:16] teadams commented on #53
Yeah, I get the same as you in Chrome in the sandbox.

Is there something that toggles one of the views verses the other?

Thanks,
Tracy

[2018-05-16 03:52] teadams opened #54 "Small suggestion for documentation - data can not contain nulls"
I hooked up the table to the result of a database which contained nulls.  It caused on error which I easily fixed. Small suggested to note in the document that the data cannot contain nulls.

This UI is absolutely incredible. thank you for making it available.

[2018-05-16 03:58] teadams opened #55 "Small Typo?"
When I select a checkbox, it says "1 row deleted" and has a trash can on the right.

I believe this should say "1 row selected"  because the row is not actually deleted until you hit the trash can.
![deleted](https://user-images.githubusercontent.com/9733826/40095802-da1665d0-589b-11e8-9d0a-4a3bd7a41eff.JPG)

[2018-05-16 04:22] teadams commented on #54
also recommend you give a link to the examples of custumRender from the main documentation. Very useful!
https://github.com/gregnb/mui-datatables/blob/master/examples/component/index.js

[2018-05-16 06:09] teadams opened #56 "Question: Can customRender be the name of a function?"
Can customRender be the name of a function instead of the full function?

I tried and it did not work, but I may have the syntax wrong.

[2018-05-16 08:56] gregnb commented on #54
One of my short term goals is to finish up the docs setup with links to tons of examples. Trying to balance finishing up the features needed with documentation. It can be tough.

Would you like to pitch in and help me finish the docs site?

[2018-05-16 08:57] gregnb commented on #56
Show me how you're implementing

[2018-05-16 08:58] gregnb commented on #55
Good catch, do you want to send a PR for this? This along the docs enhancements are some nice suggestions. Could be a good way for you to get started by adding value to the project

[2018-05-16 08:59] gregnb commented on #53
The only reason the 'stacked' view should trigger is if you get into the mobile breakpoint

[2018-05-16 08:59] #53 closed

[2018-05-16 09:05] #55 closed

[2018-05-16 15:02] RaySheikh commented on #47
This is great. Thank you for looking into this. This should definitely help when the onSelect option disappears in the mobile version.

Thank you!

Ray

[2018-05-16 17:43] teadams commented on #54
Sure

[2018-05-16 17:54] teadams commented on #56
}, {
      name: "b",
      options: {
        filter: true,
        customRender: handleRender (index, value, updateValue)
    }
  }

[2018-05-16 22:18] gregnb commented on #56
If handleRender is a function you defined just simply change it to

[code]

[2018-05-16 22:18] #56 closed

[2018-05-18 23:48] emrbzr opened #60 "Custom stuff while table data is loading"
Hello,

When the data for the table is loading, users see "Sorry, no matching records found" for a couple seconds while it is fetching.

Is there any way to modify this to have our own loading stuff while waiting for data to load?

Thanks

[2018-05-18 23:53] gregnb commented on #60
@emrbzr Huh, no kidding? What is the process in which you are loading data?

Is this an AJAX call and then once the data arrives you update the table?

[2018-05-19 00:02] emrbzr commented on #60
Yes, i fetch the data in componentDidMount and while the data is fetching the table displays "Sorry, no matching records found" until the data loads.(2-3sec)

[2018-05-19 00:04] gregnb commented on #60
Ok, I will look into it tonight. For now, I'll probably have it not render anything until the data prop has arrived to avoid seeing that message displayed

[2018-05-20 03:07] teadams commented on #54
will do this tomorrow

[2018-05-20 19:18] gregnb commented on #54
Ok great @teadams , but actually do not list anything about this null issue. It's actually a bug I should address in which null values should just be treated as empty values to be rendered for display.

What I do need help on is expanding the docs portion of the website and filling more useful examples out and then having a drawer menu appear when clicking on the hamburger menu for the docs websit

[2018-05-20 20:57] teadams commented on #54
Hi Greg,  I'm working on a project "CRUD-mui-datatables".  This uses your component as a base and adds the "create/update/delete/retrieve" all as one component.  In addition to publishing on Git, I'm going to have a sample with a working backend connected to AWS so people can install and instantly see it working with a real server.

This should generate some really good examples for how to use MUI

[2018-05-21 00:07] teadams opened #63 "customRender - index variable the row number? Can I get the column?"
I tested out custom Render and I believe the index passed to my function is the index of the row.  Is there a way to get access to the column?

I'm trying to build a way to "in line edit" a cell.   Use case
a) user clicks on cell
b) cell changes to input box
c) when user leaves cell, update function is called

[2018-05-21 00:48] gregnb commented on #54
@teadams Cool sounds good. I am open to reviewing this when you're finished but again what I am really asking for is finishing up the docs site located here: http://www.material-ui-datatables.com

There is a docs/ folder in this project and I would love to have the hamburger menu pop out a drawer much in the way http://www.material-ui.com does and show have links to running examples from the curre

[2018-05-21 14:04] teadams commented on #54
Sure.

Is this project associated with Material UI? (I see you use the log)

[2018-05-21 14:13] RaySheikh commented on #47
Will did option work in the stacked mobile version?
Thanks

[2018-05-21 14:14] RaySheikh commented on #47
This is great. Thank you for looking into this. Just curious, will this work on the mobile stacked version?

Thanks!!

[2018-05-21 21:20] Deboracgs opened #64 "how to hande the rows json"
How to handle the array received from the server in the component?

example:

columns =>

  {
   name: "Id", // I need to put the translation and identify the field received
   options: {
    filter: true,
    sort: true,
   }
  },
  {
   name: "name",
   options: {
    filter: true,
    sort: false,
   }
  },
  {
   name: "active",
   options: {
    filter: true,
    sort: false,
   }
  }

rows =

[2018-05-22 00:14] teadams commented on #64
For my project,  I wrote a "massage" that takes the database json results as an input and returns the values as set of arrays instead of json.

So in your example, you would return an array like this

1,'test', true
1, 'examples', true

Make sure
a) there are no nulls (convert to empty string)
b) the order in the array lines up with the order in your columns

[2018-05-22 08:18] geohuz opened #65 "Table only render first page of data after disable pagination"
I'm going to implement a table which doesn't use pagination, so I set pagination=false in option, but the table only render the first page. Is there anyway to make the table render whole data set? So, for example, rowsPerPage=10000 and we have a table height be set and just scroll the table straightly.

[2018-05-22 08:20] geohuz commented on #65
sorry, my bad, didn't see the option in the doc

[2018-05-22 09:19] gregnb commented on #65
If you set your rowsPerPage large enough it'll show the whole table. Did you try this?

[2018-05-22 09:20] gregnb commented on #63
I'll look into this might not be a bad idea to include the cell location

[2018-05-22 13:09] teadams commented on #63
Please :)  Right now I have a nasty hack where I sneak the column through the data.  But other that that, it works awesome.

[2018-05-22 15:38] jkantr commented on #64
You use 3 'tick' marks: ```` ``` ```` followed by `js`, so: ```` ```js ```` - and then again to break the code block ```` ``` ````
[code]

[2018-05-22 15:55] jkantr commented on #60
So... I'm not sure if this is 'cheating' or not.. but the way that you allow arbitrary data to be passed for the localization... I just do this:
[code]

Basically I pass in a `Loader` react component that displays until my api data comes back (and which is given to the component via `props.isLoading`)

[2018-05-22 16:19] jkantr opened #66 "Feature request: 'Select All' checkbox in thead should change to 'deselect all' icon when multiple selections are made"
## Expected Behavior
GIF example of behavior in gmail: https://i.imgur.com/qC7kuVt.gifv

The 'select all' checkbox should become a 'deselect all' checkbox (with appropriate icon change) when any selections are made.

## Current Behavior
When any selection is made, no changes happen to the 'select all' button

[2018-05-22 19:48] geohuz commented on #65
Yes, but how can I set the table height and allow scroll vertically

[2018-05-22 20:35] teadams commented on #64
Thanks!

[2018-05-22 20:56] teadams commented on #63
Thanks...  I was able to get the row information because my handleCustomRender has access to the data array.  However, it would be far easier to directly have access to it in custom render.

This is the code
[code]

[2018-05-22 23:48] gregnb commented on #66
Great catch. I will add it to the todo list

[2018-05-22 23:50] gregnb commented on #65
Try wrapping MUIDataTable in a scrollable div that has a fixed height

[2018-05-23 00:00] gregnb commented on #63
@teadams @jkantr I'm open to feedback on how either of you envision some changes toe customRender() in terms of structure. Let's see some quick mockups. How would we structure the additional params?

The current version is in beta so I am fine with making the right breaking change to give everyone lots of flexibility going forward.

Current:
[code]

Becomes this:
[code]
and data is an object where

[2018-05-23 00:34] #47 closed

[2018-05-23 00:42] gregnb commented on #47
Ok, download the latest version and in the examples folder I have an example of a custom toolbar for select

[2018-05-23 00:43] gregnb commented on #27
Upgrade to the latest version. onSelectRows function will now return { index, dataIndex }

[2018-05-23 00:43] #27 closed

[2018-05-23 00:45] gregnb commented on #60
I've added this for now

https://github.com/gregnb/mui-datatables/blob/master/src/MUIDataTable.js#L657

But, @jkantr has a great suggestion as well. Adding loaders is something I don't want to get into and that should be up to the user

[2018-05-23 00:45] #9 closed

[2018-05-23 00:52] gregnb commented on #14
A lot of work has been done to add more support for SSR. If there are items still lacking open up new issues

[2018-05-23 00:52] #14 closed

[2018-05-23 02:11] geohuz commented on #65
Yeah it works but the table lost Paper style, my code is like:
`<Paper style={{height: 500, overflowY: 'scroll'}}>
          <MUIDataTable
            title={"title"}
            data={flights.tableData}
            columns={columns}
            options={options}
          />
        </Paper>`

[2018-05-23 03:18] teadams commented on #63
Maybe the  Column Options for that column?

1. This would support the existing options that you have defined, plus any extra options the developer added.
2. This will serve as a way to pass any column specific options to the customRender function.  (parallels column options for the full row)

[2018-05-23 03:27] teadams commented on #63
I think data might be confused with the overall table data.

Some other ideas
cell_vars
cell_params
cell_vals
cell_attributes
cell_props
cell_state
vars
params
vals
attributes

[2018-05-23 14:25] #65 closed

[2018-05-23 14:49] teadams opened #67 "Specifying Width of column"
Is there a way to specify the width of a column?  Or tell it to be the size of the text, with a little bit of margin.

Use case
1. I've added Edit and Delete columns to my table with Edit/Delete Icons
2. I would like these column widths to be just a little bit bigger than the icons

Thanks,
Tracy

[2018-05-23 16:34] RaySheikh commented on #47
This looks great. Thank you for getting this done!
Is there a way to select a row and pop the custom toolbar for the mobile stacked version?

Thanks,

Ray

[2018-05-23 17:53] jkantr commented on #63
I guess this isn't a simple interface to design because the idea of a "custom" render is very general, but not very generalizable. Many cases it's just styling the data differently or only truncating it or wrapping it in some other tags or another component etc. But sometimes you're rending a custom column to have icons in it and no data, or an expandable button or something. Sometimes you want to

[2018-05-23 18:14] gregnb commented on #63
@jkantr Can you put together in one mock up function what you see for parameters and contents of any data objects

[2018-05-23 18:28] jkantr opened #68 "Enhancement: Allow for excluded, hidden, or 'never visible' columns"
### Add third column visibility option
Right now if you include a column of data and set `options: { display: false }` the column is hidden, but it's still available to be displayed via the "view columns" menu in the UI. Sometimes rows need related data that never needs to be displayed (nor should it be) but is necessary for things like calculations or end-user display customization.

#### Use Cas

[2018-05-23 18:35] jkantr commented on #66
Yep, I don't have time this week but I should be able to get to it in the near term.

[2018-05-23 23:45] teadams commented on #68
Another way is to let data be a json and then only display the elements that are in columns.

[2018-05-23 23:48] teadams commented on #64
You can actually use anything... column might be conceptually better choice.  You could just use "x".

table_columns is an array of columns.  In the map function, the variable field is used to represent one element of the array, or one of the columns in table_columns.

[2018-05-24 14:54] Deboracgs commented on #64
you do not understand what I meant, in the code I gave as an example, it is what I use, but the translation field is the same as json, in other components there is one field for the field name and another for the field json's ID @teadams

[2018-05-25 01:09] gregnb commented on #68
@jkantr I'm fine again making another breaking change considering this package is still in beta. My vote is for the string enum without doing a type check.

[code]

[2018-05-25 01:11] gregnb commented on #67
So as it stands today there is styling support for columns in general but no styling support to target specific columns

[2018-05-25 01:11] #67 closed

[2018-05-25 01:52] teadams commented on #64
If my example, tables_columns in the same as your columns.
I have an extra property called "database_name".  If the name for the column in the database matches the name property, you would use "name" instead of "database_name".

[code]

[2018-05-25 02:03] teadams opened #69 "Advice? -- Inline Updates"
I've used customRender to do inline edits to data in individual cells.

It seems like I have these options for after i call the server
1. Visually, the value has changed in the table.  I can trust that the server updated the data correctly and continue with the same data array.
2. I can update the state of my data array, which will force a new render of MUIDataTable.  All my sorts go away.
3. If t

[2018-05-25 06:17] slomski opened #70 "Is there a way to disable default behavior for certain actions when providing callbacks?"
HI and thank you for you work on the component.
I would like to us this table in my project but i want the data to be requested from server every time i perform search or sort.
I can do this by providing my own callbacks and create new request, fetch data and populate table.
But at the same time for example when searching the table rerenders with local data.
Is there a way to disable this when pro

[2018-05-25 11:58] shubham81407 opened #71 "How to use it with "@material-ui/core": "1.0.0""

[2018-05-25 12:30] gregnb commented on #70
@slomski Thanks for the feedback. Unfortunately a feature like you described above is out of scope for this project. Providing the data is your best option

[2018-05-25 12:30] #70 closed

[2018-05-25 12:31] gregnb commented on #71
I’m not sure what you’re asking? Do you have material-ui installed?

[2018-05-25 12:53] shubham81407 commented on #71
@gregnb mui-datatables use material-ui beta version now material-ui v1.0 has been came so how can i migrate it with v1.0

[2018-05-25 12:56] gregnb commented on #71
Sure, so upgrade to the latest version of mui-datatables it also uses material-ui v1.0

[2018-05-26 18:46] jkantr commented on #60
Not to comment in a closed thread.. but i think this actually breaks my little hack?

https://github.com/gregnb/mui-datatables/blob/master/src/MUIDataTable.js#L693

the `noMatch` text is rendered in the body... which because of your addition there, now doesn't render when there's no data :/ Am I missing something obvious?

[2018-05-26 19:40] gregnb commented on #60
@jkantr How do we find a happy medium? We don't want to render a table unless there is data ready because that could be a problem for one subset of users. Then this library also don't want to get into the business of having data loading spinners that should be controlled by the user.

I really think this should be handled completely outside of the library like this:

[code]

[2018-05-26 23:41] #71 closed

[2018-05-28 05:50] teadams opened #72 "File download does not work in Edge"
If you try to download with Edge, you get another window to open and then it is just blank.

I did some research, and it appears "Data URI link <a href="data: doesn't work in Microsoft Edge".
https://stackoverflow.com/questions/33154646/data-uri-link-a-href-data-doesnt-work-in-microsoft-edge

There are a bunch of similar solutions I found.

I tested one paralleling the solution amsterdamharu  post

[2018-05-28 21:56] gregnb commented on #72
Which version of edge are you using?

[2018-05-29 14:13] teadams commented on #72
Google Chrome is up to date
Version 66.0.3359.181 (Official Build) (64-bit)

[2018-06-01 05:32] JoonHyunJeong opened #73 "rows click event"
i'm trying to handle event when row clicked but it seems there is no such options in mui-datatables.
How can i implement it?

[2018-06-01 10:48] gregnb commented on #73
I will address these shortly as a part of a larger improvement

[2018-06-01 10:52] gregnb commented on #72
I made an update and it will be in this weeks release

[2018-06-01 10:53] #60 closed

[2018-06-02 23:20] samsch commented on #63
I'm doing some work with this library, and I need the row data available to my custom render. Specifically, my custom render uses an onEdit for a button which needs to be called with the row ID.

I think this would be a good shape: `customRender(value, updateValueFn, meta)`, where meta is
[code]
The tableState stuff isn't particularly important to what I'm doing personally, I added that in based o

[2018-06-03 21:42] teadams opened #74 "Feature Request - Pass in initial filter values"
Use case
1. User is viewing a list of items
2. Use clicks on one of the items, which takes the user to a MuiDatatable.
3. Ideally, the view would be filtered based on the item the user clicked.

Unless I am mistaken, there is no one to specify that MUIDatatable should have a specific filter displayed by default.  (I do see a way to pass in if the column should be displayed or not, which is a simil

[2018-06-03 23:22] gregnb commented on #74
https://github.com/gregnb/mui-datatables/blob/master/examples/serverside-options/index.js

You can pass in a filterList which is an array of arrays. Each inner array represents results to filter a column by. I think that is what you're looking for?

[2018-06-04 04:43] teadams commented on #74
Wonderful, thanks!

[2018-06-04 09:26] #74 closed

[2018-06-04 15:41] jkantr commented on #63
Having it all together in one value doesn't feel great... but it's almost arbitrary to try to split it up. I would probably opt for `customRender(value, data = { rowData, tableData }, meta = { rowIndex, columnIndex, columnName, tableState, updateValueFn` - probably only because having the 'callback' (or event trigger? w/e) function last seems more 'normal' to me.

But realistically I don't think a

[2018-06-05 04:06] rst66 opened #75 "MUIDataTable cannot customize count"
There are no prop or option to customize the total number of rows, which is  the ``count`` prop
of ``TablePagination`` .

This attribute is the ``length`` of the data, but in my case, only one page of data is pulled from backend service, with  the ``total`` attribute. I think this is the common case, so it will be very necessary to be able to customize the ``count``.

## Expected Behavior
add ``co

[2018-06-05 05:46] vikaskr0697 opened #76 "Download option not working"
![mui-datatableissue](https://user-images.githubusercontent.com/38679805/40957235-cd287dec-68b1-11e8-96ed-3a3d7e52f597.png)

[2018-06-05 06:43] shubham81407 commented on #76
I have also same issue.

[2018-06-05 15:45] samsch opened #77 "noMatch text doesn't fill whole row if selectableRows is set to false."
When option `selectableRows: false` is set, the noMatch text is a single column wide.

I think the problem is that the tertiary here: https://github.com/gregnb/mui-datatables/blob/master/src/MUIDataTableBody.js#L115 should be `options.selectableRows ? columns.length + 1 : columns.length`.

[2018-06-05 18:32] gregnb commented on #77
Do you want to send a PR for this?

[2018-06-05 18:33] gregnb commented on #76
Will be doing a release today to resolve this issue. Sorry for the delay

[2018-06-05 18:46] #77 closed

[2018-06-05 18:46] gregnb commented on #77
Thanks @samsch !

[2018-06-06 19:47] RaySheikh opened #79 "select option in stacked mobile mode"
Hi Greg,

Is there a way to override the style to allow selecting of the rows in mobile stacked version and display the toolbar on top with the buttons? sort of similar to the screenshot below.

![image](https://user-images.githubusercontent.com/35114618/41061518-baa26a8a-6987-11e8-9fdd-92cfff5a3cf7.png)

[2018-06-06 23:34] gregnb commented on #79
As it stands today no. I will have to think about adding such a feature

[2018-06-06 23:43] richardjzhang commented on #76
Just tried updating to beta-8 by running `npm install mui-datatables --save` but seem to still be running into this issue, am I doing something wrong?

[2018-06-06 23:46] gregnb commented on #76
Visit: https://wy2rl1nyzl.codesandbox.io/
That is running beta-8

I need some more information. Version of Material-ui, React. Browser etc.

[2018-06-06 23:53] richardjzhang commented on #76
Hey there thanks for responding. I'm quite new to all of this so appreciate any help I can get. Here are some of the package versions:
@material-ui/core@1.2.0
@material-ui/icons@1.0.0
react@16.4.0
react-dom@16.4.0
mui-datatables@2.0.0-beta-8

I'm also using Chrome as my browser

[2018-06-06 23:55] gregnb commented on #76
@richardjzhang Sure, no problem. Does this fail with any data? Can I see your config provided to mui-datatables?

[2018-06-07 00:00] richardjzhang commented on #76
[TableExample.txt](https://github.com/gregnb/mui-datatables/files/2078503/TableExample.txt)
Seems to fail with all the tables I have - I'll have a go at putting some dummy data in because at the moment the data is a prop

[2018-06-07 00:01] gregnb commented on #76
@richardjzhang If you ran the following config could you tell me if you still have issues?

[code]

[2018-06-07 00:08] richardjzhang commented on #76
@gregnb seem to still be having the same issue, this is what I have
`class EnhancedTable extends React.Component {
  // Overides styling for the table. Overriding font size only at this stage
  getMuiTheme = () =>
    // eslint-disable-line
    createMuiTheme({
      overrides: {
        MUIDataTableBodyCell: {
          root: {
            fontSize: '1.5vmin',
            padding: 'auto',

[2018-06-07 00:17] gregnb commented on #76
What is the issue exactly? Can I see a screenshot?

[2018-06-07 00:20] richardjzhang commented on #76
@gregnb after clicking on the 'Download icon' i receive the following console message:
[code]

And the pop up that usually opens for downloading the csv file doesn't happen

[2018-06-07 00:39] gregnb commented on #76
@richardjzhang Can you reply back to me with your package.json as well? Is this inside of create-react-app?

[2018-06-07 00:47] richardjzhang commented on #76
[code]
@gregnb We were running it inside of create-react-app but have made some significant changes since then.

[2018-06-07 00:54] gregnb commented on #76
I created a repo with create-react-app you can clone: https://github.com/gregnb/mui-download-bug

and then

[code]

let me know if it works because I'm not getting any issues in Chrome testing

[2018-06-07 00:59] richardjzhang commented on #76
@gregnb very weird, so this one works! I'll look into what might be going wrong on my end and will let you know if I manage to resolve it

[2018-06-07 01:00] gregnb commented on #76
@richardjzhang for sure I would love that seems some other people are suffering from this issue but I can't see what it is

[2018-06-07 01:42] richardjzhang commented on #76
Oh man @gregnb I found what the mistake was...

I have two Package JSON files. One for the backend and front end - the latest version of mui-datatables was in the backend. Moving it to the frontend Package JSON file fixed it

[2018-06-07 09:59] gregnb commented on #76
@richardjzhang oh wow, well I’m glad you found the issue!

[2018-06-07 21:03] dustingraves opened #81 "Request: Allow custom buttons/functions for selected row(s)"
I would like to be able to pass in another button next to the delete button that fires a callback I can work with. This would be useful if you want to trigger some other function for the selected row(s) other then delete.

This could be done through an `onRowsCustomFunction` function in the options object. The icon could be set this way through `onRowsCustomIcon`.

Additionally, this could be an a

[2018-06-07 21:14] dustingraves commented on #81
just found `customToolbarSelect`

[2018-06-07 21:14] #81 closed

[2018-06-07 21:16] gregnb commented on #81
I really need to finish the docs site and make this easier to navigate and find solutions. Sorry for the trouble

[2018-06-08 12:46] gregnb commented on #63
I think I'm going to go with the following (and may actually start work on it today)

[code]
	to
[code]

[code]

[2018-06-15 06:02] richardjzhang commented on #72
@gregnb Me again! Just been testing the download option on Internet Explorer 11, and it doesn't seem to work. Something to do with Blob?

[2018-06-15 11:33] gregnb commented on #72
@richardjzhang I did borrow some from react-csv. Is edge no longer a problem? Just IE?

[2018-06-15 12:27] richardjzhang commented on #72
@gregnb Yep works fine on Edge, but I run into issues on IE 11

[2018-06-15 19:28] car1sberg commented on #64
It would be great to add implementation that allows to use data prop as an array of objects, idk where we can use array of arrays in real world projects and data as shown above -  [1,'test', true] but not {id: 1, name: "test", active: true}
If i misunderstood something, please let me know

[2018-06-19 13:02] jkeruzec opened #83 "Add button "create new row" in toolbar"
Hello,

I think someone already did this but I can't find documentation nor issues on that..
I'd like to add a "new" button on datatable's toolbar to create a new line on table (with custom form, rest call etc. reload on top on that and where I will handle it my-self).

I already saw customToolbarSelect but this does not fit to what I want to do...

If someone can give me some information or if I

[2018-06-19 14:16] jkeruzec commented on #64
The proposed solution is not optimized because of column like "edit" which corresponds to button and not to data itself ..

[2018-06-22 11:34] jkeruzec opened #84 "When no data is provided, table is not displayed"
I notice that when table is empty and there are no data to display,  table component is not shown.

Could it be possible that table is shown and a customable message is displayed on table body.
Possible message : "No data to be displayed" or "Datatable is empty".

Thanks!

[2018-06-22 15:48] gregnb commented on #84
hey @jkeruzec, as it stands today I am going to leave this up to the developer to implement outside of the library.  The component is expecting data otherwise nothing will render

[2018-06-22 15:48] #84 closed

[2018-06-22 15:49] gregnb commented on #83
The option to customize the toolbar is not available as it stands today.  It is something I would need to think about. I will add it to the discussion list

[2018-06-24 12:28] gregnb commented on #73
I am going to provide a callback named `onCellClick` which will look like so:

[code]

That will provide you every bit of information

[2018-06-25 04:32] adetwiler commented on #75
I am having the same issue, I think the real enhancement here would be to support remote datasources in general. Such as sorting, filtering, searching, pagination, etc.

Currently this only seems to support an entire datasource rather than a paginated datasource either from a remote or local source. It would be nice to get further support on that rather than it just being limited to needing the en

[2018-06-25 04:36] jstgermain commented on #75
Having the same exact issue, and I have come to the same conclusion as @adetwiler. This has halted development and forced me to download the git repo instead of the NPM module. It seems like I have it really close to working with remote data, but issues in filters, searching, and pagination. This module is amazing, but it seems odd that it wasn't built to handle remote data with an offset and limi

[2018-06-25 10:42] gregnb commented on #75
I will add count property to the options prop. Hope this will address all your issues

[2018-06-26 01:01] adetwiler commented on #64
@jkantr or anyone else. I'm working on a project where it doesn't seem that a remote solution works very well. I may be missing something, but while I get the data from a remote source, such as the example you provided. I seem to be having issues in other areas, such as pagination, getting the rows per page, searching, filtering, etc. It appears a lot of these classes are trying to index base the

[2018-06-26 09:24] benjaminbours opened #86 "Bug export CSV Chrome Mac OSX"
Hello, i got a bug when i use the export CSV feature in the toolbar of the table.
I'm with chrome on Mac OSX

## Expected Behavior

I need this kind of data
<img width="207" alt="screen shot 2018-06-26 at 11 19 46" src="https://user-images.githubusercontent.com/8804297/41902091-e0040e68-7932-11e8-939c-fbde3e01ec20.png">

## Current Behavior

but data looks like
<img width="550" alt="screen shot 20

[2018-06-26 11:02] gregnb commented on #86
So when you open the download in Excel all the data comes in on one line?

[2018-06-26 11:14] benjaminbours commented on #86
Yep, and with a bad formatage or encodage, as you can see in the screenshot. I proposed a solution in a pull request, but between us, it's the fist time i contribute to something, so i hope it is good :)

[2018-06-26 11:15] gregnb commented on #86
@benjaminbours Thank you! I was looking at making that same fix as well. I'm more than happy to accept it but before I do can you test it in other browsers to make sure things are fine?

[2018-06-26 11:36] benjaminbours commented on #86
I checked on Chrome, Firefox, Safari on Mac OSX and Edge on a Windows and no problem. On IE11, I got a lot of bug but it happens at the loading, i don't think it is why I did which created the bug. And I tested on the webpack-dev-server, so maybe the code is not compiled down enought ( I mean like ES3) to match the required of IE11.

I can't test on other browser :)

[2018-06-26 12:30] gregnb commented on #86
Ok great thank you

[2018-06-26 12:31] #86 closed

[2018-06-26 15:13] jkeruzec commented on #63
it seems that nothing is rendered with the change..
I return either a String or a component but column is empty/not displayed at all.

![image](https://user-images.githubusercontent.com/3499632/41921902-370d6408-7964-11e8-9281-cd27dc266a5f.png)

With :

[code]

[2018-06-26 15:48] gregnb commented on #63
@jkeruzec Yeah, it's weird when running locally as dev it works fine but I see some issues on prod bundles. let me look into this

[2018-06-26 20:51] floscom commented on #75
yeah would be great!

[2018-06-27 00:11] gregnb commented on #63
@jkeruzec Which version are you running? Make sure it's the latest beta.

Take a look at this codesandbox I put up with the same example that is in examples/ looks good here

https://codesandbox.io/s/w7zm4zm0r5

[2018-06-27 00:22] #76 closed

[2018-06-27 00:22] gregnb commented on #73
This is now available in the latest release. A callback function named `onCellClick`

[2018-06-27 00:22] #73 closed

[2018-06-27 03:04] #75 closed

[2018-06-27 06:53] jkeruzec commented on #63
Ok my bad, I was providing an array with on data less than the number of column... !

Thanks anyway !

[2018-06-28 00:33] #63 closed

[2018-06-28 11:15] gregnb commented on #72
I’ve decided we will no longer support IE11

[2018-06-28 11:15] #72 closed

[2018-06-29 10:00] KaRkY commented on #83
If you decide to add functionality of adding buttons to toolbar it would be nice to be able to add buttons to rows too.

For now I have my own implementation of this where I can add Open, Edit, Delete etc.

[2018-06-30 10:19] nadobando opened #89 "Select all + select all when already selected"
## Expected Behavior
* Select All:
When select all rows it should select all rows in table or be able to choose the behavior.

* Select All rows when already selected rows in different pages:
When you already selected different rows in different pages when selecting all rows it should select all the rows

* Select All rows then change number of rows per page:
When selecting all rows and changing t

[2018-07-01 21:04] klequis commented on #43
I'll also start by saying thank you for developing this grid. It is really nice!

A way to hide a column is almost the first thing I looked for. In my case it will be a mongoDB object id which the user should not be able to see but will be used for all click events as a unique identifier for the row. Is there a way to not include it in the data give to the grid and still determine what data in the

[2018-07-06 13:50] gregnb commented on #89
hey @nadobando thank you for filing this report. I am currently working on deselect and you are right as I worked through the feature enhancement I noticed this as well. The change I am going to provide will be the following:

Select All:
Clicking the 'Select All' checkbox will select all the data in the table. This then will display a checked checkbox

Selecting individual cells:
When selecting i

[2018-07-06 19:04] #89 closed

[2018-07-06 19:10] gregnb commented on #66
This feature is now added via #90 and merged in

[2018-07-06 19:10] #66 closed

[2018-07-06 19:11] gregnb commented on #68
I will look to take this up next and go with the proposed enum solution listed above

[2018-07-07 01:17] gregnb commented on #83
@KaRkY Could you post a screenshot of what that looks like?

[2018-07-09 10:16] NickToye opened #91 "Customize search element"
Expose search component so that it can be customized, such as adding a Placeholder.

[2018-07-09 17:56] ifaungthiha opened #92 "how to set column width"
Hello,
how to set column width?

Thanks,

[2018-07-09 22:18] GavMan1995 opened #93 "Possible to not display checkboxes that delete rows?"
Hello there, I was curious if its possible to get rid of the checkboxes that delete the rows, thanks!

[2018-07-09 22:44] GavMan1995 opened #94 "make each row a link?"
Is it possible to make each row a link?

[2018-07-09 23:31] gregnb commented on #92
Hello @ifaungthiha you can set a column width that will apply to all columns (there is no individual column support and no plans for it) like so via theme:

[code]

[2018-07-09 23:31] #92 closed

[2018-07-09 23:40] gregnb commented on #94
@GavMan1995 You could just have a one column table and then use custom render like so:

[code]

which would yield you a table that looks like this:

![screen shot 2018-07-09 at 7 39 37 pm](https://user-images.githubusercontent.com/19170080/42481331-da44157c-83af-11e8-8574-d0b1bae32049.png)

[2018-07-10 00:43] gregnb commented on #83
This has now been released and available for usage

[2018-07-10 00:43] #83 closed

[2018-07-10 07:21] jkeruzec commented on #83
Thank you !

[2018-07-10 08:38] NickToye commented on #91
Good news, although you've spelt Customise wrong. ;)

[2018-07-10 10:12] NickToye commented on #83
Ok this isn't working for me.  I've copied your code example pretty much and the component just doesn't get rendered.

These are my dependencies:

"mui-datatables": "^2.0.0-beta-12"

Getting no errors in the console either.

[2018-07-10 10:41] gregnb commented on #91
Really? http://www.dictionary.com/browse/customize

[2018-07-10 10:43] NickToye commented on #91
Americanisms.

[2018-07-10 10:50] chiran-subedi commented on #91
Hello Gregnb,

I hope you can help me with this. I have been using mui-datatable and its
too good. Firstly i'd like to thankyou for this awesome project.

I want some customization on the tooltips.

Right now, whenever i hover through each of the column head at the table,
the tooltip popover shows "sort" for all. Is there any way so that we can
provide different titles for each of the columns ?
Ex

[2018-07-10 11:37] gregnb commented on #83
@NickToye Try taking a look at this sandbox https://codesandbox.io/s/lx35x2pn8m

[2018-07-10 11:55] chiran-subedi commented on #83
How can we have different tooltip popover to each of the column head at
hover? All of them have "sort" when we hover on them now ?

On Tue, Jul 10, 2018 at 5:22 PM, gregn <notifications@github.com> wrote:

[2018-07-10 12:05] NickToye commented on #83
@gregnb I wonder if its because I'm rendering without using ReactDOM.  I'll check.

[2018-07-10 12:41] NickToye commented on #83
@gregnb ok found my issue.

I have this dependency set as:

`"mui-datatables": "^2.0.0-beta-12",`

rather than

`"mui-datatables": "2.0.0-beta-12",`

[2018-07-10 12:45] gregnb commented on #91
@chiran-subedi Thanks for the feedback, but please file an issue. Posting your own issues in other people's issues can be inconsiderate. So if you can please remove this comment and the other and file an issue. Thank you

[2018-07-10 12:48] gregnb commented on #83
Ok great @NickToye glad it's working for you

[2018-07-10 17:22] chiran-subedi opened #96 "customization on the column's head"
Firstly i'd like to thank-you for this awesome project.
I want to add code snippet beside the column name and sort icon (for eg. div tag) at thead>tr>th. How can i add this piece of code in each of the column's head ?
The image attached herewith describes more..

<img width="953" alt="screen shot 2018-07-10 at 9 12 51 pm" src="https://user-images.githubusercontent.com/4115132/42526424-7eb7fe08-849

[2018-07-10 17:59] ifaungthiha commented on #92
:(
thank you for reply

[2018-07-11 06:39] KaRkY commented on #83
@gregnb Sorry I did not respond earlier but was very bussy. This is how my implementation looks.

![grid](https://user-images.githubusercontent.com/832289/42554621-dd64523a-84e5-11e8-98c3-fa250906c084.png)

[2018-07-11 14:07] NickToye opened #97 "Delete rows returns Uncaught TypeError"
So basically with the recent beta version (2.0.0-beta-12) delete rows throws an error.

[code]

Dependencies:

[code]

[2018-07-11 15:47] gregnb commented on #97
Yep I missed that while adding in the deselect feature. I just published beta-13 give that a try

[2018-07-12 09:06] NickToye commented on #97
Nope, still got the same error.

[2018-07-12 11:15] gregnb commented on #97
Sorry, try -14 version. Didn't publish correctly

[2018-07-12 11:53] NickToye commented on #97
Yeah thats got it.

[2018-07-12 11:56] #97 closed

[2018-07-13 13:59] eramax opened #98 "filter or search issue"
when there isn't a matched value from filter or search the table disappears.

## Expected Behavior

## Current Behavior

## Steps to Reproduce (for bugs)
<!---
search with any value not matched with the table contents.

[2018-07-13 14:18] apercas commented on #98
I'm having the same issue, thought it was my code but I saw it's happening on the demo as well https://codesandbox.io/s/wy2rl1nyzl

[2018-07-13 14:31] gregnb commented on #98
Upgrade to the latest version just put out a fix

[2018-07-13 14:37] apercas commented on #98
Great! Thanks, is it already on NPM?

[2018-07-13 15:37] gregnb commented on #98
Yep!

[2018-07-13 18:16] eramax commented on #98
I checked but it is still not fixed
I used
`    "mui-datatables": "latest",
`
you can check this link https://codesandbox.io/s/0p3k65qx9v

Regards

[2018-07-13 18:49] gregnb commented on #98
Try -16 just published

[2018-07-14 02:50] gregnb commented on #98
did that help @eramax  ?

[2018-07-14 11:20] eramax commented on #98
Yes thanks so much for your help.

Regards

[2018-07-14 13:43] #98 closed

[2018-07-15 01:04] gregnb commented on #91
So #96 has a similar question about more customization support, but for the column header. I have given it some time and I'm trying to come up with a way to solve the current issues and get ahead of future issues.  I think it's going to require some breaking changes and what I'm proposing is the following changes to options:

Change `options` object on custom columns from `customRender` to `custom

[2018-07-15 12:36] NickToye commented on #91
Happy to help.  I’m not at my computer at the moment, but I’ll have a think.

[2018-07-16 07:22] jkeruzec opened #100 "Warning tooltip issue with Material UI 1.4.0"
After update of new Material UI 1.4.0, there is a warning concerning tooltip reimplentation :

[code]

[2018-07-18 10:16] Kalmuraee commented on #100
I have the same Issue here

[2018-07-22 14:11] gregnb commented on #100
Just published 2.0.0-beta-17 and this should be addressed

[2018-07-22 14:11] #100 closed

[2018-07-23 06:34] jkeruzec opened #103 "Update to @material-ui/icons v2.0.0"
Can you provide support for updated material-ui/icons V2.0.0 ?

`Module not found: Can't resolve '@material-ui/icons/FileDownload' `

[2018-07-24 09:27] jkeruzec opened #105 "Force refresh data in datatable"
I want to rerender existing data to make some custom cell editing on row
I'm using mobx framework to fetch my data using @computed and stores.

I implemented onCellClick to get row in edition but my data are not changed here. I just want to rerender existing data and re render my columns passing in customRender and changing value for input value.

[code]

[code]

I managed to make it work by refet

[2018-07-24 12:41] gregnb commented on #105
Could you show me how you're managing the data you provide to MUIDataTables? My first thought is you should manage the data outside of the MUIDataTables and then provide the new data to the table like a controlled component.

[2018-07-24 14:42] harryluo91 opened #106 "How to make the checkboxes in the filter default to selected?"
Hi, is there a way to have the filter checkboxes pre-selected by default? It is a bit confusing to have them unchecked but everything is showing on the table by default.

Thanks.

[2018-07-24 14:57] gregnb commented on #106
Sure, in the following example:

[code]

This will result in a filter dropdown that looks like this:

![screen shot 2018-07-24 at 10 56 24 am](https://user-images.githubusercontent.com/19170080/43147128-4e91175a-8f30-11e8-8e21-6c375415cb83.jpg)

[2018-07-24 14:57] gregnb commented on #103
Resolved thanks to @terenced I will be doing a release later tonight

[2018-07-24 14:57] #103 closed

[2018-07-24 15:02] jkeruzec commented on #105
For sure :
First  I have couple of stores loaded when my component is constructed
Then I display datatables on render function with
[code]
I load my store with async method using a computed value :

[code]

I think my problem comes from the async store with my rest API .. There is always a moment where my data is loading and I have to display something

[2018-07-24 15:43] harryluo91 commented on #106
@gregnb Thanks for the quick response, that's exactly what I wanted, thanks!

[2018-07-24 21:09] yacut opened #107 "Deep tree component with transitions breaks popups"
Unfortunately the popper component does not work properly with standard mui transitions like Grow:
[code]
I've made an example here: https://codesandbox.io/s/4zln106lk0
<img width="1130" alt="screen shot 2018-07-24 at 23 04 36" src="https://user-images.githubusercontent.com/4711633/43166105-fa878a8e-8f95-11e8-9f5f-3b8c7fb210c1.png">

Maybe [the popper component](https://material-ui.com/api/popper/

[2018-07-24 21:18] gregnb commented on #107
Huh, interesting. Pretty unique case. I mean all I did was write a wrapper over the MUI Popover component which should still be using Popper.js. The Popover component has always been a pain for me.  I don't have any great ideas on how to solve this one

[2018-07-25 00:42] gregnb commented on #106
You're welcome!

[2018-07-25 00:42] #106 closed

[2018-07-25 00:46] gregnb commented on #105
Ok, so you make your async request and mobx then provides the data when it is available. Then, you create that data array and pass it off to the MUIDataTable library. What do you mean by display something?

Does the following not work well for you?
1) onCellClick -> this triggers async request
2) async request resolves and data is returned
3) convert this with createDataArray() and pass this new d

[2018-07-25 08:43] jkeruzec commented on #105
I fixed my issue, but I'm forced to reset one store used in computed value to force mobx to re compute this store and refresh data.

I wish there were a way to say to mobx compute again this data like a "dirty" or "changed" flag.

For what you propose, this what I'm doing here already. OnCellClick I set the currentRowSelectionId and then I trigger a reset and a fetch of my datatable data (no data

[2018-07-25 11:12] gregnb commented on #105
Could you record a small video and let me see what happens?

[2018-07-26 09:16] jkeruzec commented on #105
Ok let's give it that to you, the issue is more visible has I add more rows on the datatable.
I think there is another feature that would be great, is to have the possibility to add a row at certain position.

Here's the capture:

![capture](https://user-images.githubusercontent.com/3499632/43253438-4207e43c-90c5-11e8-8e23-250a09bcc0fc.gif)

[2018-07-26 17:55] gregnb commented on #105
Sorry, I am still trying to understand. So you click on add a row, but you don't want todo anything. Maybe it was like a user mistake right? So then, what you're asking is there a way I can just re-render what was there previously?

[2018-07-26 23:16] usotnyk opened #108 "Custom Row/Footer"
Question:

Is it possible to add a custom footer to a datatable? At the bottom of a datatable I need to add a row with "Totals" that needs to be fixed (always be visible on every page even when pagination is on), but not be filterable/sortable. I've tried creating a separate datatable component below the main table (and styling it to look as part of the main table), but there is a scrolling issue

[2018-07-27 06:22] jkeruzec commented on #105
Yes this is it :

1. Datatable is loaded with data
2. User click on a cell or edit button
3. I need here to able to go on customRender without reloading data (because nothing changed)
4. Current selected row (I got the row ID) is rendered passing in customRender so that field changed from string to custom input. The rest is left untouched, no need to reload the full table.

[2018-07-27 09:58] gregnb commented on #105
Ok, I got it now. Thanks.

**Problem 1)**

A cheap way around the first problem in the mean time would've been popping up a modal maybe but I understand the inline edit looks much nicer. That way if someone makes no change the data doesn't change either.

These are some good problems and I need some time to think about it.

**Problem 2)**

This is tough because we're saying MUIDatatables is being

[2018-07-27 11:50] jkeruzec commented on #108
Why not create a special row added at the end of data in which you will add some computation, maybe add some style to it also

[2018-07-27 12:39] usotnyk commented on #108
@jkeruzec, that was my first solution and until a user starts interacting with the table, it looks as per the mockup. However, with this solution, when a user wants to filter or sort the table, it fails. Ex: a user wants to filter by "Site" -> in the dropdown of filters by site there will now be 3 options: "Red Apple", "The Bargain Shop" and... "Total", which makes no sense. Sorting columns presen

[2018-07-28 14:52] benjaminbours opened #109 "Typescript support"
Hello @gregnb,

I'm a typescript user and I wanted to know if you are interested in typescript support for this component ? Material-ui-next have a support for each component so I think it can be nice to have for the MUIDatatables too. I never did a [declaration file](https://www.typescriptlang.org/docs/handbook/declaration-files/introduction.html) before, but I think it can be a nice exercice for

[2018-07-28 15:58] gregnb commented on #109
hey @benjaminbours thank you for offering. I think at this moment it's low on the priority list. Something that is really important is the documentation.  I would love to finish the website (http://www.material-ui-datatables.com). I would love a draw to pop out when clicking the menu with codesandbox demos of all everything listed in the examples/ folder. Interested? :)

[2018-07-28 18:56] benjaminbours commented on #109
Yes why not :) I will take a look ! Are we okay that is something like this you are looking for ?
 [https://material-ui.com/demos/drawers/](https://material-ui.com/demos/drawers/)

[2018-07-29 01:01] gregnb commented on #109
Yes absolutely! If you look at the way material-ui.com's menu functions it's just a draw as well. I would like it to look the same

[2018-07-29 02:32] gregnb commented on #108
I have a PR that should be merged shortly after some further testing that will allow you to override the current table footer (pagination) with a custom one.  This will obviously overwrite the pagination but should allow you to do anything.

[2018-07-29 02:34] #44 closed

[2018-07-29 13:49] usotnyk commented on #108
That's awesome! I'm looking forward to using this enhancement in my project. Thank you!

[2018-07-29 23:45] gregnb commented on #108
Ok published `2.0.0-beta-18` give it a shot

[2018-07-29 23:45] gregnb commented on #96
Ok I just published `2.0.0-beta-18` this will allow you to overwrite the column header and render whatever you like. I put some information in the README

[2018-07-29 23:45] #96 closed

[2018-07-30 04:05] shubham81407 opened #111 "How to change checkbox color?"
How i can change the checkbox color.

[2018-07-30 15:40] jkeruzec opened #112 "Feature Request: Resizable columns"
Another improvement that can be cool :
Be able to resize with a resize bar the column size

@see project react-split-pane for inspiration

[2018-07-30 16:08] jmarucha opened #113 "Malfuncting peer dependencies"
`@material-ui/icons@^2.0.0` in current version (2.0.0) doesn't provide `@material-ui/icons/FileDownload`, resulting in `ModuleNotFoundError`

[2018-07-30 16:16] gregnb commented on #113
Try upgrading to the latest version of mui-datatables we've moved the peerdepends up and also changed the fileicon

[2018-07-31 07:35] jkeruzec commented on #113
Same here with latest version :
`"mui-datatables": "2.0.0-beta-18",`

In minified code, I always have FileDownload Icon and not CloudDownload Icon.
I also delete folder on node_modules repository and npm install again..
Master branch on Github is OK.

Maybe some problem of build on your side?

[2018-07-31 07:47] jkeruzec commented on #113
There is also no custom toolbar in latest version :(

reverting to previous version^^

[2018-07-31 08:36] jmarucha commented on #113
Just installed version `2.0.0.-beta-18` and got `Module not found: Error: Can't resolve '@material-ui/icons/FileDownload'` again. The `@material-ui/icons` are installed in vesion `2.0.0`. Are you using any additional icon set in the project?

[2018-07-31 11:18] gregnb commented on #113
I'll take a look at this in about a half hour

[2018-07-31 11:40] jkeruzec commented on #113
Ok for icon, ok for customtoolbar but now I loose the customRender method ... :'(

next version will be good ! I'am sure ;)

[2018-07-31 11:43] jmarucha commented on #113
works for me :)

[2018-07-31 11:43] #113 closed

[2018-07-31 12:05] jmarucha commented on #113
Just to confirm: the FileDownload icon has been removed from mui.
https://github.com/mui-org/material-ui/issues/12344#event-1762445446

[2018-07-31 12:18] jmarucha opened #114 "support for external pagination handling"
When the data is provided from external source (REST API, database, etc) the internal handling of pagination is unnecessary. The option `externalPagination`, default to false can be provided to turn on and off the array splicing for rendering the table, and paging is handled via events onChangePage and onChangeRowsPerPage.

[2018-07-31 20:34] taochen48 opened #116 "onCellClick function doesn't work at all"
onCellClick function doesn't work at all

please refer to this example that was provided by you: https://codesandbox.io/s/48378wk9nx

[2018-08-01 09:24] jkeruzec commented on #116
Please try with latest version : "mui-datatables": "2.0.0-beta-19",

[2018-08-01 11:35] mantzuri commented on #111
You can override the theme, I didn't manage to do it without ```important```

[code]

[2018-08-01 14:13] gregnb commented on #116
Sorry for that! I just updated the codesandbox.io to the latest version

[2018-08-01 14:13] #116 closed

[2018-08-01 14:15] #114 closed, assigned to nobody

[2018-08-01 14:58] jkeruzec opened #117 "How to change style of one row"
How can I change the style of one row ?
For example to set a background color to see a selected row ?

Tthanks,

[2018-08-01 17:58] benjaminbours commented on #109
Hi @gregnb
I'm really still OK to do your feature and I don’t forget it but I have a lot of jobs for this moment (for the agency where I work and for some personal projects).
I will look after a pull request ASAP.

[2018-08-02 12:53] gregnb commented on #108
@usotnyk DId it work out for you?

[2018-08-02 17:49] usotnyk commented on #108
@gregnb, I did not have a chance to try it yet. We found a temporary work around for the existing datatable I had (disabled filtering and sorting) for the time being. I will however, use your enhancements for a few other tables I will start building next.

[2018-08-03 05:22] superdev999 opened #118 "How to put <a> tag link to each row (first cell of each row)?"
Hello, @gregnb
How are you?
I tried exactly same like above to put tag to row(first cell of each row).
But it displays still pure text instead tag
Hope you would help me to handle this.
I will look forward to hear back from you
Albert

[2018-08-03 08:55] ashbc opened #119 "Documentation does not mention that `page` option is 1-indexed."
The `page` option takes a page index starting at 1, whereas Material UI's `TablePagination` component takes them 0-indexed. This is implemented in mui-datatables by subtracting 1 from the page.

The 1-indexed functionality of mui-datatables is not documented anywhere.

See:

- [mui-datatables npm docs](https://www.npmjs.com/package/mui-datatables#options)
- [line of code that subtracts 1 from page

[2018-08-03 11:01] NickToye opened #120 "Uncaught TypeError: Cannot read property 'toString' of null"
I am using a date picker that allows for a clearable option, but whenever I do it throws up the above error.  Also if I have an empty value in the data it doesn't render an empty label, instead renders Unknown.

I appreciate that this is a compatibility issue, but was wondering if we were able to add null values in that it would work.

[2018-08-03 12:37] kirstenland opened #121 "Disabling sort for a single column doesn't seem to work"
The documentation says you can enable/disable sort for the whole table, or for each column individually. Currently only enabling/disabling sort for the whole table seems to have any effect.

## Expected Behavior

According to the documentation, you should be able to enable or disable sorting for a particular column with the options, e.g. if the columns are:
`const columns = [
 {
  name: "Name",

[2018-08-03 12:48] SoftwireTimC commented on #83
@KaRkY could you share your source for your inline buttons?

[2018-08-03 13:06] pavlovicIvan opened #122 "Search bug (count doesn't change after search)"
## Expected Behavior

Search bug (count doesn't change after search) - after successful search, total number of rows should be according to search results
## Current Behavior

Total number of rows is same after searching (example: there are 2 results after search but total number of rows is still unchanged: 30)

## Your Environment

| Tech         | Version |
|--------------|---------|
| MUI-datat

[2018-08-03 14:39] NickToye commented on #64
Does anyone have a working example of this?

Maybe it's late in the week but I'm confused.

I'm getting 'table_columns' is not defined error.

[2018-08-03 21:48] gregnb commented on #121
Sounds like a great idea!

[2018-08-03 21:49] gregnb commented on #120
I'll look into it when I get some time this weekend

[2018-08-03 21:49] gregnb commented on #119
Ok fair point, would you like to send in a PR to let people know it is 1-indexed?

[2018-08-03 21:50] gregnb commented on #118
Try this:

[code]

[2018-08-03 21:50] #118 closed

[2018-08-03 21:50] gregnb commented on #117
Right now there's no styling per rows. Just global styles

[2018-08-03 21:50] #117 closed

[2018-08-03 21:51] gregnb commented on #122
I'm not seeing this issue? https://wy2rl1nyzl.codesandbox.io/
If I search 'Business Analyst' I get five results and it prints 5 results at the bottom

![screen shot 2018-08-03 at 5 51 31 pm](https://user-images.githubusercontent.com/19170080/43667429-e198c436-9745-11e8-9666-a410b647f5e2.jpg)

[2018-08-03 21:52] gregnb commented on #108
Ok no worries. I will close the issue for now. Thanks

[2018-08-03 21:52] #108 closed

[2018-08-04 10:33] pavlovicIvan commented on #122
Hmm.. please can you check this link: https://codesandbox.io/s/r4jn0l4lxq
It is beta-19 and total count doesn't changing.

[2018-08-04 18:53] gregnb commented on #122
You're right there is a bug in -19 thanks for reporting. I will look into it

[2018-08-04 20:24] #111 closed

[2018-08-04 20:26] gregnb commented on #109
No worries @benjaminbours

[2018-08-04 20:32] gregnb commented on #112
Looks pretty neat I could see something like an option say
[code]

that would allow you to adjust any column.  If someone wants to take this work up I would approve of it

[2018-08-04 20:34] gregnb commented on #19
This can now be done by the user with the customFooter override where a user can create a pagination to their own liking

[2018-08-04 20:34] #19 closed

[2018-08-04 22:41] asharafshahi commented on #83
When you select the checkbox on a row, it only shows the delete button on the toolbar.  Is it possible to allow other actions?

[2018-08-04 22:54] gregnb commented on #120
mui-datatables@2.0.0-beta-20 now accepts nulls

[2018-08-04 22:55] gregnb commented on #54
Closing because mui-datatables@2.0.0-beta-20 now accepts nulls

[2018-08-04 22:55] #54 closed

[2018-08-04 22:55] gregnb commented on #122
This should be resolved in mui-datatables@2.0.0-beta-20

[2018-08-04 22:55] #122 closed

[2018-08-05 11:44] #121 closed

[2018-08-06 02:57] asharafshahi commented on #83
@KaRkY  To get the inline buttons into the table, I simply passed the JSX into the data array:
`<MUIDataTable .... data={[field1, field2, ..., <IconButton ... />]}`

[2018-08-06 03:31] berlirumapea opened #124 "Vertical border"
Please add vertical border option

[2018-08-06 08:18] NickToye commented on #120
I'm afraid this still doesn't work.  If I put in null as a value it still throws the same error.

eg.

[code]

[2018-08-06 11:04] gregnb commented on #120
https://codesandbox.io/s/403wk6omj4

Take a look at that example it has a null value working on beta-20 version

[2018-08-06 12:42] NickToye commented on #120
Ok, turns out my lock file had a really old version - 20 beta works.  However, the sort breaks if you have a null in it.

[2018-08-06 12:45] gregnb commented on #120
Ok I'll do a release later today let me know if anything else related to this comes up and I'll tackle that

[2018-08-06 12:50] NickToye commented on #120
Ok.

[2018-08-06 13:41] jmarucha opened #125 "Feature Request: Custom filter list"
For the data provided from external source, such as database, providing custom list of avialable filters would be extremaly useful.

## Current Behavior

The filter options are based on the data passed to the component. For the data:
[code]
avialable filters on column 2 are 'a' and 'b'
## Expected Behavior

A user should be able to provide list of filters to override the possible filter options vi

[2018-08-06 14:42] NickToye commented on #120
Not sure if this is related since beta 20 dropped, but getting this error:

Warning: Failed prop type: Invalid prop `children` supplied to `TableCell`, expected a ReactNode.

I narrowed it down to having a value of true like so:

[code]

Feel free to move this comment if its a separate bug, but I don't recall it breaking under the previous versions.

[2018-08-08 02:47] #124 closed

[2018-08-08 10:41] NickToye commented on #120
Can confirm that date picker no longer works with your recent beta,

https://material-ui-pickers.firebaseapp.com/demo/datepicker

[2018-08-08 10:47] NickToye commented on #120
customRender stopped working also.

[2018-08-08 10:50] NickToye commented on #120
ah have just realised customRender was changed to customBodyRender - so it kind of works.

[2018-08-08 12:45] gregnb commented on #120
Ok, so the remaining issue is still data rows with just one entry? Sorry, I haven't had lot of time this week to look into issues

[2018-08-08 12:47] NickToye commented on #120
Well I don't know if it is related, but if I have a null in my data row, and then click the filter drop down I get this error:

`index.js:1 Uncaught TypeError: Cannot read property 'toString' of undefined`

Everything else seems to work.

[2018-08-08 15:14] gregnb commented on #125
There is an option to allow you to specify the filter list. Take a look at example located here:
https://github.com/gregnb/mui-datatables/blob/master/examples/serverside-options/index.js

[2018-08-08 15:17] gregnb commented on #125
Sorry, misunderstood a provided filterList for filterOptions. Ok, I'll get back to you on this.

[2018-08-08 21:01] jpaulsen-apixio opened #126 "Is it possible to hide the title and select checkbox?"
This is an exceptional implementation. Is is possible to make this table simpler and not have the title or title bar, as well as select checkboxes for the first column?

[2018-08-09 00:58] gregnb commented on #126
Title/titlebar not as of today.

Selectable rows just pass in the following options:

[code]

[2018-08-09 01:03] gregnb commented on #120
Try beta-21

[2018-08-09 03:45] asharafshahi opened #127 "function passed to onRowsSelect option gets called with strange results"
When I pass any function other than console.log to onRowsSelect,  the checkbox never gets checked and the behavior is very odd

## Expected Behavior

I would expect the function to get called and the checkbox to appear checked after.

## Current Behavior

function doesn't get called

## Steps to Reproduce (for bugs)

[code]

1.
2.
3.
4.

## Your Environment

| Tech         | Version |
|-----------

[2018-08-09 08:20] NickToye commented on #120
Still does the same.

This happens when I click the filter icon.

[2018-08-09 11:39] NickToye commented on #47
Not meaning to want to re-open this, but I feel I need some clarification.  Say I have a column that is a reference number, and I want to display that in the customToolbarSelect component, so I would click a bunch of rows and it would display the reference numbers, rather than just say 3 rows selected.

I couldn't find any info about this.

[2018-08-09 13:38] NickToye commented on #27
onRowsSelect not onSelectRows?

[2018-08-09 13:41] NickToye commented on #5
@gregnb I have a use for something like this.  Currently we are working on a delivery management system, and we would like to be able to select rows and then run a function that would bulk edit a cell in a column.  For example we would want to remove a booking date, but not actually remove the record.

Is that already possible?

[2018-08-09 13:45] gregnb commented on #120
https://codesandbox.io/s/xrvrzryjvp

Seems to be working ok to me?

[2018-08-09 14:00] NickToye commented on #120
I have a date-picker component, and it returns a null if there is no value.  If I remove that data the filter dropdown works.  I'm wondering then if it is the component that is not playing nicely with your component.

[2018-08-10 08:58] NickToye commented on #127
It seems if you setState within the onRowsSelected function it doesn't allow you to check the checkboxes, or it does, but it goes from true to false before the check is highlighted.

[2018-08-10 12:08] NickToye opened #128 "Checkboxes state is not persisting"
On the latest beta version.

My checkboxes state is not persisting.  See here in my sandbox:

https://codesandbox.io/s/3r0jx6kqnq

I believe it has something to do with me setting state within a function called from within the **onRowsSelect** function.

However, I can't figure out why.  The checkbox becomes true and then quickly becomes false, and I'm wondering if it is refreshing the render and

[2018-08-10 13:22] vantsymbalenko opened #129 "Add new icon in header of table"
How can I add new icon with custom handler in header of table near search icon? Is it possible?

[2018-08-10 13:26] asharafshahi commented on #127
This ended up working for me, not pretty but got the job done:
onRowSelect = (currSelected, _) => {
    const data = {...currSelected[0]};
    const selected = [...this.state.rowsSelected];
    var index = selected.indexOf(data.index);
    if (index > -1)
      selected.splice(index, 1)
    else
      selected.push(data.index);
    this.setState({
      rowsSelected: selected,
    });
  };

[2018-08-10 13:30] NickToye commented on #127
My issue is getting the selected rows into state because I want to pass them.

[2018-08-10 14:09] NickToye commented on #129
customToolbar is your friend.

[2018-08-10 14:31] NickToye commented on #127
Ok, I've updated mine to be like what you have there and my checkboxes don't work.

You take the setState code out and the checkboxes work, also the select all checkboxes cause an error which I have raised as part of another issue here, #128

[2018-08-10 16:06] SoftwireTimC commented on #129
When I add a custom toolbar it adds my new toolbar but it puts it inside the old one instead of remove the previous one. Is the idea of custom toolbar to make a completely new toolbar or is it just for adding extra buttons to the standard toolbar?

[2018-08-10 16:38] atrauzzi commented on #109
Definitely need to use this library in my TS project, so I'd also love to see typings added.

[2018-08-10 17:00] NickToye commented on #129
I believe it’s to add more.

Sent from my iPhone

[2018-08-11 19:39] gregnb commented on #120
Try to post up a sandbox so I can take a look

[2018-08-11 19:40] gregnb commented on #128
Ok thanks for sharing I’ll tru to take a look this weekend

[2018-08-12 02:13] gregnb commented on #127
Going to look into both these issues this weekend. Thanks for raising them guys

[2018-08-12 02:30] gregnb commented on #128
If it's going to be a controlled component then you need to pass in the selected rows as well otherwise it'll appear blank after the re-render.

[code]

[2018-08-12 02:31] gregnb commented on #127
Could do something like this:

[code]

Anyway, going to close the issue since it is not an issue the callback function simply fires successfully

[2018-08-12 02:31] #127 closed

[2018-08-13 07:48] NickToye commented on #120
https://codesandbox.io/s/8zzyl6yn69

Click the date cell and clear the date, then do the filter dropdown.

[2018-08-13 08:45] NickToye commented on #128
Ok the problem I had was that I want to access a column and apply that as a selected record value in state.

[code]

So I I select a row I want to put in the 2nd value of the array, your code snippet just brings back the row id.

[2018-08-13 11:06] gregnb commented on #128
I’m not seeing that in your code example? At minimum I think your first big issue was not passing the rowsSelected. Without that the table will never know which rows should be selected if it is a controlled component

Overall I’m not even sure I’m understanding what you’re trying to accomplish considering this is just something to identify selected rows and the callback returns the correct selecte

[2018-08-13 11:17] NickToye commented on #128
Ok, I've updated my example, sorry about that.

See in my example I have Name and Ref for example.  When I check the rows, I want the reference numbers to go into state so I can pass them to other components.

Maybe if I explain the full scenario that I am going for here.

My data in the actual app will be server-side, and the function of the app is to be able to remove a booking date, and my empl

[2018-08-13 17:38] DanielGarciaGuillen opened #131 "Is there anyway to modify when the we table changes to stacked?"
Hi!

First of all, thanks for this amazing package!
I was wondering if there is any way to change when the table changes to stacked.

Best,
Daniel.|

[2018-08-14 00:13] gregnb commented on #131
I'm not sure if I follow? The change to stacked is driven primarily from CSS. What is your goal?

[2018-08-14 08:13] NickToye commented on #128
Yeah I think we are good.  I managed to get the value I was looking at from those rows with a bit of persevering.

[2018-08-14 14:08] AaronKauffman opened #133 "onCellClick doesnt work with filters or searching [Question]"
## Current Behavior

onCellClick returns the index of the column and row selected of the current page. So this index will always be 0 - [(# rows per page)-1]. So if the user filters or searches then the index value returned is not able to be associated back with the data the user clicked on.

## Expected Behavior

The expected behavior would be that the index returned is the index value in the dat

[2018-08-14 21:01] lucasharada opened #134 "customBodyRender isn't called"
I'm trying to add a custom class depending on the value of the column data, but `customBodyRender` isn't called at all.

## Expected Behavior

Call the function passed on the column options.

## Current Behavior

The function is ignored.

## Steps to Reproduce (for bugs)

[code]

## Your Environment

| Tech         | Version |
|--------------|---------|
| Material-UI  |    @material-ui/core v1.5.0

[2018-08-14 21:36] lucasharada commented on #134
Cleaned `node_modules` and installed the package again to start working.

[2018-08-14 21:36] #134 closed

[2018-08-15 00:47] gregnb commented on #133
Hey @AaronKauffman thanks for the issue. I agree, the dataIndex should be provided too. I'll look into this as I do return that on another callback

[2018-08-15 07:19] cybershivanka opened #135 "Any possibility to add Row Grouping ? I can not find the feature in here"
## Expected Behavior
when a data set being received with nested objects as below, should display a group for each top level.
Data : {
  Group01: {
       line: a, b,c
       line: d,e,f
  },
  Group02: {
     line: g,h,i
     line: j,k,l,m
     line: n,o,p
  },
  Group03: {
     line: 1,2,3,4,5
  }
}

Ex:
Column 01| Column 02| Column 03|
-----------------------------------------
**Group01**
a

[2018-08-15 16:15] harissokoli opened #136 "Next page button leading to 'Sorry, no matching records found' when list is filtered"
When you filter the list and get only few items pagination still remains active and if you try to change the page you get 'Sorry, no matching records found' on next page.

## Expected Behavior
- Pagination must be disabled if items per page doesnt surpass current items count

## Current Behavior
- Pagination remains active and clickable

## Steps to Reproduce (for bugs)
- https://wy2rl1nyzl.codesa

[2018-08-15 18:45] sornman opened #137 "Use Frament rather than Paper"
## Expected Behavior
For design purposes, using a Fragment rather than a Paper would allow the user to control how the datatable is contained/displayed in the application.

## Current Behavior
Currently, the datatable is inside a Paper, which can cause nested Papers and other issues depending on how the user designs their application.

[2018-08-16 01:18] rooby opened #138 "Add documentation / demo for server side filtering, paging, searching, sorting"
I notice some resolved issues around server side paging, sorting, etc.

It would be great if there was documentation and a demo regarding the implementation of that.

[2018-08-16 01:29] gregnb commented on #138
Absolutely agree. It's on my todo list

[2018-08-16 01:30] gregnb commented on #136
Yep a bug indeed. Thanks for submitting

[2018-08-16 12:03] jkeruzec opened #139 "Normalize theme name ? MUI Mui"
Is it possible to normalize MUI prefix name for theme :

I can see that there is different upper/lower case way to write css theme
[code]

I think the right way is to used lower case if you want to be "Material UI" compliant

[2018-08-16 13:01] gregnb commented on #139
I don't think there's any hard fast rule about it to be compliant. I will leave this thread open though if others feel strongly about it we can make a change. It would be a painful one as it would be a breaking change

[2018-08-16 15:27] DanielGarciaGuillen commented on #131
Sorry for the late reply Greg. I was wondering if there is any way to control when the change to stacked happens.

[2018-08-16 19:17] lucasharada opened #140 "DataTable doesn't show when data array is empty"
When there is no data to display, DataTable doesn't appear.

## Expected Behavior

The DataTable skeleton should appear, with the message provided to `textLabels.body.noMatch`.
## Current Behavior

The DataTable just doesn't render anything.
## Steps to Reproduce (for bugs)

https://codesandbox.io/s/283rq2r5j

[2018-08-17 07:59] jkeruzec commented on #140
For reference : #84

[2018-08-17 10:57] lucasharada commented on #140
@jkeruzec Thanks for pointing the maintainer response.

In case anyone need to change its code, I just pulled the code and removed the lines 686-688 from `MUIDataTable.js` file. It's now working as expected for my case.

[2018-08-17 10:57] #140 closed

[2018-08-17 14:11] jkeruzec commented on #140
@lucasharada
The trick I used was to set the data like this
`
data = [[]];
`
to display an empty datatable with no row in it.

It avoids you to touch directly the src code and loose your modification if npm is updated.

[2018-08-18 04:14] geekashu opened #141 "AJAX based pagination"
Hi,

Is there an example which uses ajax based pagination and renders the data-table. I am stuck at it, would appreciate if anyone who has done it and willing to share it. I am using Django Rest Framework with pagination for my list API.

Thanks

[2018-08-18 10:04] Codedrainer opened #142 "How to use onRowsSelect Callback to select the data of current selected rows"

[2018-08-18 10:40] #142 closed

[2018-08-19 12:46] #112 closed

[2018-08-19 12:49] gregnb commented on #112
I just added this feature and published in version 2.0.0-beta-2.

it is **off** by default for now until more testing can be done.

[2018-08-20 02:34] gadanihiman opened #145 "Trigger the close search button"
I just want to ask simple issues here, because i can't trigger the close button for search, you just give callback onSearchChange for trigger when the textSearch changed.

I just wonder to have a trigger callback when i close the search placeholder here.

Or maybe i want to hide the close button for that search placeholder

Thanks so much!

[2018-08-20 08:14] gadanihiman commented on #141
Hei you can use onChangePage callback options that you can find on the documentation.

first you make componentDidmount function for get datas from api and set it to datas state.
Then
Set your options custom for onChangePage

[code]
our state

    datas: [],
    limit: 10,
    prev: 0;
  };

Next Page Function would be like this
[code]

[2018-08-20 14:48] toolaugh opened #146 "how to use loading body when fetch more data from API"
I want to loading body when fetch more data from API. How I can  use to custom ?
<!--

[2018-08-21 08:17] rooby opened #147 "Allow passing data as an array of objects"
It would be very useful to be able to pass in an array of object for data and then in the column definition you would specify the name of the property on the object.

It would be even better if you could specify nested properties with dot notation, similarly to how [react-table](https://react-table.js.org) works.

[2018-08-21 09:00] rooby opened #148 "Add an event that fires on any table change"
For people who want to let mui-datatables manage table state but want to handle paging, filtering, sorting, etc. on the server side, it would help if there was an extra callback that fires for all state changes (eg. change page, change page size, filter, sort, search), that passes in the whole table state as the parameter.

That would make it really easy to be able to fire off a new API call each

[2018-08-22 08:14] rooby opened #149 "Add column ID property to be used to identify columns throughout"
Currently the column name property is used throughout as the identifier for a column, for example in the onColumnSortChange callback.

It is often preferable though to have a separate column identifier to the human readable column name/label. For example, if you are implementing server side filtering or sorting, you would definitely be more interested in the column id than the human readable name.

[2018-08-22 09:18] rooby opened #150 "Document that you can configure the default sort direction for a column"
By default the table loads with no specific sorting, based on the data array that is passed in however if you have already sorted that data that is being passed in then it is useful to be able to indicate that on the table with the sort direction indicator you get when you click sort a column.

You can actually do this however it is not documented.

You can do it by setting the sortDirection optio

[2018-08-22 09:23] rooby opened #151 "Unusual conversion of sort order string in onColumnSortChange"
Column sorting direction uses 'asc' and 'desc' internally however getSortDirection() converts this to 'ascending' and 'descending'.

I can understand why you would want to convert to log form for the announce text, which is one of the uses of getSortDirection().

However in the onColumnSortChange callback I would generally want the value to be the same as the value that is used internally.

Maybe

[2018-08-22 09:30] toolaugh commented on #125
I have the same problems like @jmarucha . I want to custom filter list menu options . and wonder how to custom ?

[2018-08-22 09:33] rooby opened #152 "Store the sort state in the main state object instead of on the column"
Almost all the table state (page, num results, filtering, searching) is stored in the main state object, however sort column and sortDirection are not.

I think it would be preferable to move sort configuration (index and direction) into the main object and add user provided sort options to the main table options object (like page, count and filterList).

Also, I opened another issue about potenti

[2018-08-22 09:35] toolaugh commented on #125
I also want to custom styles of filter view like width and height ? Let me know how to how to use ? @gregnb

[2018-08-22 10:55] rooby opened #153 "Add an option to put the table into server side mode"
There is mention in issues (such as #38) of there being support for server side controls like paging, however I don't think server side control has been fully considered.

Currently you can hook into interactions with table controls like the paging and sorting, however the default client side functionality still happens. This causes some very strange results when the table is still updating on the

[2018-08-22 11:01] rooby commented on #153
Off-topic:

I am currently evaluating mui-datatables for a project I'm working on.
In relation to this and some of the other issues I've recently opened, are these things that you would be willing to add to the project if we were to submit acceptable pull requests?

[2018-08-22 12:15] gregnb commented on #153
@rooby So I started working on this feature. It's close to what you are proposing where the option is caleld 'serverSide' and then from there it would force a user to provide those functions.

As for your other question, let me look through the issues you sent and assign you some of them

[2018-08-22 12:18] gregnb commented on #150
Sounds good. If you would like to take this up I'll accept the PR

[2018-08-22 12:18] gregnb commented on #149
If you want to take this up I would accept a PR that if providing an id it will use that for the callback. If not column id is provided it'll continue to use the name as it does today

[2018-08-22 13:59] jkeruzec commented on #149
For information :

I have been using these techniques to map my rest controller data to columns.
I have added the id when necessary to a new field in option (kind of hybrid system between name and ID).

For example :
[code]

[2018-08-22 14:08] jkeruzec commented on #147
For feedback,

With my spring rest controller, I have developped utils to take my Rest JSON data and transform it to a raw data array mapped to column to be able to display the data.

It will be very usefull to directly be able to read the JSON and avoid this specific mapping technique.

So for short, yes interested in this functionnality ! ;)

[2018-08-22 15:02] jkeruzec opened #154 "Make rowsSelected options observable like data"
I'd like to programmaticaly set selected rows for the datatable.

I'm using options and rowsSelected field with an array of row index.

When data changes or for the first time I pass on render function it's OK.
Except that when this rowsSelected changes within my render function and data is not changing, datatable is not refreshed.

So is it possible to make the option.rowsSelected obvservable so

[2018-08-23 04:38] rooby commented on #153
That sounds great, thanks.
To be honest, this is the only issue that is really a show stopper for us.
The rest are really more nice to have or discussion items at this stage.

[2018-08-23 05:04] rooby commented on #153
Do you have any idea roughly when that feature would be ready?

[2018-08-23 07:44] rooby commented on #148
I don't really have a preference in regards to naming, however react-table uses onFetchData for their equivalent, since they fire it every time you would have to fetch new data if you were in full server side mode.

[2018-08-23 07:46] rooby commented on #153
Related issue: #70

[2018-08-23 08:20] rooby opened #155 "Allow each column to specify its own sort function"
Currently the column sorting is limited to a basic string sort, which doesn't necessarily work properly for all cases. For example, sorting a column of dates will almost never work, unless you are displaying a format like YYYY-MM-DD.

It would be great if you could optionally specify a sort function at the column level, which then gets passed into the sort call.

[2018-08-23 13:38] jmarucha opened #156 "Display empty table if no data is given"
Behaviour on displaying empty dataset is weird.

## Expected Behavior

When I provide `data=[]` prop, a table with "Sorry, no matching records found" message is provided, similarly to manner when search or filtering shows nothing.

## Current Behavior

When I provide `data=[]` prop, no table is rendered.

| Tech         | Version |
|--------------|---------|
| Material-UI  | 1.4.1 |
| MUI-datatabl

[2018-08-23 15:06] jmarucha commented on #156
edit: it's the same on MUI-datatables 2.0.0-beta-

[2018-08-23 19:06] benjaminbours opened #157 "Docs - Drawer with codesandbox demo"
Hello @gregnb ,

I'm doing the drawer we talked about(#109).

I was wondering what is the best way to create Codesandboxes with everything listed in the exemples.

I found this link https://codesandbox.io/docs/importing#example-sandbox

It shows different ways to create sandboxes, I don't know how you want to do it. I'm ok to create them if you want but I think sandboxes are linked to an account,

[2018-08-23 19:57] benjaminbours commented on #147
Same as @jkeruzec , i'm interested too :)

[2018-08-23 20:39] gregnb commented on #156
I can't replicate this issue. See sandbox below:

https://codesandbox.io/s/n0xk6pz9o0

[2018-08-23 20:41] gregnb commented on #156
This is intended behaviour. If a user provides empty data nothing will render.  I'm leaving this up to the user to decide how they want to handle situation where data is not available yet (say a loading state)

[2018-08-23 20:41] #156 closed

[2018-08-23 20:43] gregnb commented on #157
Let's close this issue down and we'll keep the PR going and figure out a solution

[2018-08-23 20:43] #157 closed

[2018-08-23 20:44] gregnb commented on #153
Hopefully sometime soon. I'll be posting up a branch this weekend

[2018-08-23 20:46] gregnb commented on #145
So you're asking for a callback function when a user clicks the 'x' on the search or hits the escape key? Sure sounds reasonable.

I would probably name it something like

[code]

[2018-08-23 20:49] benjaminbours commented on #126
What is the best solution ?

- add an option "viewToolbar", type: boolean, default: true, to see or not the MUIDataTableToolbar component. ( not compatible with option customToolbar )
- add an option "topBar", type: TopBarOptions | false.  I imagine something like:

[code]
options.topBar = false  => MUIDataTableToolbar component not rendered
options.topBar = { toolbar: false } => We show the title

[2018-08-24 01:11] gadanihiman commented on #145
That's sounds good, i need that. Thanks so much!

[2018-08-24 12:11] jkeruzec opened #160 "Give option to disable delete button on selected row"
Could you give an option to disable, make disapear the delete button when a row is selected ?

Thanks ! 👍

[2018-08-24 20:09] #145 closed

[2018-08-24 20:34] arpankan opened #162 "Not able to override styling for MUIDataTableToolbar using MuiTheme"
First of all thank you for creating this component. Saved us tons of time 👍 I am trying to add a background color to the MUIDataTableToolbar (The one with all the tools on the top right side of the component). But I dont see the styling reflect in the component.

## Expected Behavior

## Current Behavior

When the overrides section is added  in the createMuiTheme(), the styles for MUIDataTableTool

[2018-08-24 22:27] brianpmaher commented on #156
Well, the user could also decide not to display the table.  Allowing the empty table to display gives the user more options for how to display when the data set is empty.

[2018-08-25 18:01] brianpmaher opened #163 "Clarification on onRowSelect option"
From the README:

What is the difference between `currentRowsSelected` and `rowsSelected`?

[2018-08-25 18:53] brianpmaher opened #164 "Columns resize when resizing window height"
Columns resize unexpectedly when resizing the window height only.  Refreshing the browser reverts the columns to their original state.

![mdt-column-resize-bug](https://user-images.githubusercontent.com/5590010/44621534-e101fd00-a864-11e8-8c11-071daadc4921.gif)

## Expected Behavior

The columns should not resize at all when resizing the window height only.

## Current Behavior

The columns resize

[2018-08-26 01:49] gregnb commented on #164
Hah, thanks for finding this. This is mainly way this feature is disabled by default it was really kind of tricky to pull off. I still don't think it works perfectly but it is better than nothing.  I'm going to submit a patch for this within a few minutes

[2018-08-26 01:54] #164 closed

[2018-08-26 02:04] gregnb commented on #163
Right, good question. I'll explain both:

currentRowsSelected: I think at one time I was trying to plan ahead incase we would ever need to account for somehow one or many rows being selected at the same exact time. Because it would need to potentially support more than one entry I made it an array.

rowSelected: It means all the rows currently selected.

I think the README could be more clear if w

[2018-08-26 02:06] gregnb commented on #160
You could override that component and then have whatever you want:

https://github.com/gregnb/mui-datatables/blob/master/examples/customize-toolbarselect/index.js

[2018-08-26 02:10] gregnb commented on #136
This issue looks resolved in the latest version: https://1r0rxklovl.codesandbox.io/

[2018-08-26 02:10] #136 closed

[2018-08-26 03:29] gregnb commented on #162
Thanks for posting this issue. It reminded me I needed to remove some old code that blocked the customized styling for this component from happening.

[2018-08-26 03:31] #162 closed

[2018-08-26 03:37] gregnb commented on #162
Published fix in the latest version

[2018-08-26 06:06] brianpmaher commented on #163
So `currentRowsSelected` contains only the newly selected row(s)?

Yeah, I can do that.  I just want to make sure I'm totally clear on the differences.

[2018-08-26 17:36] gregnb commented on #152
So I looked into this and the sortDirection is available in the root columns state. The other item about the activeColumn is not so I moved that into root.

It's along side the server side PR I have that is a WIP

#168

[2018-08-26 18:03] gregnb commented on #119
I have a WIP PR that will resolve this and everything will start from the 0 index

[2018-08-27 04:51] rooby commented on #152
Thanks, I will review ASAP within the next couple of days.

[2018-08-27 06:08] rooby opened #169 "Searching doesn't find rows with complex content"
It seems like searching doesn't work if you have cell content that is more complex than a string.

For example if I am using react router and have cell with a link in it, like this:

`<Link to={"/link-route"}>Link text</Link>`

and I search for "Link text", it will not match that row.

[2018-08-27 07:11] jkeruzec commented on #160
Yes Thank you, it works for me !
Just created a custom select toolbar with empty render in it to have no buttons at all!

[2018-08-27 07:11] #160 closed

[2018-08-27 11:36] gregnb commented on #169
This is not an easy problem to solve. As it stands today the library will search for a value property which works well for most input like components. Other than that we would need to render and then save the value of each of these complex components so they could be searched.

With that said it’s not something I’m looking to do since it’s an expensive operation

[2018-08-27 11:36] #169 closed

[2018-08-27 16:05] arpankan commented on #162
👍 Awesome . Thank you for the quick response

[2018-08-27 16:43] arpankan opened #170 "Adding a fe more columns displays incorrectly in a minimised tab"
Thank you for solving the previous issue so quickly. We have about 10-15 columns to be displayed with this table and it displays as expected when the browser window is maximised. However if the window is shrunk, the columns stretch out of the MuiPaper component and it adds a scroll to the page.

## Expected Behavior

The expected behaviour is that the data table and the paper component have the sa

[2018-08-27 16:44] arpankan commented on #170
![screen shot 2018-08-27 at 11 43 26 am](https://user-images.githubusercontent.com/42683099/44672582-7bda1300-a9ee-11e8-874e-1074eb71ed92.png)

[2018-08-27 16:52] gregnb commented on #170
For now, try setting the options to this:

[code]

What needs to be updated is when the responsive mode is set to `stacked` if the # of columns is large in the desktop view then the scrollbar will need to appear.

[2018-08-27 18:32] arpankan commented on #170
@gregnb  Thank you 👍 That worked like a charm

[2018-08-28 06:09] riorinald opened #171 "resizableColumn doesn't work properly and add toolbar to trigger"
hello, i want to resizableColumns in my data but it doesn't show properly. i get the data from async componentDidMount to my api with axios then set state.
maybe because react render first with empty data but this resizable will work if i resize the browser window
![image](https://user-images.githubusercontent.com/41993762/44702880-aa73ee80-aabf-11e8-8e02-0260a6f91431.png)

[code]

p.s pardon me i

[2018-08-28 12:25] gregnb commented on #141
PR has been merged to finally provide remote data via the `serverSide` option.

[2018-08-28 12:25] #141 closed

[2018-08-28 12:26] gregnb commented on #153
PR has been merged to finally provide remote data via the `serverSide` option.

[2018-08-28 12:26] #153 closed

[2018-08-28 12:26] gregnb commented on #152
PR has been merged to finally provide remote data via the `serverSide` option.

[2018-08-28 12:26] #152 closed

[2018-08-28 12:26] gregnb commented on #119
The library is now 0-indexed and this PR has been merged and released

[2018-08-28 12:26] #119 closed

[2018-08-28 12:27] gregnb commented on #148
PR has been merged and released to finally provide remote data via the `serverSide` option and the callback is `onServerRequest`

[2018-08-28 12:27] #148 closed

[2018-08-29 16:44] jmstein commented on #68
Can I put in another vote for this?

I'd really like to be able to able to get the index in the original list I passed in of a row (after being sorted). One way to do that would be to have a hidden index column, since "rowIndex" is currently the new index after sorting. What are your thoughts?

[2018-08-29 19:08] brianpmaher opened #172 "Option to disable selection on certain rows"
I'd like to have the ability to disable selection on certain rows in the data tables.  I could think of a couple of ways to accomplish this:

1. A "isSelectable" function passed to options that returns a boolean and evaluates for each row
2. A list passed to options of enabled or disabled rows
3. A render function passed to options overriding the format of the select column

I would think that opt

[2018-08-30 14:20] arpankan opened #173 "Selecting all rows gives a console error"
for the versions mentioned below, on select of all rows (the checkbox which does a select all), the page crashes with a react error

## Expected Behavior

On clicking select all checkbox, the callback function is selected
## Current Behavior

On click of the selectAll checkbox, the page crashes with a stacktrace
## Steps to Reproduce (for bugs)

1. Use 2.0.0-beta-23 version
2. Click on select all

[2018-08-30 14:28] arpankan commented on #173
This was an issue with version 23, upgrading to 25 solved the problem. Hence closing the issue

[2018-08-30 14:28] #173 closed

[2018-08-30 14:35] arpankan opened #174 "Selecting all rows gives a console error"
for the versions mentioned below, on select of all rows (the checkbox which does a select all), the page crashes with a react error

## Expected Behavior

On clicking select all checkbox, the callback function is selected
## Current Behavior

On click of the selectAll checkbox, the page crashes with a stacktrace
## Steps to Reproduce (for bugs)

1. Use 2.0.0-beta-23 version
2. Click on select all

[2018-08-30 15:51] jkeruzec opened #175 "2.0.0-beta-25 TypeError: i is not a function + reload bundle.js"
Since latest version of mui-datatable I have this error when I click on a button on my customBodyRender ...

index.js is main index.js of mui-datatables/dist

[code]

And I have bundle.js reloaded on my react-app :

[code]
I'm not sure about what is happening ...

[2018-08-30 17:28] ccurtin commented on #155
@rooby, I opened up a PR for custom sorting.
https://github.com/gregnb/mui-datatables/pull/176/files

[2018-08-30 20:57] gregnb commented on #175
Try the latest version

[2018-08-30 20:57] gregnb commented on #174
Try the latest version

[2018-08-31 01:18] gregnb opened #177 "Increase code coverage"
Hi everyone,

I've been trying to juggle a busy work life while slowly adding new features. As a result, the unit tests have taken a back seat 😢.  If you ever wanted to contribute I would love some help in increasing the code coverage.

Simply clone the repo and run:

[code]

And pick something that interests you.

Thank you!

[2018-08-31 08:02] jkeruzec commented on #175
Good for me with 2.0.0-beta-27 !

Thanks !

[2018-08-31 08:02] #175 closed

[2018-08-31 15:46] jkeruzec commented on #154
I think I found the bug  :
 First,  with this

[code]

data must be changed in a immutable way, in other word the array must be copied and reference must have change in order to go on initializeTable.
I used Array.from ... and I have to adapt with my code to test it..

Second :

[code]
When I set option.page = 0 to go back to initial page when I re render my data after an insert for example on dat

[2018-09-01 08:45] x0fma commented on #147
Does someone started to work on this ?

[2018-09-02 12:05] noygal opened #180 "Peer dependencies warning"
Note: I've change the issue subject, please read comments below.

## Expected Behavior
To bundle the code.

## Current Behavior
Getting an error

[code]

## Steps to Reproduce (for bugs)

1. Install 3.0.0 version
2. Bundle application

## Your Environment

| Tech         | Version |
|--------------|---------|
| Material-UI  |    3.0.0     |
| MUI-datatables  |    latest     |
| React        |

[2018-09-02 18:20] shubhamk54 opened #181 "Option to disable Chip, when filter is applied."
Is there any option to turn off the display chip on the table header, or at least configurable?

[2018-09-03 14:09] vantsymbalenko opened #183 "How to use rowsSelected?"
I need that some rows was selected by default. How can I do this? I found option rowsSelected but
how to use rowsSelected? It's array, but what array? what I must passed to this array? It must be array with index of selected rows or it must be array with full data of item ( something like item in data) or it must be something else?

[2018-09-03 15:02] jkeruzec commented on #183
Try with array of internal row index. It should work !

[2018-09-03 15:07] jkeruzec commented on #154
close with #182

[2018-09-03 15:07] #154 closed

[2018-09-03 16:00] #183 closed

[2018-09-03 16:26] kirstenland opened #184 "Server Side Support doesn't work well with selecting"
When using server side support, you get problems when trying to select items on the second page.

## Expected Behavior

When using Server Side support (different for without server side support):

When you click on the select all button, all rows on that page should be selected. [important]

When you try to select a row, the index given to handleRowSelect etc. should give the index for its positio

[2018-09-03 16:52] ffarman commented on #184
+1

[2018-09-04 00:31] #68 closed

[2018-09-04 00:39] gregnb commented on #184
Should be good in the latest version

[2018-09-04 00:41] gregnb commented on #68
This feature is now available in the latest published version

[2018-09-04 01:10] gregnb commented on #181
You could target the CSS and set display none on those chips.

[code]

[2018-09-04 07:05] stipe09 commented on #147
I'm interested too, it will be very usefull.

[2018-09-04 08:18] kirstenland commented on #184
Thanks! It is working for me now. 😄

[2018-09-04 08:18] #184 closed

[2018-09-04 13:30] chiran-subedi commented on #96
Hey @gregnb,
Thankyou so much for the update. This looks awesome. 👍
Can you please add an example for customHeadRender like its there for the customBodyRender?

[2018-09-04 14:33] allenjoy123 commented on #91
Has this feature been implemented yet. I'd like to be able to allow user to search by entering search terms so as not generate a backend request for every letter.

[2018-09-05 03:11] jmstein commented on #68
Awesome, thanks! I'll take a look.

[2018-09-05 12:58] allenjoy123 opened #186 "search caseSensitive not displaying results"
## Expected Behavior
When the caseSensitive option is set to true, the search results should display if there is an exact case match between search text and full or partial column value.

## Current Behavior
However when the caseSensitive Option is set to true, the search results display no results when there is a valid case match between search text and column value (full or partial). (I checked

[2018-09-05 13:07] gregnb commented on #186
Thanks for filing this issue and good catch. Would you like to send in a PR?

[2018-09-05 21:02] risaac opened #187 "MUIDataTable cannot customize count label"
I want to be to replace the following "1 - 10 of 1000" with "1 - 10 of Many" as I don't have the complete size of the data set when making the request. Is this possible or can be added?

## Expected Behavior

## Current Behavior

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Your Environment

| Tech         | Version |
|--------------|---------|
| Material-UI  |         |
| MUI-datatables  |

[2018-09-05 22:39] VIJAYMYSORE commented on #147
+1

[2018-09-05 22:48] brianpmaher opened #188 "All row selection does not include dataIndex"
Clicking the checkbox in the table header calls the `onRowSelected` callback without passing the `dataIndex` for each row.

## Expected Behavior

`onRowSelected` callback should be given an array of current and all selected rows with the `dataIndex` property in addition to the `index` property.

## Current Behavior

`onRowSelected` callback is given an array of rows for the current and all selecte

[2018-09-06 05:50] mabc224 opened #189 "Sorry, no matching records found upon onChangePage & onChangeRowsPerPage"
I have implemented custom `onChangePage` & `onChangeRowsPerPage` to get data from server. I am getting `Sorry, no matching records found` when above ents occur. Request is successfully inititated and got data with some seconds, State is updating and i am getting data in it, but component is not updating it, except the case of default first page, which have load data on `componentDidMount`.

## Exp

[2018-09-06 08:54] pavlovicIvan commented on #147
Hi, this feature would be very usefull for our project.
Do you know when will be implemented?

[2018-09-06 13:59] noygal commented on #180
Working on version 28 (I've tested with 27).

There's still a peer dependencies warning, but everything runs well:

[code]

[2018-09-06 17:08] #163 closed

[2018-09-07 07:01] gregnb commented on #189
Look at the example on server side

[2018-09-07 08:40] gregnb commented on #186
This should be solved in the latest version

[2018-09-07 08:40] gregnb commented on #180
This should be solved in the latest version

[2018-09-07 08:40] #180 closed

[2018-09-07 08:42] gregnb commented on #188
I was looking at this one the other night by pure chance and noticed the issue as well. I couldn't quickly track down a fix but if anyone wants to take this up I'd be happy to accept a PR

[2018-09-07 13:47] nidheeshdas commented on #109
I've written a dts for my project. It's simply a copy from the README file. Feel free to edit.
https://gist.github.com/nidheeshdas/ebdb07d147d7ff89e09bb44fe822ba31

[2018-09-07 13:48] mabc224 commented on #189
I just did it according to sample which you refer to me.
`https://codesandbox.io/s/ql4ly6ry99`
Is there a way to use built-in search capability while using server-side page change, to search for any record from currently displayed records?

[2018-09-07 15:20] brianpmaher commented on #172
If we pass a list, I'd assume we'd pass a list of data indices?

[2018-09-08 13:00] gregnb commented on #189
There is no support for that and to be honest I gotta say at this time I won't be supporting that. It becomes confusing. We're putting it into serverSide mode so I'm telling a user, "Everything will be handled by the server" but then if we have additional toggles for each feature I'm not sure how clean this API would read

[2018-09-08 13:00] #189 closed

[2018-09-08 13:16] #181 closed

[2018-09-08 13:17] #174 closed

[2018-09-08 13:27] gregnb commented on #126
@benjaminbours Good API design. As this library starts to grow in features the options page is starting to become messy.  I want to take this a step further because this change you're proposing is a breaking change. When we do make this breaking change I want to have it apply to each section.

right now we have

[code]

Then there are various options tied to some of these items that could be folde

[2018-09-08 14:03] shubhamk54 commented on #181
Thank you greg

[2018-09-10 16:18] brianpmaher commented on #188
I noticed that this is the same case with the `onCellClick` callback.  We're only being given the col and row index, not the data index.

[2018-09-11 11:37] vantsymbalenko opened #191 "onRowsSelect doesn't work with setState function inside"
## Expected Behavior

onRowsSelect must trigger when row was selected and mark row as selected.

## Current Behavior

But if inside of callback function have this.setState({}), rows doesn't marks as selected,

## Steps to Reproduce (for bugs)

1. https://codesandbox.io/embed/qql7mj9v84
2. Click on checkbox in first column

## Your Environment

| Tech         | Version |
|--------------|---------|

[2018-09-11 17:27] brianpmaher commented on #191
Your example is just using the data constant you have defined, you aren't actually using `this.state.data` for display.  There are other issues there as well since you'd probably want to initialize your state.data in your constructor.  Even so, I think what you're trying to do is control what data is selected, is that right?  I don't think that your example is the right approach to accomplish that

[2018-09-11 18:10] tiagofernandez commented on #68
@gregnb should this work with Material UI 3.0? I'm trying [this example](https://github.com/gregnb/mui-datatables/blob/f1ba0be421177ce787ca0d1900c257cdc9c43c77/examples/customize-columns/index.js) but the excluded column keeps appearing in the UI.

[2018-09-11 20:30] tiagofernandez commented on #68
Can't get it to work with Material UI 1.5.1 either.

[2018-09-11 20:41] vantsymbalenko commented on #191
Exactly, I want to do is control what data is selected. For example I want push in state some data which contains in data const.
https://codesandbox.io/embed/qlq6p81nl9

[2018-09-12 16:18] brianpmaher opened #192 "Select all checkbox does not only select filtered list"
When selecting the "select all" checkbox in the header, all rows are selected, not just the ones we may have filtered down.  This is not what I'd expect from a select all checkbox.

## Expected Behavior

When filtering rows down using search or filters (or both) and selecting the "select all" checkbox in the header, only select the rows that are filtered down.

## Current Behavior

Select all chec

[2018-09-12 18:52] gregnb commented on #192
Great, thanks for filing the issue

[2018-09-12 18:53] gregnb commented on #188
Yep you are correct. There is another ticket related to that. Just need to create one function to return that data and use it across the board so people have the table information

[2018-09-13 20:15] SidharthRaveendran commented on #137
I would also like the same functionality implemented.

[2018-09-14 02:47] gregnb commented on #133
This has been addressed. onCellClick now returns

[code]

[2018-09-14 02:47] #133 closed

[2018-09-14 02:49] gregnb commented on #188
This should be addressed in the latest version along with onCellClick being updated

[2018-09-14 02:49] #188 closed

[2018-09-15 15:18] bonjefir opened #193 "How to control deletion of rows in table?"
I need to cancel deletion of some of row(s) which user deleted but its operation failed in back-end side for some reason.

[code]
Here `removeItem` returns a promise which shows the status of deletion. I am wondering deletion in UI applied after calling `onRowsDelete` or before it and how can recover deleted rows OR preventing MUI to delete items in its `rowsDeleted` which their `res` is `false`.

[2018-09-15 18:09] hackedbellini opened #194 "Ability to align numeric values to the right (functionality exists in mui)"
In mui there's a possibility to align numeric values to the right by passing `numeric` to `TableCell`. This lib doesn't seem to allow that

[2018-09-18 15:01] ccurtin opened #196 "Error inappropriately thrown"
https://github.com/gregnb/mui-datatables/blob/5697e78c47d809a4e978f4c90c75b0e1c99caf89/src/MUIDataTableBody.js#L51-L59

**This happens when I**:
  1) set my rowsPerPage to say `10`
  2) have multiple pages of results, let's say `55` rows, so 6 pages.
  3) click the "goToLastPage" button and land on page 6
  4) type something into the search input, maybe a weekday name like "Sunday"
  5) The issue

[2018-09-18 15:05] gregnb commented on #196
Thanks for this detailed explanation. I'll try to address it when I get some free time.

[2018-09-18 15:10] gregnb commented on #194
hey @hackedbellini I don't want to open props to all the underlying components because the API would become a mess, BUT I do have a solution. If you look at the TableCell code it's simply applying the numeric class. Because you can override styles with mui-datatables you achieve the same thing. Here's an example:

https://codesandbox.io/s/yvq7z56qnj

MUI styling:
https://github.com/mui-org/materia

[2018-09-18 15:14] gregnb commented on #193
Hey @bonjefir thanks for filing the issue. Let me think about this some more.

One change that will soon happen is the rowDelete action will be added to the onServerRequest callback so you can look for that event there and react to it. If you do receive the event there, maybe if there is a total failure you can just return the data for that page back to what it was from your API?

[2018-09-19 06:49] Sanjayjbsl opened #197 "how can i define style in column"
custom style in column like my last column is status and i have to show status in badge completed/pending  etc....

[2018-09-20 11:06] stipe09 commented on #147
Are you considering to do this feature?

[2018-09-20 13:43] majose1500 commented on #140
@jkeruzec the problem is that your solution show like a one empty register but the ideal is that the table show like "no registers"

[2018-09-20 23:00] susmita-vps opened #198 "Is there anyway I could change the icons in the action panel?"
I would like to change the 'export to csv' icon to a standard download icon. Currently it uses the download from cloud icon. Thanks.

## Expected Behavior

## Current Behavior

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Your Environment

| Tech         | Version |
|--------------|---------|
| Material-UI  |         |
| MUI-datatables  |         |
| React        |         |
| browser      |

[2018-09-21 01:00] gregnb commented on #126
I'm thinking about making the following change:

[code]

[2018-09-21 01:02] gregnb commented on #198
Not currently but I am working on changing the API around a bit to allow for more flexibility

[2018-09-21 08:42] jkeruzec commented on #140
With latest, you have a new message that is implemented by default :
[![Edit MUIDatatables example](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/w0jvm9xm58)

[2018-09-23 03:05] dustingraves opened #199 "Question: How to have custom row ids?"
I would like to have the id from my database be used as the key/id for the row. Currently when I try to handle delete it returns the local id which is just the position of the data in the table. Based on this I would have to create a map of local id -> database id before I pass in the data. Is there a way to get more helpful data from the handler, or override the id with your own?

The only option

[2018-09-25 13:09] vijaysai88zemoso opened #200 "How to change sort icon position to left side of the label"
can you provide one more prop for changing the sort icon position to left/right of column head label

[2018-09-26 14:31] MorganDbs opened #201 "How to theme a stripped rows style ?"
Hi, I'm kinda new on react. I wanted to know how to do a table striped row ?

Can someone help me on this ?

Thanks

[2018-09-27 00:20] jeremysgitty opened #202 "createMuiTheme() and responsive styling"
Hi Greg

Nice work on this by the way.

General question here, I haven't really been able to figure out in combination with Material Docs and yours;

How to style the responsive parts of the table.  I am successfully targeting items as instructed via the _crerateMuiTheme_ and using _MUIDataTableBodyCell_ and _MUIDataTableHeadCell_ for example.

Though how do I target the same items in their respon

[2018-09-27 00:33] jeremysgitty commented on #202
In looking deeper at the code I realised what I was doing wrong.

Didn't really understand the 'root' and other parts of the css keys that could be used.

Shoulda done dome more research, but sometimes all it takes is a different approach and maybe some coffee.

Thanks

[2018-09-27 00:33] #202 closed

[2018-09-27 13:47] majose1500 commented on #193
Sorry but the onRowsDelete options not work to me. I'm trying to do a basic example like show message when a row was delete but do not see nothing. Exist any functional example of onRowsDelete options?

`const options = {
	filterType: 'dropdown',
	responsive: 'stacked',
	onRowsDelete: (rowsDeleted) => {
		console.log(rowsDeleted, "were deleted!");
	}
};`

[2018-09-27 15:59] susmita-vps commented on #198
Hi Greg, for a short-term is it possible to change the download icon to a standard one (with a simple downarrow) rather than the "cloud_download"? Thanks.

[2018-09-27 21:08] DanielGarciaGuillen commented on #197
One way you can do this is by using the customBodyRender property for the columns to pass whatever you want.
For example, for the status column you will do something like this:

[code]

Then you can create a component called StatusBadge that depending on the status will render whatever you want.

[code]

[2018-09-29 04:34] sidharthdigiworks commented on #147
It's easier if we have array of objects since data from server usually is formatted that way and we can opt to choose which properties need to be shown in the table.

[2018-10-02 06:14] jpmillan commented on #147
+1

[2018-10-02 07:11] toolaugh commented on #193
Normaly, If we want to delete a row of table, We have to pass a ID of the data Row and send it to the server. But, The data that we use to build the table does not have the ID of the row data. So we have to map the selected row with the data from server that we want to delete.

[2018-10-02 19:44] allenjoy123 opened #203 "Phone Number fields with dashes displaying on multiple lines"
Phone Number fields with dashes display the number on multiple lines delimited on the dashes.

## Expected Behavior

I would prefer the full phone number display on one line. Is this an expected behavior. When I remove the dashes from the number, it displays on one line.

## Current Behavior

Ex: 835-525-2188 as a data value of a cell displays on 3 lines within the cell. Please see screen shot bel

[2018-10-04 14:35] allenjoy123 commented on #203
Resolved the issue with the following code
`      MUIDataTableBodyCell: {
        responsiveStacked: {
          whiteSpace: "pre",
        },
      }`

[2018-10-04 14:35] #203 closed

[2018-10-04 14:40] allenjoy123 commented on #91
I have a requirement to have a search button so that the user can trigger and wait for the search request to complete.
I have used lodash debounce to trigger the search but since the response needs to come from the server, it is easy to trigger multiple search requests to the server that overlap each other and confuse the user.
I'd like to be able to add a Search chip beside the 'Close' chip that

[2018-10-05 13:03] allenjoy123 opened #206 "serverSide not working in 2.0.0-beta.32"
## Expected Behavior
None of the serverSide features are working - search, sort etc. Each of these functions would generally send a request to the server when serverSide option is set to true.

## Current Behavior
None of the request are sent to server. I checked the code for MuiDatatable.js . I noticed that the function setServerRequest is missing. I believe wrong code got promoted in this versio

[2018-10-05 13:04] gregnb commented on #206
How are you using it? The callback feature has been changed maybe you aren't using the updated one? I had to make a breaking change

[2018-10-05 13:04] gregnb commented on #206
onServerRequest has been renamed to onTableChange

[2018-10-05 14:51] allenjoy123 commented on #206
Thanks. I didn't see the change in callback feature. I will update that.
I wanted to get with you with regards exposing the search component so as to be able to add a search button myself. My users requested a more controlled way to search. Any suggestions or plans to expose the search so I can customize it?

[2018-10-05 16:39] gregnb commented on #206
I'm trying to find some time to get to all these items but my full time job has been very demanding as of late

[2018-10-05 18:03] allenjoy123 commented on #206
Sure. appreciate your willingness to help.

[2018-10-05 19:20] ProjectCheshire commented on #108
@gregnb is it possible to access the table data from the footer? Because it is declared in the options,and it seems I dont have the rowData/tableMeta yet, i can't show/hide footer cells in correlation with their column indices, or take advantage of the responsive styles. My needs are exactly the same as usotnyk, essentially a fixed, non sortable, non filteralbe rowset, but that has the context of

[2018-10-08 16:20] revskill10 opened #207 "How to download/export only filtered data ?"
## Expected Behavior

When i filtered data, then the download/exported data should only display the filtered data.
## Current Behavior

When i filtered data, then the download/exported data still display ALL the data.
## Steps to Reproduce (for bugs)

[2018-10-08 16:49] revskill10 commented on #147
You can use this helper function to transform:
[code]

[2018-10-10 10:23] apercas opened #210 "onSearchOpen callback (similar to current onSearchClose only triggering when the search icon is clicked)"
## Expected Behavior
As we already have `onSearchClose` (see https://github.com/gregnb/mui-datatables/issues/145) I think we can also use a similar callback for when a user opens the search dialog and `showSearch` is true.

## Current Behavior
The searchbox is opened offering a "value has changed" and "box has been closed" callback, but not for "box has been opened"

Thank you very much :)

[2018-10-10 21:31] RickyCh opened #211 "Tooltip is not visible for filter and viewColumn icons."
Tooltip works fine with Search, Print and download icons. But when the mouse hovers over filter icon, tooltip does not show up.

## Expected Behavior

Cursor hovers over filter icon, tooltip like "Filter Table" should show up.
## Current Behavior

Cursor hovers over filter icon, tooltip does not show up.

Example: https://codesandbox.io/embed/xowj5oj8w?autoresize=1&hidenavigation=1
## Steps to Rep

[2018-10-11 15:58] hwatersiv opened #213 "CustomHeadRender does NOT render a component"
Thank you greg for creating this table to do really enjoy MUI-datatables it has made my life crazy easier.

The customHeadRender for the tables does not except a component as an argument. It currently is only accepting a string.

The documentation says "Function that returns a string or React component. Used as display for column header. function(value, tableMeta, updateValue) => string|`"

I chec

[2018-10-11 21:08] patorjk opened #214 "Expandable / child rows"
This project looks pretty cool. I was reading over the documentation but didn't see anything on expandable rows*. Is this something I missed, and if not, does this project plan to add expandable rows in the future?

* Example from jQuery DataTables project: https://datatables.net/examples/api/row_details.html

[2018-10-11 22:20] RickyCh opened #215 "Feature Request: Filter supports partial match"
## Expected Behavior

When a user selects a filter option, it will use partial match for the content in that column.

For example, filter option "apple" is selected for column "Items",  row with value "apple,orange,cherry" will also show up in the filtered result.

Would by very useful for use case like "Filter by Tag". For example, each row contains "Tag" field, a user can easily find records wit

[2018-10-12 00:06] RickyCh commented on #192
Hi. Any update on this issue?

[2018-10-12 00:06] RickyCh commented on #192
Hi. Any update on this issue?

[2018-10-12 20:17] SidharthRaveendran commented on #199
You might wanna try having the id column shown in the table, or have a column with a delete button and pass the id value to the button using customBodyRender option.

[2018-10-12 23:13] hwatersiv commented on #199
I'm not trying to hijack this thread, I think I'm having a similar issue with the `onRowsSelect` when having 2 tables on the page at the same time that share common options.

Table 1:
```0: {index: 0, dataIndex: 0}```

when I select from Table 2:
```0: {index: 0, dataIndex: 0}```

I have no idea which array it came from.

I hope this is similar enough to fall here If not, I'll open a different iss

[2018-10-13 04:49] d-gubert commented on #191
Hello @vantsymbalenko! :)

The "problem" in your example is caused by the way react works. As you keep all the props that are sent to MUIDatatable inside the `render()` function, every time it gets called the references for those props change, causing MUIDatatable to re-render. And every time it re-renders, it loses the selections (because you're not telling it which rows to select through props).

[2018-10-13 13:45] gregnb commented on #213
Ok let me look into this bug. Thanks for submitting

[2018-10-13 13:46] gregnb commented on #210
Sure, would you like to submit a PR for this?

[2018-10-13 13:46] #206 closed

[2018-10-13 13:48] gregnb commented on #211
Seems to show up for me? What browser are you using?

![screen shot 2018-10-13 at 9 48 22 am](https://user-images.githubusercontent.com/19170080/46906156-25a52e80-cecd-11e8-9e84-f75bb9f635e1.jpg)

[2018-10-13 13:50] gregnb commented on #214
hey @patorjk thanks for the feedback. As it stands right now I'm not so sure if I would add something like this but I'll add a community feedback tag and see what people think

[2018-10-13 19:31] Diaver commented on #147
I've made in my fork: https://www.npmjs.com/package/material-datatable

[2018-10-13 20:54] Diaver commented on #137
@sornman @SidharthRaveendran
Done in my fork: https://www.npmjs.com/package/material-datatable
Option usePaperPlaceholder

[2018-10-13 23:50] rooby commented on #147
@Diaver are you going to submitting a pull request to address this issue in this project?

[2018-10-14 00:00] Diaver commented on #147
@rooby I am not it is possible -> In my form at least one big change: my datatable accept object array

[2018-10-14 00:12] revskill10 commented on #147
@Diaver Why not adding one prop like `itemDataType`, which could be `array` or `object` ?

[2018-10-14 00:17] Diaver commented on #147
@revskill10 because it is not just one required change

[2018-10-14 00:44] revskill10 commented on #147
@Diaver I mean let's just reuse the logic, and what we can do is transforming/processing props before passing down the render logic. Because we want to keep maintainance on one project only (?)

[2018-10-14 06:17] Diaver commented on #147
@revskill10
There are some reasons:
1. It is already a lot of changes in my fork.
2. Keep both logic in one project doesn't seems to be good idea for me, at least until current code will be completely refactored.
3. I don't want to be dependent from other people.

[2018-10-14 08:38] vantsymbalenko commented on #191
sorry, but codesandbox still not working. I don't see any changes in this codesandbox

[2018-10-14 09:11] RickyCh commented on #211
Hi. Thanks for your quick response. I am using Firefox 62.0.3 (64-bit), which cannot see the filter tooltip.

But I just tried it with Chrome 69.0.3497.100, it works fine. Looks like some browser compatibility issue.

[2018-10-14 17:48] mehmetboraezer opened #218 "Sorting not working properly with real api"
## Expected Behavior

Hello, I expect configure the sort mechanism in **onTableChange** callback (with **sort action**) for real api.

## Current Behavior

- Trigger api call from **onTableChange** callback (when come with **sort action**).
- Update data variable via `this.setState({data})` after get the new data from API.
- The table lose order direction (and symbol).
- When I click again to same

[2018-10-15 00:07] vantsymbalenko opened #219 "How to manage input value in column?"
I have case when one of the columns must be controled input...
CodeSandbox - https://codesandbox.io/embed/wqrmj7410k
What is the best approach to manage value of this input?

[2018-10-15 01:01] gregnb commented on #219
https://codesandbox.io/s/j7y248799y

How about that?

[2018-10-15 01:01] gregnb commented on #218
This is indeed a bug. Thanks for reporting I'll try to get to it when I have some time but I'll slap a tag on here incase anyone can pitch in

[2018-10-15 01:10] d-gubert commented on #193
To solve this you could add the ID as the first column, and not actually show the column, like this:
[code]
Then normally add the record's id to your `data`, so that you're able to retrieve it on the `onRowsDeleted` event

[2018-10-15 01:15] vantsymbalenko commented on #219
sorry but I don't see any changes only in dependencies was add lodash

[2018-10-15 02:52] RickyCh commented on #105
Hi jkeruzec. Happened to see the above video. After clicking "Edit" button, "Market share" column becomes editable with some tags/labels in the table cell. It looks really nice.
Could you please indicate how did you implement those tags under the "Market share" column? Thanks!

[2018-10-15 02:53] RickyCh commented on #105
Hi jkeruzec. Happened to see the above video. After clicking "Edit" button, "Market share" column becomes editable with some tags/labels in the table cell. It looks really nice.
Could you please indicate how did you implement those tags under the "Market share" column? Thanks!

[2018-10-15 09:35] apercas commented on #210
Will do.

[2018-10-15 18:32] hwatersiv commented on #191
@vantsymbalenko
I ran into this same issue. Seems that calling setState() any part of the call chain produced by options causes this issue.  I got around this issue (definitely not conventional IMO) by making a local variable on my component then saving my selected rows to that component. Basically, using the component variable as a "faux state". its probably not the "right" answer, but it works.

[2018-10-15 21:19] patorjk commented on #214
Sounds good. There's been discussion about it for the Angular2 datatable [1,2], though I can't tell if they've added it for it or not. If you decided to green-light it but don't have time yourself, let me know and I could look into creating a PR.

[1] https://github.com/angular/material2/issues/6095
[2] https://github.com/angular/material2/issues/5936

[2018-10-15 21:37] vantsymbalenko commented on #191
could you give me an example in codesandbox?

[2018-10-15 21:55] hwatersiv commented on #191
something like this:  https://codesandbox.io/s/lllojqp079

For some reason your version here does NOT have the selected checkboxes on like mines does in my environment. The idea is the same though.

[2018-10-16 10:29] vantsymbalenko commented on #191
oh I've understood, thanks) I think that @d-gubert  in the comment above told about the same.... Hmm I think that for now it's the best solve of my problem

[2018-10-16 18:19] marjan2k commented on #214
Something like this will be really helpful

[2018-10-17 21:47] vantsymbalenko opened #223 "Is it possible merge two cells vertically?"
I have case when need merge two cells vertically. Is it possible and if yes then how?

[2018-10-18 13:17] DTupalov opened #224 "[Feature request] Pass props to customBodyRender and customHeadRender"
## Expected Behavior

I have access to custom `props`, that I passed to `MUIDataTable` in `customBodyRender` and `customHeadRender`

## Current Behavior

`Props` don't pass

## Description

There is no way to access my custom props, that I passed to `MUIDataTable`

For example
[code]

## Your Environment

| Tech         | Version |
|--------------|---------|
| Material-UI  | 1.5.1        |
| MUI-d

[2018-10-18 13:47] Preetam79 opened #225 "How to fork and create Table export in pdf, xml and other format."
## Expected Behavior

## Current Behavior

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Your Environment

| Tech         | Version |
|--------------|---------|
| Material-UI  |         |
| MUI-datatables  |         |
| React        |         |
| browser      |         |
| etc          |         |

[2018-10-18 14:03] DTupalov commented on #224
OK, after little R&D, I've found solution.
I'm currying `columns` option using `recompose` (can do in class component too), so I can use my props into my `customBodyRender`

Something like that:

[code]

[2018-10-18 14:03] #224 closed

[2018-10-18 14:37] Preetam79 opened #226 "Please enable Download options for multi select rows in pdf, excel format."
## Expected Behavior

## Current Behavior

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Your Environment

| Tech         | Version |
|--------------|---------|
| Material-UI  |         |
| MUI-datatables  |         |
| React        |         |
| browser      |         |
| etc          |         |

[2018-10-18 17:25] hurt426 opened #227 "When serverSide is true and using pagination, not able to override filterData values"
## Expected Behavior

When serverSide is true and using pagination, I should be able to override the filterData arrays so that I can filter the table with values that are not showing on the current page. I should be able to fill those values with a collection of distinct values that I retrieve from my datasource.

## Current Behavior

The filterData values are being filled only with data displayed

[2018-10-19 01:33] susmita-vps opened #228 "How to hide row checkboxes."
Each row, renders a checkbox to select item for deletion. I don't want the check boxes, since row click is used for something else. Is there any way to hide the checkboxes. fileType: dropDown, doesn't seem to be working :-(

## Expected Behavior

## Current Behavior

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Your Environment

| Tech         | Version |
|--------------|---------|
| Material

[2018-10-19 07:39] DTupalov commented on #228
See [documentation](https://github.com/gregnb/mui-datatables#options) property `selectableRows` in `options`:

[code]

[2018-10-19 10:14] GeeWee opened #229 "Would it be possible to get a new release?"
We're getting quite a few outdated typography errors in our console.
The issue seems to have been fixed with #209, but no version has been released since.

Would it be possible to get a new release on npm?

[2018-10-19 11:38] phelion commented on #229
I have the same problem, I'm waiting for that update very much too:)

[2018-10-19 12:15] gregnb commented on #229
Take care of it today guys

[2018-10-19 12:44] gregnb commented on #229
Try now guys

[2018-10-19 13:07] #229 closed

[2018-10-19 13:30] gregnb commented on #219
Ah damn, ok let me work on this example again. Sorry about that. I'll have some time this weekend

[2018-10-19 13:31] gregnb commented on #228
@susmita-vps yes @DTupalov is correct that is exactly how you do it

[2018-10-19 13:31] #228 closed

[2018-10-19 13:32] gregnb commented on #223
It is not possible as it stands today. I can leave this open for community feedback and if there is enough I'll throw it up as a possible feature to add

[2018-10-19 13:37] JReinhold commented on #229
Hmm. that's weird. Just updated to mui-datatables@2.0.0-beta-33, and I haven't received the changes made to Typography made in #209, even though I have the changes made in package.json by that same PR.

To clarify, the content of `node_modules/mui-datatables/package.json` is:
[code]
which is the change introduced in #209.
However when I search for the offending variant `subheading` in the distribu

[2018-10-19 13:38] phelion commented on #229
It doesn't work for me neither

[2018-10-19 13:41] gregnb commented on #229
Yes, this is what happens when you publish without building first. It's too early in the morning for me LOL.

-34 published. Try again guys. Sorry

[2018-10-19 13:44] phelion commented on #229
Nice, now it's working, thank you! :)

[2018-10-20 20:11] gregnb commented on #218
Should have this resolved shortly. Pushed up a PR to fix this issue

[2018-10-20 20:14] #218 closed

[2018-10-20 20:18] gregnb commented on #218
Published in the latest

[2018-10-20 21:52] mehmetboraezer commented on #218
Yes it works, thank you @gregnb 👍

[2018-10-21 03:55] gregnb commented on #192
I have a PR I've just created that should resolve this issue. Looking to merge it after a review tomorrow.

[2018-10-21 04:04] gregnb commented on #226
Out of scope for this library. Generating PDF's and Excels in the client is a big task. I'm not looking to bloat the library to that extent.

[2018-10-21 04:04] #226 closed

[2018-10-21 04:04] gregnb commented on #225
Out of scope for this library. Generating PDF's and Excels in the client is a big task. I'm not looking to bloat the library to that extent.

[2018-10-21 04:04] #225 closed

[2018-10-21 04:12] gregnb commented on #207
I have a PR open for this when merged will resolve the issue. Will review some more before completing

[2018-10-21 05:21] revskill10 opened #232 "Add support for excel exporting"
We need an additional property in `downloadOptions` for user to specify `csv` or `excel` format when exporting only filtered data.

[2018-10-21 17:01] gregnb commented on #232
Out of scope for this library. Generating excels in the client is a big task. I'm not looking to bloat the library to that extent.

[2018-10-21 17:01] #232 closed

[2018-10-21 18:14] #192 closed

[2018-10-21 18:21] #155 closed, assigned to nobody

[2018-10-21 19:01] jakesyl opened #233 "Component losing state on re-render"
## Expected Behavior

When rerendering from state, how the table is sorted should be preserved.

## Current Behavior

What happens is every time that `state` updates, I lose any sorting/changes I've made anywhere in the table on the frontend.

## Steps to Reproduce (for bugs)
My question is specific to mui-datatables, but I have a feeling it _might_ stem from a misunderstanding I have of how react

[2018-10-21 19:27] jakesyl commented on #233
Fixed via         coinData: state.get('coins').staticAssets

[2018-10-22 08:42] KamilKafara commented on #214
In my opinion will be really helpful, i will waiting for it ;)

[2018-10-22 11:59] sidney61498 opened #234 "How do I show all rows?"
I've just been and searching and can't seem to find any solution.

[2018-10-22 21:21] ginman86 commented on #147
You could even do it dynamically by checking the type on the data elements. Is it an array of strings? Then match it by index to the columns. Is it an object? Then match it by key to a `columnKey` property on the column object.

[2018-10-22 22:52] serv commented on #234
What happens when you disable `pagination` by setting it false?

[2018-10-22 23:16] serv opened #236 "Support Fixed Columns?"
Is there a support for fixed columns?

Fixed columns are useful when you have a very large horizontally spanning table and you want to have some columns on the left or the right fixed for easier viewing.

It would be awesome if there was a prop for columns like `fixed`, that takes in a string value of "left" or "right" or null. And have the specified columns be fixed on the left side or the right

[2018-10-22 23:49] serv commented on #236
That's a great news. Closing this issue as it is in progress now. Thanks.

[2018-10-23 02:53] sidney61498 commented on #234
It shows the set value of "rowsPerPage" option.

[2018-10-23 03:00] sidney61498 commented on #234
What can I do so that the page scrolls when I scroll on the table.

[2018-10-23 21:05] henfreire opened #237 "How use a colunm title different of colunm name"
I want use a different name for title and name. That are possible?

Something like:
	const column = [
		{
            name: 'columnName',
            title: 'Column Title',
			options: {
				filter: true,
				sort: true,
				display: true
			}
		}
}
]

[2018-10-24 05:29] RevathiArikaran opened #238 "View columns and Filter Table is not working"
## Expected Behavior
View columns and Filter table is wanted

## Current Behavior
When clicking the icon(view columns & Filter table) nothing is happening. Other three icons are working properly.

## Your Environment

| Tech         | Version |
|--------------|---------|
| Material-UI core |     "1.0.0-rc.1"      |
| Material-UI icons |   1.0.0-beta.42"    |
| MUI-datatables  |    2.0.0-beta-35

[2018-10-24 06:59] #238 closed

[2018-10-24 06:59] RevathiArikaran commented on #238
Changing react dom version 16.2 to 16.4. Then I got it.

[2018-10-24 18:38] AngelLoredoAlvarez opened #239 "How do I allow single row selection?"
Hi, it is possible allow a single row selection?

[2018-10-24 21:41] kalyan542 commented on #94
change customRender  to customBodyRender in above example

[2018-10-25 00:47] RickyCh opened #240 "Horizontal Scroll Bar is Missing in Chrome"
In Chrome, when the table responsive is set to "scroll", the horizontal scroll bar within the table is missing.

## Expected Behavior

Firefox(60.2.2esr (64-bit)) works fine with horizontal scroll bar.
So the expected behavior in Chrome would be when a user clicks on the table, the horizontal scroll bar within the table shows up.
## Current Behavior

In Chrome, when I tried to scroll the table hor

[2018-10-25 13:22] giovanisleite opened #241 "Title duplicated on the extreme left"
The table title appears duplicated because of this two pieces of code([here](https://github.com/gregnb/mui-datatables/blob/d7bcb0191e22973729d4ec964b3ac1d5725e67bc/src/MUIDataTable.js#L23) and [here](https://github.com/gregnb/mui-datatables/blob/d7bcb0191e22973729d4ec964b3ac1d5725e67bc/src/MUIDataTable.js#L837)):

[code]

[code]

## Expected Behavior
This second appearance of the title shouldn't h

[2018-10-28 23:42] gregnb commented on #207
This is now been resolved

[2018-10-28 23:42] #207 closed

[2018-10-28 23:44] gregnb commented on #241
It is there for accessibility purposes so when a screen reader goes over the table it has a caption to read. I think a compromise to this is to set the position even further. I'm going to move it to -3000

[2018-10-28 23:49] #241 closed

[2018-10-29 04:06] giovanisleite commented on #241
Thanks, @gregnb

[2018-10-29 08:35] DTupalov opened #242 "[Bug][Per page] Page is greater than the total available"
There is an exception, when I try to change "per page" option in the MUITable at the last page (data length equals to 29, and we change per page from 10 items to 15 items, and expect total 2 pages, but got the exception: ```Provided options.page of `2` is greater than the total available page length of `1` ```)
Btw, if data length equals to 30, there are no exceptions in this case.

Such problem a

[2018-10-29 09:44] GeeWee opened #243 "[Feature Request] Fixed Header"
I'd like to be able to use mui-datatables with a fixed header that stays at the top while the body can scroll independently of it.

I'd be willing to submit a PR if it would be accepted. The feature would probably be implemented through something like this: https://codepen.io/nikhil8krishnan/pen/WvYPvv
(e.g. making another table, just for the header row and positioning that at the top. It's a litt

[2018-10-29 10:41] DTupalov commented on #243
I think it's already done in #235, just waiting new release

[2018-10-29 11:17] GeeWee commented on #243
Looks like it! Halleluja!

[2018-10-29 11:20] GeeWee commented on #243
Actually, it seems like #235 only fixes the Header, but I need the Toolbar to be fixed as well - I guess I'll keep this open for now.

[2018-10-29 11:46] gregnb commented on #243
It's been released. if you want to open a ticket about having a fixed toolbar please open that separate as the fixed header is now implemented.

[2018-10-29 11:46] #243 closed

[2018-10-29 11:46] gregnb commented on #242
Ok, thanks for noting the bug. Would you like to work on the issue and send in a PR?

[2018-10-29 11:59] DTupalov commented on #242
@gregnb I can try to solve this problem :)

[2018-10-29 14:56] ketankanhasoft commented on #218
Hello I am getting same issue used 2.0.0-beta-37

[2018-10-29 17:10] ketankanhasoft opened #244 "Issue #218 sorting"
Hello I am getting same issue when I used customBodyRender tag in other columns in latest version 2.0.0-beta-37

You can check
https://codesandbox.io/s/j215o4k5pw

[2018-10-29 17:33] ketankanhasoft commented on #244
You can check plunker link and check console ,if once sorting asc then it will not be desc.. every time click on column it returns back to me asc

[2018-10-30 13:35] nikhilem opened #245 "Upgrade Typography to v2"
## Expected Behavior

Since `Typography` implementation was upgraded to v2 in Material UI v3.2.0, we get deprecation warnings because of `Typography` components with old variants used within MUI-Datatables

## Current Behavior

This should be fixed by using new variants of `Typography` as described [here](https://material-ui.com/style/typography/#migration-to-typography-v2)

## Steps to Reproduce

[2018-10-30 15:50] benoit-nadaud opened #246 "filter issue when using textLabels"
when i'm using textLabels to localize my app.
[code]
After picking a value in a filter and trying to go back to all it is not working because text is no more "All"

[2018-10-30 23:11] hwatersiv opened #247 "Table headers block toolbars or other dropdowns"
## Expected Behavior

Toolbars should expand over the headers to the table
## Current Behavior

Table headers appear over dropdowns
## Steps to Reproduce (for bugs)

1. Create a custom toolbar with a dropdown and populate options that exceed the well below the header
2. Populate some data with headers.
3. Open the dropdown.
4. Observe the drop down appears behind the the headers

## Your Environme

[2018-10-30 23:17] gregnb commented on #247
Just give your dropdown a higher zIndex then the header columns

[2018-10-30 23:29] hwatersiv commented on #247
well it seems I am a moron. I thought I tried this and previous cases did not work (guess it wasn;t higher than the header). What  did do was max the z-index for 64 chrome (2147483647). worked as you said. Thanks, sorry for wasting your time.