[2019-09-02 20:48] #878 closed

[2019-09-02 20:55] gabrielliwerant commented on #891
@laurexas See if you can verify what version of the library you have running in production. `2.10.1` is also now available, which may fix your issue.

[2019-09-02 22:07] Oussidi1998 commented on #393
Hi guys can someone tells me just how that feature in my project, I will appreciate that

[2019-09-02 23:45] patorjk commented on #393
It's a pretty cool idea, though it doesn't look like it was finished:

https://codesandbox.io/s/github/apercas/mui-datatables/tree/393_arrange_columns

The 2 issues I see are:

* Dragging a column screws up the filters.
* The ViewColumns dialog shrinks a little when dragging (this isn't too bad of an issue though).

[2019-09-03 04:02] supakitk commented on #875
@patorjk Sorry for the delay. I see the issue on both Safari version 13.0.1 and Chrome version 76 on macOS 10.14.6

[2019-09-03 04:15] patorjk commented on #875
Does the problem still happen with version 2.10.1 of this library? I'm using macOS Mojave 10.14.6 and it reads the "Sort" tooltip text for me on Chrome 76 and Safari 12.1.2.

Also, when I tab over to the header, as soon as the header has the focus, the tooltip pops up.

[2019-09-03 08:14] laurexas commented on #891
@gabrielliwerant package version is the same in production as in development mode, updated my mui-datatable package version to 2.10.1, i will push it to master branch and i will check it if its working and will let you know.

[2019-09-03 09:15] YoungCC2 commented on #595
@gabrielliwerant   i do`t  install @material-ui/core and mui-datatables

[2019-09-03 11:20] Oussidi1998 commented on #393
@patorjk  Thanks man I am working with default package of Mui datatable which installed in my react porject via npm how can implement that ? and thanks

[2019-09-03 11:50] patorjk commented on #393
You'd have to add that repo as a remote, fetch and checkout the 393_arrange_columns branch, and then rebase it. This post has the exact commands you'd want to use: https://stackoverflow.com/a/7244456/256460 (except you'd be rebasing a branch instead of master)

The problem is that it's unfinished, so you wouldn't be able to use this with filtering.

I'm debating taking a stab at continuing this id

[2019-09-03 12:10] Oussidi1998 commented on #393
@patorjk  thanks buddy I appreciate that man big thanks

[2019-09-03 12:21] apercas commented on #393
Hi, we ended up with our own table component with some extra features (as this one). It's not based on this repo but we're using it only in two only cases, 90% of the app still uses this. When that one is properly tested I'll share it here.

[2019-09-03 12:25] Avd6977 commented on #875
Sort is back after the 2.10.1 patch, but I would love to see it customizable like you'd listed above. This would now be a feature, though, not a bug.

[2019-09-03 12:31] Oussidi1998 commented on #393
@apercas  Ok boss we are waiting for that version , thanks a lot for that great work

[2019-09-03 13:59] nbrustein commented on #857
@gabrielliwerant you said that you don't understand a situation where server-side filtering would make sense, if I understand correctly, and I'm not sure that anyone ever really responded directly.

In our case, we have an admin UI where we are showing list of users.  We have 200,000+ users, so we can never have the API return all of them.  We set a hard limit for our API at 1000 users.  If you ar

[2019-09-03 14:08] nbrustein commented on #857
Mostly just to summarize what people have already said clearly.

**Problem:** When using the `serverSide` option, `onFilterChange` and `onTableChange` are often called too much.  In responding to them, you end up hammering your API with new requests that aren't really for what the user wants, since the user is not yet finished filling out their desired filters or typing in the search box.

**Solut

[2019-09-03 17:23] supakitk commented on #875
Hi @patorjk, Thanks! I can see it reads the "Sort" tooltip text after upgraded to version 2.10.1.

[2019-09-03 19:38] gabrielliwerant commented on #595
@YoungCC2, I'm not sure I understand. This library is `mui-datatables`, so you must have this installed at all, unless you are posting on the wrong library!

[2019-09-03 19:42] gabrielliwerant commented on #393
If anyone wants to take it on, I'd be happy to add a feature for direct column dragging to re-order columns. If you want to take it, it would be best to open a new issue with the approach outlined, and then I can assign you.

[2019-09-03 20:04] sseekamp0 commented on #365
Hi!
The following works to remove the rows per page option, however I still receive a large warning in my console. Is there anyway to avoid assigning a boolean value when an array is expected?

`const options = {
      rowsPerPageOptions: false,
    };

    return (
        <MuiThemeProvider theme={getMuiTheme()} >
           <MUIDataTable
            title={"Results"}
            options={options

[2019-09-03 20:21] patorjk commented on #393
@gabrielliwerant I may be interested, but don't assign anything to me just yet as I want to prototype some ideas I have (plus I'm not sure how much time I'll have in the near future). I think the best way to do this is to use react-dnd [1] for the column label dragging, and then CSS transform/transition styling to move the actual row cells to give the effect that DevExpress has when their columns

[2019-09-03 21:46] patorjk commented on #857
Quick counter point: If I'm a user looking at a table and I see that it has 1000 entries, and I decide to filter that data, in my mind it doesn't matter if the UI has downloaded all 1000 rows or just the current page I'm looking at. I would expect the filter to act on all 1000 rows. Addditionally, many users aren't going to know the difference between client-side and server-side data, to them, the

[2019-09-04 03:10] gabrielliwerant commented on #365
@sseekamp0 The way this should be working now is the way it works in material-ui, which is to send it only one option or an empty array. In either case, it will disable the selection. No need to use `false` here. Give that a try and see if it works for you.

[2019-09-04 03:17] gabrielliwerant commented on #393
Sounds good @patorjk! My preference would be to keep this as lightweight as possible, with the ability for devs to override stylistic concerns on their own rather than make too many appearance-based assumptions at the outset. I haven't used `react-dnd` yet, but it looks legit to me.

It would also be great if there were a way to keep any logic related to this self-contained, but I understand that

[2019-09-04 06:18] gabrielliwerant commented on #857
@nbrustein and @patorjk Thanks for your explanation and projected solutions. I understand the use case better. My thinking is that I like to prevent the possibility of inconsistency in the user experience, which is always possible when doing something like filtering client data via the server (since we can't guarantee the same data will return back, or at all). However, I understand it is not alwa

[2019-09-04 06:27] gabrielliwerant commented on #875
Looks like the sort issue might have been related to the `textLabel`, though I'm not sure how! Glad it's fixed though.

@Avd6977 if you want to modify https://github.com/gregnb/mui-datatables/pull/888 to implement @patorjk's suggestion, I would accept it!

[2019-09-04 10:13] fredattack opened #894 "add className to a column header"
hello,
Is there any way to add a className to a column header?
thx

[2019-09-04 13:25] sseekamp0 commented on #365
@gabrielliwerant unfortunately, assigning [] to rowsPerPageOptions results in the picker being enabled with the default values 10, 15, 100. When assigning false the picker is disabled, but I receive the warning I posted earlier.

`const options = {
rowsPerPageOptions: false,
};`

results in:
![image](https://user-images.githubusercontent.com/48028463/64258804-8080b380-ceed-11e9-941f-50cb2c072a33.p

[2019-09-04 14:00] patorjk commented on #894
Right now you have to use the customHeadRender method and override the header component of the cell. You can see an example here: https://github.com/gregnb/mui-datatables/blob/master/examples/customize-columns/index.js

However, there's a PR in for a setCellHeaderProps feature (https://github.com/gregnb/mui-datatables/pull/889). If that gets approved, you'd be able to do it by adding the following

[2019-09-04 14:38] patorjk commented on #857
I mostly agree with this point, though I think it would be beneficial to update the server side example to show a debounced search or one that uses a custom render (https://github.com/gregnb/mui-datatables/blob/master/examples/serverside-pagination/index.js).

A customFilterRender option would solve the problem for filters, but honestly, that seems like an unfair weight to put on the developer. I

[2019-09-04 15:26] Avd6977 commented on #875
Updated it to reflect @patorjk's suggestion but I changed it to return column so someone could use name, id label, or whatever other property of column they want.

[2019-09-04 16:05] pbirsinger opened #895 "Custom expand row icon?"
Hi - how do I use a custom icon/button for for expand rows instead of the up/down arrow? Thanks!

[2019-09-04 19:37] gabrielliwerant commented on #365
@sseekamp0 Looks like this is a regression. The issue was solved in `2.5.0`, but a recent patch I wrote broke it again. I'm working on it now. FYI, `false` will continue to be unsupported, by empty array or array of one should work again, as per material ui convention.

[2019-09-04 20:38] gabrielliwerant commented on #895
There isn't a way to do this at the moment. I'm open to proposals regarding a clean way to implement such a feature, however.

[2019-09-04 22:46] gabrielliwerant commented on #857
I'll see if I can clarify my thinking.

I agree. What I was thinking was just the dialog/modal part into which the filters reside. We could allow a custom filter modal, but keep the internal filter components. However, this might not be the best/clearest solution, just throwing it out there.

I'm referring to how the filters fire on the client when `serverSide: false`. They don't use `onBlur`, so

[2019-09-04 22:49] gabrielliwerant commented on #857
Also, the reason I'd rather see a new `onChange` for filters to fire serverside requests rather than something like an `onClose` for the filter dialog, would be to keep the default experience similar between clientside and serverside.

[2019-09-04 22:56] gabrielliwerant commented on #365
Should be closed again via https://github.com/gregnb/mui-datatables/pull/896 in `2.10.2`.

@sseekamp0 You should now be able to use `[]` to disable `rowsPerPageOptions` again.

[2019-09-04 22:56] #365 closed

[2019-09-05 00:45] patorjk commented on #857
Client-side and server-side tables will inherently have a slightly different UX. For example, search debounce - which I think we're both in agreement about - means that the table doesn't update with search results until the user is done typing. Users are be fine with this because they know that it takes time to search 100k rows as opposed to 100 rows. Filtering should have a similar, slightly alte

[2019-09-05 05:55] YoungCC2 commented on #595
&nbsp;i rewrite this component. the question was reslove .........

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Gabriel Liwerant"<notifications@github.com&gt;;
发送时间: 2019年9月4日(星期三) 凌晨3:38
收件人: "gregnb/mui-datatables"<mui-datatables@noreply.github.com&gt;;
抄送: "卯卯"<743472220@qq.com&gt;; "Mention"<mention@noreply.github.com&gt;;
主题: Re: [gregnb/mui-datatables] @material-ui/core 4.0.0-

[2019-09-05 11:45] psaffrey-origami opened #897 "Varying font size"
## Expected Behavior

I'm expecting to be able to alter the styling of the text inside the table, specifically the font size.

## Current Behavior

I've tried working with the example in code sandbox:

https://codesandbox.io/embed/0ylq1lqwp0

and adding a line like:

    fontSize: "2pt"

In various places including underneath `overrides->MUIDataTable->root` and a number places under `overrides->MU

[2019-09-05 13:22] svendeckers opened #898 "Can I trigger the sort from another button, or on pageload?"
I have a React app where I'm showing data returned from an API in the table.
When the user sorts the data, and React re-renders, the sort is reset.
I can use a `customSort` and keep the `colIndex` and `order` in React state, but then I still need to be able to trigger the sort myself after re-rendering.
Is there a way to do this?

[2019-09-05 14:42] patorjk commented on #897
Your sandbox uses MUI-Datatables version 2.0-beta (the demo in the README.md should probably be updated). If you change it to the latest version (2.10.2), you can use setCellProps to target styling on a particular cell:

One other point - if you set the background color you'll notice it's off for the last cell in stacked mode. This is fixed in this PR: https://github.com/gregnb/mui-datatables/pull

[2019-09-05 14:47] patorjk commented on #898
You have to set the "sortDirection" option of the column you want to sort by. Once you do that, when the table re-renders it'll be sorted by that column. I would definitely prefer an order property too (https://github.com/gregnb/mui-datatables/issues/706), as I think the current setup is a little awkward.

[2019-09-05 15:09] psaffrey-origami commented on #897
Thanks for this - I hadn't noticed that the sandbox had an outdated version.

I managed to get the them approach to work a little but not `setCellProps`. I also tried `setRowProps` - I guess I must be putting them in the wrong place or some other basic error. I wonder if you can tune this example to show me where these fields are needed:

https://codesandbox.io/s/muidatatables-customize-styling-tx

[2019-09-05 16:20] patorjk commented on #897
Move setCellProps into the “options” object, right under “filter: true” (I’d update the example but I’m on mobile at the moment).

[2019-09-05 16:47] patorjk commented on #897
https://codesandbox.io/s/muidatatables-customize-styling-k623w

[2019-09-06 06:41] gabrielliwerant commented on #857
Agreed UX will never be 100% the same, so it's more a question of how much sameness is desirable. I think switching to `onBlur` is too dissimilar, but I think we're on the same page about `onBlur` solution, correct me if I'm wrong.

Ok, so a new `onChange` isn't needed. You're right, on closer inspection, it wouldn't do anything new here. Which means. as you say, that `onFilterChange` is actually

[2019-09-06 08:21] laurexas commented on #891
updating to new version problem was solved, case closed.

[2019-09-06 08:21] #891 closed

[2019-09-06 09:25] fredattack opened #899 "use object in filterOptions"
Hello,

Because the data of my row is an json, i would like to display a specific field in the filter.

Exemple of data:
`"{\"id\":\"2",\"name\":\"Georges Lukas\"}"`

how can i only render the attribut name of my object both in filterOptions (names) and in customFilterListRender.

is the any way to pass parameter (list of Value) to   filterOptions (names) ?

Thanks

[2019-09-06 12:43] svendeckers commented on #898
thanks, that worked :)

[2019-09-06 16:10] RomanKwok opened #900 "The selection box is misplaced when I scroll the table (only safari)"
<img width="379" alt="Screenshot 2019-09-07 at 12 06 41 AM" src="https://user-images.githubusercontent.com/53133673/64442983-7d5f1080-d103-11e9-82c9-c402f3a3c54d.png">

[2019-09-06 18:03] gabrielliwerant commented on #900
Hello @RomanKwok. Can you create a codesandbox example that demonstrates the issue? I have a PC, so I cannot download the latest safai for testing. There are some options I can use for testing, but the free trials are limited in capabilities, so having an example ready to go that I can load in a browser will be a big help.

[2019-09-06 22:59] gabrielliwerant commented on #899
Hello @fredattack. Trying to get a handle on your use case. So you want the filter chips to render like `name: George Lukas` instead of `George Lukas`? And when selecting filters, from say, the dropdown, you want it be `name: George Lukas` instead of `George Lukas` also?

`customFilterListRender` will let you do what you want with the filter chip display and `filterOptions: { display: Component }`

[2019-09-07 05:08] RomanKwok commented on #900
Hi, @gabrielliwerant. Thanks for your reply.
I created a sample with codesandbox, please check it.
thanks.

https://codesandbox.io/embed/polished-sun-2dj96?fontsize=14
<img width="1328" alt="Screenshot 2019-09-07 at 1 05 02 PM" src="https://user-images.githubusercontent.com/53133673/64470105-26435500-d170-11e9-8e6b-dac28a688722.png">

[2019-09-07 16:37] roballsopp commented on #681
Apparently they aren't planning to support this: https://github.com/gregnb/mui-datatables/issues/92#issuecomment-403651830. There is at least one potential semi-hacky example of how to get around this in that thread. I'd just go for the native [material-ui tables](https://material-ui.com/components/tables/) if you have the flexibility.

[2019-09-09 00:45] jlucier commented on #63
I'm also seeing that `tableMeta.tableData` is an empty list.

[2019-09-09 03:47] gabrielliwerant commented on #598
I looked into this again recently while working on a separate issue, and it looks like we're not double rendering, even though `customBodyRender` is being called twice. It's called once while determining filter data and it's called again when computing the rows to display, but it only actually renders the data after both are complete, as best as I can tell. So, although it may sometimes be inconve

[2019-09-09 03:49] gabrielliwerant commented on #645
Added an explanation here https://github.com/gregnb/mui-datatables/issues/598 regarding the actual rendering. It looks like it's not double rendering, though it is calling the function twice. So there's still room for improvement here, but it's not *as* suboptimal as it may first appear. :)

[2019-09-09 04:51] gabrielliwerant opened #901 "Table meta for customBodyRender is inconsistent"
Opening this based on some of the issues described in https://github.com/gregnb/mui-datatables/issues/63.

Current Situation:

The `tableMeta` object sent to the `customBodyRender` column option is inconsistent in the data it sends (`tableData` and `rowData`).

Expected Situation:

The `tableMeta` object should return the same data formats in different situations, as per the README documentation.

[2019-09-09 04:54] gabrielliwerant commented on #63
Opened a new issue to address some of the issues with `tableMeta` https://github.com/gregnb/mui-datatables/issues/901.

[2019-09-09 07:16] mhaass opened #903 "Click on customToolbarSelect-Button resets filter"
clicking on custom-button in customToolbarSelect resets all filter settings (including searchString) <br>

Thanks for that great component! <br>

## Expected Behavior

I would assume, that at least the seachString stays stable after triggering an redux-action via custom-Toolbar-Select-button.
Or is this a feature?

## Current Behavior

All filter settings are deleted

## Steps to Reproduce (for bu

[2019-09-09 09:14] sarawinter opened #904 "Is there any simple way to group rows?"
I am wondering if there is any easy way to group rows by a common field/column value, such as a date field?

[2019-09-09 12:17] sarawinter opened #905 "Is there a way to access the active viewColumns?"
## Expected Behavior

To have an `onViewColumnsChange` option or similar so that I can access the viewColumns that are currently disabled/enabled.

## Current Behavior

There does not seem to be a `onViewColumnsChange` option.
There is one for `onFilterChange`...

## Your Environment
    "@material-ui/core": "^4.3.3",
    "@material-ui/icons": "^4.2.1",
    "moment": "^2.24.0",
    "mui-datatables

[2019-09-09 12:36] sarawinter commented on #905
I found it! It is called `onColumnViewChange`, maybe a little unintuitive?

[2019-09-09 13:39] ronaiza-cardoso opened #906 "Remote Search"
How can I handle Remote Search loading?

[2019-09-09 14:25] christiantigre opened #907 "How I can cancel download file csv"
How I can cancel download
[code]

    How can I cancel the file download, to use another file format

[2019-09-09 14:39] patorjk commented on #900
I can confirm this. It is also present in iOS devices on Chrome (and probably other browsers). If you alter @RomanKwok's example use to use "scrollMaxHeight", you'll see the problem on the iPhone in Chrome. If you create a table with 10+ rows, you'll also see the issue happens for the table headers when you scroll right.

The issue is due to "position: sticky" in TableSelectCell.js and TableHeadCe

[2019-09-09 15:49] #903 closed

[2019-09-09 18:58] gabrielliwerant commented on #904
It depends on what you mean by "group." Column headers allow sorting, and you can define a custom sort which will group along any column values you want.

[2019-09-09 19:00] gabrielliwerant commented on #905
I'm open to deprecating the old name and using `onViewColumnsChange` instead if anyone wants to take it.

[2019-09-09 19:03] gabrielliwerant commented on #906
By "remote," you mean with `serverSide: true`, right? If so, you have access to the search onChange function with `onSearchChange` which you can customize to call APIs and use debounce. If you want to change how any of the default searching works, you can also provide your own search bar with `customSearchRender`.

[2019-09-09 19:06] gabrielliwerant commented on #907
I think you're looking for these options

![image](https://user-images.githubusercontent.com/1779564/64558992-39425a80-d313-11e9-825a-54723d39832e.png)

which allow you to change the file name. I'm not sure cancelling the download is what you want, as that will stop it from occurring entirely.

[2019-09-09 23:03] christiantigre commented on #526
how is the solution? How you can resolve this.

[2019-09-10 01:45] ksdelacruz commented on #906
@gabrielliwerant I'm currently doing this and I'm trying to update a variable on the <onSearchChange> function using React Hooks but can't seem to make it work. The problem is by adding a React Hook inside the function, the search string parameter returns two separate string in alternating pattern (e.g. I press "a" and log shows "a", then press "s" then log shows "s", then "d" and log show "ad", t

[2019-09-10 04:55] cr101 opened #908 "Question: Tree Data"
Does this table component have a tree data feature that could be used for data that has nested relations?

[2019-09-10 06:45] jlucier commented on #580
@JReinhold
With `scrollFullHeight` I'm seeing the table at full height (great), but I'm not seeing horizontal scrolling for my tables. Is this option supposed to cause the table to scroll horizontally when it's overflowing?

I'm on 2.10.2.

[2019-09-10 10:08] rubenp9 opened #909 "Data as array of objectswith properties which have a "dot""
Hello,
I think that there is a bug when you use data as array of object with properties which have a "dot":

`render() {
    const { tableData } = this.props;

    let cols = [
      {
        name: '1',
        label: 'ID 1'
      },
      {
        name: '1_1',
        label: 'ID 1_1'
      },
      {
        name: '9.1',
        label: 'ID 9.1'
      }
    ];

    let data = [
      {
        '

[2019-09-10 10:16] sarawinter commented on #904
I am looking for something like this...
![screen](https://user-images.githubusercontent.com/19814400/64603694-13738f00-d3c1-11e9-9c7a-eac0e795152b.PNG)
Where the columns are grouped by the CustomerPo field.

The way that I have it working now is that I have a mui-datatable with all of the rows expanded and a custom component in renderExpandableRow.

This has required me to do some tweaking. I keep

[2019-09-10 10:19] sarawinter commented on #904
I only need the sorting on the first column, which is my parent's CustomerPo field. But I would like the filters and view columns to work.

[2019-09-10 13:16] ronaiza-cardoso commented on #729
Hi, I'm having the same issue, when I make an api when `'changeRowsPerPage': ` and `'changePage:'`, `propsUpdate` is triggered and the value is inside the table is cleaned:

![image](https://user-images.githubusercontent.com/7999914/64616985-7c650200-d3d5-11e9-8df3-83f090573022.png)

[2019-09-10 13:56] psaffrey-origami commented on #897
This worked for me - thanks a lot of the help!

[2019-09-10 14:58] MasterKale commented on #729
@ronaiza-cardoso Unfortunately, for now, you have to go all-in if you decide that you want to use server-side pagination/sorting/filtering. I managed to make the switch, though, so here's the gist of how you can handle things until v3 gets released:

1. Set up an `onTableChange` option when you set up your `<MUIDataTable />` that triggers logic to store the table's state in your component's `setSt

[2019-09-10 16:22] joziahg commented on #899
I am also having issues with filtering, there is no easy way to use objects with mui-datatables. It would be cool to be able to filter and render in the filter list based on value from an object.
If there is an easy way to do this, the docs don't specify.
some psuedo code would be cool if we could specify an alias field that acts the same as if a string was passed as the value instead of an object

[2019-09-10 20:35] lalong13 opened #911 "Remove the pointer cursor on the table header when no sort or hints"
## Expected Behavior
The data table shouldn't show a pointer styled cursor when hovering over the table's header if the columns don't have hints and are not sortable since there is nothing to click on and no info to show while hovering.

## Current Behavior

With no sorting on the table or hints for the headers, the cursor changes to the pointer style. Nothing happens when you click since there is

[2019-09-10 22:12] gabrielliwerant commented on #526
This SO may be of some help: https://stackoverflow.com/questions/26777317/printing-html-table-with-many-columns-rows-using-css-layout.

Ultimately, you probably want to use the setting `responsive: stacked` if printing is important to you, as this transforms the flow of the table into something where every column will fit, since they will be displayed vertically.

[2019-09-10 22:17] gabrielliwerant commented on #908
It depends on exactly what you are trying to do. As in the `data-as-objects` example. you can have nested data that you can format into new columns. If you mean, like some sequence of expandable rows that further nest data, then not out of the box, though with a lot of work, you can create these customizations yourself using `renderExpandableRow` and nesting other tables inside, though this gets v

[2019-09-10 22:19] gabrielliwerant commented on #580
@jlucier Can you open up a new issue for that? It's a bug.

[2019-09-10 22:31] gabrielliwerant commented on #909
@rubenp9 Nice find. Yes, this is an unintended consequence of enabling nested data access through the standard dot notation. I'm open to suggestions about how to work around this. It's a little messy, but we could add an option like `enableNestedDataAccess` which could be flagged on or off to enabled/disable parsing the dot.

[2019-09-10 22:40] gabrielliwerant commented on #904
So, this library is not really built to handle nested data in the way you are attempting to handle it, so there's not going to be a good way to force it in and then rely on the other functions like filters, search, download, etc. We have to keep in mind that this library is built on top of the material Google recommendations for data tables, so I don't want to stray too far from that. Material spe

[2019-09-10 22:51] gabrielliwerant commented on #899
@joziahg I'm not sure that you are having the same problem as @fredattack. Feel free to open a new issue, but in either case, I'm going to need to understand the use cases, and so far, I can't quite figure out what the problem is. Lets forget about proposed solutions for now, and see if you can just communicate what exactly you're trying to have happen. There may already be a solution.

[2019-09-11 01:19] gabrielliwerant commented on #857
PR added to address some of the issues inherent to serverside filtering in this library https://github.com/gregnb/mui-datatables/pull/913. Please let me know what you think.

[2019-09-11 01:24] gabrielliwerant commented on #580
@jlucier Nevermind, already merged!

[2019-09-11 01:33] gabrielliwerant commented on #681
The way to do this is the same way you'd do it with material-ui, which is to override mui classes with the styles you want, or provide your own components/styles via the custom render options (`customBodyRender`, `customRowRender`). This library is based off of the material-ui tables, so generally speaking, anything you can do with that library, you can do with this one. See `customize-rows` and `

[2019-09-11 04:16] patorjk commented on #857
PR visible here: https://codesandbox.io/s/github/gregnb/mui-datatables/tree/enhancement/issue-857-server-side-filters

I'm glad to see you did this. I hate render functions, and having used them a ton I don't think they're an optional solution for customization (though that's a different topic). 

Anyway, I was actually pretty alarmed by your resistance to this feature and I wound up forking the l

[2019-09-11 04:25] rhaicode opened #914 "CustomRowPopover option"
For larger data that have more than 10 columns, the current datatable offers horizontal scrolling to view the other columns of data. That is intuitive.

However, if the user wants to review data that are located somewhere on the first columns, the user needs to horizontally scroll the table again - affecting user experience.

I would like to suggest a new option, CustomRowPopover, that would be re

[2019-09-11 05:51] gabrielliwerant commented on #914
This is functionality you can provide for yourself now, by using `customRowRender` to provide your own row component with tooltip, or whatever hover effects you'd like.

Although I appreciate the suggestion, this library is better off not offering specific solutions to complex problems because it opens endless branches for variations not considered as well as potential maintenance overhead and gen

[2019-09-11 06:29] rhaicode commented on #914
Sure thing. I will try to work on it and submit a PR in the future. The example would be called as custom-row-popover that uses customRowRender.

[2019-09-11 06:29] #914 closed

[2019-09-11 06:32] gabrielliwerant commented on #857
@patorjk Thanks for the feedback!

I don't love render functions either, but what they have going for them is that they allow devs to come up with their own solutions, rather than restricting them to specific implementations. It's been my experience that as time moves forward for any given default feature, the requests for customization approach infinity. :) It makes sense, everyone has different

[2019-09-11 08:44] ruthwe commented on #549
When will this be merged to master?

[2019-09-11 09:28] Lilliance opened #915 "customBodyRender bug"
Hello!

When i trying to provide `customBodyRender` function in column options its broke filter with that column.

Errors heading looks like:
1. "Failed prop type: Invalid prop `primary` supplied to `ForwardRef(ListItemText)`, expected a ReactNode."
2. "Failed prop type: Invalid prop `children` supplied to `ForwardRef(Typography)`, expected a ReactNode."
3. "Invariant Violation: Objects are not va

[2019-09-11 10:11] gabrielliwerant commented on #549
Probably the release after the next one (so two releases). Could be as soon as a week or two. There are some additional things I wanted to do with expandable rows that I want to bundle in the same release with this one, but I haven't had a chance to work on it yet, as other issues have taken priority.

[2019-09-11 10:14] gabrielliwerant commented on #915
Hello @Lilliance. You list your version of this library here as `2.1.8`, is that correct? Can you confirm that the issue still exists in the latest version, which is `2.10.3`?

[2019-09-11 10:17] cr101 commented on #908
@gabrielliwerant  I'm looking for something like this
![Screenshot_7](https://user-images.githubusercontent.com/4064582/64689145-e10d8300-d4e1-11e9-9045-bf1896e03bb3.jpg)

[2019-09-11 10:37] Lilliance commented on #915
Thank you for advice, @gabrielliwerant. I updated library to `2.10.3`, but i have same issue. :(

[2019-09-11 11:20] waqasajaz opened #916 "Clicking on Expand Rows icon triggers onRowClick function"
`onRowClick` gets triggered  when we click expand icon of row to expand it.
I am opening a popup upon row click. This popup also opens when I click on expand icon.

![](http://g.recordit.co/0HT6bUmLh1.gif)

## Expected Behavior

If we click on row expand icon then `onRowClick` should not trigger.

## Your Environment

| Tech         | Version |
|--------------|---------|
| Material-UI  |    4.3.0

[2019-09-11 14:14] czellerdavid opened #917 "Always show search field."
I would like to customize the search field the way that it's always shown.

## Expected Behavior
The search field should be always open. So that way, you don't have to click on the search icon to open the search field.

## Current Behavior
   Now you have to click on the search icon to open the search field. There should be a bool if it's always open or if you want the current behavior.

[2019-09-11 14:19] konrazem opened #918 "responsive option of 'scroll' is missing in documentation"
responsive option of '**scroll**' is missing as an option of table in main documentation. Moreover this is only one option that is reasonable to make table responsive. When I have lots of columns and rows, data will go out of boundary on mobile if default or any other option than 'scroll' is selected.

![image](https://user-images.githubusercontent.com/19363700/64705156-c7534800-d4af-11e9-9532-910

[2019-09-11 15:02] patorjk commented on #857
What I did was have TableFilter manage it's own filterList:

[code]

Then on the TableFilter component I added a key prop. This prop is a number that is incremented whenever setActiveIcon is called, so TableFilter is always rendered with the correct filterList when it's viewed.

Doing it this way I also needed to:

* Put if statements around the props.onFilterUpdate calls.
* Handle updating TableF

[2019-09-11 15:20] dandrei commented on #375
A quick update to this: a recent update in `mui-datatables` changed the default value of an unsorted `sortDirection` to `none` (as opposed to `null`).

Anyone relying on the above example should update the code accordingly:

    <TableSortLabel active={column.sortDirection !== "none"} ... />

[2019-09-11 19:55] gabrielliwerant commented on #915
It looks like be using incorrect arguments in the function. Check out the `component` example in the library. The arguments are `value`,, `tableMeta`, `updateValue`. `value` is a string, and it is the value intended for the cells in the column you are customizing.

[2019-09-11 20:01] gabrielliwerant commented on #916
This is intentional at the moment and is related to https://github.com/gregnb/mui-datatables/issues/516.

If you notice in your console, there is a deprecation warning around this behavior. This is because the behavior used to be default and needs to be changed in breaking release to try to prevent breaking code for people that have been depending on this behavior.

[2019-09-11 20:03] gabrielliwerant commented on #916
If you don't want to wait for a major release to change the behavior, I would accept a PR that adds transitional behavior that allows opt-in to the new behavior.

[2019-09-11 20:08] gabrielliwerant commented on #917
@czellerdavid There is a PR open now that would add the option for this behavior, so feel free to watch it: https://github.com/gregnb/mui-datatables/pull/893.

[2019-09-11 20:11] larissa-n opened #919 "Can't apply Theme in Material > v4.0.0 when mui-datatables is present"
I feel bad for opening another issue with 203 open right now, but I have to at least mention it in case anybody else runs into this problem:

Theming and styles in Material UI in version 4 and onwards will not be applied if mui-datatables is present. Other Material UI features work (and I see that some work has happened vis-a-vis Material UI v4: https://github.com/gregnb/mui-datatables/issues/886)

[2019-09-11 20:12] gabrielliwerant commented on #918
Hello @konrazem. I need more information about what you're looking for. Right now, the docs look like this:

![image](https://user-images.githubusercontent.com/1779564/64731239-c4a42300-d4ae-11e9-8d6d-f0157b7e9489.png)

So, the two scroll options are `scrollMaxHeight` and `scrollFullHeight`. Have you tried either of these?

Also, I'm not sure that the error in your screenshot is related to anythin

[2019-09-11 20:25] gabrielliwerant commented on #375
If you continue to use `null`, it should still work, but you will get a console deprecation error warning you to change the behavior.

[2019-09-11 20:31] Lilliance commented on #915
When i don't use any args, i have same issue. Like this:
[code]

[2019-09-11 20:40] PizzaBrandon commented on #676
@gabrielliwerant Would you be open to a PR for upgrading to Material 4? I just upgraded it locally and it wasn't too painful. It did require updating a number of deps, but all tests pass, spot check of examples work, and the docs still work.

[2019-09-11 20:49] shubhamk54 commented on #240
The issue persists in v: 2.0.0-beta.58, any updates would be helpful,
meanwhile, I'm digging down, will update the solution if I had.

[2019-09-11 21:19] gabrielliwerant commented on #915
I'll need to see an example of your problem with all the (minimal) code necessary to create the issue. Can you create a codesandbox (https://codesandbox.io) and share it here?

[2019-09-11 21:20] gabrielliwerant commented on #240
@shubhamk54 That version of the library is no longer supported. Try upgrading and seeing if that helps.

[2019-09-11 21:31] Lilliance commented on #915
Sure, you can check my [example](https://codesandbox.io/embed/heuristic-brook-rzp7d)
I noticed one more thing:
if you set `filterType` to `dropdown` - problem solves, but in `multiselect` or `checkbox` cases still exists.

[2019-09-11 21:46] gabrielliwerant commented on #919
Haha, no worries @larissa-n, issues are issues! I do need to clean a bunch of the out as there are a lot of old ones out there that I think are no longer relevant.

What do you mean by "mui-datatables is disabled?" Are you saying that any project using mui v4 and this library will prevent any styling from working anywhere, even outside of the library?

If so, can you provide an example of the brea

[2019-09-12 01:26] chirhotec opened #920 "Is there away of filtering out values from the table?"
Currently the filters allow you to filter down to rows with specific values in a column.

How would I go about creating a way to filter out values, and show rows that don't have a specific value?

[2019-09-12 04:23] gabrielliwerant commented on #915
Thank you! I can reproduce the problem now. Will take a look.

[2019-09-12 06:12] gabrielliwerant commented on #915
Ok, I've got a better handle on this now. I'm downgrading the issue to an "enhancement".

Fundamentally, the table isn't set up to use objects the way you are attempting, so the issue is deeper than filters or `customBodyRender`. Columns have to be set up to work with single values like strings or numbers. If your data has other objects in it, then you'll need to tell the column which data you wan

[2019-09-12 06:37] Lilliance commented on #915
@gabrielliwerant, thank you for explanation, i appreciate your help!
I thought about that, but in some cases if i use cell data as object all work fine.
But now i see it was just non-documented luck :), ty.

[2019-09-12 07:28] gabrielliwerant commented on #915
@Lilliance That's correct, it looks like you got lucky! I think you would have run into problems eventually. Not your fault, as there were no error messages to help out here, but hopefully the additions will provide something good enough for now.

[2019-09-12 07:29] #778 closed

[2019-09-12 07:31] #901 closed

[2019-09-12 08:28] #873 closed, assigned to nobody

[2019-09-12 10:03] JosephP91 opened #922 "Filtered rows CSV download not working"
Hi,

I am having problems while working with downloadOptions option.
The option I am using are:

`
downloadOptions: {
      filename: this.props.exportFilename,
      separator: ";",
      filterOptions: {
           useDisplayedRowsOnly: true,
           useDisplayedColumnsOnly: false
      }
}
`
Even if I apply a filter, all the rows are exported. Am I doing something wrong?

I am using the late

[2019-09-12 10:47] wroughtec opened #923 "customBodyRender tableData becomes blank"
In 2.10.3 (and below) the tableData returned an object  of the table data and an index. With the release of 2.11.0 this is not longer present.

In the previous version the array was an array of objects thats started with an empty array and when you then sorted, filtered or searched got populated with `[{ index: 1,  data: Array(14)}, { index: 2,  data: Array(14)}, { index: 0,  data: Array(14)}], wi

[2019-09-12 12:01] #922 closed, assigned to nobody

[2019-09-12 18:07] nabrowning opened #924 "customSort function using phantom index"
Our app has a regular data update and page refresh. We cannot maintain the UI when a user is interacting with the table sort during the page pull. There is a default sort that works fine on load, but any attempts to sort after first calls `customSort` on the correct index but immediately fires a second sort on the last index.

## Expected Behavior
To only call `customSort` on the index of the desi

[2019-09-12 22:33] #923 closed, assigned to gabrielliwerant

[2019-09-13 00:44] Zero-Xiong opened #926 "Possible to scroll to the selected row?"
Currently, I am facing 2 problems, hope could get suggestion.

1.  for the option, I enabled selectableRows = 'single' and filterType = 'checkbox', and the rowsSelected is from useState ( const [rowsSelected, setrowsSelected] = useState([2])). Now the problem is: Once the rowsSelected changed (for example, somewhere, I setrowsSelected([5])), it does not reflect on tables immediately.

2.  accordin

[2019-09-13 04:16] archana-iron opened #927 "Having problem with material ui laest version-4.4.1. When you are updating it's devDependencies to latest one??"
I am using latest version of material ui and having issue with this package.

[2019-09-13 09:27] wroughtec opened #928 "tableData changes if sorted/filtered"
#923 fixes the issue of data going missing when sorting etc. however it now appears to change from an array of arrays to an array of objects:

https://codesandbox.io/embed/muidatatables-custom-toolbar-txw6d

(added a couple of 'bugged' examples to give you an idea what I was achieving before)

The reason having the original index was so useful was I could enrich the table with extra data that I do

[2019-09-13 09:54] diegochavez commented on #927
I guess we can start a new branch for releasing this project with the newer version, the only problem is are you planning to move to the next version here in this repository, We can help to this happen since we use the table heavily but we have plans to migrate to the newer version of MUI?

[2019-09-13 12:17] kkaminski-github commented on #807
Where do you pass this.state.tableStatePersist to MUIDataTable? Does selecting rows work for you?

[2019-09-13 16:11] SaberMage commented on #807
@kkaminski-github See step 3. this.state.tablePersist is not passed to MUIDataTable, but is used by getColumns() and getSearchText(). getColumns() is the function that updates this.state.tableColumns, which is, as shown in the example, assigned to the datatable's columns prop.

You want to put getColumns() in componentDidMount() and right before any other line of code that will cause a table refre

[2019-09-13 16:42] snsheth55 commented on #199
I have added the column id with display excluded, but I am still only getting index and dataIndex as properties in the onRowsSelect callback object.

This is my columns set up

[code]

and this is how I am putting the data in

[code]

[2019-09-13 19:16] maitedev commented on #853
Hi grabriel, so I must create my own delete button and incorporate it into the customToolbarSelect option?
I have seen some examples of how some developers use this property, but it is not very clear to me.

[2019-09-13 20:22] gabrielliwerant commented on #928
Ok, I see that. It's happening when arrays of objects are fed to the table. It doesn't happen with arrays of arrays. I'll work on it.

You can still add all of those things by using `customBodyRender` and mapping your data to whatever else you need. It was never a supported feature to allow the internal table state to store a bunch of data that isn't be used by the library. That's likely to cause

[2019-09-13 20:42] gabrielliwerant commented on #927
This library, and this repo will support mui v4, but I can't say exactly when because I don't know how long it will take to fix all of the issues from the migration. You and others can help by opening specific issues that occur with the table as you switch it from mui v3 to v4.

[2019-09-13 20:48] gabrielliwerant commented on #807
@SaberMage Is there a reason you can't store your state normally and pass it into the table, as in the example `column-options-update`?

[2019-09-13 20:52] gabrielliwerant commented on #199
@snsheth55 The table doesn't use custom ids, you have to do the mapping on your end based on whatever it is you're trying to achieve. Typically, you'd map the `dataIndex` to your original data:

`const myId = myOriginalData[column][dataIndex][idRow]`.

[2019-09-13 20:56] gabrielliwerant commented on #853
Correct, for now, the only solution is to add your own custom select toolbar as in the `customize-toolbarselect` example. Simple ex:

[code]

[2019-09-14 05:38] kedpak opened #930 "Way to trigger event when scroll hits bottom of table?"
Hi I am wondering if there is a way to trigger an event if the responsive scroll in the table hits the bottom. Thanks

[2019-09-14 19:36] gabrielliwerant commented on #930
There is not a built-in way to do this in this library, but you can add libraries which will help you create such events.

[2019-09-14 20:12] konrazem commented on #918
@gabrielliwerant  yes exactly I was trying at first scrollMaxHeight and scrollFullHeight but those make no scroll. After I found somewhere in blog actual 'scroll' option was the case. I just wanted to notice that maybe it would save some time for newcomers to add '**scroll**' option to documentation with  'stacked', 'scrollFullHeight', 'scrollMaxHeight' ?

`  const options = {
    filterType: 'dro

[2019-09-14 22:13] gabrielliwerant commented on #918
In the latest version of this project, `scroll` behavior is identical to `scrollMaxHeight`. It is also deprecated and will be replaced with `scrollMaxHeight` eventually. You must be on an older version of this library.

[2019-09-15 09:07] ruthwe commented on #549
thank you,
while trying to work with this branch it seems that when isRowExpandable is false, the indication arrow is still visible but only click is disables, am i right?
and can we send also to isRowExpandable: (dataIndex, expandedRows) rowMetadata as well ,so we can make condition such has only if rowMeta has certain info it is expandable.

[2019-09-16 09:02] laurexas opened #931 "Filter table select is empty"
## Expected Behavior
Filter table select should allow to filter table cells when data is provided in that cell

## Current Behavior
Hello, at the moment when i get data from API sometimes some cells can be empty and than problem appears in filter select table because you get empty select values if no data is provided. How this issue can be solved because there will be cases when data will not be p

[2019-09-16 12:07] wroughtec commented on #928
Sure. Got to love a loophole ;)

[2019-09-16 12:33] SaberMage commented on #807
@gabrielliwerant I kind of see what you are suggesting. Really, my approach achieves a similar outcome to the example you mentioned. The key differences are:

1. Where the **preliminary** or "default" column options are defined, such as `display` and `filterList`. In mine, these are defined inline along with all the other column options. In that example, they are defined in state which I acknowled

[2019-09-16 14:39] maitedev commented on #853
Thank you very much Gabriel!
I have another question, related to the bar that is displayed when selecting a checkBox. Should I open another issue to ask the question or can you answer me here?
I would like to know if there is a way to stop showing this bar.
Thanks,

[2019-09-16 14:57] #681 closed

[2019-09-16 15:31] reinvanimschoot opened #932 "filterOptions display not working"
## Expected Behavior

When using filterOptions.display to alter my filter dropdown list, I expect my filter options to be changed accordingly.

## Current Behavior

Currently, despite using filterOptions.display, the filter list is not updated and stays the same.

My code currently is the following:

[code]

The items in this column are objects in the shape of `{id: string; organisation: string}`

[2019-09-16 17:46] gabrielliwerant commented on #931
Right now, the only way you can do this is by creating your own filter field with `filterOptions: { display: Component }`. You provide your own `Select` or whatever component for that column and eliminate empty data as an option. If using a `TextField`, you can use `filterOptions: { logic: Function }` to filter out empty results.

[2019-09-16 17:48] gabrielliwerant commented on #928
Haha! It looks like I may need to go back to array of objects, but only with the index/dataindex values, as it might be the only way to have consistency here. But again, if you add other props there, you do so at your own risk! :p

[2019-09-16 17:50] gabrielliwerant commented on #807
@SaberMage Sure, just thought I'd bring it up in case it would be beneficial to anyone. One of the goals of the table is to allow users to seed it initial data and then control it afterwards via state, although it is certainly not as easy or clear to do as it could be.

[2019-09-16 17:55] gabrielliwerant commented on #853
Well, since you asked it here, I'll answer it here!

There have been a number of issues opened about showing/hiding the bar including some PRs. My trouble is that out of all of them, I don't think I've ever heard a good answer to the UX question about what exactly is supposed to happen once it's removed, since that's the only way users currently have of acting on their selections. You can prevent

[2019-09-16 18:05] gabrielliwerant commented on #932
Are you setting the `filterType` as `"custom"`? You need to do that as well or the table doesn't know which type of filter you mean to display. Although this raises a good case for some way to make it more clear that this is needed. I'm open to suggestions. Maybe a mention in the README?

[2019-09-16 19:18] maitedev commented on #853
Well, the buttons of my application I am showing them below the AppBreadcrumbs component. If I'm not going to use any button in the table, it doesn't make much sense to show the empty bar when checking a checkbox.

[2019-09-16 19:45] maitedev commented on #884
I am using the option in onRowSelect, to dispatch a redux event to which the selected ids must pass as a parameter.
This onRowSelect option returns me a selected index array, starting at position 0.
The IDs of the elements that make up my table start at 1 not at 0. So, when I pass the index that returns me onRowSelect does not match the element of the BD.

I would like to know how I can access the

[2019-09-16 20:14] gabrielliwerant commented on #853
I'll take that into consideration. You can watch the other issues on this or the PR up for review to keep up-to-date on this issue.

[2019-09-16 20:23] gabrielliwerant commented on #884
Couldn't you accommodate this by adding 1 to the index in your reducer? Or sending in index + 1 with the action?

[2019-09-16 20:32] maitedev commented on #853
Ok, thanks Gabriel !! Excuse my bothering.

[2019-09-16 20:41] maitedev commented on #884
This is what I did to test the method, and at this moment, since we are in production, I only have 4 elements in the BD, it worked fine.
But I don't think it's the most correct solution.
I was testing with the option
isRowSelectable: (dataIndex) => {
console.log (dataIndex);
}

and if I recover the data allowing me to. My get the IDs. But when I activate this property, the check boxes are disabled

[2019-09-16 20:41] #853 closed

[2019-09-16 20:57] maitedev commented on #884
What if my are not a sequence? for example, my ids could be,  2, 5, 8, 9,13. What i am trying to accomplish here is,  get the selected ids to delete them. By any chance there is a way to get an array of the selected objects? If this is possible i would be able of get the real ids and then do the  operation. But only with the indexes i cannot do anything.

[2019-09-16 21:16] patorjk commented on #884
It should be the second parameter of the onRowsSelect function. See my example above. "currentRowsSelected" should probably renamed "affectedRows" to avoid confusion. Also, dataIndex refers to the index of the data you passed in, it's not related to your IDs.

[2019-09-17 06:10] gabrielliwerant commented on #927
I'm closing the issue as there isn't anything here that is specifically actionable, but if you are having issues with mui v4 while using this library, feel free to open an issue with steps to reproduce and examples, and I will be glad to look into them.

[2019-09-17 06:10] #927 closed

[2019-09-17 06:57] sarawinter commented on #904
I actually solved this quite nicely without having to write any "hacky" code. :)
I even got the column view and filters to work.

If you want an example I'd be happy to share :)

[2019-09-17 10:17] Yakitrak opened #934 "examples/selectable-rows mistake"
In the "examples/selectable-rows". "onRowsSelect"function uses "dataIndex" instead of "index" causing issues with checkbox selection when the table is sorted. Current solution:

[code]

Fixed solution:

[code]

## Expected Behavior
Clicking a row should select that row

## Current Behavior
Click a row select a different row due to "dataIndex" and "index" mismatch.

## Steps to Reproduce (for bugs)

[2019-09-17 11:35] apercas opened #935 "Styling after preventing sort action with `sort: false` in a column fails in 2.11.1"
Unless the definition of a non sortable column has changed, when the column is provided with that option as false, it keeps displaying the name in the column header as clickable. Before this, providing said option didn't allow the user to click the column.

Hope this is an easy fix! Other than this 2.11.1 works like a charm! Thank for taking care of the old bugs, awesome work!

## Expected Behavio

[2019-09-17 14:40] krishna13-gkp opened #936 "Mocha test case Couldn't able to coverage on customFilterListRender and customSort (MUIDataTable). Anyone please quide me. Give an example for mocha test cases for customFilterListRender and CustomSort"
## Expected Behavior

## Current Behavior

## Steps to Reproduce (for bugs)

1.customFilterListRender: value =>XXX
2. .customSort: (data, colIndex, order ) => {
3.
4.

## Your Environment

| Tech         | Version |
|--------------|---------|
| Material-UI  |         |
| MUI-datatables  |         |
| React        |         |
| browser      |         |
| etc          |         |

[2019-09-17 17:44] gabrielliwerant commented on #904
Sure, feel free to open a PR with the example and I'll take a look!

[2019-09-17 17:48] gabrielliwerant commented on #934
Hm, not sure I understand. `dataIndex` was the intention, as this index does not change with sorting, meaning that the same data will be selected before and after.

[2019-09-17 17:52] gabrielliwerant commented on #935
Thanks @apercas! However, this issue looks like a duplicate of https://github.com/gregnb/mui-datatables/pull/910, so marking it as such. Feel free to stay tuned on the PR for progress.

[2019-09-17 17:54] gabrielliwerant commented on #936
I'm not able to understand what problem you're experiencing. Is there a way you can rephrase it?

[2019-09-18 09:02] Edeph commented on #92
@NickRadu did you manage to fix the custom width issue ?

[2019-09-18 10:59] apercas commented on #935
Ha, totally. I'm sorry I didn't see that. Closing this!

[2019-09-18 10:59] #935 closed

[2019-09-19 02:49] gabrielliwerant commented on #936
So, if you're looking to test your own custom code, I think you might be better served by asking in a testing, mocha-focused forum. The issues raised here are primarily for those that are specific to this library, in that there's a bug, or a feature request, or a question about how to use a feature. Testing your code, be it code that is used with this library or not, sounds like it's out of scope.

[2019-09-19 06:40] mohnda commented on #546
@DevelopmentByDavid can you please share how you display multiple tags as shown in your screenshot?

[2019-09-19 06:41] buwanekab opened #937 "Filter Chips are getting concatenated in filterType 'custom' mode, incompatible with multi-select."
When column with filterType `custom` mode and with multi-select options. filter chips are getting concatenated in the same chip, when select on multiple options.

## Expected Behavior
filterType `custom` with multi-select options should support for multiple chips to be displayed in the chips list. Like in the current filterType `multiselect` mode.

## Current Behavior
### FilterType with `custom`

[2019-09-19 06:57] ketankanhasoft commented on #244
https://codesandbox.io/s/muidatatables-custom-toolbar-epfh8
Again same issue occured in latest version.

[2019-09-19 07:00] ketankanhasoft opened #938 "sorting issue in latest version"
Same issue again in latest version, Repeating same state again and again on click of column for sorting
https://github.com/gregnb/mui-datatables/issues/244

Here is sendbox link:
https://codesandbox.io/s/muidatatables-custom-toolbar-epfh8

Thanks

[2019-09-19 07:11] krsandesh opened #939 "How to have last and first page navigation in pagination ?"
In pagination we can just navigate to next and previous.

How to navigate directly to first page or last page ?
Something as shown below

![image](https://user-images.githubusercontent.com/13585404/65221416-9d66da80-dada-11e9-8888-a3391100ade4.png)

[2019-09-19 14:48] Corouna opened #940 "Get row object from customBodyRender"
Sorry if this has been asked before..

I created a custom column definition below

`{
      name: "",
      label: "Action",
      options: {
        filter: true,
        sort: true,
        customBodyRender: (value, tableMeta, updateValue) => {
          return (
            <Action_DataTable config={{ row: tableMeta, editHandler: editRow, deleteHandler: deleteRow, viewHandler: viewRow }}/>

[2019-09-19 14:52] mehdiraddadi opened #941 "It's possible to add pagination to the Top of table?"
I want to add the pagination in the top of table existed a solution to override the Head of table?

[2019-09-19 15:32] MaksimKoniukhov opened #942 "Wrong page number when total count of items equils selected RowsPerPage value"
Hi, I'm backend developer, but work with frontend and I could be wrong. I'm using MUI-datatables and have issue. There is a function "changeRowsPerPage" in your code. When I have total count of items equils selected RowsPerPage value this function return wrong page number.

## Expected Behavior
When total count of items equils selected RowsPerPage value should return page number 0. Maybe to use:
`

[2019-09-19 18:14] DevelopmentByDavid commented on #546
@mohnda Yes!  Here is an [example](https://github.com/gregnb/mui-datatables/blob/master/examples/array-value-columns/index.js).

Important bits:

The tag column label:
[code]

The tag data (which is the last column in this case):
[code]

Hope this explains it!

[2019-09-19 18:39] gabrielliwerant commented on #937
Hello @buwanekab. So, if you are using `filterType: "custom"`, then you are required to supply your own filter component and logic, and so on. That means that you have to make your own multiselect component. Given that, I'm not sure that `custom` is really what you're looking for. Why doesn't simply using `multiselect` work for you?

[2019-09-19 18:42] ianmccaul commented on #92
Yea, I cant get that to work at all either.

[2019-09-19 18:47] gabrielliwerant commented on #244
@ketankanhasoft It looks like you are refreshing the data and therefore the table every time a sort occurs. You need to reapply the `sortDirection` every time you do this as the table doesn't know your intention when you refresh it with new data.

[code]

[2019-09-19 18:48] gabrielliwerant commented on #938
See my comment in the old issue. I don't think this is a table problem.

[2019-09-19 19:17] gabrielliwerant commented on #940
Not via the `tableMeta`, however, I can offer you a way to correlate your data to an action via the `customBodyRender`. Lets say your first column has a delete button, as in the `custom-action-columns` example. You can set the `empty` option to `false` and then supply a custom id in your data for every row. Then, `value` in `customBodyRender` for your delete button will be the unique id for a row

[2019-09-19 19:22] gabrielliwerant commented on #941
At the moment, there is not head to override, there's just the `title` and the toolbar, which you can customize with `customToolbar`. You can insert any component you wish for the `title` however, so you could have

[code]

[2019-09-19 19:36] gabrielliwerant commented on #942
I don't think I have enough information to reproduce this problem, as everything looks fine on my end:

![capture](https://user-images.githubusercontent.com/1779564/65275139-fe9aa800-daf2-11e9-9c95-0f7556b5b6df.gif)

However, I am not using material v4, as it is not yet supported by this library, as it has many breaking changes. Do you still see the issue if you reduce material versions? Or am I m

[2019-09-19 19:41] gabrielliwerant commented on #937
I think I'll need to see a sample of code that isn't working to be of more help. Can you post something to codesandbox?

[2019-09-20 02:04] Corouna commented on #940
Yah i got what you mean there. I also had that similar kind of idea of pulling the row object straight from the store based on the ID using similar idea like yours @gabrielliwerant, though mine is just checking at index 0 of the rowData, which is essentially the object ID itself. I don't mind another workaround though for this.. thanks for the suggestion :+1:

[2019-09-20 03:37] kkmathigir opened #944 "Lazy load pages in huge content scenarios"
## Expected Behavior
 Is there a way we can configure the mui data table to load first few pages (1 or 2) and then perform on-demand lazy load when clicking the 3rd page?

## Current Behavior
Our current usage of this mui-data table loads about 6MB of data and accessing from poor network bandwidth locations takes about 1-2 minutes to load.

[2019-09-20 06:24] csyan5 opened #945 "Is it possible to use inline update & create?"
Hi there,

I found this package extremely useful for viewing list of data with great flexibility. Thank for all your efforts!

But I do have a question about creating & updating a row. The material-table (https://material-table.com/#/docs/features/editable) has the feature of creating and updating rows in line. I'd like to know does mui-datatables offer similar function?

Thank you,
Changsheng

[2019-09-20 07:49] Edeph commented on #92
TBH What I did that helped in my case was just removing the padding by wrapping the Datatable into a customTheme that would overwrite MuiTableCell padding to 0px like this:
[code]
I had to define it `as ThemeOptions` because TS was complaining since mui-datatables types are not defined into materialUI library.

[2019-09-20 08:23] MaksimKoniukhov commented on #942
@gabrielliwerant Thanks for your reply! Really, when I reduce material-ui version to 3.9.3 all work fine. When I come back to version 4.3... or 4.4... this issue appears. How can I to use material-ui version 4 and avoid this issue? I found solution this problem is to use CustomFooter like here [https://github.com/gregnb/mui-datatables/blob/master/examples/customize-footer/index.js](https://github.

[2019-09-20 11:25] MathiasTC opened #946 "Nested arrays in custom headers"
First of all hello there, and thank you for this wonderful project.
I want to access nested data in a nested array. I have like 30 custom headers in a separate file, where all of the headers work perfectly except 2. These two headers gets their value one more level down, than the other headers.

An example could be this:
[code]
I dont know if there is any way I can loop over these or similar?
All

[2019-09-20 11:45] T-pirithiviraj opened #947 "Sorting Icon is not coming and sorting direction is always descending."
When a user clicks sorting on specific column, It is always showing descending because of re-render of dataTable.

## Expected Behavior
The sorting Icon should display and it shouldn't set always as descending.

## Current Behavior
After API call is made the dataTable fetch data and the direction of sorting is always descending.

## Steps to Reproduce (for bugs)

1. In render Make server-side = tr

[2019-09-20 11:57] ketankanhasoft commented on #244
@gabrielliwerant ,it's not like refresh data ,it's all about server side functionality like searching,sorting and pagination .and also if we have multiple columns and we need to sorting with each column.then it's difficult to manage state wise sort direction. fo that case you can check console click column title for sort
v : 2.0.0
https://codesandbox.io/s/muidatatables-custom-toolbar-qbpdn

and sa

[2019-09-20 13:35] rhaicode commented on #947
I have encountered the same problem too before. But here's my workaround:

1.) You need to have state management, either using Redux or useContext with useReducer.

2.) On MUIDataTable's component, provide you own columns (which is an array of column objects, exported from a certain file (e.g. columns.js) ) for the columns prop.

3.) On each column object, provide your custom column header compone

[2019-09-20 13:48] rhaicode commented on #939
On your `customFooter` , provide a custom component that has a `TablePagination` component and supply its `ActionsComponent` prop

CodeSandbox example: https://codesandbox.io/s/dztrr

You can copy the `TableFooter` component and its children as your base example.

[2019-09-20 17:35] gabrielliwerant commented on #945
Not out of the box, but you can create this for yourself by using columns with edit buttons and `customBodyRender` with input fields that switch on and off depending on whether or not you're pressing it.

[2019-09-20 17:39] gabrielliwerant commented on #944
Hello @kkmathigir. You have access to an `onChangePage` as well as `onTableChange` function which should allow you to do this. You can take a look at the `serverside-pagination` example for some ideas about how to implement it.

[2019-09-20 17:49] gabrielliwerant commented on #244
@ketankanhasoft, the table is refreshed when it receives new data, so the solution is for you to manage all of the other state you wish to be retained, as I showed above.

[2019-09-20 17:53] gabrielliwerant commented on #947
See my comment here https://github.com/gregnb/mui-datatables/issues/244#issuecomment-533260448. You don't have to provide your own `customHeadRender`, but if you are managing things yourself, serverside, then you need to keep the table up to date with all of the state you wish to be retained, including the sort direction. Otherwise the table doesn't know what your intention was, as it will read it

[2019-09-20 18:12] gabrielliwerant commented on #946
On behalf of the community, thank you, and you're welcome!

The table doesn't have any way to combine objects into arrays for you as it builds the table. This is something you would need to do with your data before you pass it in, using something like `reduce` to get the structure that you want. Also, be aware that array data is not well supported for cell individual cell contents. You may need to

[2019-09-20 23:22] gabrielliwerant commented on #942
@MaksimKoniukhov This library is striving to support v4 of material ui, so I added a fix for the next release. Please continue to open any issues with updating versions!

[2019-09-21 00:33] gabrielliwerant commented on #924
Hello @nabrowning, thanks for attempting to reproduce the error in the codesandbox. However, there's an awful lot of complexity in your example, and it's really difficult to see what's going on. What's needed is something super simple, that has just enough in it to cause breakage and nothing more. Ideally, one file, mui v3, classes instead of hooks, no context api, and built from an existing examp

[2019-09-21 04:04] patorjk commented on #645
Some of my tables have a ton of data, and I basically have customBodyRender on most of my columns (to create links, buttons, Tooltips, etc). So I was poking around and came across this issue too.

If I understand things correctly, the call to customBodyRender in setTableData is to generate a list of options for the filter drop downs:

https://github.com/gregnb/mui-datatables/blob/master/src/MUIDat

[2019-09-21 12:11] crudnick opened #950 "Double click on rows"
I'd like to get a double click event on rows, as i want . to edit the content then in a separate overlay or page. Is this somehow possible? So far i couldn't find anything about that

Thanks a lot

[2019-09-22 02:15] gabrielliwerant commented on #950
There are lots of ways to do this aside from double click, just fyi. I've done this on a project before where just clicking on the row opens up an edit modal.

At this point, I'm not in favor of adding a double click event in the primary options as this is non-standard web UX, especially for material ui, on which this library is built (hence, I'd like not to stray too far from material recommendat

[2019-09-22 03:04] patorjk commented on #950
Just to chime in with another way of adding double click events - you can take advantage of the setRowProps option and add them that way:

    const options = {
      responsive: "scroll",
      setRowProps: () => ({
        onDoubleClick: (row, dataIndex) => {
          alert("double click!");
        }
      })
    };

Ex: https://codesandbox.io/s/muidatatables-custom-toolbar-tyb2w

[2019-09-22 07:08] buwanekab commented on #937
@gabrielliwerant ,
can check on this codesandbox example :
https://codesandbox.io/s/monitoring-dashboard-hhb42?fontsize=14
FYI -
`custom` filterType in  `Alert Source`
`multiselect` filterType in  `Alert Severity`

[2019-09-22 15:10] T-pirithiviraj commented on #947
Thanks @gabrielliwerant . Can you send the codeSandBox example which will be more helpful to proceed further?

[2019-09-22 17:02] T-pirithiviraj commented on #244
@gabrielliwerant  , if it is multiple column and How this sorting works? This.state.sortDirection as you mentioned above example, We can keep only for one column right? In my code , I have to make sorting for all the column. If i am using setState and using sortDirection for one column its working but for multiple columns?

[2019-09-22 17:44] gabrielliwerant commented on #244
@T-pirithiviraj You can track it however you like, for example:

[code]

You can't have more than one sort direction set for different columns at the same time, so you'll have to use `'none'` or it will just use whatever was the last direction set. That's not a limitation of this library, it's just how tables work. It's row-based data, so changing direction for one column, re-orders all the rows,

[2019-09-23 05:01] T-pirithiviraj commented on #244
This is my case @gabrielliwerant . But I am getting this error.
[code]

[2019-09-23 06:23] MathiasTC commented on #946
Hi @gabrielliwerant,

Thank you for your response. That was also what I thought could be the case, but great to get it confirmed. I will look into the customBodyRender, as there are loads of individual and complex data being inserted into the table. However if it isn't well supported, I would like to say that it is only 'really' nested data that isn't showing correct for me, otherwise the Datatabl

[2019-09-23 06:23] #946 closed

[2019-09-23 10:01] crudnick commented on #950
Thank you vary much, this was the missing piece :)

On 22. September 2019 at 05:04:50, patorjk (notifications@github.com) wrote:

Just to chime in with another way of adding double click events - you can
take advantage of the setRowProps option and add them that way:

const options = {
  responsive: "scroll",
  setRowProps: () => ({
    onDoubleClick: (row, dataIndex) => {
      alert("double clic

[2019-09-23 11:06] MaksimKoniukhov commented on #942
@gabrielliwerant Ok. I'll be there. I'm happy to help you)

[2019-09-23 16:58] vjccruz opened #952 "Support for Material-UI v4"
I would like to know if there are any estimates for a new version with support for Material-UI v4?

[2019-09-23 17:37] gabrielliwerant commented on #244
@T-pirithiviraj There is no error I can see in the latest message you sent to me.

I suggest opening up a new issue if you are getting error. I don't want to spend too much time communicating in old issues. Please open up a new issue with a simple codesandbox example, just large enough to demonstrate your error and I will take a look.

[2019-09-23 17:40] #950 closed

[2019-09-23 17:42] gabrielliwerant commented on #952
Unfortunately, I don't have a good answer for you. I work on this on a volunteer basis in my spare time, so it's very difficult to come up with exact timelines, and a lot depends on whether or not people find critical bugs in other things that need to be patched.

However, as an open source project, you are free to help out by contributing. One way would be to open new issues that are tied to upgr

[2019-09-23 19:10] aflansburg opened #953 "Column without name throws error"
This may not necessarily be a bug as much as it is lack of functionality (love this library by the way) - but if you provide a column without a name an error is thrown. In my use case I use an unnamed column to provide a button for viewing more details about a row item. Current workaround is to provide empty string to `name` attribute in column:

Error appears to occur here in `transformData`: htt

[2019-09-23 21:19] gabrielliwerant commented on #953
Glad this project is working well for you so far!

The problem is that the `name` field is required. This field is used to identify the column internally. If you want to use a column for an action, you can take a look at the `custom-action-columns` example. The `empty` option allows you to avoid certain problems if the column doesn't correspond to any actual data.

There are a couple of ways to el

[2019-09-24 04:45] T-pirithiviraj opened #954 "Sorting is not working on serverSide and it is always descending because of re-render."
Sorting is not working if we have a function onColumnSort function. It always showing descending because of re-render and icon gets disabled.

## Expected Behavior
If we have a server side rendering of dataTable, we have to update the state using columnSort function. There if we make API call it will take sorted data with asc/desc sort icon.

## Current Behavior
Sorting icon is missing in dataTabl

[2019-09-24 04:49] T-pirithiviraj commented on #954
Open the console , It is throwing an error as : ```index.js:1446 sortDirection is set for more than one column. Only the first column will be considered.```
My code example:
[code]

[2019-09-24 14:19] pedroo21 commented on #954
I believe this is a duplicate of #807 where mui-datatables doesn't preserve the state across server side re-renders.

[2019-09-24 16:50] gabrielliwerant commented on #954
This also looks like a duplicate of your own issue here https://github.com/gregnb/mui-datatables/issues/947.

[2019-09-24 16:50] #954 closed

[2019-09-25 03:10] kkmathigir commented on #944
Thanks @gabrielliwerant . We will take a look at them and get back for any further questions.

[2019-09-25 07:23] minimicrowave opened #957 "Dynamic pagination not being updated in tableState"
Changing page number in options not changing current page of the table. It works in version `2.0.0-beta-51` but not `^2.11.1`.

## Expected Behavior

https://codesandbox.io/s/muidatatables-custom-toolbar-bh90w

Changing page number in options changes current table page.

## Current Behavior &  Steps to Reproduce (for bugs)

https://codesandbox.io/s/muidatatables-custom-toolbar-zibqc?fontsize=14

C

[2019-09-25 08:53] bkiac commented on #940
@gabrielliwerant My problem with this approach is that I can't explicitly set a value that would be used in filters and sorts, and set a different render value so I can't do something like this:
[code]
I could use the customer's ID for every column and look up additional properties, but if I return a component instead of a string, the table will use the original value and I can't search for `fullN

[2019-09-25 11:54] bkiac commented on #598
I've also noticed that the first time `customBodyRender` is called, the `tableMeta.rowData` only contains the cell's value, and only on the second run is the `tableMeta.rowData` array available as intended.

[2019-09-25 15:11] pedroo21 commented on #947
It would be really useful if it was the datatable managing this internal state for us. In a server-side context, the goal is almost always to preserve the state across remote refreshes.

Having to do the whole state management by ourselves like @rhaicode suggested is a burden that the user should avoid. In my particular case, it wears off the purpose of using the table in a server-side situation.

[2019-09-25 18:29] gabrielliwerant commented on #940
@bkiac I don't know enough about what exactly you are trying to do to answer fully, and I don't want the main thrust of this issue to be lost, so this may need a new issue. To me, using separate filter names and separate data names is a different issue. What's under discussion here is about how to map back arbitrary data to a `customRenderBody` component, which is doable, but not as easy as it cou

[2019-09-25 22:27] fouwst commented on #83
It would be nice if the custom toolbar icon received the same css classes as its siblings. In the codesandbox example posted by @gregnb above, the icon does not change color on rollover.

[2019-09-26 05:00] janakprajapati opened #959 "Localization not working in customFooter() function"
I am using the customFooter function in the Options. I have also defined the textLabels in the Options. I noticed that, the localization works in other parts of the data-table except the labels in the customFooter() where Pagination component is defined. I am not sure how to apply the textLabels for the Pagination component which is part of the customFooter(), to apply localization for the "Rows p

[2019-09-26 06:19] gabrielliwerant commented on #959
The localization options for the `customFooter` is the last argument, after `changePage`. So you need

[code]

[2019-09-26 14:59] laurexas commented on #905
@gabrielliwerant at the moment if u remove columns in 'view columns' filter and refresh the page all columns reset because table rerenders and gets its columns from columns property, but is it possible maybe to save it somehow in local storage or components state so it wont reset all the columns after the refresh ? because i want to keep my columns in the order i want even after the page refresh ,

[2019-09-26 15:14] Avd6977 opened #961 "Filter Popover goes away when filtering on server side"
## Expected Behavior
Filter popover stays open until the user is done filtering.

## Current Behavior
When filtering on client side, the filter popover stays open until the user is done filtering. When filtering server side, the table re-renders because new data, but that hides the filter window.

## Steps to Reproduce (for bugs)
Only reproducible on server side

1. Must be server side
2. Pass in

[2019-09-26 15:21] janakprajapati commented on #959
@gabrielliwerant Thanks for the quick reply.

However, can you please tell me what I need to pass as "paginationLocalization" considering my sample above? I checked by passing the same textLabels object paginationLocalization but, it is not working.

Thanks

[2019-09-26 15:23] janakprajapati commented on #959
@gabrielliwerant Thanks for the quick reply.

However, can you please tell me what I need to pass as "paginationLocalization" considering my sample above? I checked by passing the same textLabels object as paginationLocalization but, it is not working.

Thanks

[2019-09-26 17:50] gabrielliwerant commented on #905
@laurexas The `viewColumns` option in the column options allows you to toggle its state in the view columns feature. So, you can save the state locally however you wish, and then populate those column options accordingly.

[2019-09-26 17:52] gabrielliwerant commented on #961
There is work already being done to add options to serverside filtering, so marking this as duplicate. You can see this issue https://github.com/gregnb/mui-datatables/issues/857 or this PR https://github.com/gregnb/mui-datatables/pull/913 for more information.

[2019-09-26 17:56] gabrielliwerant commented on #959
Whatever you put in `textLabels: { pagination }` will be in that argument. You just declare it and it's there for use in your custom footer however you want.

[2019-09-26 18:03] gabrielliwerant commented on #952
@Lilliance There's not discrete list because I don't know everything that is broken. So I've just been fixing what I can find when I have the time.

Your help would be greatly appreciated. What you could do is try running various examples with mui v4 and see what breaks, opening issues for whatever you find, which I could then take or assign to you as desired. It might also be good to look at the

[2019-09-26 18:50] GuyShaanan commented on #709
I can reproduce it:
Link: https://yl37t.csb.app/

**Setup:**
1. Have a column sorted by default (or click to sort it)
2. Have a column which data is of type array
3. Have at least 11 items in data
4. Have useDisplayedRowsOnly=true
5. Download data as csv

**Example for data:**
[code]
Table looks OK where the `id` column value is aligned across columns, i.e.:

| id | name | id2 |
|----|------|-----

[2019-09-27 05:07] janakprajapati commented on #959
@gabrielliwerant That worked. Thanks.

[2019-09-27 05:08] #959 closed

[2019-09-27 13:26] Avd6977 commented on #961
Thanks! I saw that and am looking forward to it. Looking through the code for the PR, how would we tell the filter to stay open?

[2019-09-27 13:36] laurexas commented on #905
@gabrielliwerant i sorted it out, however i used display option instead of viewColumns for my use case and saved state in local storage so when unmounting component or refreshing page would keep columnView always the same

[2019-09-27 16:52] akirwin commented on #816
Curious if this is broken again? Returning false is just returning an empty chip when doing this:
`customFilterListRender: v => {
            return (v !== undefined && v.length > 0 && v[0] !== '')
                ? 'Filter'
                : false
        },`

[2019-09-27 18:24] gabrielliwerant commented on #961
The filter dialog? It won't close until the user clicks outside of it, like normal. In the example in the PR, there is a demonstration adding a button to the filter dialog to set the filters outside of the usual client side process. Then it's closed as usual by clicking outside of it. Direct control over closing won't be available in that PR as it's a lot more work, but possibly in the future. How

[2019-09-27 19:23] gabrielliwerant commented on #709
Thank you @GuyShaanan, however, there's no way to know if this is the same issue as originally brought up here, Yours appears when downloading using specific options and the OP seemed to have trouble with filtering and deleting rows. Additionally, I was unable to reproduce your issue also until I realized that you were using arrays. The arrays were causing the trouble. I'm working on a fix now, bu

[2019-09-27 19:24] gabrielliwerant opened #963 "Using download option useDisplayedRowsOnly is causing issues with non-react objects like arrays"
Originally brought up here https://github.com/gregnb/mui-datatables/issues/709#issuecomment-535637754

[2019-09-27 19:40] GuyShaanan commented on #963
Thanks.
I think I could sort it out by setting `dataIndex: index` in https://github.com/gregnb/mui-datatables/blob/f0ea9e58d82839c57a4dfd4a342b6649932660a7/src/MUIDataTable.js#L791
Some tests failed but I think they need to be changed as well.
(Not sure what are the side effects of this, but from skimming the examples they all seem to work fine).

[2019-09-27 21:07] gabrielliwerant commented on #963
I've got a PR open that closes the issue (linked here) so I don't think we need to worry about potentially breaking tests with a different fix.

[2019-09-27 23:09] joe-bb commented on #723
Using the example given, here is how I filtered between dates. I set the hours of the first date to (0,0,0,0) and second date hours to (23,59,59,59) if the user wants date-times of a single day.

`{
        name: "date",
        label: "Date",
        options: {
          filter: true,
          sort: true,
          sortDirection: 'desc',
          customBodyRender: (value) => {
            retur

[2019-09-27 23:21] Avd6977 commented on #961
Currently, the filter dialog closes when new rows get passed in from the server side. That's why I was making the issue of being able to have it open on load or some better way of controlling when it was closed because it's not just when the user clicks outside of it.

[2019-09-28 01:06] gabrielliwerant commented on #961
I haven't written a serverside example outside of that PR, but in that PR, the dialog does not close when changing the table data, so I don't think that will be an issue.

[2019-09-28 05:20] crudnick commented on #950
Hi, i implemented it exactly the same way, but the dataIndex in 'Undefined'. Also 'row' equals the actual event. I'm sure there is a sulution or i did something wrong. Please help me again ;)

Best,
Christian

[2019-09-28 13:32] patorjk commented on #950
Sorry about that, it’s the setRowProps method that takes those parameters. So adding them there and then removing them from the double click method should fix it.

[2019-09-28 15:09] crudnick commented on #950
Yes, that was the solution. Thanks a lot for the quick response

On 28. September 2019 at 15:32:09, patorjk (notifications@github.com) wrote:

Sorry about that, it’s the setRowProps method that takes those parameters.
So adding them there and then removing them from the double click method
should fix it.

—
You are receiving this because you authored the thread.
Reply to this email directly, view

[2019-09-29 11:26] vijaytambe opened #965 "Server Side Filtering Resets the Data"
I am not sure if this is a bug.

 Problem : I am trying to fetch and filter data from server side. Using onTableChange function for this. onTableChange I do a server call and update the data. Data is updated correctly but this resets the filter.

| Tech         | Version |
|--------------|---------|
| Material-UI  |   4.4.3      |
| MUI-datatables  |     2.11.1    |
| React        |  16.8.6

[2019-09-29 14:19] danielbyun commented on #954
Hi,

then how do we keep and display the change from "asc" to "desc" from the state (given we're keeping track in state) when setting sortDirection for multiple columns give the error that @T-pirithiviraj stated in the question?

[2019-09-29 14:31] T-pirithiviraj opened #966 "sortDirection cannot be applied for more than one column."
If we apply sortDirection for more than one column, it is throwing an error.

## Expected Behavior
sortDirection should work for all the column in case we update the state.

## Current Behavior
Open the console, apply sort direction for more than one column it is throwing an error as sortDirection can be applied for only one column.

## Steps to Reproduce (for bugs)

1. open the console.
2. In the

[2019-09-29 18:17] gabrielliwerant commented on #966
In order to apply a new sort direction, you have to remove one of the existing sort directions. Sorting along one than one column at once is not possible, as I understand it (not possible even in theory).

[2019-09-29 18:20] gabrielliwerant commented on #965
I don't think it's a bug. Serverside requires you to take control of the table state, as the table will be updated on data change and it will look to the passed in props to determine the new state. So if you don't have any filters in your props, it assumes a fresh table state as far as filters go (but this will be the case for any state you wish to maintain).

The way to deal with this is to manag

[2019-09-29 18:23] gabrielliwerant commented on #954
There is no such thing as sorting along multiple columns. Any sort on a new column will, by necessity, change the arrangement of other columns in order to order itself. You have to set other columns to `'none'` in order to sort along a new column.

[2019-09-30 02:14] danielbyun commented on #966
Hi @gabrielliwerant ,

seems pretty redundant he's creating new issues for the basically same issue, but I'm not sure I'm understanding correctly.

I understand we have to keep the values in the state that we want to track while using `serverSide = true`, and I am doing that to toggle from 'asc' and 'desc' when listening to an event from `onColumnSortChange` from the options object I'm defining.

[2019-09-30 04:43] T-pirithiviraj commented on #966
Thanks @danielbyun , That was my exact question too. We are doing set state with the direction but how to update that sortDirection in individual column if it is `serverSide = true` ?

sorry for the repeated same issue. I am not getting clear picture on server side how to use? since I am new to react and this library.

[2019-09-30 05:46] gabrielliwerant commented on #966
`sortDirection: 'none'` removes the current sort direction, so you have to set that before you can apply another one to another column.

[2019-09-30 08:08] wdh2100 commented on #966
Unlike the previous [ sortDirection: null ] value, the usage of [ sortDirection: 'none' ] attribute value is confusing.

[2019-09-30 08:11] wdh2100 commented on #966
`<code>sortDirection: 'none'</code>` test

[2019-09-30 09:30] bkiac commented on #940
@gabrielliwerant I wasn't talking about custom filter names exactly. I meant that I can't specify both a data value and a render value. So if I handle my mappings and transformations outside the table and want to display a customer's email and a customer's username with that mapping the custom render part would be solved, but for both columns, the actual data that I can sort and filter will be the

[2019-09-30 13:12] danielbyun commented on #966
Hello,

Here is a small example of what I'm trying to do. I've actually pulled this from @gabrielliwerant 's example for issue #468 .

https://codesandbox.io/s/muidatatables-custom-toolbar-tl55g

As you can see in the console, `sortDirection is set for more than one column. Only the first column will be considered.` warning is given.

If we just use your example, the 'Name' column sorts fine (whet

[2019-09-30 13:29] bkiac opened #967 "Uncaught TypeError when clicking on "Download CSV" with no data in the table"
Clicking on "Download CSV" when the table is empty throws `TypeError`.

## Expected Behavior

If rows are empty, don't try to build the full CSV body.
The button is disabled, or download empty CSV.

## Current Behavior

Errors are displayed in console and execution doesn't reach `onDownload` custom callback.
[code]
![image](https://user-images.githubusercontent.com/24522620/65883242-eea68200-e396-

[2019-09-30 18:07] gabrielliwerant commented on #940
@bkiac Ok, thanks, I have a clearer idea of what you want now. If you like, you can open a new issue for that request so that it's tracked somewhere and maybe someone will take it (or you could work on it), but it would be lower priority for me due to other more pressing issues.

[2019-09-30 18:12] mdobroggg commented on #729
@MasterKale Thanks a lot! That did end up working with a few tweaks and I had to do the sorting and filtering manually. Here is my code in case someone else needs a quick sort / filter.

`sortAndFilterData = (currentData, tableState) => {
    if (!tableState) {
      this.setState({
        data: currentData,
        displayData: currentData,
      });
      return;
    }
    // sort
    const {

[2019-09-30 18:21] gabrielliwerant commented on #966
Hello @danielbyun. Firstly, you'd have to track each column sort direction separately. As of now, if you use the same `nameColumnSortDirection` for all of them, it will try to set all of them at once, and you'll get the error. You could try an array instead:

(psuedocode)
[code]

Then you can try to set it accordingly so that only one is sorted at a time:

(psuedocode)
[code]

[2019-09-30 18:28] gabrielliwerant commented on #967
Verified, @bkiac, thank you! Any interest in submitting a fix for this?

[2019-09-30 20:29] gabrielliwerant commented on #967
Actually, I think this is being addressed here https://github.com/gregnb/mui-datatables/pull/929/files.

[2019-09-30 21:20] michalica opened #969 "Improve accessbility"
Allow user to "tab" among rows and allow him to open and close expandable row with Space or enter

## Expected Behavior
    We should allow user tabbing among rows.
    We should wrap SVG icon which opens expandable row with HTML element button:
`<button><svg></svg></button>
`
## Current Behavior
It in not wrapped -> tabbing doesnt work.

## Your Environment

| Tech         | Version |
|----------

[2019-10-01 04:35] danielbyun commented on #966
Thank you for your response and your pseudocode.

The root of the question is that when `sortDirection` is defined at all (no matter if the value is different from the other columns) to multiple columns as you have included, it will throw the `sortDirection is set for more than one column. Only the first column will be considered.` error in the console and sorting will not behave normally.

[2019-10-01 05:02] T-pirithiviraj commented on #966
Thanks for the response @gabrielliwerant .
yeah @danielbyun  , That is why i raised this issue. I don't know whether i am understanding it wrong. But the fact is I am getting error in console, if we apply `sortDirection: 'none'` key for more than one column.
I really appreciate this library.

[2019-10-01 07:13] danielbyun commented on #966
https://codesandbox.io/s/muidatatables-custom-toolbar-f2uc1

The `sortName` function is probably not set up completely, but here is an example of the errors that display on the console when the option `sortDirection` is set to multiple columns.

[2019-10-01 07:35] gabrielliwerant commented on #966
@T-pirithiviraj and @danielbyun You cannot set sort direction for more than one column. Only one column can be sorted at a time. That's just what is physically possible, it's not a library constraint (though the library prevents it from entering into a wonky state by cutting off the attempt).

[2019-10-01 07:43] gabrielliwerant commented on #966
Are you saying that this is not working for `'none'` also? If so that's a bug. But your example has a bunch of directions set, so I'm not sure.

[2019-10-01 07:48] gabrielliwerant commented on #966
Not being able to set more than one sort direction at once is intentional and won't be fixed, however, `'none'` does not count as a direction, and should be allowed. Pardon my confusion, as I couldn't understand the issue based on the attempts to apply sort direction, whereas what should be allowed is removing a sort direction with the `'none'` option.

[2019-10-01 08:10] T-pirithiviraj commented on #966
yeah @gabrielliwerant . This is not working for none also.If you set none for other columns, the console error is there.

[2019-10-01 10:13] Corouna opened #972 "Trigger table functionalities (download, filter) from outside source"
As titled,

Is this possible?

Like if i create a custom download button at the top of my page, how can i link it with the table's download callback so that it would trigger the same functionality like the table's download button?

Thanks

[2019-10-01 15:21] Yakitrak commented on #934
I see, sorry about the issue in that case. For me, the way I was keeping track of state, my method worked but the example didn't. I ended up removing mine in the end anyway. I'll close the issue now. Thanks for the great library (especially how customizable it is).

[2019-10-01 15:21] #934 closed

[2019-10-01 18:19] gabrielliwerant commented on #972
I don't think this is possible at the moment. What would you be looking to do, just use different buttons/icons with the same actions?

[2019-10-02 02:48] Corouna commented on #972
Yes @gabrielliwerant .. the table has all the features that my project wants.. just that its not aligning well with the design, particulary the buttons at the table toolbar. In my project design, the buttons to trigger download and filter are placed at the header of our application.

But its okay if this is not possible. Wondering if there's other alternative that i can do for this?

[2019-10-02 05:26] danielbyun commented on #966
Huh.

Then I definitely am understanding the implementation of `sortDirection` on the columns wrong.

Hey @T-pirithiviraj , do you mind making a small example on codeSandBox on how you're implementing the sortDirection so that each column can be sorted individually?

Seems like I'm not doing it correctly as @gabrielliwerant stated.

[2019-10-02 17:41] GuyShaanan opened #973 "Download CSV is broken with customBodyRender"
A continuation of #963 and (possibly) reopening of #275 .

## Expected Behavior
Having a customBodyRender should produce CSV file that looks exactly like shown in UI.

## Current Behavior
Downloaded csv (in case of columns with customBodyRender) produces out-of-order output.
Like if UI shows:

| id | name | char |
|----|------|-----|
| 0  | a0   | 0   |
| 1  | a1   | 1   |
| 2  | a2   | 2  |

the

[2019-10-02 19:02] gabrielliwerant commented on #973
Thanks for opening. I've been looking into the react object identification as part of this, but it turns out this issue is not exactly that. It was a failure of the logic to account for the displayed data index. There was no problem until the data was sorted for a custom render, but once sorted, the index isn't maintained. I've added a fix for that to the PR I opened for the other issue as they in

[2019-10-03 04:58] gabrielliwerant commented on #972
I understand, I think that's a legitimate issue, as there aren't a lot of good ways to customize this at the moment outside of creating an entirely new toolbar, but that suffers from being too much effort if you really just want to change the appearance of things and it's still limiting in terms of placement. So right now, I don't think you have any good alternatives.

I'm open to proposals for ho

[2019-10-03 05:07] gabrielliwerant opened #974 "Create better loading indicator experiences in serverside examples to enhance demonstration"
In the `serverside-pagination` example, we have some sample means of adding loading indicators. Loading indicators are a common and important part of the serverside experience, so we should have some better examples here so that other devs can work from good ideas, and we can keep full-fledged loading indicator options out of the core library.

- [ ] Create more realistic, good UX loading indicato

[2019-10-03 05:22] gabrielliwerant commented on #857
@patorjk Yes, that sounds similar to the alternative I was considering as well, but went the other direction because I thought it might be easier and add a little more control what would be displayed. There's already been a long delay in getting the improvements released, and I don't want to delay any more, so I'll go with what I have for now, but will consider reworking it depending on the commun

[2019-10-03 06:09] #549 closed

[2019-10-03 06:11] #857 closed

[2019-10-03 06:15] #963 closed

[2019-10-03 06:15] #973 closed

[2019-10-03 06:16] #966 closed

[2019-10-03 06:32] gabrielliwerant commented on #969
Available in `2.12.0`!

[2019-10-03 06:32] #969 closed

[2019-10-03 06:33] gabrielliwerant commented on #961
@Avd6977 Let me know if you still have this issue in `2.12.0`.

[2019-10-03 06:35] gabrielliwerant commented on #938
Should now be fixable via `sortDirection` in `2.12.0`.

[2019-10-03 06:35] #938 closed

[2019-10-03 06:37] #918 closed

[2019-10-03 06:40] gabrielliwerant commented on #917
Should now be available via `searchOpen` in `2.12.0`.

[2019-10-03 06:40] #917 closed

[2019-10-03 06:44] gabrielliwerant commented on #875
Should be fixed as of `2.11.0`.

[2019-10-03 06:44] #875 closed

[2019-10-03 06:45] gabrielliwerant commented on #841
The ability to do this should be available as of `2.12.0` via the `isRowExpandable` option.

[2019-10-03 06:45] #841 closed

[2019-10-03 06:47] gabrielliwerant commented on #705
I'm open to PRs that would add this feature, fyi.

[2019-10-03 06:51] danipralea opened #976 "Expandable rows do not expand full width"
First of all I want to thank you for the amazing library. I can tell that there's been so much work put into it.
I'm guessing maybe I'm missing anything?

## Expected Behavior
The `renderExpandableRow` rendering should go full width

## Current Behavior
The `renderExpandableRow` method expands only for the expand icon's width
<img width="1372" alt="Screenshot 2019-10-03 09 51 54" src="https://user

[2019-10-03 07:55] PovilasSlekys commented on #976
You might find this helpful https://github.com/gregnb/mui-datatables/issues/735

[2019-10-03 07:59] danipralea commented on #976
@PovilasSlekys thank you so much. you are amazing!

[2019-10-03 07:59] #976 closed

[2019-10-03 08:43] manojakuri opened #977 "Filtered values get reset in case of multiple selection of items."
Filtered values get reset when you have multiple selection data-table. On selecting a single all all rows from header, the filter reset and displays all rows

## Expected Behavior
If you filtered a data table and have a multiple selectable rows, the filter should stay unless user removes the filter or reset filter or changes any filter values. Data- Table shouldn't keep the state of filter and sho

[2019-10-03 10:43] GuyShaanan commented on #973
Hi. Thank you so much for being so responsive.

Unfortunately, this needs to be re-opened as it is not solved in 2.12.0.
The reproduce steps are a bit complicated but now they truly expose the issue: https://codesandbox.io/s/pedantic-rain-b4j6o

On
https://github.com/gregnb/mui-datatables/blob/b8bee522b0e554522daa34d4cb3a41ffe95bbe03/src/components/TableToolbar.js#L113
when `column` is indeed a Re

[2019-10-03 13:03] danipralea opened #978 "collapsing row"
Hello again!
Is there any way to manually collapse or expand a row?

Thanks in advance.

[2019-10-03 13:10] Avd6977 commented on #961
Nope, issue is resolved and the function is working. Thanks!

[2019-10-03 13:10] #961 closed

[2019-10-03 13:44] danipralea opened #979 "selecting half of rows indicates full selection"
## Expected Behavior
The check box in the header toggles to selected should be marked as checked only when all the rows have been selected.

## Current Behavior

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/768893/66131955-f5363300-e5fc-11e9-841a-4e7bb2df0f6b.gif)

## Your Environment

| Tech         | Version |
|--------------|---------|
| Material-UI  |      4.3.2   |
| MU

[2019-10-03 14:47] laurexas opened #980 "problemin with table size using scrollFullHeight option"
In mui datatable supposed to fit all columns

If i use responsive option with scrollFullheight value, my table's width depends on screen width but not by columns  length and in that case where i have more columns and scroll to right appears but  table columns goes beyond table borders in x-axis.. any ideas why this may be happening?

## Steps to Reproduce (for bugs)
I tried to replicate bug in cod

[2019-10-03 15:26] pedroo21 commented on #807
I gave up storing the tableState in the component state. And I'm going to leave this as a RFC or an idea for anyone with the same problem.
The basic approach is, every time the onTableChange is triggered, the table state will be stored using this.setState.

Now, imagine you are searching something, you type in a lot of text. Every character will trigger a table state change. Which means the table

[2019-10-03 16:07] SaberMage commented on #807
@pedroo21 A good way to handle this sort of problem is to handle the search text action of onTableChange differently from other onTableChange actions. More specifically, I recommend using setTimeout to update the state.

Here is a brainstorm of the steps:
1. Initialize a variable "delayStore" -- the scope should be within Class or higher, basically wherever the onTableChange function can access it

[2019-10-03 16:09] patorjk commented on #807
@pedroo21 you could use the customSearchRender method to create a search that only calls the table's internal search when the user has stopped typing.

As an aside, I've been experiementing with changing how the table works under the covers. One idea I had was to rollover state values for fields that the developer hasn't provided in the `options `object. So things like searchText, filters, sorting

[2019-10-03 17:31] keybraker opened #981 "Cannot find called index in onTableChange tableState"
I want to make to separate DAO calls to the database from when someone loads the page, to when someone expands a certain row, but I cannot find where in tableState the index of the called row is.

[2019-10-03 18:11] gabrielliwerant commented on #977
Hey @manojakuri, not sure I completely understand how to reproduce this. Can you add explicit steps? What does selecting "all all rows from header" mean? The select all checkbox? That doesn't seem to have any impact on the filters for me:

![capture](https://user-images.githubusercontent.com/1779564/66152564-b944a300-e5e7-11e9-99bc-d8f5bb0f1c71.gif)

[2019-10-03 18:17] gabrielliwerant commented on #973
The way you are using it now is actually unsupported behavior. You have to return either a react component or a string from `customBodyRender`.

[2019-10-03 18:19] gabrielliwerant commented on #978
Manually would be by clicking on it or using the keyboard. Do you mean collapse/expand via code? If so, `rowsExpanded` is probably the option you want. You can see it used in the `expandable-rows` example. You can use a state variable here and switch the rows like you can with `rowsSelected`.

[2019-10-03 18:23] gabrielliwerant commented on #979
I can't reproduce this in `2.12.0` with material-ui v3. Can you confirm this by raising your mui-datatables version and lowering your material-ui version (separately to determine which, if any, is causing the problem for you).

![capture](https://user-images.githubusercontent.com/1779564/66153364-581dcf00-e5e9-11e9-8eed-e9b2a1c1e5f9.gif)

[2019-10-03 18:37] gabrielliwerant commented on #980
Unfortunately, if I can't reproduce the issue, then I won't be able to solve it, and it's possible this is something related to your code and not the library. Everything looks good on my end. Without being able to reproduce it, I'll have to close the issue, and there are too many un-reproducible issues to keep track of easily.

![capture](https://user-images.githubusercontent.com/1779564/66154332-

[2019-10-03 18:46] gabrielliwerant commented on #981
Hm, I think I need more information about what exactly the issue is. There are number of callbacks that give you data about what has changed in the table, e.g. `onRowsExpand` in `2.12.0`. Are you using these?

[2019-10-03 21:11] GuyShaanan commented on #973
Thanks. I guess I need to find a workaround for this as this is a show stopper.
What is the rational behind this differentiation? Why not always pass the original values to the create CSV function?

[2019-10-04 00:25] acberk commented on #977
I have the same issue using the steps in your screenshot @gabrielliwerant.

Haven't had time to dig in yet, here are the custom table options I'm using, maybe one of the custom function handlers is the cause?

`
  const tableOptions = {
    customSearch: searchUtil,
    customToolbarSelect: () => (
      <Box my={'6px'} marginRight={'24px'}>
        <BulkEditModal
          executeCommand={execute

[2019-10-04 01:25] danielbyun commented on #966
Hey @gabrielliwerant , thank you and great work!

I finally understand how it works now, and it works wonderfully.

I might make a small little example to show how it works for future reference because I have referred to many examples that so many users here have contributed.

Thanks again for the library! Also thanks to @T-pirithiviraj for creating three issues for this sorting problem haha.

[So

[2019-10-04 02:10] gabrielliwerant commented on #977
These are the only options I'm using:

[code]

Can you start with that and see if you have the issue? If so, can you downgrade material ui to v3 and check again? Then downgrade react to 16.6.3 and try again. Then add options until you reach the error. I need the exact conditions to replicate it and fix it.

[2019-10-04 02:13] gabrielliwerant commented on #973
What is it you are trying to do exactly? Seems to me that you should be able to do just about anything with a component. If you need a list of something in the cell, then wrap a component around your map. Just make sure there's a component around everything in the `customBodyRender`.

[2019-10-04 02:44] jfederer opened #982 "Optionally not fire onRowClick ?"
When adding a button to a row in a given column, I'd like to be able to click that button without onRowClick firing (or find some other way of cancelling the actions of onRowClick).

## Expected Behavior
I have a 6 column table of 'events'.  When someone clicks a row, I want the event loaded. ...  This works.
In column 2, I have a button on each row.  When this button is pressed, I want the event

[2019-10-04 04:04] PratyushaTN commented on #456
@anhlu8
I am looking for the same kind of solution..could you elaborate on how you solved this?

[2019-10-04 06:56] danielbyun opened #983 "CustomFilterListRender not working when ServerSide = true"
CustomFilterListRender does not work when ServerSide = true

## Expected Behavior

## Current Behavior

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Your Environment

| Tech         | Version |
|--------------|---------|
| Material-UI  |         |
| MUI-datatables  |    2.12.0   |
| React        |     16.9.0    |
| browser      |    chrome    |
| etc          |         |

[2019-10-04 07:47] laurexas commented on #980
maybe it have something with my page layout, for now i'll stick with 'stacked' functionality, thanks for quick response.

[2019-10-04 07:47] #980 closed

[2019-10-04 08:28] bkiac commented on #967
@gabrielliwerant I've opened another PR with a simpler solution, just in case.

[2019-10-04 09:04] danipralea commented on #978
@gabrielliwerant thank you for your reply. I'm looking more like keeping a ref to the table and send it the `collapse` message with a row parameter. I wonder if it's possible to do that.

My code is like this:
[code]

[2019-10-04 09:10] danipralea commented on #979
@gabrielliwerant thank you for your reply. My `mui-datatables` version is already `2.12.0`. I'm going to try lowering the material-ui version. Can you point me to your specific version?

[2019-10-04 09:33] keybraker commented on #981
With `renderExpandableRow: (rowData, rowMeta)` you can render every rows expanded view separately as `rowMeta.dataIndex` gives you the information, of which row you are rendering.

What I want to do, is have to have a table in the expanded view, to wait, for when I open it, and then make a call to the database to request the data.

The problem arises when in function `onTableChange` I want to to g

[2019-10-04 10:31] #979 closed

[2019-10-04 12:46] keybraker commented on #981
I found `tableState.expandedRows.data.pop()` which returns me the object `{index: 0, dataIndex: 0}` but when I try `tableState.expandedRows.data.pop().index` it crashes.

[2019-10-04 13:31] keybraker commented on #981
I tried it again and it worked, i don't know why, i did not change anything it just worked :|
`tableState.expandedRows.data.pop().index` is what i was looking for, if there is anything cleaner, please reply, or close the thread.

Thank you

[2019-10-04 18:02] acberk commented on #977
Try this one. Follow the same repro steps as your gif above.
https://codesandbox.io/s/muidatatables-example-u6u8b

[2019-10-04 18:02] GuyShaanan commented on #973
Yep, that's the workaround. It works now.
Thanks.

[2019-10-04 18:52] gabrielliwerant commented on #966
Glad to hear it @danielbyun! Any interest in adding a serverside sorting example to this repo? I would be glad to consider adding it.

[2019-10-04 19:00] gabrielliwerant commented on #982
I understand your issue, and I've actually run across it myself while using this library on a project. I was able to get around it, but I don't remember exactly how. `onCellClick` actually fires before `onRowClick` and it contains information about the column that triggered the callback, so I think I was able to use that to set something on state which would then determine if I should run my `onRo

[2019-10-04 19:10] gabrielliwerant commented on #978
It should be possible, but you'll need to track and update the `rowsExpanded` option.

(psuedocode)
[code]

See if something along those lines works for you.

[2019-10-04 19:13] gabrielliwerant commented on #979
Glad it works for you!

mui v4 has a lot of breaking changes and there are still a lot of sore spots in this library around it, so if you are able to track any issues pertaining to your material version, it would be great if you could open those with steps.

[2019-10-04 19:16] gabrielliwerant commented on #981
Which `onTableChange` event are you using? It's possible there's an easier way to do this, or room for enhancement around the current feature.

[2019-10-04 19:22] gabrielliwerant commented on #977
@acberk Thank you. It looks like it happens on any filter type when there's manual state updating on the selected rows. Will take a look when I get a chance.

[2019-10-04 19:25] gabrielliwerant commented on #973
Ok, glad it works! The render functions are only set up to pass components and strings, It's just how they work, but I think they should provide enough for most use cases with those options.

[2019-10-04 20:39] jfederer commented on #982
I solved the problem by just using onCellClick and checking that the column Index doesn't match the column with the secondary behavior.

[2019-10-05 04:07] keybraker commented on #981
`case 'expandRow':
            var index = tableState.expandedRows.data.pop().index`

[2019-10-05 05:19] gabrielliwerant commented on #981
So, I do think there's an easier way. If you're using `2.12.0`, then you have access to `onRowsExpand` which will fire at the same time, and it passes all the data for all expanded rows as well as current expanded rows.

![image](https://user-images.githubusercontent.com/1779564/66250249-2d796680-e70e-11e9-886e-ace471390ab5.png)

Should be much more elegant.

[2019-10-05 10:47] danielbyun commented on #966
Sure thing, @gabrielliwerant !
Will get to it this weekend.

[2019-10-05 15:16] lamthenguyen opened #985 "How can I change the color of MUIDataTableToolbar icon hover"
Hi
-I want to override this color of toolbar icon as example below:

MUIDataTableToolbar-icon-982:hover {
    color: #fd7e14;
}
-I can override the color of icon, but I don't know how to do with hover, please help

const customTheme = createMuiTheme({
    overrides: {
        MUIDataTableToolbar: {
            icon: {
                color: "#dc3545"
            },

        },
    }
});

Thank you

[2019-10-05 22:14] marek-jarab commented on #871
Hi. I would like to start working on that . Could you pls assign me to this issue?

[2019-10-06 08:43] gabrielliwerant commented on #871
There is already a PR open for this feature, so I have to check on the status of that.

[2019-10-06 16:03] Abdullah-Rohail opened #987 "rowsPerPage not updating dynamically"
Once the table renders i can not update the rowsPerPage value dynamically

my code structure is like this

`state = {
  rowsPerPage:50
}`

`options = {
  rowsPerPage:this.state.rowsPerPage
}`

on click event i update the state

` this.setState({ rowsPerPage: newValue })`

new value is an int

i have also tried using the count attribute nothing happens

[2019-10-07 05:41] jayeshkorat18 commented on #282
Same issue with version "2.12.0"

[2019-10-07 08:13] danipralea commented on #978
thanks for the reply. It actually does it, but there's no `onRowsExpand` option.
So while it works, if I have more than one row expanded, it collapses all expanded rows.

[2019-10-07 09:27] danipralea commented on #978
@gabrielliwerant I already have the max for the types, which is `2.10.3`
<img width="411" alt="Screenshot 2019-10-07 12 27 15" src="https://user-images.githubusercontent.com/768893/66300359-cd491700-e8fd-11e9-9915-6655696691cd.png">

[2019-10-07 10:53] danipralea commented on #978
managed to make it "work" with
[code]

but I get a `[Violation] 'click' handler took 287ms` warning

[2019-10-07 12:58] Yakitrak commented on #985
Hi lamthenguyen. It should be as easy as how you'd normally add hover on any react component. Try this:

[code]

[2019-10-07 18:04] marek-jarab commented on #517
Hi. I would like to start working on that issue. Could you please assign me for this?

[2019-10-08 01:00] gabrielliwerant commented on #981
I can't verify a problem with `onRowsExpand` in `2.12.0`. Can you run the `expandable-rows` example and see if it works for you? If it does, then can you reproduce the steps you took to break it? It's best to always use newest versions if you can. There is no official support for anything but the newest version, and regressions or issues should be logged for it.

Expanding/collapsing rows is not a

[2019-10-08 01:01] gabrielliwerant commented on #517
This sounds like something that is out of scope for this library to handle. The library exposes the ability to set all the initial states, from which you can recreate the state you wish, and save/restore however you wish. It's already possible with everything that exists.

[2019-10-08 01:06] gabrielliwerant commented on #517
You can also get some ideas from the serverside examples, just replace serverside requests with requests to something else, like local storage.

[2019-10-08 02:03] gabrielliwerant commented on #978
There are a couple of options to help out. The simplest way is just to keep the definitely typed (https://github.com/DefinitelyTyped/DefinitelyTyped) definitions up to date. This library does not official typescript support, but that would be the unofficial place for it. As far as I know, you can use whatever js libraries you want with typescript, you either have to define the types yourself or ju

[2019-10-08 08:18] zilkenberg22 opened #988 "i need helo guys how can do column count"
![43293418-2d86659a-9108-11e8-886e-36a89f59a62e](https://user-images.githubusercontent.com/33345651/66379001-32c50280-e9e7-11e9-9bc0-f81f0e96654f.png)

like that i need example ty
`

[2019-10-08 08:27] wdh2100 commented on #988
https://github.com/gregnb/mui-datatables/blob/master/examples/customize-footer/index.js

[2019-10-08 08:33] zilkenberg22 commented on #988
@wdh2100 how do count age column ?

[2019-10-08 08:49] wdh2100 commented on #988
https://jsfiddle.net/akvnbs2u/19/

did u mean this?

[2019-10-08 08:53] zilkenberg22 commented on #988
@wdh2100 no age column all rows total count

[2019-10-08 11:37] keybraker commented on #981
In the following snipped I show how an unrelated `setState` affects the expansion of rows. If setState is not present it expands, if it is present it does not expand. In both cases when open it can't be closed.

`onTableChange: (action, tableState) =>
      {
        switch (action)
        {
          case 'expandRow':
            this.setState({age: 1})
            break;
          default:

[2019-10-08 12:49] keybraker commented on #981
So I even tried the following
`onRowClick: (rowData, rowState) => { this.setState({age: 1}) },`
which should not effect anything, but it did, and again no row will expand if a set an unrelated state on `onRowClick`.

[2019-10-08 15:50] keybraker opened #989 "Changing state with setState in onRowExpand collapses the expanded row"
All three versions try to showcase a general problem in the functionality of expandable rows. I was trying to make the program call for a get request from server and update the state of the data in the current expandable row. But although fetching the data correctly and storing it, and being displayed on screen for a second the setState itself was the cause that collapsed the expanded row.

As sho

[2019-10-08 19:20] Favna commented on #978
This can be closed once https://github.com/DefinitelyTyped/DefinitelyTyped/pull/38981 has been merged bumping @types/mui-datatables to v2.12.0

[2019-10-08 19:50] gabrielliwerant commented on #988
`customFooter` is the closest you can get to this behavior at this time. Data tables don't really function like spread sheets, in that they're not designed to total columns. When you pass in data, it's expected that all of it can be treated the same way, i.e. they will all be affected by sorting, filtering, searching, pagination, etc. So there is no special consideration given to a "final" row.

A

[2019-10-08 20:03] gabrielliwerant commented on #989
Hey @keybraker, thanks for reporting. It's a bit of a deep issue, as it's related to the table being a bit confused about when an update has occurred vs initializing state from props. I think I have a workable solution, but the tricky bit is making sure it doesn't break anything else, as it requires changing some internals. I'll link here when I have a PR and I'd be happy to have you take a look t

[2019-10-08 20:20] danipralea commented on #978
that's amazing. thank you so much @Favna

[2019-10-08 20:20] #978 closed

[2019-10-08 21:48] maikuts commented on #162
I am trying to edit the position of the header.
In your CodeSandbox example worked but on my table dont.

![image](https://user-images.githubusercontent.com/54504330/66435741-f0f28700-e9fb-11e9-8459-cfb726cf0037.png)

![image](https://user-images.githubusercontent.com/54504330/66435871-2a2af700-e9fc-11e9-8f6b-ffd61d66b232.png)

[2019-10-09 02:20] PratyushaTN opened #990 "Adding custom icon on table header beside Search icon"
I have seen an issue has already been raised to check if any additional icons can be added along with other icons in the table header.
But I want to add an icon at the beginning of the table header icons

## Expected Behavior
Need to know if I can add a new icon beside the Search Icon i.e. MyIcon should be the first icon and then followed by Search, Filter, Columns etc.

## Current Behavior
I have

[2019-10-09 04:14] gabrielliwerant commented on #990
I don't think there's an easy way to choose a custom arrangement of the toolbar icons, including when you add your own to the existing set of icons. I'd be open to PRs which would allow for specifying the ordering of the icons.

[2019-10-09 06:48] #988 closed

[2019-10-09 07:56] rfermann commented on #990
You could use the `order` css property as shown below:

[code]

A working example can be found here: https://codesandbox.io/s/muidatatables-custom-toolbar-hvpyy.

With this you can basically move around the icons in any order you want. Just provide the highest order number to all icons supposed to be on the right side and and target all icons you want to move to some other position separately.

I

[2019-10-09 07:58] rfermann commented on #856
@ydjyos: see [my comment](https://github.com/gregnb/mui-datatables/issues/990#issuecomment-539884910) on the other issue for a possible solution for changing the order of toolbar icons.

[2019-10-09 08:25] alielkhateeb opened #991 "Boolean data customBodyRender bug"
If the column data is boolean and  `customBodyRender` is set, the logic function always receives `true` value.

## Expected Behavior
The `value` should be either `true` or `false` depending on the actual value

## Current Behavior
Value received in `logic` function is always `true`

## Steps to Reproduce (for bugs)
https://codesandbox.io/s/trusting-tharp-2ldj7

1. Filter the column `salary` with `

[2019-10-09 08:50] bkiac opened #992 "Question: Can a cell's display style be changed without affecting the hidden column title?"
I would like to set the display style of a cell without affecting the hidden title cell. Is there an option or a simple solution that I'm missing?

## Your Environment
I've created an example with my desired CSS rules for `NameCell`.
https://codesandbox.io/embed/muidatatables-change-display-style-of-cell-v8ehx

[2019-10-09 14:05] PratyushaTN opened #993 "Add tabs on row click in muidatatable"
is it possible to open the row related data as a new tab with the table?

## Expected Behavior
On clicking a row in MUIDatatable using React I would like to display the content related to the row in a tab(within the same page and not another chrome/IE tab) or as a table within this row.

## Current Behavior
I have implemented a functionality where on rowClick I am navigating to another view and di

[2019-10-09 18:17] gabrielliwerant commented on #990
Thanks for working that out @rfermann! I'm a big fan of using any existing tools to create solutions rather than add ones, but I do think it would be nice to have an easier way, if anyone wants to talk about approaches and possibly taking it on.

[2019-10-09 21:41] gabrielliwerant commented on #989
Also, note that although there is a bug here regarding generic component updates to reset internal state for expanded rows (I also think filters and selected rows might be affected), row selecting and row expanding is not async behavior currently, so you can't cause them to wait for your actions before they will trigger internal state changes (though you can use promises to change props once it re

[2019-10-09 22:03] keybraker commented on #989
Could you send me a small example, as I am not familiar with promises ?

[2019-10-09 22:08] keybraker commented on #989
`getMedProd = (url, mahn, index) =>
  {
    this.xhrRequestMahMedProd(url, mahn).then(res =>
    {
      let prodPerMahCopy = this.state.prodPerMah.slice()
      prodPerMahCopy[index] = res.prodPerMah.slice()
      this.setState({prodPerMah: prodPerMahCopy})
    });

    this.state.prodPerMah[index].map
    (
      (productsList) =>
      {
        console.log("productsList: "+productsList)

[2019-10-10 04:25] jlucier opened #994 "Current page doesn't reset when data changes"
When you're on say page 3 of some current data, and the data then changes (most importantly changes size) the current page doesn't reset. This is especially a problem for times when your data shrinks by a lot, because it seems like the data is now gone until you page backwards. This is a bug that seems to be related to how Material UI v4 handles paging because it only appeared when I upped my `@ma

[2019-10-10 07:59] keybraker commented on #989
I am using promises, from the example on how to make GET requests, but the problem still remains, as it updates the data of the expandable row but does so by refreshing the whole data table.

[2019-10-10 10:37] lamthenguyen commented on #985
It works OK. Thank you, Yakitrak.

[2019-10-10 16:46] bkiac opened #996 "Default sort order is not applied if any column's sortDirection is undefined"
I came across this issue while I was trying to manually control the sorting state outside of the `MUIDataTable` component.
Because only one column can be sorted, I tried setting the sort direction of the previous column to `undefined` and applying the new sort direction to the current column, but this didn't do anything. Removing the `sortDirection` key from the options object instead of setting i

[2019-10-10 18:10] kenjoegolo commented on #580
I'm also facing this issue. I'm using version `2.11.1`

[2019-10-10 19:06] gabrielliwerant commented on #989
Yes, the problem still exists as no fix has been pushed, my note about promises was just to explain that you have two issues:

1. Changing state is refreshing the table
2. Async does not work with expandable rows

I'm working on 1. but not 2. so I'm advising you on what will happen if you try to do anything about 2.

Also, as I've been diving into this issue, I'm actually finding it's another mani

[2019-10-10 19:13] gabrielliwerant commented on #996
`sortDirection` is an enum that takes `'asc'`, `'desc'`, and `'none'`. If you are setting a value in `sortDirection`, it should be one of those only. The way to remove a sort direction is to use `'none'`.

[2019-10-10 20:03] gabrielliwerant commented on #994
Thank you @jlucier for reporting this and for the information in reproducing it. I can tie it to the material-ui version and the change made by material-ui. I'll be adding a fix to https://github.com/gregnb/mui-datatables/pull/948 as it solves the same issue, only in a different use of the library. So a more general fix is needed.

It is the goal to support material-ui v4, but it requires fixing i

[2019-10-10 21:56] keybraker commented on #989
The functionality I need can be understood by the following example:

A list of cars, is rendered by the table, and for every car's details you have to drop the expandable row. But as a more performance oriented approach, you get all the cars and when a certain car is selected/expanded, you make the call to the database, to get the details.

1) An approach would be to load everything from the begi

[2019-10-11 00:12] jlucier commented on #580
@kenjoegolo As far as I can tell, it's fixed in 2.12.0

[2019-10-11 04:03] kenjoegolo commented on #580
@jlucier I'm trying to follow this scroll behavior on latest version 2.12.0

https://codesandbox.io/s/muidatatables-custom-toolbar-9u979

but what happens on my side is there is no vertical scroll on my table.

[2019-10-11 04:24] jlucier commented on #580
@kenjoegolo You don't want `scrollFullHeight` then. From the docs

Seems like you want to use `scrollMaxHeight`.

[2019-10-11 05:44] gabrielliwerant commented on #989
If you don't mind expanding the row and having a loading indicator in there until your request is successful, then that will fix problem 2 for you, but it still won't address problem 1, which just can't be done at the moment.

For what it's worth, it's not clear to me on hearing your use case that performance will be automatically improved by sending new requests every time a row is expanded. What

[2019-10-11 07:01] gabrielliwerant commented on #991
So, I think this might be down to some confusion over what `customBodyRender` is doing as far as your ability to filter, sort, or otherwise interact with your data. That's not your fault; the behavior is a bit confusing.

If you are using `customBodyRender` with your own filter logic, and the code is able to resolve your render function to a value, it will use that value. If it can't, it will reso

[2019-10-11 10:41] neotello opened #998 "Search and csv export functionalities with expanded rows."
Hi,

I have a doubt about the expandable rows. I have a table with expandable rows and it's totally funcional.
The unique problem that i found was the csv exports and the search not process the expanded rows.
To solve the search case i thougth that i can use no visible columns to put there the key columns of the expanded rows. But to solve the csv export i don't know, without process the data out

[2019-10-11 11:12] rfermann commented on #990
What about enhancing the `customToolbar` option to either directly take a component (as it is today) or take an object containing the component and an optional object with the different icons as keys and the order as the value per key:

[code]
In addition we create distinct classes for each icon and attach the order value passed via the `customToolbar` option to each class:
[code]

Instead of enha

[2019-10-11 11:33] andygock opened #999 "Saving filter params, loading filter params on render?"
Hi,

What would be the best way to apply custom filter parameters immediately on the first render of a table?

For example, I'd like to save user selected filtering parameters in sessionStorage, so when a user returns to the table, the saved filter parameters (and possibly the page number) are loaded and applied again, otherwise the filter parameters are reset back to default.

Is there a way I co

[2019-10-11 14:26] kenjoegolo opened #1000 "filterlist doesn't display when severside option is set to true"
## Expected Behavior
When table option `serverside` is `true` and added some `filterList` on column options - I should be able to see it when rendered.

## Current Behavior
`filterList` doesn't display when rendered.

## Steps to Reproduce (for bugs)
https://codesandbox.io/s/muidatatables-custom-toolbar-kosjv

[2019-10-11 15:28] andygock opened #1001 "How to disable 'Sort' tooltip / hint?"
Hi

Is there a way to disable the tool tip / hint on the column header which says 'Sort' without actually disabling sorting functionality.

When I use column option `{ hint: 'My Tooltip' }`, this tooltip in addition to the"Sort' tooltip is displayed in an overlapping fashion causing one of them to not be readable.

It would be good if I can make only the custom tooltip be shown without 'Sort' cove

[2019-10-11 16:18] akirwin commented on #983
Seeing this same issue - is there an update on this?

[2019-10-11 20:20] supakitk opened #1002 "Add an option to set row header"
We want to request a functionality to have an option to set a column to be a row header and render <th> instead of <td> for the row header column (please see https://www.w3.org/TR/2008/NOTE-WCAG20-TECHS-20081211/H51.html)

[2019-10-12 01:20] gabrielliwerant commented on #998
There's not really a good way I'm aware of to handle expandable row data in search or download by default because it's not given any kind of set structure. You basically define your expandable data however you want, so there's an infinite number of ways it could be, and the table can't really anticipate how to export/search that.

That being said, the tools do exist for you to handle this yourself

[2019-10-12 01:31] gabrielliwerant commented on #999
Right now, you can designate the filters you want applied to any column with the `filterList` column option. You can do this dynamically if you want, and should reset, reapply those filters, or when your component first mounts or something.

[2019-10-12 01:41] gabrielliwerant commented on #1000
When `serverSide` is `true`, you have to use `serverSideFilterList` to designate which filters show in the interface. See the `serverside-filters` example. The code needed some way to split how to treat filters, and the single flag for `serverSide` wasn't enough because filters are currently serving double duty (they both designate what is filtered and show it visually, but with serverside, you do

[2019-10-12 01:46] gabrielliwerant commented on #1001
Hm, sounds like it might be a material-ui v4 bug. Can you confirm if this happens in material-ui v3? If not, I'd much rather fix the behavior than add a new option. They should ever overlap. The way it works for me now with material-ui v3 is that they show/hide based on where your cursor is so that they never overlap.

[2019-10-12 01:51] gabrielliwerant commented on #983
Server side filters have been overhauled as they didn't quite work before. The way you specify your rendered filter chips now is with `serverSideFilterList`. Not having this work alongside `customFilterListRender` was an oversight. I don't have any timeline, but feel free to jump in with a fix.

[2019-10-12 01:57] gabrielliwerant commented on #1002
Not totally sure I follow. If you're looking to have a specific feature that fundamentally alters the display of the table, you should be able to get most of what you need out of existing custom render functions like `customRowRender` and `customBodyRender`. But fundamentally, this library is built on material-ui and the material standards set forth by Google and I don't have any plans to support

[2019-10-12 02:33] andygock commented on #1001
@gabrielliwerant

Can verify overlaps in Material-UI 4.x but not in 3.x

Codesandboxes:

- [with Material-UI 3.9.0](https://codesandbox.io/s/mui-390mui-datatables-2120-rs4mi) - expected behaviour
- [with Material-UI 4.5.0](https://codesandbox.io/s/mui-450mui-datatables-2120-jlgf3) - overlapping tooltips

[2019-10-12 04:25] gabrielliwerant commented on #1001
@andygock Thanks for your help in reproducing this. I was able to confirm with your examples. I have a fix up as a PR.

[2019-10-12 08:19] andygock commented on #1001
Great, thanks @gabrielliwerant

[2019-10-12 08:21] andygock commented on #999
Thanks @gabrielliwerant  - that will work, using `columns.filterList` and `options.onFilterChange` should do what I need.

[2019-10-12 14:41] #723 closed

[2019-10-12 14:41] #636 closed

[2019-10-12 14:42] #728 closed

[2019-10-13 04:56] sampalmer commented on #18
@gabrielliwerant, do you have an official example of how to implement a slider filter? I've had a go at it base on https://github.com/gregnb/mui-datatables/blob/master/examples/customize-filter/index.js but it displays weirdly.

[2019-10-13 23:57] foxbit19 commented on #908
Hi, a feature like this could be nice.
If I understand correctly @cr101 needs a nested row (or a 2nd level row) like the main one. The nested row needs to be showed, selected and must be responsive on click events like the 1st level one.
I imagine that the columns could be reactive on sorting too.

@cr101 is this correct?

@gabrielliwerant I know that the library is intended to build the material

[2019-10-14 14:13] kenjoegolo opened #1005 "Add option to prevent reset of pagination on onSearchClose callback"
Hi, is there any way on how to prevent pagination reset when clicking the close search icon?
Because in my case, I don't want to reset the page when the user click the search icon and then close the search without typing any search text.

[2019-10-14 14:46] kenjoegolo commented on #1005
I think this is a bug. :)
The pagination always change to `1-10 of 124`, here are the steps:
1. click the next button for page 2 (the pagination will become: `11-20 of 124`)
2. click the search icon, then close it without typing any text in the search input
3. notice the pagination will become `1-10 of 124`

Here is the codesandbox:
https://codesandbox.io/s/boring-darkness-uqqjw

[2019-10-14 18:34] gabrielliwerant commented on #18
There is no official example. You could look at https://material-ui.com/components/slider/ for ideas, as implementation should be similar. Can you be more specific about what displays weirdly?

[2019-10-14 18:36] gabrielliwerant commented on #908
This isn't a feature I'm planning to support at this time. I would maybe take another look at it once critical issues are taken care of, there's a lot more testing, and the table is compatible with later versions of material ui and react.

[2019-10-14 18:48] gabrielliwerant commented on #1005
I can confirm the bug, thanks for reporting @kenjoegolo.

[2019-10-14 23:33] supakitk commented on #1002
Thank you for the quick response. I can probably use customRowRender as a workaround.

[2019-10-14 23:33] #1002 closed

[2019-10-15 02:54] #942 closed

[2019-10-15 02:55] #967 closed

[2019-10-15 03:01] alielkhateeb commented on #991
@gabrielliwerant Oh ok I get it, yeah you're right it's a bit confusing.

Your workaround for comparing string works well, but I modified the code a bit to make `customBodyRender` return a react component with the prop `value = {!value}` this obviously causes a problem in the value that goes to the logic function (it will always be true), if I change the props I send in `value={value}` it works fi

[2019-10-15 03:19] jlucier commented on #994
Verified the fix in 2.12.1, excellent! Thanks!

Possibly worth discussion: I don't know if this is intended behavior, nor do I think I have strong opinions on the whether it should or should not be this way, but now when you revert back to the original data the page goes back to the page you were on before the data change occurred. Make sense? You can bump the version in the sandboxes linked above

[2019-10-15 04:02] jlucier commented on #994
Something wasn't sitting right so I did more digging, sadly the plot thickens.

New [sandbox](https://codesandbox.io/s/mui-datatables-page-bug-0y638).

The values of `data.length` and `rowsPerPage` seem to determine different behavior. I thought all was fixed because when the data changes such that `data.length <= rowsPerPage`, to the observer it looks like it resets the page to 0.

However, the f

[2019-10-15 10:47] phanshiwen commented on #1005
Maybe I can open a pull request for this?

[2019-10-15 18:05] kenjoegolo opened #1007 "scrollFullHeight behavior (when scrolling down) of v2.10.0 is not preserve on newer versions"
I like the srolling behavior of `v2.10.0` with option `responsive: scrollFullHeight` - when you have more rows that overlaps the page height and when scrolling down, the header will become positioned fixed at the top of the page, see codesandbox: https://codesandbox.io/s/mutable-wildflower-wv99g

but on the newer versions or latest with option `responsive: scrollFullHeight` the scrolling behavior

[2019-10-15 18:19] kenjoegolo commented on #1000
Closing this, thanks @gabrielliwerant

[2019-10-15 18:19] #1000 closed

[2019-10-15 18:45] gabrielliwerant commented on #1005
Thanks for offering @phanshiwen, but I've already got one locally, I just wanted to push other things first so I could use some new functions.

If you still want to help in other ways, there are plenty of things needed, such as boosting the test coverage or improving compliance with material-ui v4!

[2019-10-15 19:27] gabrielliwerant commented on #1007
You're right, that behavior should have remained in `scrollFullHeight` unless `fixedHeader` is set to `false`. Will add a fix.

[2019-10-15 21:52] raythree opened #1009 "Slow rendering with row selection"
If a table has > say 100 rows, there is a significant lag when selecting a row or "select all". I experienced the same with material-table when I was implementing controlled selection, but it seems to be unrelated to what I was doing, and I found a recent issue on it:

https://github.com/mbrn/material-table/issues/1085

So I tried mui-datatables, and see the same thing, reproduced here with latest

[2019-10-16 01:25] kenjoegolo commented on #1005
Can't wait to get those fixes :)

[2019-10-16 10:22] s33dco commented on #471
I am also noticing this issue.
I have not overridden any styles.

with these options

							options={{
								filter: true,
								sort: false,
								filterType: 'dropdown',
								responsive: 'scrollMaxHeight',
								selectableRows: 'none',
								pagination: false
							}}

all the records are returned on a .csv download (15) but only 8 are generated the pdf.

when I remove the respons

[2019-10-16 19:24] gabrielliwerant commented on #1009
I didn't have a chance to look into this. Were you able to determine the issue?

[2019-10-16 19:28] gabrielliwerant commented on #471
@s33dco Would you mind opening a new issue with your steps to reproduce? This one is out of date, as the API has changed, so I'm going to be closing it.

[2019-10-16 22:06] gabrielliwerant commented on #1005
PR up, fix will be in a patch release, coming soon.

[2019-10-17 08:19] #1007 closed

[2019-10-17 08:19] #1005 closed

[2019-10-17 11:46] wroughtec opened #1011 "Cannot accept objects for cell data - Date"
Unfortunately the fix introduced in 2.12.2 to validate data is either a string or an int causes an issue with things like Dates which is seen as an object. Previous versions this was not an issue.

I can work around this issue by converting to a timestamp (to avoid borking sort) prior to hitting the view but either there should be a check if its an object and not a Date or document that raw dates

[2019-10-17 15:52] gabrielliwerant commented on #1011
Understood, will look into it.

[2019-10-17 17:55] gabrielliwerant commented on #1011
So, when I use a date object as data in the table, I get the `Uncaught Invariant Violation: Objects are not valid as a React child` error, which is what the fix in `2.12.2` is preventing from occurring. Using date objects in the same way as other objects in the data should be giving you the same problems. So I'm actually not sure how you were able to do this before. Can you share the relevant bits

[2019-10-18 09:39] wroughtec commented on #1011
Ok let me get up some examples that should 'hopefully' show how I have it working. I do wonder if its because I use the custom body render.

[2019-10-18 09:55] wroughtec commented on #1011
This shows how I have been doing it prior to 2.12.2:
https://tv8fd.csb.app/

This is with 2.12.2:
https://70o59.csb.app/

Potentially  (am thinking without looking at the code) the check should maybe only happen on those fields that do not have a custom render.

[2019-10-18 14:45] drabelo commented on #1011
Also getting this error ... Everything was working fine until today. I have a custom button as a cell and now it doesn't allow it. How do you fix that?

[2019-10-18 15:39] #993 closed

[2019-10-18 16:10] KrzysztofMadejski commented on #729
Sounds like a breaking change. Shouldn't version be bumped to 3.x?

[2019-10-18 16:35] wroughtec commented on #1011
do you have a demo? You  may be able to use the customBodyRender

[2019-10-18 17:41] lalong13 commented on #1011
Also seeing this error. Using a moment object that can be formatted with `customBodyRender`.

[2019-10-18 19:33] gabrielliwerant commented on #1011
So, this type of functionality was never officially supported. The docs tell you what data is ok to use:
![image](https://user-images.githubusercontent.com/1779564/67122706-6872a400-f1bc-11e9-950e-729e0dafadf9.png)

It seems to work ok when you have a custom render function that knows just how to treat it, but without that, it breaks. The way to do this is to keep object data separate, if you have

[2019-10-18 19:41] gabrielliwerant commented on #1011
Here is a modification of your sandbox example to show what I mean (one possible way of avoiding objects in the table data but still getting the values you want): https://codesandbox.io/s/muidatatables-custom-toolbar-bsb81?fontsize=14

[2019-10-18 19:44] gabrielliwerant commented on #993
If you've found a successful approach, please add it here so others can benefit from your solutions!

[2019-10-18 19:50] gabrielliwerant commented on #729
@KrzysztofMadejski It isn't quite that simple. The table is currently handling mutually exclusive use cases, so a bug in one thing creates a feature in another, and fixing one can break the other. But if one bug is considered legitimate, then it seems reasonable to me to "fix it" in a non-major version, even if that breaks something for someone else that was relying on the bad behavior. This can a

[2019-10-18 20:31] acberk commented on #1011
I have enough code relying on object data that 2.12.2 will break most of my tables. I'm using objects to create "a" tags in cells, add form elements, etc. @gabrielliwerant would you consider rolling this back or reserving this change for a minor or major version release?

[2019-10-18 21:27] patorjk commented on #994
I ran into the same issue today. In one of my tables I have a button that manually adds a filter to the table. I noticed when I was one the second page of the table and pushed the button I got the weird empty table message.

I believe this issue to due to how totalPages is calculated in the getPageValue function [1]:

[code]

If you have 30 items, and 10 rows per page, that function will tell you

[2019-10-18 22:53] gabrielliwerant commented on #1011
This is unfortunate because the table blows up if you don't handle your own object data, but it does seem like fixing that has potentially caused more issues than it solved at the moment. I will switch to a console error and make the documentation more clear.

Objects were never intended to be a supported data type for cell data, and does cause errors, so it will have to be prevented eventually. I

[2019-10-18 23:05] #1011 closed

[2019-10-18 23:11] gabrielliwerant commented on #1011
Should be console error in `2.12.3`.

[2019-10-18 23:21] gabrielliwerant commented on #994
Nice catch @patorjk, `totalPages` is 1-indexed and page is 0-indexed, and I'm not accounting for that. Will fix.

[2019-10-18 23:31] acberk commented on #1011
Thanks, @gabrielliwerant. Understood, and we will start putting effort toward switching.

[2019-10-21 06:13] T-pirithiviraj commented on #1011
@gabrielliwerant /@acberk , Can you provide us the example for changing an object to data? Because many of them are using <a> as you said. It will be really helpful if you provide us with an example once you are done with the changes.
Here is my code,
[code]

[2019-10-21 12:10] F4r1n opened #1016 "600 vulnerablities after npm install"
After running `npm i` over 600 vulnerablities are found 597 of those being high and 1 criticial (plus a few lows).

## Expected Behavior
Those vulnerabilities should not persist.

## Your Environment
Freshly forked repo and newest version of npm (6.12.0).

![image](https://user-images.githubusercontent.com/39328242/67203885-8afafc00-f40c-11e9-910f-37f56ccd7840.png)

[2019-10-21 12:15] F4r1n opened #1017 "Peer dependencies lead to warnings when installing the package"
Peer dependencies in package.json lead to Warnings after installing the package when using the most recent "@material-ui/core" version (4.5.1).

## Expected Behavior
Package.json should be updated to "@material-ui/core" version 4.
Dependencies are also defined twice - once in peerDependencies and once in devDependencies. Couldn't one just get rid off the peerDependencies?

[2019-10-22 01:13] shawnmitchell opened #1018 "."
.

[2019-10-22 01:20] shawnmitchell commented on #1018
![image](https://user-images.githubusercontent.com/3594613/67253980-89e7c000-f448-11e9-8da7-f9ffeb508fae.png)

[2019-10-22 03:41] gabrielliwerant commented on #1018
Looks like this issue is missing some information! I got a screenshot of a commit I didn't recognize in my email alerts for this. Could be from a different project or a fork or something. Can you find the commit you're looking for in the commit history here? Or something in the release notes? I reference all PRs that get merged in every release.

[2019-10-22 03:49] gabrielliwerant commented on #1016
Looks like the lion share of them are coming from lodash, so if anyone wants to update those, go for it. Upgrading can be difficult because it can lead to a cascade of failure across packages, as it did for me last time I tried, but I'm happy to review PRs on it and take another look myself when I get a chance. I think there might also be a PR up for some of them, so I'll get to those also.

[2019-10-22 03:57] gabrielliwerant commented on #1017
The warnings have to persist until the library can support material ui v4. Updating the package file will come as the final part of that process.

Not sure there's anything wrong with specifying the peer dependencies. It lets any other packages that use those know that they need to use those versions only. Don't think it hurts anything, and it probably helps. Maybe they can be removed during the n

[2019-10-22 10:46] LusineGasparyan98 opened #1020 "Current page is remembered when data is changed"
## Expected Behavior
If data is changed in the table and it is too much that includes also current page, it should update the table instead of just changing inner data

## Current Behavior
   If we are not on the first page, data changes and the new one includes the current page as well, the table is not refreshed and we stay on the same page as we were before and only inner data is changing.

##

[2019-10-22 11:05] psaffrey-origami opened #1021 "Striped columns"
## Expected Behavior

I'd like to be able to stripe the columns on a very dense table. I can find examples for striped rows, like this one: https://github.com/gregnb/mui-datatables/issues/201 but not for columns.

## Current Behavior

I tried to adapt the example in https://github.com/gregnb/mui-datatables/issues/201 by doing:

      MUIDataTableBodyCell: {
          cellStacked: {
            "&:

[2019-10-22 11:32] T-pirithiviraj opened #1022 "Example for data without object especially when we use 'a' tag or button in data."
@gabrielliwerant , Can you provide us the example for changing an object to data if we use button or 'a' tag? Because many of them are using 'a' tags as @acberk  said.
I have already seen this example -->  https://codesandbox.io/s/muidatatables-custom-toolbar-bsb81?fontsize=14. I can't understand how to use it if we have 'a' or 'button' in last column as data.

## Expected Behavior
Passing data wi

[2019-10-22 12:42] Imballinst opened #1023 "Hide toggle button when the row isRowExpandable resolves to false"
## Expected Behavior
When `isRowExpandable` is false, the row should have no toggle button.

## Current Behavior
It still have the toggle button -- and is clickable, but it doesn't expand (this is correct behavior).

## Steps to Reproduce (for bugs)
https://codesandbox.io/s/aged-lake-mhiwn

1. Open the link
2. Click on the first row and second row (it works)
3. Click on the third row (it doesn't e

[2019-10-22 14:24] KrzysztofMadejski commented on #118
@gregnb What if I would like to render a button with a path created using object values placed in several columns?

[2019-10-22 17:16] joziahg opened #1026 "Responsive width"
Hey all, running into an issue with wide tables.

## Expected Behavior

I would expect wide tables to scroll within when the amount of columns surpasses the width of the visible screen area
## Current Behavior

Currently it just makes the table wider so the toolbar and pagination functions get hidden.

## Your Environment

| Tech         | Version |
|--------------|---------|
| Material-UI  | 4.5.

[2019-10-22 17:31] acberk commented on #1022
The library prefers that you pass only your data value in the srcData object, and then use customBodyRender to create the custom HTML for that column.

https://github.com/gregnb/mui-datatables/blob/master/examples/component/index.js#L81

[2019-10-22 18:11] gabrielliwerant commented on #1020
I need a little help understanding this one. If you have 100 rows, 10 rows per page, are on page 1, and you increase the amount of data in the table, what are you looking to have happen to your current page exactly?

[2019-10-22 18:18] gabrielliwerant commented on #1022
Yes, as @acberk is saying, don't but the html in your data, just use the value and then build the anchor tag in the `customBodyRender`, like so:

(psuedocode)
[code]

If you want more than one piece of data in your custom render function to be correlated to a single data cell, then you can use the strategy in my example, where you have an id and a separate object and you use one to find data from

[2019-10-22 18:21] gabrielliwerant commented on #1023
Changing this behavior might break how other people want it to work, so I'm not comfortable with assuming so strongly what the desired UX should be. Instead, what I'd be glad to accept is an additional css class being added somewhere to rows that are not expandable so that devs can use this  to change the experience however they wish.

[2019-10-22 18:25] gabrielliwerant commented on #1026
Can you provide the options you are using and the exact screen dimensions, etc, so that the issue can be reproduced?

[2019-10-22 18:27] gabrielliwerant commented on #118
@KrzysztofMadejski this answer might also help you https://github.com/gregnb/mui-datatables/issues/1022#issuecomment-545089461.

[2019-10-22 18:55] T-pirithiviraj commented on #1022
Thanks, @gabrielliwerant and @acberk . As you said we can keep it in custom body renderer for tags. I have a case like I need to pass the entire data object from API to custom body renderer in case of the edit.
For example, I am keeping the edit icon in a custom body renderer. The last column I am just having edit Icon no data should be displayed.

[code]
[code]
As @gabrielliwerant said, If I am k

[2019-10-22 19:22] LavanyaRanganath opened #1027 "searchPlaceholder option not working."
searchPlaceholder option not working.

[2019-10-22 19:39] joziahg commented on #1026
Here is my options, I am also going to update my package to see if that resolves the issue:
[code]

[2019-10-22 19:48] gabrielliwerant commented on #1027
It works on my end, and in the example in the library, so I'll need the exact steps to reproduce your issue, along with any relevant code and table options in order to look into this.

[2019-10-22 20:06] LavanyaRanganath commented on #1027
Below are the options I am using for MUIDataTable.All the options other than searchPlaceholder is working for me.
<MUIDataTable
              title="Install Base"
              columns={columns}
              data={dataForTable}
              options={{
                selectableRows: 'none',
                download: false,
                print: false,
                rowsPerPage: 100,

[2019-10-22 20:18] LavanyaRanganath commented on #1027
I tried checking if its working in the following sandbox link - https://codesandbox.io/s/muidatatables-custom-component-example-o8fl3. its not working

[2019-10-22 20:31] gabrielliwerant commented on #1027
Your versions of this library and the material-ui library are too low. If you use material ui >= v3 and the latest version of this library, it will work.

[2019-10-22 20:35] gabrielliwerant commented on #1026
It works on my end. Let me know if upgrading to the latest version helps.

[2019-10-22 20:41] joziahg commented on #1026
Upgraded version, didn't help. I am also having troubles reproducing the issue in codesandbox. All my tables that are super wide have this issue in my project. Ill pull together some screenshots.

[2019-10-22 20:47] LavanyaRanganath commented on #1027
Got it fixed :) you were right with versions. Thank you so much!

[2019-10-22 20:52] #1027 closed

[2019-10-22 20:53] joziahg commented on #1026
Here is some screenshots, the first is normal behaviour and the second is when there are many columns. Both were captured using the firefox screenshot feature which allows you to capture everything on the page, not just that which is visible, so you can see how the table goes behind the drawer component and seems to stretch the parent div.

![Screenshot_2019-10-22 BBQ - physics Seminar - Overview]

[2019-10-22 21:41] Imballinst commented on #1023
Ah, I see! Yeah, that makes more sense and should be safer. So perhaps, I'll leave the default to show, and it can be overridden with, say, `MUIDataTable-expandDisabled`. What do you think?

[2019-10-22 21:45] gabrielliwerant commented on #1026
You've got a lot going on and I'm not exactly sure what you're trying to do, so it's really difficult to tell if this is a problem with the library, or just a complication due to all the customizations you've got.

Below is a gif I took of the `simple` table in the examples that I modified to use excess columns and the `scrollMaxHeight` responsive option:
![capture](https://user-images.githubuserc

[2019-10-22 21:46] gabrielliwerant commented on #1026
Also, do you still have the same issue if you reduce material ui version to v3?

[2019-10-22 21:48] gabrielliwerant commented on #1023
That sounds good to me! I assume you mean that you will add that class rather than replace any existing ones. If so, all good.

[2019-10-22 21:51] Imballinst commented on #1023
Yeah, I'll do that and will ping you once I have re-patched the PR. Thanks for the guidance!

[2019-10-22 22:18] joziahg commented on #1026
When I was trying to reproduce the issue in code sandbox it had MUI 4.5.1 so that shouldn't be an issue, not to mention I'd have to refactor quite a bit of code to get it downgraded. The table itself is pretty simple, the columns are generated and have custom body renders if that changes anything.

[2019-10-22 22:39] joziahg commented on #1026
I figured it out, my app is wrapped in a div with display: 'flex' which allows the drawer to work, but breaks the table.
https://codesandbox.io/s/muidatatables-custom-component-example-mv8p0?fontsize=14

[2019-10-22 23:23] gabrielliwerant commented on #1026
Glad you got it sorted!

I wasn't suggesting you abandon material v4 permanently, just trying to determine if it's a breaking issue between the versions, as I'm trying to make sure I catch any of those for the next major version of this library.

All good to close this out?

[2019-10-22 23:30] joziahg commented on #1026
Well, I still need the flex div so the drawer works. Ill keep working on a workaround on my end, but it might be worth it to make MUI-datatables X overflow work inside a flex div. I haven't taken a look at the source code in regards to this yet so I can't say for sure what a fix might look like. I'd be willing to work on this but might need some guidance on where to look in the source. Let me know

[2019-10-22 23:30] #1026 closed

[2019-10-23 06:13] gabrielliwerant commented on #1026
@joziahg I'm open to potential enhancements, but I'm not sure that flexbox plays nicely with table layouts. They are fundamentally different in what they're attempting to do as far as display. Also, drawers aren't typically used to hide table views. I'm a bit wary of potentially breaking layout to make something work in a situation that isn't recommended by material, given that this is a material-

[2019-10-23 10:18] LusineGasparyan98 commented on #1020
In that case, I am looking to see the first page with updated data. But if I am not on the first page, for example I am on the second or fourth page, and my data is updated I am looking to see the first page as the current page because maybe data is not only increasing but also is changing. For example, this can happen if we are not on the first page and are searching for something.

[2019-10-23 12:33] KrzysztofMadejski commented on #729
That makes sense, there was no promise it will work this way. I used the workaround MasterKale suggested. I keep fingers crossed for the next big release. Cheers!

[2019-10-23 14:01] joziahg commented on #1026
The drawer is static, it isn't hiding anything. Either way thanks for the help.

[2019-10-23 14:24] joziahg commented on #1026
To be clear the Table is not the direct child of the flex div and the drawer is static and doesn't hide anything. The table resides in the content component and is set to display block.

This is the documentation for the drawer, anyone following this page would run into this issue.
https://material-ui.com/components/drawers/#full-height-navigation

[2019-10-23 14:45] joziahg commented on #1026
I've found a workaround, by using the same trick mui does on their persistent drawers example. I set the width of the content div to be 100% - the drawers width.
[code]

[2019-10-23 22:16] gabrielliwerant commented on #1020
I think this is behavior that you will need to customize for yourself, as it seems to fall under server side  behavior, for which the table can't predict the desired UX. For example, if you increase the data by enough that it would add multiple new pages of content, would you want to see the first new page or the last new page? Both could be valid answers depending on what you want.

 So, you have

[2019-10-23 22:31] gabrielliwerant commented on #1026
I experimented briefly with nesting a large table inside a temporary drawer, and it appears to me that the main culprit is `position: fixed` in the main drawer container.

![capture](https://user-images.githubusercontent.com/1779564/67438985-056d7c80-f5c3-11e9-8f57-59e10ffe455a.gif)

So maybe that will also help you.

However, you might run into issues if you override that because I believe drawer

[2019-10-23 22:48] gabrielliwerant commented on #729
That being said, I will make exceptions if a "fix" seems to break too many things...

[2019-10-24 05:18] #1020 closed

[2019-10-24 12:37] sachin196 commented on #125
Hi, I want to  add custom filter to mui Data table, where on filter button click and custom view will open depending the requirement and on apply filter or on reset filter button click i want to close that pop.Please help anyone knows how to achieve this.
[index.zip](https://github.com/gregnb/mui-datatables/files/3767505/index.zip)

[2019-10-24 12:42] sachin196 opened #1028 "Unable close filter window using filte filterOptions -> display()"
Hi @gregnb , I want to  add custom filter to mui Data table, where on filter button click an custom view will open depending the requirement and on **apply filter** or on **reset filter button** click i want to **close that pop**.Please help if anyone knows how to achieve this.
[index.zip](https://github.com/gregnb/mui-datatables/files/3767505/index.zip)

_Originally posted by @sachin196 in https:

[2019-10-24 12:43] sachin196 commented on #1028
And here is how i m trying to call this filter component.

{
        name: "date",
        label: "Date",
        options: {
          filter: true,
          filterType: 'custom',
          customHeadRender: (o, updateDirection) => {
            return customHead(o, updateDirection);
          },
          customFilterListRender: v => {
            return false;
          },
          filterOptio

[2019-10-24 13:19] scottbisaillon opened #1029 "Expandable Rows and Custom Row Render"
I have looked through the docs and examples and can't seem to find anything regarding this.

Is there a way to hook into the implemented row expansion when using a custom row? I am using a custom row to to set styling based on content, as well as to transform the data (ex: epoch timestamp to formatted string).

If there is another way to go about doing this, I am open to suggestions as well.

Here

[2019-10-24 15:41] svensq opened #1030 "Render Filter with customBodyRender"
## Expected Behavior
Render Filter-Values with customBodyRender

## Current Behavior
If the column is a object the Filter shows [object Object] and not the customBodyRender return.

I have to try it with the custom filter option, but i do not get the filterdata to display the select options.

I think to a solution like that:
[code]

## Your Environment

| Tech         | Version |
|--------------|-

[2019-10-24 17:06] victorhporto opened #1031 "Option to hide ToolbarSelect"
Hello, I'm making some tests with this component and it's amazing, makes everything that i needed, but i think we could have an simple options, to disable the ToolbarSelect, that shows x row(s) selected.

Something like:
options.toolbarSelect = {true|false}

I don't find any way to make it desapear, the option `customToolbarSelect` only desaper with the delete button, but i wish we could hide the

[2019-10-24 19:02] gabrielliwerant commented on #1029
Hello @scottbisaillon. At present, there isn't any way to export the expandable row functionality outside of the currently designated options/interface for it. If you're using custom rows and you want to have expandable functionality, you will have to create it yourself.

Custom rows are a bit weird in that it's less clear what kind of functionality should be ported over, since you can change the

[2019-10-24 19:04] gabrielliwerant commented on #1030
Hello @svensq. I think I need more information about what you're trying to accomplish on my end. Can you demonstrate the bug, if there is one, in a codesandbox?

[2019-10-24 19:05] gabrielliwerant commented on #1031
Hello @victorhporto. This has been a highly requested feature with many PRs and issues open for it, so marking this one as duplicate and closing. But feel free to run a search and you find the other issues/PRs if you want to follow them.

[2019-10-24 19:06] #1031 closed

[2019-10-25 06:09] hbinkle commented on #919
Hi,
I do also have strange behavior with MUI theme in the table.
e.g. when simply using the table (copied from the example) I get a white font on a white background for the header.
The background should be black. That's at least how my appbar look like, white on black.
However when I put the MuiThemeProvider again directly around the table setting the same theme, the table header font color is bla

[2019-10-25 08:04] svensq commented on #1030
Sorry, I have found my mistake now. I return a Component by customBodyRender. Thank you.

[2019-10-25 08:07] #1030 closed

[2019-10-25 09:29] bkiac opened #1033 "Wrong CSV values in columns which have `customBodyRender` option"
Downloaded CSV file has wrong values in columns which have `customBodyRender` if the table is filtered.

## Expected Behavior

This table view
![image](https://user-images.githubusercontent.com/24522620/67559517-68712780-f719-11e9-83e2-4522f97a75fa.png)
should result in this CSV
[code]

## Current Behavior

but the actual CSV is
[code]
These values correspond to the first 5 rows of the unfiltered

[2019-10-25 18:40] gabrielliwerant commented on #919
Can you post a simple example to codesandbox @hbinkle?

[2019-10-25 19:54] gabrielliwerant commented on #1033
Verified, thank you for the detailed report! I have a fix locally, will push soon and probably release a patch today.

[2019-10-26 04:12] #994 closed

[2019-10-26 04:12] #1033 closed

[2019-10-26 17:24] shawnmitchell commented on #1018
Yes, sorry about this. Please delete.

[2019-10-28 06:42] hbinkle commented on #919
I'm sorry, I'm not allowed to extract any code. Especially the MUI theme is owned by our customer and I can't share it.
The structure I'm using is:
` <MyApp>
      <MuiThemeProvider theme={CustomTheme}>
        <CssBaseline>
          <TranslationProvider translations={TranslationsI18n}>
             <Header>
                <AppBar>
                  <Toolbar>
                      .....

[2019-10-28 15:54] sseekamp0 opened #1035 "mui-datatables flagged in SonaType Code Scan"
Good morning,
I'm hoping that you might be able to help resolve the mui-datatables package code scan issues. It seems that there is a vulnerability within the CSVDowload function.
The following was found when running a sonatype code scan on the mui-datatables package.

Code scan description:
"The mui-datatables package is vulnerable to Command Injection. The createCSVDownload() function in the uti

[2019-10-28 19:30] gabrielliwerant commented on #1035
In the short term, you can sanitize the values entered yourself by using the `onDownload` callback to send the data to the CSV.

[2019-10-28 19:35] gabrielliwerant commented on #1035
Based on that description, it's a little hard to know what exactly will silence the warning, even though escaping html, script tags will make the project safer regardless. Just noting that I'm not sure what SonaType is looking for, so if you can let me know, that would help your issue.

[2019-10-28 19:47] shawnmitchell opened #1036 "horizontal table scroll titles display issue"
![Screen Recording 2019-10-28 at 3 38 12 PM](https://user-images.githubusercontent.com/3594613/67712278-0ecb6000-f99a-11e9-9623-fa190bda0952.gif)

Any idea what I messed up to cause this title bar HScroll behavior?

Thanks in advance!

[2019-10-28 21:03] sseekamp0 commented on #1035
Thanks for the recommendation. I can try that. I'm not quite sure what they're looking for here either, but here is a copy of the full vulnerability notice:

**Explanation**
The mui-datatables package is vulnerable to Command Injection. The createCSVDownload() function in the utils.js file does not properly escape string values entered in to the data table. An attacker can exploit this by inputtin

[2019-10-28 21:36] SantiagoCoronado opened #1037 "Search and filter functionality doesn't work if serverSide is true"
Hello, I'm currently having a problem with the data-tables because i want to use the search or the filter functionality as well as the serverSide one. In the past (about 2 months ago) both functionalities could work in parallel. Somehow today when i reviewed the system I'm working on, it doesn't work anymore.

## Expected Behavior
As I mentioned above, the search and filter functionality should wo

[2019-10-28 21:41] gabrielliwerant commented on #1036
Hm, quite odd. There are a couple of things you can try to help me narrow down the issue.

1. Turn on the selectable row settings and see if the behavior persists
1. Not sure which version of material ui you are using, but if you switch between v3 and v4, and let me know if it appears in one and not the other

Additionally, would be good to know what your table options are and any relevant contain

[2019-10-28 21:55] shawnmitchell commented on #1036
Turning on selectable rows makes it worse. The select boxes stay in place while the table data scrolls behind them.

I had
[code]
set together.

When I changed `fixedHeader` to `false`, the scrolling issue was resolved. Of course now the header widths are variable, but that is bearable.

[2019-10-29 01:20] wdh2100 commented on #1037
FYI
https://github.com/gregnb/mui-datatables/blob/master/examples/serverside-filters/index.js

[2019-10-29 07:13] gabrielliwerant commented on #1036
I can confirm the issue. Looks like a bug to me, thanks for reporting!

[2019-10-29 07:17] gabrielliwerant commented on #1037
Right now, there isn't any fine-grained control over which functions are serverside and which are not. So if you have serverside set to true, you can expect the table to expect that everything which can be handled serverside, is handled serverside.

What is probably needed is a more advanced API, something like a serverside object which has properties for each different feature, to allow fine-grai

[2019-10-29 19:19] abdu355 commented on #989
Came up with a workaround that keeps track of the rows open, such that when the data is loaded asynchronously, the expanded rows array ( **rowsExpanded** ) is used instead, any re-renders will not close the expanded rows, unless you tell it to.

### Data table options

`    const options = {
      rowsExpanded: this.state.rowsExpanded,
      expandableRows: true,
      onRowsExpand: (currentRowsEx

[2019-10-29 22:32] RyanEwen opened #1038 "Access original row object in customBodyRender, etc"
I would like to feed objects into the table and then access them in `customBodyRender` and other callbacks.

Use case:
I need to refer to data in the original object that I do not want to use in any column. For example. `<Select />`  elements with menu items that are specific to the row being rendered.

[code]

In other libraries I can easily access the original data and generate my `<Select />` a

[2019-10-29 23:34] SantiagoCoronado commented on #1037
@gabrielliwerant thank you for the reply. So just to be completely clear, there's no way that I can do the search and filter client side and the pagination serverside? I would have to develop a serverside search and filter call?

[2019-10-30 01:51] danielbyun commented on #1037
@SantiagoCoronado Yes, you would have to handle everything on the server-side. I made a good amount of it for my project but it got overwhelming so I changed up the query to just speed up the loading time for the table for now (and made `server-side = false`).

[2019-10-30 06:58] dhairav-shah opened #1039 "Change style of an element of a column by comparing it with a value of other column of the same row."
I have data having two columns A and B. Now i want to set the color of ith element of B to green if B[i] > A[i] , else set it to red.

Any idea how it can be achieved using MUI Datatables ?

[2019-10-30 13:45] dandrei opened #1040 ""Deprecated: Passing objects in as data is not supported, and will be prevented in a future release.""
Just upgraded to version `2.12.4` and I get the following:

`Deprecated: Passing objects in as data is not supported, and will be prevented in a future release. Consider using ids in your data and linking it to external objects if you want to access object data from custom render functions.`

I am currently using this option as a work-around in order to access the original object from the renderin

[2019-10-30 14:16] RyanEwen commented on #1038
Here's an example of how I am doing things now given my use case above:

[code]

* The first column, `options`, exists only to be accessed in `customBodyRender`. The data passed to that column is usually an array, and I'm surprised I'm allowed to pass arrays but not objects.
* The second column, `key`, is shown to the user in this case, but usually it would not be. It's also accessed in `customBod

[2019-10-30 15:12] SantiagoCoronado commented on #1037
Thank you! @danielbyun

[2019-10-30 17:51] gabrielliwerant commented on #1040
As discussed here https://github.com/gregnb/mui-datatables/issues/1011, the table has never officially supported passing object data for table cells, and doing so leads to a number of errors if not handled precisely in custom renders. If you're using a custom render, you're stepping into custom territory, and there's not any strong case I can see for accepting objects for this case. As explained i

[2019-10-30 17:51] gabrielliwerant commented on #1038
As discussed here https://github.com/gregnb/mui-datatables/issues/1011, the table has never officially supported passing object data for table cells, and doing so leads to a number of errors if not handled precisely in custom renders. If you're using a custom render, you're stepping into custom territory, and there's not any strong case I can see for accepting objects for this case. As explained i

[2019-10-30 18:39] RyanEwen commented on #1038
I'm not sure that you understand. I'm not suggesting that objects be allowed as cell values. My example above does not do that, and there are no warnings generated.

Myself an others would like to have a reference the original _row_ object made available within `customBodyRender` etc. This reference could be completely ignored by the mui-datatable itself. The only work the table would need to do i

[2019-10-30 19:02] gabrielliwerant commented on #1036
I've got some more insight on the issue now, and it looks like the current behavior might be intentional, as it allows the header to be fixed according to both x and y axes. For example, this is especially useful if using selectable rows and you want the select all box to follow along with scrolling. Even without that, it provides the benefit of keeping the column header above the relevant data.

[2019-10-30 19:06] gabrielliwerant commented on #1038
Hm, you should have access to row data from this function already:

![image](https://user-images.githubusercontent.com/1779564/67890262-c8573c00-fb26-11e9-9e17-ae269bfd2c1e.png)

Is that not working?

[2019-10-30 19:11] gabrielliwerant commented on #1038
It is also might help if I could see your data structure. It doesn't look like you added it to your example above.

[2019-10-30 19:12] gabrielliwerant commented on #1038
Oh, this is the row data in the first message. Yes, that's exactly what I'm referring to you not putting into the table directly, instead keeping it separate, and mapping your data back. If you look through the issue I linked here, you will find I modified a dev's codesandbox example to do just that.

[2019-10-30 19:21] RyanEwen commented on #1038
The rowData is your parsed data and not the original data. You seem to support data in the format I'm sending it in, and you grab the individual bits that are to be shown using the `name` keys, but there's no reference kept to that original object in its entirety, which is what I'm after, and what other libraries offer to great benefit.

Is there a reason not to store a reference to the original r

[2019-10-30 19:37] gabrielliwerant commented on #1038
Yes, there are good reason not to store this data. It's not possible to simply keep the original data untouched, aside from the fact that I don't want arbitrary object passed into the table at all, because otherwise there is no way for me to map the assembled data structure to your original data structure. To do that, I'd have to establish some kind of mapping system and foist it into your data fo

[2019-10-30 19:47] RyanEwen commented on #1038
I'm not convinced that you'd need any mapping system or to touch the data. I assume you keep in there and then it travels with the row and doesn't need to be mapped. Or you have an array of the rows and know the index, so a 2nd array with the original references would work with the same index?

Passing an id into the table is very hacky especially considering the work it takes to hide that id from

[2019-10-30 19:51] RyanEwen commented on #1038
Also to touch on the minor inconvenience - the software I work on has many man tables and back in the jQuery days with DataTables.net we had to do this. It may seem minor to you, but it caused many of our developers a lot of grief and there were no shortage of bugs related to having to massage data and map it and reference back to it etc. All of that went away the day we could simple get our origi

[2019-10-31 22:28] ff-luis-carrillo opened #1041 "Question: Can I set the state manually?"
The table exposes a method called onTableChange that returns the state, is there any way that I can set back that state to the table?

## Expected Behavior
I would like to be able to navigate to other routes and then when I am back to the route containing the table, have the same state as before (same filter, same page, same search text).

[2019-11-01 16:32] #1041 closed

[2019-11-01 17:01] marcusjwhelan commented on #595
What if its not an IconButton and just an Icon. More specifically the icon is dynamically loaded as a functional method so I was pointed in the direction of creating a forward ref component but still nothing would pop up on hover.

https://stackoverflow.com/questions/57527896/material-ui-tooltip-doesnt-display-on-custom-component-despite-spreading-props

[2019-11-01 21:24] RyanEwen commented on #1039
I believe you can do something similar to my example here:
https://github.com/gregnb/mui-datatables/issues/1038#issuecomment-547926206

Except that instead of `customBodyRender` returning a `<Select />` or `<TextField />`, you'll just want to return a `<span />` or something with your custom styling applied to it, and the original value inside of it.

For example:

[code]

But be warned that the w

[2019-11-02 21:23] psaffrey-origami opened #1043 "Conditional formatting"
## Expected Behavior

I'd like to be able to format cells based on the value in it to produce, for example, colour gradients based on values. This is a popular feature [in Excel](https://support.office.com/en-gb/article/use-conditional-formatting-to-highlight-information-fed60dfa-1d3f-4e13-9ecb-f1951ff89d7f).

## Current Behavior

I've found a couple of ways to do this but none are quite satisfact

[2019-11-03 13:09] ruthwe commented on #950
can you give an example for this please?

[2019-11-03 13:31] patorjk commented on #950
@ruthwe in my example above just move the row and dataIndex parameters from onDoubleClick to setRowProps.

[2019-11-03 18:58] burton666 opened #1045 "Top right icons are placed vertically"
I just tried the  "Simple table"-example found under the instructions on github. Everything seams to work but the top right icons (print, search...) gets placed vertically instead of horizontally. This screws up the whole layout. am I missing something?

[2019-11-03 19:41] #1045 closed

[2019-11-03 21:19] burton666 opened #1046 "How to use onRowsDelete ?"
I am currently sending in  a useState variable that contains objects into a MUI-Datatables component that renders all objects to the table.

But how do I use the "onRowsDelete" function?  is it possible some way to get the current showing objects in the table back so that I can use the usestate set-method to update the usestate to reflect the current table.

And if so how do I get the current obje

[2019-11-04 02:24] Flavyoo commented on #315
Is there a way to have the fixed header be placed below a navigation bar? I think it is working, but since it gets fixed at the top, you can't see it because the navigation bar is covering it.

[2019-11-04 06:05] pierreyves-lebrun opened #1047 "Reset pagination on sorting"
At first thanks for this awesome npm package, I really like its API and find it easy to use.

That said, I have a disagreement on how pagination should be handled when users sort data by clicking on a table column.

Currently when a user goes to let's say page 7 and then sorts the table differently, even-though the displayed data changed, page number remains 7.

In my humble opinion, the page numb

[2019-11-04 08:29] zilkenberg22 opened #1048 "How to change action icons"
How to change action icons

## Your Environment

| Tech         | Version |
|--------------|---------|
| Material-UI  |    4.3.3     |
| MUI-datatables  |   2.10.3      |
| React        |  16.9.0       |
| browser      |    google Chrome     |
| etc          |         |

[2019-11-04 08:39] alexeykush commented on #577
any updates?

[2019-11-04 17:18] nmdhulipud commented on #857
@gabrielliwerant we are also using server-side filtering, and currently every filter change make individual api calls upon selection, and our plan is to come up with an Apply button and on click of it, have a filter call. As per the above conversation I see this requirement is set to low priority. Any new update on this if I am missing any ?

Thanks

[2019-11-04 17:22] mbniebergall commented on #857
@nmdhulipud this was released in 2.12.0 (see https://github.com/gregnb/mui-datatables/releases/tag/2.12.0). I have already implemented using it on a project and performance is significantly improved. Thanks @gabrielliwerant !

[2019-11-04 17:29] joshwaiam opened #1049 "Pagination row exceeds table bounds on mobile"
On mobile devices, the pagination row in the footer of the table exceeds the bounds.  The left and right arrows in particular are what actually break out of the right edge of the table.

This appears to be happening because of a 24px padding applied to the last-child in MUIDataTablePagination.  I was able to fix this in my project by applying an override to the element, but it would be great to no

[2019-11-04 17:30] joshwaiam commented on #1049
I should have said thank you for you and your team's efforts and work on this project.  I have used it in many projects and thank you all for this wonderful tool and your continued commitment to refining and improving it!

[2019-11-04 18:23] gabrielliwerant commented on #1038
Again, I'm not familiar with any API that accepts arbitrary data. The solution I recommend is to map/reduce on your end. The only changes to the table I would consider around this is to provide `dataIndex` in the `rowData` so there's a more robust way to refer to the data internally than `index` which has definite problems as you point out.

[2019-11-04 18:26] gabrielliwerant commented on #1040
Closing this, as there is no planned support for passing arbitrary data structures into the table. As discussed in https://github.com/gregnb/mui-datatables/issues/1038, I would accept something that added `dataIndex` to the `customBodyRender` callback which would help alleviate some of these issues.

[2019-11-04 18:33] gabrielliwerant commented on #1043
Try adding a `padding` to your `<span>` in addition to the background color with the `customBodyRender`. Should fix your issue.

[2019-11-04 19:53] RyanEwen commented on #1038
If you're not going to change it then I accept that and it's fine. I'll move on to another library.

But when you say you are not familiar with any API that accepts arbitrary data it surprises me as this probably the first library I've used in as long as I can remember that doesn't.

From my experience most libraries prefer that you pass objects as rows (or even _require_ that you use objects). Wh

[2019-11-04 20:56] gabrielliwerant commented on #1047
Thanks @pierreyves-lebrun and thanks for your involvement in opening this issue.

Firstly, it actually isn't a clear cut UX case to me as to which page a user should be on after a sort action takes place. Seems like a valid expectation that if I'm on page 7 and I sort, I might want to see the new results for page 7, rather than be sent back to page 0 and have to page back up. If I want to see the

[2019-11-04 21:04] gabrielliwerant commented on #1048
Unless you specify all your own actions via `customToolbar`, there isn't yet a way to do it. I'm open to proposals for how to do so here https://github.com/gregnb/mui-datatables/issues/198.

[2019-11-04 21:04] #1048 closed

[2019-11-04 21:06] gabrielliwerant commented on #577
Unfortunately, no. There's not likely to be a silver bullet here as performance depends on so many different factors. My plan was to at least provide an option that would allow data chunking which might have benefits on large data sets, but I haven't had the chance to work on it.

[2019-11-04 21:09] gabrielliwerant commented on #1049
Haha, thanks @joshwaiam! Team of 1 at the moment, but much appreciated.

I would be open to a PR that addresses this at the proper responsive breakpoints. Let me know if you're interested and I can assign you!

[2019-11-04 21:12] joshwaiam commented on #1049
I would love to try and help with this!  I've been a coder/tinkerer half my life, but plagued by doubt.  I've been wanting to contribute to a project, but I'm been scared because I've never done it!  This seems like as good a time as any to take a swing!

[2019-11-04 21:48] PratyushaTN opened #1050 "Hide Filter Icon"
Is there an option to hide/remove the Filter Icon on the top right of the MuiDatatable

## Expected Behavior
Would like to remove/hide the Filter icon from MUIDatatable options.

## Current Behavior
Currently I have 3 icons displayed on the MUIDatatable Filter, Search and Columns. I tried setting the option to false and also removing the option for the Filter Icon.

But the icon is still displayed

[2019-11-04 22:08] acberk commented on #977
@gabrielliwerant Have you had a chance to look at this one?

[2019-11-04 22:29] gabrielliwerant commented on #1050
This should be the option you want

![image](https://user-images.githubusercontent.com/1779564/68163439-83694600-ff28-11e9-9adf-18fac9f5d2a5.png)

however, you will need to be on a version of the library that has support for this option, so check the release notes and/or tags to find out what version you need.

[2019-11-04 22:30] gabrielliwerant commented on #977
Not yet, sorry, been a bit swamped, but it's on my list for things to do next time I have a good chunk of time, and would like to get it looked at for the next minor release.

[2019-11-04 22:32] gabrielliwerant commented on #1049
That's great @joshwaiam, and I agree I think this is a great opportunity to get your feet wet! Don't worry, we all start out that way, and I'm glad to help you through it if need be. Let me know if you'd like me to start you off by pointing you in the right direction, or if you wanted to tinker around on your own first; I'm good with either.

[2019-11-04 22:34] joshwaiam commented on #1049
I appreciate your willingness to help!  I'll take a crack at it and see what I can do before taking your time on it!

[2019-11-04 23:15] pierreyves-lebrun commented on #1047
It’s fair to say that if you change mui-datatables behavior on that one, people would open issues asking for putting it back the other way around.

To me the behavior I suggested makes much more sense but I guess other people can have the opposite view.

In any case thanks for your feedback, if I can find the time to work on it I’ll submit a PR.

[2019-11-05 03:18] #1050 closed

[2019-11-05 03:18] PratyushaTN commented on #1050
Thank you..This works.

[2019-11-05 10:50] Way-U-Need commented on #1001
any update?

[2019-11-05 13:28] hbinkle commented on #919
Hi,
with further investigation I found that the style "MUIDataTableHeadRow" overrides "MuiTableHead".
"MUIDataTableHeadRow" can't be set any longer for MUIv4.x.
How can I set "MUIDataTableHeadRow" in an typescript enviroment to get the correct background color?

[2019-11-05 14:46] rubenp9 opened #1052 "Error to download CSV when change columns visibility"
Hi,
I think I found a bug.

Steps to reproduce it:
1. Hide one column.
2. Download the csv file. (first time it works without problem and csv file is ok)
3. Download the csv file again. (file downloaded has displayed header columns ok, but the body of the table has a column less).
4. Download the csv file again.  (file downloaded has displayed header columns ok, but the body of the table has two c

[2019-11-05 17:05] gabrielliwerant commented on #1052
Hello @rubenp9. I was unable to reproduce from the steps given. I will probably need to see what your options are, or the codesandbox example. The example you posted here just looks like this for me:

![image](https://user-images.githubusercontent.com/1779564/68229069-89ad0000-ffc4-11e9-9e23-6a1df754097c.png)

[2019-11-06 08:32] rubenp9 commented on #1052
Ups, I think y shared a wrong link, sorry. It is fixed now.

[2019-11-06 18:09] pgoforth opened #1054 "TableToolbar `iconActive` state not reset to `null` for Search toggle"
PR is open at https://github.com/gregnb/mui-datatables/pull/1053

## Expected Behavior
When Search Icon clicked while search is already open, Search Icon should no longer have an active state.

## Current Behavior
Clicking Search Icon while search query is open will close the search query, but the Search Icon will remain in the active state

## Steps to Reproduce (for bugs)
https://codesandbox.io/

[2019-11-07 06:56] LusineGasparyan98 opened #1055 "White spaces of search text"
## Expected Behavior
   If we are searching for something in the table and write white spaces before or after the search text it is not finding any data. It would be better if white spaces existing in the beginning and end of the search text are ignored during the search

## Current Behavior
 Now searching data writing search text with whitespaces before and after the main search text brings the w

[2019-11-07 09:05] psaffrey-origami commented on #1043
Hi @gabrielliwerant , thanks for the suggestion and it certainly looks like a promising approach. The problem with padding the `span` is that the pad is relative to the `span` and not the owning `td` element so it either underfills or overfills the table cell. It's also quite sensitive to the width of the content of the cell, so even if you use percentages you get effects like this:

![image](http

[2019-11-07 10:56] Yartro opened #1056 "Permanently replace title with a searchbar"
## Expected Behavior
There should permanently be a searchbar at the top.

## Current Behavior
Right now, the search bar closes when escape is pressed (with some other handlers). I'm looking into making it a permanent option.

Is there any solution to this?

[2019-11-07 14:59] RyanEwen commented on #1043
Kinda hacky but you may be able to use CSS like this:

[code]

[2019-11-07 20:35] acberk commented on #977
Some quick investigation - appears to be related to v2.5.1:
https://github.com/gregnb/mui-datatables/compare/2.5.0...2.5.1#diff-4f4aff53b74d2c551e37786d32b82e3a

The problem goes away if you roll back the codesandbox page to v2.5.0.

[2019-11-07 23:48] gabrielliwerant commented on #1055
Hm, I'm not sure it's wrong to include the space in the search filter. Searching for data is a bit different than searching in a search engine. I would not expect a datatable to be context aware and understand what I'm looking for. Tables can hold all sorts of data, and for many different kinds of data, spaces, even trailing or leading spaces, might be important. For that reason, and because this

[2019-11-07 23:52] gabrielliwerant commented on #1056
You can create this behavior by using `customSearchRender`. Have a look at the `customize-search-render` example. You'll see that it adds the close behavior, which can simply not add in yours. That, in combination with the `searchOpen` option, should provide the functionality you're looking for.

[2019-11-08 00:38] Ahsan-R-Kazmi commented on #756
@NoMercy235 Thanks for the example here:  https://codesandbox.io/s/heuristic-swanson-krp9v. It really helped me out with this issue, since the table would not change back to page 0 when doing a new search (using server-side data) from another page.

[2019-11-08 04:54] Ahsan-R-Kazmi opened #1057 "Sort Column Gets Reset (Server-Side Data)"
The sort column direction is getting reset after new data is retrieved from the server and set in the table. It also gets reset on page changes, rows per page changes, and search text changes. Is this intended behavior, and is there any way to override it?

## Expected Behavior
The sort column should not change when new data is retrieved and set from the server.

## Current Behavior
The sort colum

[2019-11-08 05:14] gabrielliwerant commented on #1057
This is expected behavior with sever side, at the moment. The table does not currently have any way to distinguish which options individually you are managing server side vs client, so server side opts you in to all of them, more or less. This means you have to take the reigns and make sure the various options have the values you want when you update your data.

[2019-11-08 05:32] Ahsan-R-Kazmi commented on #1057
Could you point my to the right direction on how to set that for the table state? I tried looking through the options, but can't find which option I need to set to choose the sort direction of the column.
I also tried setting the columns that are provided to the MUIDataTable component through set state, but it doesn't seem to maintain it in the tableState the next time `onTableChange` is called.

[2019-11-08 22:18] acberk commented on #977
@gabrielliwerant I tested and submitted PR #1058

[2019-11-09 14:50] shawnmitchell commented on #871
Would it not make sense for `align` to be a first-class column option?

[code]

[2019-11-10 22:40] gabrielliwerant commented on #1057
Should be this one under column options:

![image](https://user-images.githubusercontent.com/1779564/68552071-1dc20180-03e1-11ea-9d5f-06f5e95b3a90.png)

[2019-11-11 07:29] T-pirithiviraj commented on #1057
@Ahsan-R-Kazmi , You can refer to this. You might get some idea.
[code]

[2019-11-11 09:53] dhairav-shah commented on #1039
Okay got it. Thanks

[2019-11-12 00:29] joziahg commented on #1038
Why cant we just have a value that acts as an alias for filter, download, print ect. I think by not allowing objects to be passed as data makes this library a lot more cumbersome to work with.

If you are creating a new array for the rows anyways why not just check if the data typeof is an object then grab the alias value from the data instead of the whole data object.

[code]

Or to make the data

[2019-11-12 12:57] Lilliance opened #1060 "Empty filter values"
Is there a way to hide empty filter variant without implement custom filter?

[Example](https://codesandbox.io/s/cool-nobel-6m7d2)